workflows/exports/Getway_web_v2_with_credits.json
{
  "name": "爆款复刻-网关-网页版",
  "id": "25AIBTnvyRmfnljB",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "Getway_web",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1000000-0000-0000-0000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [260, 300],
      "webhookId": "getway-web-webhook-uuid"
    },
    {
      "parameters": {
        "url": "https://api.atomx.top/workflow-credits/query",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "workflow_id",
              "value": "={{ $('Webhook').item.json.body.workflow_id || 'flow_farm_copy' }}"
            },
            {
              "name": "workflow_name",
              "value": "={{ $('Webhook').item.json.body.workflow_name || '爆款复刻' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a1000000-0000-0000-0000-000000000002",
      "name": "查询工作流积分",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "url": "https://api.atomx.top/api/balance/check",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "api_key",
              "value": "={{ $('Webhook').item.json.body.api_key }}"
            },
            {
              "name": "required",
              "value": "={{ $('查询工作流积分').item.json.data.credit_cost }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a1000000-0000-0000-0000-000000000003",
      "name": "验证api-key",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [700, 300],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
                "conditions": [
                  {
                    "id": "rule-001",
                    "leftValue": "={{ $json.ok }}",
                    "rightValue": "false",
                    "operator": { "type": "boolean", "operation": "false", "singleValue": true }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "apikey_invalid"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
                "conditions": [
                  {
                    "id": "rule-002",
                    "leftValue": "={{ $json.ok === true && $json.data.sufficient === false }}",
                    "rightValue": "",
                    "operator": { "type": "boolean", "operation": "true", "singleValue": true }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "insufficient_points"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
                "conditions": [
                  {
                    "id": "rule-003",
                    "leftValue": "={{ $json.ok === true && $json.data.sufficient === true }}",
                    "rightValue": "",
                    "operator": { "type": "boolean", "operation": "true", "singleValue": true }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pass"
            }
          ]
        },
        "options": {}
      },
      "id": "a1000000-0000-0000-0000-000000000004",
      "name": "Switch校验",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [920, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"ok\": false,\n  \"error\": \"api_key_invalid\"\n}",
        "options": {}
      },
      "id": "a1000000-0000-0000-0000-000000000005",
      "name": "提醒-key错误",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1140, 120]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"ok\": false,\n  \"error\": \"insufficient_credits\",\n  \"required\": {{ $node[\"查询工作流积分\"].json.data.credit_cost }}\n}",
        "options": {}
      },
      "id": "a1000000-0000-0000-0000-000000000006",
      "name": "提醒-积分不足",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1140, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, id: $('Webhook').item.json.body.replication_id, status: 'processing' }) }}",
        "options": {}
      },
      "id": "a1000000-0000-0000-0000-000000000007",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1140, 480]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "pd-01", "name": "replication_id",            "type": "string", "value": "={{ $('Webhook').item.json.body.replication_id }}" },
            { "id": "pd-02", "name": "script_id",                 "type": "string", "value": "={{ $('Webhook').item.json.body.script_id }}" },
            { "id": "pd-03", "name": "product_id",                "type": "string", "value": "={{ $('Webhook').item.json.body.product_id }}" },
            { "id": "pd-04", "name": "api_key",                   "type": "string", "value": "={{ $('Webhook').item.json.body.api_key }}" },
            { "id": "pd-05", "name": "callback_url",              "type": "string", "value": "={{ $('Webhook').item.json.body.callback_url }}" },
            { "id": "pd-06", "name": "target_language",           "type": "string", "value": "={{ $('Webhook').item.json.body.target_language }}" },
            { "id": "pd-07", "name": "country_region",            "type": "string", "value": "={{ $('Webhook').item.json.body.country_region }}" },
            { "id": "pd-08", "name": "city_style",                "type": "string", "value": "={{ $('Webhook').item.json.body.city_style || '' }}" },
            { "id": "pd-09", "name": "duration",       "type": "string", "value": "={{ $('Webhook').item.json.body.n_frames }}" },
            { "id": "pd-10", "name": "product_info",    "type": "string", "value": "={{ $('Webhook').item.json.body.product_info }}" },
            { "id": "pd-11", "name": "blueprint",       "type": "string", "value": "={{ $('Webhook').item.json.body.blueprint }}" },
            { "id": "pd-12", "name": "product_name",              "type": "string", "value": "={{ $('Webhook').item.json.body.product_name }}" },
            { "id": "pd-13", "name": "image_url",                 "type": "string", "value": "={{ $('Webhook').item.json.body.image_url || $('Webhook').item.json.body.product_image_url }}" },
            { "id": "pd-14", "name": "aspect_ratio",              "type": "string", "value": "={{ $('Webhook').item.json.body.aspect_ratio || 'portrait' }}" },
            { "id": "pd-15", "name": "model",                     "type": "string", "value": "={{ $('Webhook').item.json.body.model || 'sora2' }}" },
            { "id": "pd-16", "name": "image_1_token",             "type": "string", "value": "={{ $('Webhook').item.json.body.image_1_token || '' }}" },
            { "id": "pd-17", "name": "sora_provider",             "type": "string", "value": "={{ $('Webhook').item.json.body.sora_provider || 'kie' }}" },
            { "id": "pd-18", "name": "sora_workflow_id",          "type": "string", "value": "={{ $('Webhook').item.json.body.sora_workflow_id }}" },
            { "id": "pd-19", "name": "sora_callback_workflow_id", "type": "string", "value": "={{ $('Webhook').item.json.body.sora_callback_workflow_id }}" }
          ]
        },
        "options": {}
      },
      "id": "a1000000-0000-0000-0000-000000000008",
      "name": "Prepare Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1360, 480]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hooks.atomx.top/webhook/farm_Prompt_web",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "a1000000-0000-0000-0000-000000000009",
      "name": "Prompt Gen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1580, 480],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.atomx.top/api/credits/deduct",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "api_key",
              "value": "={{ $('Webhook').item.json.body.api_key }}"
            },
            {
              "name": "amount",
              "value": "={{ $('查询工作流积分').item.json.data.credit_cost }}"
            },
            {
              "name": "reason",
              "value": "={{ $('查询工作流积分').item.json.data.workflow_name || '爆款复刻' }}"
            },
            {
              "name": "workflow_id",
              "value": "={{ $('Webhook').item.json.body.workflow_id || 'flow_farm_copy' }}"
            },
            {
              "name": "workflow_name",
              "value": "={{ $('查询工作流积分').item.json.data.workflow_name || '爆款复刻' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a1000000-0000-0000-0000-000000000013",
      "name": "扣除积分",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1800, 480]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "查询工作流积分", "type": "main", "index": 0 }]
      ]
    },
    "查询工作流积分": {
      "main": [
        [{ "node": "验证api-key", "type": "main", "index": 0 }]
      ]
    },
    "验证api-key": {
      "main": [
        [{ "node": "Switch校验", "type": "main", "index": 0 }]
      ]
    },
    "Switch校验": {
      "main": [
        [{ "node": "提醒-key错误",  "type": "main", "index": 0 }],
        [{ "node": "提醒-积分不足", "type": "main", "index": 0 }],
        [{ "node": "Respond to Webhook", "type": "main", "index": 0 }]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [{ "node": "Prepare Data", "type": "main", "index": 0 }]
      ]
    },
    "Prepare Data": {
      "main": [
        [{ "node": "Prompt Gen", "type": "main", "index": 0 }]
      ]
    },
    "Prompt Gen": {
      "main": [
        [{ "node": "扣除积分", "type": "main", "index": 0 }]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "f5de7f2967fea28691928d5cc106b2279dbf4197e0e2c62d616c8450d409e0e7"
  }
}
