workflows/exports/sora_web_callback.json
{
  "name": "Replication Callback V2",
  "id": "dctPumNGHBoSokUx",
  "nodes": [
    {
      "parameters": { "httpMethod": "POST", "path": "sora_web_callback", "options": {} },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [460, 460]
    },
    {
      "parameters": {
        "values": {
          "json": {
            "id": "={{ $json.query.replicationId }}"
          }
        },
        "options": {}
      },
      "name": "Set ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [680, 460]
    },
    {
      "parameters": {
        "operation": "update",
        "schema": "public",
        "tableId": "replications",
        "updateKey": "id",
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "status", "fieldValue": "completed" },
            { "fieldId": "result", "fieldValue": "={{ JSON.stringify($json.body) }}" }
          ]
        }
      },
      "name": "Supabase Update",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [900, 460],
      "credentials": { "supabaseApi": { "id": "supabase-cred-id", "name": "Supabase account" } }
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Set ID", "type": "main", "index": 0 }]] },
    "Set ID": { "main": [[{ "node": "Supabase Update", "type": "main", "index": 0 }]] }
  }
}
