workflow_check.json
{"updatedAt":"2026-03-06T10:31:40.417Z","createdAt":"2026-03-06T10:24:09.627Z","id":"LdMZP60KdBPMpzLV","name":"数字人口播-接龙版-web","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"method":"PUT","url":"=https://open.feishu.cn/open-apis/bitable/v1/apps/{{ $('获取任务表信息').first().json.app_token }}/tables/{{ $('获取任务表信息').first().json.table_id }}/records/{{ $('Webhook').item.json.body.record_id }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"user_id_type","value":"open_id"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Auth:getAccessToken auth1').item.json.app_access_token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"fields\":{\"数字人任务\":\"正在生成数字人\"}}","options":{}},"id":"0099c206-1129-4f3e-baee-01d959525fa3","name":"更新进度-拆解中","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1920,528]},{"parameters":{"resource":"bitable","operation":"bitable:parseUrl","url":"={{ $('Webhook').item.json.body.table_link }}"},"id":"56492b06-2932-4a11-b89d-e93ea3f61fb3","name":"获取任务表信息","type":"n8n-nodes-feishu-lite.feishuNode","typeVersion":1,"position":[-2816,336],"credentials":{"feishuCredentialsApi":{"id":"btdmK3iP1r3sO21a","name":"Feishu account"}}},{"parameters":{"method":"POST","url":"https://open.feishu.cn/open-apis/auth/v3/app_access_token/internal","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"app_id\": \"{{ $('Webhook').item.json.body.app_id }}\",\n  \"app_secret\": \"{{ $('Webhook').item.json.body.app_secret }}\"\n}","options":{}},"id":"15871240-f2fc-4439-8088-a94e3e1a0c1a","name":"Auth:getAccessToken auth1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3040,336]},{"parameters":{"httpMethod":"POST","path":"Digital_Human_web","options":{}},"id":"c71f02e2-ea87-464d-8abc-151f10283359","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-3264,336],"webhookId":"a075d87e-5d1e-47c6-a0a8-f27acd5f9059"},{"parameters":{"url":"=http://47.107.158.233:8080/api/balance/check?required=100&api_key={{ $('Webhook').item.json.body.api_key }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"required","value":"={{ $json.data.credit_cost }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2368,336],"id":"28444896-fe1d-4ac9-b1b7-0a2b25ff8da4","name":"验证api-key","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.ok }}","rightValue":"false","operator":{"type":"boolean","operation":"false","singleValue":true},"id":"84e547e5-80ae-4340-a3e9-b76f32d20e0c"}],"combinator":"and"},"renameOutput":true,"outputKey":"apikey_invalid"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1f0f0883-abf7-4c55-8068-85568446efd2","leftValue":"={{ $json.ok === true && $json.data.sufficient === false }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"insufficient_points"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"94a60a62-da20-469a-ac15-4867f6a63449","leftValue":"={{ $json.ok === true && $json.data.sufficient === true }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"pass"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-2144,320],"id":"6459a64f-105c-4ace-827a-f450e8650464","name":"Switch"},{"parameters":{"method":"PUT","url":"=https://open.feishu.cn/open-apis/bitable/v1/apps/{{ $('获取任务表信息').first().json.app_token }}/tables/{{ $('获取任务表信息').first().json.table_id }}/records/{{ $('Webhook').item.json.body.record_id }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"user_id_type","value":"open_id"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Auth:getAccessToken auth1').first().json.app_access_token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"fields\":{\"数字人任务\":\"api-key错误\"}}","options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1920,144],"id":"6945afcf-4f93-47f0-9f98-7b16711f1d97","name":"提醒-key错误"},{"parameters":{"method":"PUT","url":"=https://open.feishu.cn/open-apis/bitable/v1/apps/{{ $('获取任务表信息').first().json.app_token }}/tables/{{ $('获取任务表信息').first().json.table_id }}/records/{{ $('Webhook').item.json.body.record_id }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"user_id_type","value":"open_id"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Auth:getAccessToken auth1').first().json.app_access_token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"fields\":{\"数字人任务\":\"积分不足\"}}","options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1920,336],"id":"7a753427-e354-458c-b5d1-9077b107e914","name":"提醒-积分不足"},{"parameters":{"url":"=http://47.107.158.233:8080/workflow-credits/query?workflow_id={{ $('Webhook').item.json.body.workflow_id }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2592,336],"id":"86e47086-8547-466c-9a6f-f6b6ce687392","name":"查询工作流积分"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[96,528],"id":"8b902027-f191-4fcf-b712-af521d91bc5e","name":"Merge"},{"parameters":{"url":"https://open.feishu.cn/open-apis/drive/v1/medias/batch_get_tmp_download_url","sendQuery":true,"queryParameters":{"parameters":[{"name":"file_tokens","value":"={{ $json['口播图_token'] }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Auth:getAccessToken auth1').item.json.tenant_access_token }}"}]},"options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-1248,624],"id":"2d801877-424f-4679-9774-202dc6ccfc6f","name":"获取口播图链接"},{"parameters":{"assignments":{"assignments":[{"id":"e3cbbc51-6f30-47fa-a3cb-8713d33df200","name":"口播图_token","value":"={{ $json.data.record.fields['数字人照片'][0].file_token }}","type":"string"},{"id":"9e9bbe3c-f3c4-4b7a-870c-f739e9c0839d","name":"runninghub_key","value":"=052eb9082e504c83978b7a18fe0d8c79","type":"string"},{"id":"30830806-f244-4674-ab69-230f6c85e351","name":"workflow_id","value":"={{ $('Webhook').item.json.body.workflow_id }}","type":"string"},{"id":"d8f98915-5d7a-4293-a7c3-481a8aa54d6c","name":"音频_token","value":"={{ $json.data.record.fields['音频'][0].file_token }}","type":"string"},{"id":"6a038dbd-d973-4289-9b80-3c310d9ef261","name":"时长","value":"={{ $json.data.record.fields['时长'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1472,528],"id":"e3c71646-977e-4bee-937c-1f60df37c547","name":"整理数据"},{"parameters":{"url":"=https://open.feishu.cn/open-apis/drive/v1/medias/{{ $json.body.data.tmp_download_urls[0].file_token }}/download","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Auth:getAccessToken auth1').item.json.tenant_access_token }}"}]},"options":{"response":{"response":{"responseFormat":"file","outputPropertyName":"image"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1024,624],"id":"63427e2a-140d-4d84-8977-380181e57f1f","name":"下载口播图"},{"parameters":{"jsCode":"// RH组装 nodeInfoList（兼容 n8n 1.123.x）\n// 当前节点：Run Once for All Items\n\n// 1) Merge 输出（当前输入）里已经有 publicUrl（图 or 音）\n// 但你这里需要同时拿到 “音频网址转换”和“图片网址转换” 两个节点的 publicUrl\nconst apiKey = $node[\"整理数据\"].json?.runninghub_key || $node[\"整理数据\"].item?.json?.runninghub_key;\n\n// 直接从两个转换节点取 URL（最稳定）\nconst audioUrl = $node[\"音频网址转换\"].json?.publicUrl;\nconst imageUrl = $node[\"图片网址转换\"].json?.publicUrl;\n\n// workflowId 写死也行，但建议从整理数据/参数里统一管理\nconst workflowId = \"2022355218020704258\";\n\nif (!apiKey) throw new Error(\"缺 runninghub_key（节点：整理数据.runninghub_key）\");\nif (!audioUrl) throw new Error(\"缺 音频 publicUrl（节点：音频网址转换.publicUrl）\");\nif (!imageUrl) throw new Error(\"缺 图片 publicUrl（节点：图片网址转换.publicUrl）\");\n\n// ⚠️前提：RunningHub 工作流的 audio/image 字段支持 URL 输入\nconst nodeInfoList = [\n  { nodeId: \"238\", fieldName: \"audio\", fieldValue: String(audioUrl) },\n  { nodeId: \"221\", fieldName: \"image\", fieldValue: String(imageUrl) },\n];\n\nreturn [{\n  apiKey,\n  workflowId,\n  nodeInfoList,\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[704,736],"id":"274f9d86-562c-4547-a59c-933ea2fa5421","name":"RH组装nodeInfoList"},{"parameters":{"jsCode":"const body = $node[\"Webhook\"].json.body || {};\n\nconst record_id = body.record_id;\nconst app_token = body.app_token;\nconst app_id = body.app_id;\nconst app_secret = body.app_secret;\n\n// table_id 从 parseUrl 取（别用 table_link）\nconst table_id = $node[\"获取任务表信息\"].json.table_id;\n\nif (!record_id || !app_token || !table_id || !app_id || !app_secret) {\n  throw new Error(\"缺参数：record_id/app_token/table_id/app_id/app_secret\");\n}\n\n// 你的回调入口\nconst base = \"https://hooks.flowonn.com/webhook/rh_task_end\";\n\n// 参数名用最短，减少长度\nconst webhookUrl =\n  `${base}?r=${encodeURIComponent(record_id)}` +\n  `&a=${encodeURIComponent(app_token)}` +\n  `&t=${encodeURIComponent(table_id)}` +\n  `&i=${encodeURIComponent(app_id)}` +\n  `&s=${encodeURIComponent(app_secret)}`;\n\nreturn [{\n  ...$node[\"RH组装nodeInfoList\"].json,\n  webhookUrl\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[928,736],"id":"259ec5fd-d75b-46e1-9ac1-49335859d43c","name":"RH组装webhookUrl"},{"parameters":{"method":"POST","url":"https://www.runninghub.cn/task/openapi/create","sendBody":true,"specifyBody":"json","jsonBody":"={{$json.payload}}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1376,736],"id":"49daf4ac-9858-4f00-9291-494b3b2dfb37","name":"RH创建任务"},{"parameters":{"jsCode":"const j = $json;\n\nif (!j.apiKey) throw new Error(\"缺 apiKey\");\nif (!j.workflowId) throw new Error(\"缺 workflowId\");\nif (!Array.isArray(j.nodeInfoList)) throw new Error(\"nodeInfoList 必须是数组\");\nif (!j.webhookUrl) throw new Error(\"缺 webhookUrl\");\n\n// 可选：独占队列才需要；你现在是 plus 显存机，不一定要开\n// const usePersonalQueue = false;\n\nreturn [{\n  payload: {\n    apiKey: j.apiKey,\n    workflowId: String(j.workflowId),\n    nodeInfoList: j.nodeInfoList,\n    webhookUrl: j.webhookUrl,\n    // usePersonalQueue,\n    // addMetadata: true, // 需要的话也可以显式写\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1152,736],"id":"b9fa2f14-7fc9-4fca-b73f-8be265a8ae33","name":"RH组装createPayload"},{"parameters":{"method":"PUT","url":"=https://open.feishu.cn/open-apis/bitable/v1/apps/{{ $('获取任务表信息').first().json.app_token }}/tables/{{ $('获取任务表信息').first().json.table_id }}/records/{{ $('Webhook').item.json.body.record_id }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"user_id_type","value":"open_id"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Auth:getAccessToken auth1').item.json.app_access_token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"fields\":{\"数字人任务\":\"数字人渲染中\"}}","options":{}},"id":"e517d8fc-0455-4993-8678-44831adb87b8","name":"更新进度-数字人渲染中","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1824,832]},{"parameters":{"url":"=https://open.feishu.cn/open-apis/bitable/v1/apps/{{ $('获取任务表信息').item.json.app_token }}/tables/{{ $('获取任务表信息').item.json.table_id }}/records/{{ $('Webhook').item.json.body.record_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Auth:getAccessToken auth1').item.json.tenant_access_token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-1696,528],"id":"5d13de99-49c9-4178-9d38-8206482ef2eb","name":"读取记录"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"6995012a-a4f5-45c3-8254-78cd4cd4ddf1","leftValue":"={{ $json.code }}","rightValue":421,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1600,736],"id":"fff5a128-90b5-4f78-b89b-fac1d61a7575","name":"判断队列是否满"},{"parameters":{"method":"PUT","url":"=https://open.feishu.cn/open-apis/bitable/v1/apps/{{ $('获取任务表信息').first().json.app_token }}/tables/{{ $('获取任务表信息').first().json.table_id }}/records/{{ $('Webhook').item.json.body.record_id }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"user_id_type","value":"open_id"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Auth:getAccessToken auth1').item.json.app_access_token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"fields\":{\"数字人任务\":\"列队已满，请稍后尝试\"}}","options":{}},"id":"369ca083-05a5-4cf3-8c09-16ab76513017","name":"更新进度-列队已满","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1824,640]},{"parameters":{"url":"=https://open.feishu.cn/open-apis/drive/v1/medias/{{ $json.body.data.tmp_download_urls[0].file_token }}/download","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Auth:getAccessToken auth1').item.json.tenant_access_token }}"}]},"options":{"response":{"response":{"responseFormat":"file","outputPropertyName":"audio"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1024,432],"id":"b4ad1226-1815-4ada-b583-682f980edaf1","name":"下载口播音频"},{"parameters":{"url":"https://open.feishu.cn/open-apis/drive/v1/medias/batch_get_tmp_download_url","sendQuery":true,"queryParameters":{"parameters":[{"name":"file_tokens","value":"={{ $json['音频_token'] }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Auth:getAccessToken auth1').item.json.tenant_access_token }}"}]},"options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-1248,432],"id":"f0c9bf3d-6e19-470b-80f1-3ec2a6f1647b","name":"获取口播音频链接"},{"parameters":{"jsCode":"// ✅ 兼容 n8n 1.123.x：不用 .first()\n// ✅ 当前节点 Run Once for All Items：用 $input.first()\n\nconst body = $node[\"Webhook\"].json?.body || {};\nconst baseInfo = $node[\"获取任务表信息\"].json || {}; // parseUrl 输出一般是单条\n\nconst record_id = body.record_id;\nconst app_token = body.app_token;\nconst table_id = baseInfo.table_id;\nconst api_key = body.api_key;\n\nif (!record_id || !app_token || !table_id) {\n  throw new Error(\"缺 record_id/app_token/table_id\");\n}\n\nconst item = $input.first();\nif (!item?.binary?.audio) {\n  throw new Error(\"缺 binary.audio（检查：下载口播音频 outputPropertyName 是否为 audio）\");\n}\n\n// 强制英文文件名 + 正确 mime\nitem.binary.audio.fileName = \"voice.mp3\";\nitem.binary.audio.mimeType = \"audio/mpeg\";\n\n// 输出：带 json 上下文 + binary.audio\nreturn [{\n  json: {\n    record_id,\n    app_token,\n    table_id,\n    api_key,\n    fileName: `dh_voice_${record_id}_${Date.now()}.mp3`,\n  },\n  binary: {\n    audio: item.binary.audio,\n  },\n}];"},"name":"音频准备上传参数","type":"n8n-nodes-base.code","typeVersion":2,"position":[-576,432],"id":"372061ef-a71b-46b1-b63a-4ea47cf6f97b"},{"parameters":{"bucket":"flowonn","pathname":"/n8n_data","name":"=audio"},"name":"OSSClient-音频","type":"n8n-nodes-oss.OSSClient","typeVersion":1,"position":[-352,432],"id":"ad59fec9-4912-4417-8149-69625cb4983a","credentials":{"OSSClientApi":{"id":"MPvkbfHzbiJJqg7q","name":"OSSClient account"}}},{"parameters":{"jsCode":"// OSSClient 输出里一般会有 name/objectKey（对象 key）\n// 同时我们从“音频准备上传参数”回取上下文，保证字段不断链\nconst ossOut = $json || {};\nconst ctx = $node[\"音频准备上传参数\"].json || {};\n\nconst keyRaw = ossOut.name || ossOut.objectKey || '';\nconst key = String(keyRaw).replace(/^\\/+/, '');\n\nif (!key) throw new Error(\"OSS 未返回 objectKey/name\");\n\nconst cdnHost = \"https://oss.flowonn.com\";\nconst publicUrl = `${cdnHost}/${encodeURI(key)}`;\n\nreturn [{\n  json: {\n    publicUrl,\n    record_id: ctx.record_id,\n    app_token: ctx.app_token,\n    table_id: ctx.table_id,\n    api_key: ctx.api_key\n  }\n}];"},"name":"音频网址转换","type":"n8n-nodes-base.code","typeVersion":2,"position":[-128,432],"id":"ee698a32-4ef8-456a-8231-a0563bb33c59"},{"parameters":{"jsCode":"// ✅ 兼容 n8n 1.123.x：不用 .first()\n// ✅ 当前节点 Run Once for All Items：用 $input.first()\n\nconst body = $node[\"Webhook\"].json?.body || {};\nconst baseInfo = $node[\"获取任务表信息\"].json || {};\n\nconst record_id = body.record_id;\nconst app_token = body.app_token;\nconst table_id = baseInfo.table_id;\nconst api_key = body.api_key;\n\nif (!record_id || !app_token || !table_id) {\n  throw new Error(\"缺 record_id/app_token/table_id\");\n}\n\nconst item = $input.first();\nif (!item?.binary?.image) {\n  throw new Error(\"缺 binary.image（检查：下载口播图 outputPropertyName 是否为 image）\");\n}\n\n// 标准化：避免文件名/编码坑\n// 如果你确定一定是 png，就直接写 png；如果不确定，用 mimeType 推断扩展名\nconst mime = item.binary.image.mimeType || \"image/png\";\nconst ext = mime.includes(\"jpeg\") ? \"jpg\" : (mime.includes(\"png\") ? \"png\" : \"png\");\n\nitem.binary.image.fileName = `image.${ext}`;\nitem.binary.image.mimeType = mime;\n\nreturn [{\n  json: {\n    record_id,\n    app_token,\n    table_id,\n    api_key,\n    fileName: `dh_image_${record_id}_${Date.now()}.${ext}`,\n  },\n  binary: {\n    image: item.binary.image,\n  },\n}];"},"name":"图片准备上传参数","type":"n8n-nodes-base.code","typeVersion":2,"position":[-576,624],"id":"01e73cb5-d8d4-4d3f-9c0b-586602a073c3"},{"parameters":{"jsCode":"const ossOut = $json || {};\nconst ctx = $node[\"图片准备上传参数\"].json || {};\n\nconst keyRaw = ossOut.name || ossOut.objectKey || '';\nconst key = String(keyRaw).replace(/^\\/+/, '');\n\nif (!key) throw new Error(\"OSS 未返回 objectKey/name\");\n\nconst cdnHost = \"https://oss.flowonn.com\";\nconst publicUrl = `${cdnHost}/${encodeURI(key)}`;\n\nreturn [{\n  json: {\n    publicUrl,\n    record_id: ctx.record_id,\n    app_token: ctx.app_token,\n    table_id: ctx.table_id,\n    api_key: ctx.api_key\n  }\n}];"},"name":"图片网址转换","type":"n8n-nodes-base.code","typeVersion":2,"position":[-128,624],"id":"74416f07-cbcd-49ce-9f91-75bacf50d413"},{"parameters":{"bucket":"flowonn","pathname":"/n8n_data","name":"=image"},"name":"OSSClient-图片","type":"n8n-nodes-oss.OSSClient","typeVersion":1,"position":[-352,624],"id":"65ffaab3-3010-4cf9-ab9c-51269af9bfd9","credentials":{"OSSClientApi":{"id":"MPvkbfHzbiJJqg7q","name":"OSSClient account"}}},{"parameters":{"jsCode":"const item = $input.first();\nif (!item?.binary?.audio) throw new Error(\"缺 binary.audio\");\n\n// 强制用英文文件名，避免 multipart filename 编码坑\nitem.binary.audio.fileName = \"voice.mp3\";\n// 强制正确 mime\nitem.binary.audio.mimeType = \"audio/mpeg\";\n\nreturn [item];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-800,432],"id":"3f218cec-88d8-470e-bbe7-1a65509b6b43","name":"修复名称"},{"parameters":{"jsCode":"// 修复 binary.image 的文件名与 mime（图片版）\n// 适配：Run Once for All Items\n\nconst item = $input.first();\nif (!item?.binary?.image) throw new Error(\"缺 binary.image\");\n\n// 兜底 mime\nconst mime = item.binary.image.mimeType || \"image/png\";\n\n// 由 mime 推断扩展名\nlet ext = \"png\";\nif (mime.includes(\"jpeg\") || mime.includes(\"jpg\")) ext = \"jpg\";\nelse if (mime.includes(\"png\")) ext = \"png\";\nelse if (mime.includes(\"webp\")) ext = \"webp\";\n\n// 强制英文文件名（避免 multipart filename 编码坑）\nitem.binary.image.fileName = `image.${ext}`;\nitem.binary.image.mimeType = mime;\n\nreturn [item];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-800,624],"id":"693c771e-c509-47c5-be7c-81f36bfdd02a","name":"修复名称1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $('整理数据').item.json['时长'] }}","rightValue":"16s","operator":{"type":"string","operation":"equals"},"id":"5080e22a-4a67-42af-84e1-c950ee7e89ae"}],"combinator":"and"},"renameOutput":true,"outputKey":"16s"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"0728f9c3-844f-4abd-bc90-0a2a7ab61452","leftValue":"={{ $('整理数据').item.json['时长'] }}","rightValue":"32s","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"32s"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[304,528],"id":"4d56f21c-e481-4a77-a87b-04fb88e35ae0","name":"时长"},{"parameters":{"jsCode":"// RH组装 nodeInfoList（兼容 n8n 1.123.x）\n// 当前节点：Run Once for All Items\n\n// 1) Merge 输出（当前输入）里已经有 publicUrl（图 or 音）\n// 但你这里需要同时拿到 “音频网址转换”和“图片网址转换” 两个节点的 publicUrl\nconst apiKey = $node[\"整理数据\"].json?.runninghub_key || $node[\"整理数据\"].item?.json?.runninghub_key;\n\n// 直接从两个转换节点取 URL（最稳定）\nconst audioUrl = $node[\"音频网址转换\"].json?.publicUrl;\nconst imageUrl = $node[\"图片网址转换\"].json?.publicUrl;\n\n// workflowId 写死也行，但建议从整理数据/参数里统一管理\nconst workflowId = \"2029109724586713089\";\n\nif (!apiKey) throw new Error(\"缺 runninghub_key（节点：整理数据.runninghub_key）\");\nif (!audioUrl) throw new Error(\"缺 音频 publicUrl（节点：音频网址转换.publicUrl）\");\nif (!imageUrl) throw new Error(\"缺 图片 publicUrl（节点：图片网址转换.publicUrl）\");\n\n// ⚠️前提：RunningHub 工作流的 audio/image 字段支持 URL 输入\nconst nodeInfoList = [\n  { nodeId: \"238\", fieldName: \"audio\", fieldValue: String(audioUrl) },\n  { nodeId: \"221\", fieldName: \"image\", fieldValue: String(imageUrl) },\n];\n\nreturn [{\n  apiKey,\n  workflowId,\n  nodeInfoList,\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[720,336],"id":"a10d7394-49cd-4565-b6e3-7d28b55bf735","name":"RH组装nodeInfoList1"},{"parameters":{"jsCode":"const body = $node[\"Webhook\"].json.body || {};\n\nconst record_id = body.record_id;\nconst app_token = body.app_token;\nconst app_id = body.app_id;\nconst app_secret = body.app_secret;\n\n// table_id 从 parseUrl 取（别用 table_link）\nconst table_id = $node[\"获取任务表信息\"].json.table_id;\n\nif (!record_id || !app_token || !table_id || !app_id || !app_secret) {\n  throw new Error(\"缺参数：record_id/app_token/table_id/app_id/app_secret\");\n}\n\n// 你的回调入口\nconst base = \"https://hooks.flowonn.com/webhook/rh_task_end\";\n\n// 参数名用最短，减少长度\nconst webhookUrl =\n  `${base}?r=${encodeURIComponent(record_id)}` +\n  `&a=${encodeURIComponent(app_token)}` +\n  `&t=${encodeURIComponent(table_id)}` +\n  `&i=${encodeURIComponent(app_id)}` +\n  `&s=${encodeURIComponent(app_secret)}`;\n\nreturn [{\n  ...$node[\"RH组装nodeInfoList1\"].json,\n  webhookUrl\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[944,336],"id":"581ddf5e-5dd0-4916-9ea8-19984845fb0a","name":"RH组装webhookUrl1"},{"parameters":{"method":"POST","url":"https://www.runninghub.cn/task/openapi/create","sendBody":true,"specifyBody":"json","jsonBody":"={{$json.payload}}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1392,336],"id":"4cb65bc4-1670-486a-80cb-25b91803b803","name":"RH创建任务1"},{"parameters":{"jsCode":"const j = $json;\n\nif (!j.apiKey) throw new Error(\"缺 apiKey\");\nif (!j.workflowId) throw new Error(\"缺 workflowId\");\nif (!Array.isArray(j.nodeInfoList)) throw new Error(\"nodeInfoList 必须是数组\");\nif (!j.webhookUrl) throw new Error(\"缺 webhookUrl\");\n\n// 可选：独占队列才需要；你现在是 plus 显存机，不一定要开\n// const usePersonalQueue = false;\n\nreturn [{\n  payload: {\n    apiKey: j.apiKey,\n    workflowId: String(j.workflowId),\n    nodeInfoList: j.nodeInfoList,\n    webhookUrl: j.webhookUrl,\n    // usePersonalQueue,\n    // addMetadata: true, // 需要的话也可以显式写\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1168,336],"id":"1dabcec4-de78-4ac0-b834-45851612a893","name":"RH组装createPayload1"},{"parameters":{"method":"PUT","url":"=https://open.feishu.cn/open-apis/bitable/v1/apps/{{ $('获取任务表信息').first().json.app_token }}/tables/{{ $('获取任务表信息').first().json.table_id }}/records/{{ $('Webhook').item.json.body.record_id }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"user_id_type","value":"open_id"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Auth:getAccessToken auth1').item.json.app_access_token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"fields\":{\"数字人任务\":\"数字人渲染中\"}}","options":{}},"id":"455e6eef-8d44-47ce-ac62-13ce097a3213","name":"更新进度-数字人渲染中1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1840,432]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"6995012a-a4f5-45c3-8254-78cd4cd4ddf1","leftValue":"={{ $json.code }}","rightValue":421,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1616,336],"id":"541e5dd3-cbd4-4b06-be89-13e4ce84c2ef","name":"判断队列是否满1"},{"parameters":{"method":"PUT","url":"=https://open.feishu.cn/open-apis/bitable/v1/apps/{{ $('获取任务表信息').first().json.app_token }}/tables/{{ $('获取任务表信息').first().json.table_id }}/records/{{ $('Webhook').item.json.body.record_id }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"user_id_type","value":"open_id"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Auth:getAccessToken auth1').item.json.app_access_token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"fields\":{\"数字人任务\":\"列队已满，请稍后尝试\"}}","options":{}},"id":"cf0b3f02-b995-4633-b9b7-3d5eaf5b93f9","name":"更新进度-列队已满1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1840,240]}],"connections":{"更新进度-拆解中":{"main":[[{"node":"读取记录","type":"main","index":0}]]},"获取任务表信息":{"main":[[{"node":"查询工作流积分","type":"main","index":0}]]},"Auth:getAccessToken auth1":{"main":[[{"node":"获取任务表信息","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Auth:getAccessToken auth1","type":"main","index":0}]]},"验证api-key":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"提醒-key错误","type":"main","index":0}],[{"node":"提醒-积分不足","type":"main","index":0}],[{"node":"更新进度-拆解中","type":"main","index":0}]]},"查询工作流积分":{"main":[[{"node":"验证api-key","type":"main","index":0}]]},"获取口播图链接":{"main":[[{"node":"下载口播图","type":"main","index":0}]]},"整理数据":{"main":[[{"node":"获取口播图链接","type":"main","index":0},{"node":"获取口播音频链接","type":"main","index":0}]]},"Merge":{"main":[[{"node":"时长","type":"main","index":0}]]},"下载口播图":{"main":[[{"node":"修复名称1","type":"main","index":0}]]},"RH组装nodeInfoList":{"main":[[{"node":"RH组装webhookUrl","type":"main","index":0}]]},"RH组装webhookUrl":{"main":[[{"node":"RH组装createPayload","type":"main","index":0}]]},"RH组装createPayload":{"main":[[{"node":"RH创建任务","type":"main","index":0}]]},"RH创建任务":{"main":[[{"node":"判断队列是否满","type":"main","index":0}]]},"读取记录":{"main":[[{"node":"整理数据","type":"main","index":0}]]},"判断队列是否满":{"main":[[{"node":"更新进度-列队已满","type":"main","index":0}],[{"node":"更新进度-数字人渲染中","type":"main","index":0}]]},"下载口播音频":{"main":[[{"node":"修复名称","type":"main","index":0}]]},"获取口播音频链接":{"main":[[{"node":"下载口播音频","type":"main","index":0}]]},"音频准备上传参数":{"main":[[{"node":"OSSClient-音频","type":"main","index":0}]]},"OSSClient-音频":{"main":[[{"node":"音频网址转换","type":"main","index":0}]]},"音频网址转换":{"main":[[{"node":"Merge","type":"main","index":0}]]},"图片准备上传参数":{"main":[[{"node":"OSSClient-图片","type":"main","index":0}]]},"图片网址转换":{"main":[[{"node":"Merge","type":"main","index":1}]]},"OSSClient-图片":{"main":[[{"node":"图片网址转换","type":"main","index":0}]]},"修复名称":{"main":[[{"node":"音频准备上传参数","type":"main","index":0}]]},"修复名称1":{"main":[[{"node":"图片准备上传参数","type":"main","index":0}]]},"时长":{"main":[[{"node":"RH组装nodeInfoList1","type":"main","index":0}],[{"node":"RH组装nodeInfoList","type":"main","index":0}]]},"RH组装nodeInfoList1":{"main":[[{"node":"RH组装webhookUrl1","type":"main","index":0}]]},"RH组装webhookUrl1":{"main":[[{"node":"RH组装createPayload1","type":"main","index":0}]]},"RH创建任务1":{"main":[[{"node":"判断队列是否满1","type":"main","index":0}]]},"RH组装createPayload1":{"main":[[{"node":"RH创建任务1","type":"main","index":0}]]},"判断队列是否满1":{"main":[[{"node":"更新进度-列队已满1","type":"main","index":0}],[{"node":"更新进度-数字人渲染中1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"hooks.atomx.top","x-real-ip":"123.58.10.239","x-forwarded-for":"123.58.10.239","x-forwarded-proto":"https","connection":"close","content-length":"354","user-agent":"Go-http-client/1.1","content-type":"application/json","x-base-automation-ua":"automation/1.0.0","x-tt-env":"prod","x-tt-logid":"02177270499865000000000000000000000ffff623ced9976dc7c","accept-encoding":"gzip"},"params":{},"query":{},"body":{"record_id":"recvcZ6goXcLyr","workflow_id":"flow_Digital_Human","table_link":"https://my.feishu.cn/base/AqkCbTRIEawUI0saNcBcERmrnZg?table=tblwDTuCl3tW24is&view=vew3HXRwTo","app_id":"cli_a8d48c9783a4d00e","app_secret":"UMpMwnXyEnqaqjCV1NhaUbzPU8W8vIA7","app_token":"AqkCbTRIEawUI0saNcBcERmrnZg","api_key":"sk_S-XJvpVKGGwnac1AlEFs3avCWZpqdOGaMMW27Y8iSPY"},"webhookUrl":"http://localhost:5678/webhook/Digital_HumanV2","executionMode":"production"},"pairedItem":{"item":0}}]},"versionId":"da2b5644-b710-457c-9bb4-30039dab270c","activeVersionId":"da2b5644-b710-457c-9bb4-30039dab270c","versionCounter":189,"triggerCount":1,"shared":[{"updatedAt":"2026-03-06T10:24:09.627Z","createdAt":"2026-03-06T10:24:09.627Z","role":"workflow:owner","workflowId":"LdMZP60KdBPMpzLV","projectId":"tMHfv8jC54QugIS3","project":{"updatedAt":"2025-12-05T18:24:07.030Z","createdAt":"2025-12-05T18:00:52.525Z","id":"tMHfv8jC54QugIS3","name":"fan liu <591905097@qq.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2025-12-05T18:00:52.525Z","createdAt":"2025-12-05T18:00:52.525Z","userId":"e1a90281-8c6a-4ec7-a985-3a344ba88b66","projectId":"tMHfv8jC54QugIS3","user":{"updatedAt":"2026-03-06T16:56:53.752Z","createdAt":"2025-12-05T18:00:51.894Z","id":"e1a90281-8c6a-4ec7-a985-3a344ba88b66","email":"591905097@qq.com","firstName":"fan","lastName":"liu","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-12-05T18:24:47.635Z","personalization_survey_n8n_version":"1.122.5","companySize":"<20","companyType":"saas","role":"business-owner","reportedSource":"youtube"},"settings":{"userActivated":true,"firstSuccessfulWorkflowId":"yNIjqrlSnTeWDFIx","userActivatedAt":1772797788109,"easyAIWorkflowOnboarded":true,"npsSurvey":{"responded":true,"lastShownAt":1772350096923}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-03-07","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-06T10:25:45.346Z","createdAt":"2026-03-06T10:25:45.346Z","versionId":"da2b5644-b710-457c-9bb4-30039dab270c","workflowId":"LdMZP60KdBPMpzLV","nodes":[{"parameters":{"method":"PUT","url":"=https://open.feishu.cn/open-apis/bitable/v1/apps/{{ $('获取任务表信息').first().json.app_token }}/tables/{{ $('获取任务表信息').first().json.table_id }}/records/{{ $('Webhook').item.json.body.record_id }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"user_id_type","value":"open_id"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Auth:getAccessToken auth1').item.json.app_access_token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"fields\":{\"数字人任务\":\"正在生成数字人\"}}","options":{}},"id":"0099c206-1129-4f3e-baee-01d959525fa3","name":"更新进度-拆解中","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1920,528]},{"parameters":{"resource":"bitable","operation":"bitable:parseUrl","url":"={{ $('Webhook').item.json.body.table_link }}"},"id":"56492b06-2932-4a11-b89d-e93ea3f61fb3","name":"获取任务表信息","type":"n8n-nodes-feishu-lite.feishuNode","typeVersion":1,"position":[-2816,336],"credentials":{"feishuCredentialsApi":{"id":"btdmK3iP1r3sO21a","name":"Feishu account"}}},{"parameters":{"method":"POST","url":"https://open.feishu.cn/open-apis/auth/v3/app_access_token/internal","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"app_id\": \"{{ $('Webhook').item.json.body.app_id }}\",\n  \"app_secret\": \"{{ $('Webhook').item.json.body.app_secret }}\"\n}","options":{}},"id":"15871240-f2fc-4439-8088-a94e3e1a0c1a","name":"Auth:getAccessToken auth1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3040,336]},{"parameters":{"httpMethod":"POST","path":"Digital_Human_web","options":{}},"id":"c71f02e2-ea87-464d-8abc-151f10283359","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-3264,336],"webhookId":"a075d87e-5d1e-47c6-a0a8-f27acd5f9059"},{"parameters":{"url":"=http://47.107.158.233:8080/api/balance/check?required=100&api_key={{ $('Webhook').item.json.body.api_key }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"required","value":"={{ $json.data.credit_cost }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2368,336],"id":"28444896-fe1d-4ac9-b1b7-0a2b25ff8da4","name":"验证api-key","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.ok }}","rightValue":"false","operator":{"type":"boolean","operation":"false","singleValue":true},"id":"84e547e5-80ae-4340-a3e9-b76f32d20e0c"}],"combinator":"and"},"renameOutput":true,"outputKey":"apikey_invalid"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1f0f0883-abf7-4c55-8068-85568446efd2","leftValue":"={{ $json.ok === true && $json.data.sufficient === false }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"insufficient_points"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"94a60a62-da20-469a-ac15-4867f6a63449","leftValue":"={{ $json.ok === true && $json.data.sufficient === true }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"pass"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-2144,320],"id":"6459a64f-105c-4ace-827a-f450e8650464","name":"Switch"},{"parameters":{"method":"PUT","url":"=https://open.feishu.cn/open-apis/bitable/v1/apps/{{ $('获取任务表信息').first().json.app_token }}/tables/{{ $('获取任务表信息').first().json.table_id }}/records/{{ $('Webhook').item.json.body.record_id }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"user_id_type","value":"open_id"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Auth:getAccessToken auth1').first().json.app_access_token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"fields\":{\"数字人任务\":\"api-key错误\"}}","options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1920,144],"id":"6945afcf-4f93-47f0-9f98-7b16711f1d97","name":"提醒-key错误"},{"parameters":{"method":"PUT","url":"=https://open.feishu.cn/open-apis/bitable/v1/apps/{{ $('获取任务表信息').first().json.app_token }}/tables/{{ $('获取任务表信息').first().json.table_id }}/records/{{ $('Webhook').item.json.body.record_id }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"user_id_type","value":"open_id"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Auth:getAccessToken auth1').first().json.app_access_token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"fields\":{\"数字人任务\":\"积分不足\"}}","options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1920,336],"id":"7a753427-e354-458c-b5d1-9077b107e914","name":"提醒-积分不足"},{"parameters":{"url":"=http://47.107.158.233:8080/workflow-credits/query?workflow_id={{ $('Webhook').item.json.body.workflow_id }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2592,336],"id":"86e47086-8547-466c-9a6f-f6b6ce687392","name":"查询工作流积分"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[96,528],"id":"8b902027-f191-4fcf-b712-af521d91bc5e","name":"Merge"},{"parameters":{"url":"https://open.feishu.cn/open-apis/drive/v1/medias/batch_get_tmp_download_url","sendQuery":true,"queryParameters":{"parameters":[{"name":"file_tokens","value":"={{ $json['口播图_token'] }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Auth:getAccessToken auth1').item.json.tenant_access_token }}"}]},"options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-1248,624],"id":"2d801877-424f-4679-9774-202dc6ccfc6f","name":"获取口播图链接"},{"parameters":{"assignments":{"assignments":[{"id":"e3cbbc51-6f30-47fa-a3cb-8713d33df200","name":"口播图_token","value":"={{ $json.data.record.fields['数字人照片'][0].file_token }}","type":"string"},{"id":"9e9bbe3c-f3c4-4b7a-870c-f739e9c0839d","name":"runninghub_key","value":"=052eb9082e504c83978b7a18fe0d8c79","type":"string"},{"id":"30830806-f244-4674-ab69-230f6c85e351","name":"workflow_id","value":"={{ $('Webhook').item.json.body.workflow_id }}","type":"string"},{"id":"d8f98915-5d7a-4293-a7c3-481a8aa54d6c","name":"音频_token","value":"={{ $json.data.record.fields['音频'][0].file_token }}","type":"string"},{"id":"6a038dbd-d973-4289-9b80-3c310d9ef261","name":"时长","value":"={{ $json.data.record.fields['时长'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1472,528],"id":"e3c71646-977e-4bee-937c-1f60df37c547","name":"整理数据"},{"parameters":{"url":"=https://open.feishu.cn/open-apis/drive/v1/medias/{{ $json.body.data.tmp_download_urls[0].file_token }}/download","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Auth:getAccessToken auth1').item.json.tenant_access_token }}"}]},"options":{"response":{"response":{"responseFormat":"file","outputPropertyName":"image"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1024,624],"id":"63427e2a-140d-4d84-8977-380181e57f1f","name":"下载口播图"},{"parameters":{"jsCode":"// RH组装 nodeInfoList（兼容 n8n 1.123.x）\n// 当前节点：Run Once for All Items\n\n// 1) Merge 输出（当前输入）里已经有 publicUrl（图 or 音）\n// 但你这里需要同时拿到 “音频网址转换”和“图片网址转换” 两个节点的 publicUrl\nconst apiKey = $node[\"整理数据\"].json?.runninghub_key || $node[\"整理数据\"].item?.json?.runninghub_key;\n\n// 直接从两个转换节点取 URL（最稳定）\nconst audioUrl = $node[\"音频网址转换\"].json?.publicUrl;\nconst imageUrl = $node[\"图片网址转换\"].json?.publicUrl;\n\n// workflowId 写死也行，但建议从整理数据/参数里统一管理\nconst workflowId = \"2022355218020704258\";\n\nif (!apiKey) throw new Error(\"缺 runninghub_key（节点：整理数据.runninghub_key）\");\nif (!audioUrl) throw new Error(\"缺 音频 publicUrl（节点：音频网址转换.publicUrl）\");\nif (!imageUrl) throw new Error(\"缺 图片 publicUrl（节点：图片网址转换.publicUrl）\");\n\n// ⚠️前提：RunningHub 工作流的 audio/image 字段支持 URL 输入\nconst nodeInfoList = [\n  { nodeId: \"238\", fieldName: \"audio\", fieldValue: String(audioUrl) },\n  { nodeId: \"221\", fieldName: \"image\", fieldValue: String(imageUrl) },\n];\n\nreturn [{\n  apiKey,\n  workflowId,\n  nodeInfoList,\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[704,736],"id":"274f9d86-562c-4547-a59c-933ea2fa5421","name":"RH组装nodeInfoList"},{"parameters":{"jsCode":"const body = $node[\"Webhook\"].json.body || {};\n\nconst record_id = body.record_id;\nconst app_token = body.app_token;\nconst app_id = body.app_id;\nconst app_secret = body.app_secret;\n\n// table_id 从 parseUrl 取（别用 table_link）\nconst table_id = $node[\"获取任务表信息\"].json.table_id;\n\nif (!record_id || !app_token || !table_id || !app_id || !app_secret) {\n  throw new Error(\"缺参数：record_id/app_token/table_id/app_id/app_secret\");\n}\n\n// 你的回调入口\nconst base = \"https://hooks.flowonn.com/webhook/rh_task_end\";\n\n// 参数名用最短，减少长度\nconst webhookUrl =\n  `${base}?r=${encodeURIComponent(record_id)}` +\n  `&a=${encodeURIComponent(app_token)}` +\n  `&t=${encodeURIComponent(table_id)}` +\n  `&i=${encodeURIComponent(app_id)}` +\n  `&s=${encodeURIComponent(app_secret)}`;\n\nreturn [{\n  ...$node[\"RH组装nodeInfoList\"].json,\n  webhookUrl\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[928,736],"id":"259ec5fd-d75b-46e1-9ac1-49335859d43c","name":"RH组装webhookUrl"},{"parameters":{"method":"POST","url":"https://www.runninghub.cn/task/openapi/create","sendBody":true,"specifyBody":"json","jsonBody":"={{$json.payload}}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1376,736],"id":"49daf4ac-9858-4f00-9291-494b3b2dfb37","name":"RH创建任务"},{"parameters":{"jsCode":"const j = $json;\n\nif (!j.apiKey) throw new Error(\"缺 apiKey\");\nif (!j.workflowId) throw new Error(\"缺 workflowId\");\nif (!Array.isArray(j.nodeInfoList)) throw new Error(\"nodeInfoList 必须是数组\");\nif (!j.webhookUrl) throw new Error(\"缺 webhookUrl\");\n\n// 可选：独占队列才需要；你现在是 plus 显存机，不一定要开\n// const usePersonalQueue = false;\n\nreturn [{\n  payload: {\n    apiKey: j.apiKey,\n    workflowId: String(j.workflowId),\n    nodeInfoList: j.nodeInfoList,\n    webhookUrl: j.webhookUrl,\n    // usePersonalQueue,\n    // addMetadata: true, // 需要的话也可以显式写\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1152,736],"id":"b9fa2f14-7fc9-4fca-b73f-8be265a8ae33","name":"RH组装createPayload"},{"parameters":{"method":"PUT","url":"=https://open.feishu.cn/open-apis/bitable/v1/apps/{{ $('获取任务表信息').first().json.app_token }}/tables/{{ $('获取任务表信息').first().json.table_id }}/records/{{ $('Webhook').item.json.body.record_id }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"user_id_type","value":"open_id"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Auth:getAccessToken auth1').item.json.app_access_token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"fields\":{\"数字人任务\":\"数字人渲染中\"}}","options":{}},"id":"e517d8fc-0455-4993-8678-44831adb87b8","name":"更新进度-数字人渲染中","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1824,832]},{"parameters":{"url":"=https://open.feishu.cn/open-apis/bitable/v1/apps/{{ $('获取任务表信息').item.json.app_token }}/tables/{{ $('获取任务表信息').item.json.table_id }}/records/{{ $('Webhook').item.json.body.record_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Auth:getAccessToken auth1').item.json.tenant_access_token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-1696,528],"id":"5d13de99-49c9-4178-9d38-8206482ef2eb","name":"读取记录"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"6995012a-a4f5-45c3-8254-78cd4cd4ddf1","leftValue":"={{ $json.code }}","rightValue":421,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1600,736],"id":"fff5a128-90b5-4f78-b89b-fac1d61a7575","name":"判断队列是否满"},{"parameters":{"method":"PUT","url":"=https://open.feishu.cn/open-apis/bitable/v1/apps/{{ $('获取任务表信息').first().json.app_token }}/tables/{{ $('获取任务表信息').first().json.table_id }}/records/{{ $('Webhook').item.json.body.record_id }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"user_id_type","value":"open_id"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Auth:getAccessToken auth1').item.json.app_access_token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"fields\":{\"数字人任务\":\"列队已满，请稍后尝试\"}}","options":{}},"id":"369ca083-05a5-4cf3-8c09-16ab76513017","name":"更新进度-列队已满","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1824,640]},{"parameters":{"url":"=https://open.feishu.cn/open-apis/drive/v1/medias/{{ $json.body.data.tmp_download_urls[0].file_token }}/download","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Auth:getAccessToken auth1').item.json.tenant_access_token }}"}]},"options":{"response":{"response":{"responseFormat":"file","outputPropertyName":"audio"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1024,432],"id":"b4ad1226-1815-4ada-b583-682f980edaf1","name":"下载口播音频"},{"parameters":{"url":"https://open.feishu.cn/open-apis/drive/v1/medias/batch_get_tmp_download_url","sendQuery":true,"queryParameters":{"parameters":[{"name":"file_tokens","value":"={{ $json['音频_token'] }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Auth:getAccessToken auth1').item.json.tenant_access_token }}"}]},"options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-1248,432],"id":"f0c9bf3d-6e19-470b-80f1-3ec2a6f1647b","name":"获取口播音频链接"},{"parameters":{"jsCode":"// ✅ 兼容 n8n 1.123.x：不用 .first()\n// ✅ 当前节点 Run Once for All Items：用 $input.first()\n\nconst body = $node[\"Webhook\"].json?.body || {};\nconst baseInfo = $node[\"获取任务表信息\"].json || {}; // parseUrl 输出一般是单条\n\nconst record_id = body.record_id;\nconst app_token = body.app_token;\nconst table_id = baseInfo.table_id;\nconst api_key = body.api_key;\n\nif (!record_id || !app_token || !table_id) {\n  throw new Error(\"缺 record_id/app_token/table_id\");\n}\n\nconst item = $input.first();\nif (!item?.binary?.audio) {\n  throw new Error(\"缺 binary.audio（检查：下载口播音频 outputPropertyName 是否为 audio）\");\n}\n\n// 强制英文文件名 + 正确 mime\nitem.binary.audio.fileName = \"voice.mp3\";\nitem.binary.audio.mimeType = \"audio/mpeg\";\n\n// 输出：带 json 上下文 + binary.audio\nreturn [{\n  json: {\n    record_id,\n    app_token,\n    table_id,\n    api_key,\n    fileName: `dh_voice_${record_id}_${Date.now()}.mp3`,\n  },\n  binary: {\n    audio: item.binary.audio,\n  },\n}];"},"name":"音频准备上传参数","type":"n8n-nodes-base.code","typeVersion":2,"position":[-576,432],"id":"372061ef-a71b-46b1-b63a-4ea47cf6f97b"},{"parameters":{"bucket":"flowonn","pathname":"/n8n_data","name":"=audio"},"name":"OSSClient-音频","type":"n8n-nodes-oss.OSSClient","typeVersion":1,"position":[-352,432],"id":"ad59fec9-4912-4417-8149-69625cb4983a","credentials":{"OSSClientApi":{"id":"MPvkbfHzbiJJqg7q","name":"OSSClient account"}}},{"parameters":{"jsCode":"// OSSClient 输出里一般会有 name/objectKey（对象 key）\n// 同时我们从“音频准备上传参数”回取上下文，保证字段不断链\nconst ossOut = $json || {};\nconst ctx = $node[\"音频准备上传参数\"].json || {};\n\nconst keyRaw = ossOut.name || ossOut.objectKey || '';\nconst key = String(keyRaw).replace(/^\\/+/, '');\n\nif (!key) throw new Error(\"OSS 未返回 objectKey/name\");\n\nconst cdnHost = \"https://oss.flowonn.com\";\nconst publicUrl = `${cdnHost}/${encodeURI(key)}`;\n\nreturn [{\n  json: {\n    publicUrl,\n    record_id: ctx.record_id,\n    app_token: ctx.app_token,\n    table_id: ctx.table_id,\n    api_key: ctx.api_key\n  }\n}];"},"name":"音频网址转换","type":"n8n-nodes-base.code","typeVersion":2,"position":[-128,432],"id":"ee698a32-4ef8-456a-8231-a0563bb33c59"},{"parameters":{"jsCode":"// ✅ 兼容 n8n 1.123.x：不用 .first()\n// ✅ 当前节点 Run Once for All Items：用 $input.first()\n\nconst body = $node[\"Webhook\"].json?.body || {};\nconst baseInfo = $node[\"获取任务表信息\"].json || {};\n\nconst record_id = body.record_id;\nconst app_token = body.app_token;\nconst table_id = baseInfo.table_id;\nconst api_key = body.api_key;\n\nif (!record_id || !app_token || !table_id) {\n  throw new Error(\"缺 record_id/app_token/table_id\");\n}\n\nconst item = $input.first();\nif (!item?.binary?.image) {\n  throw new Error(\"缺 binary.image（检查：下载口播图 outputPropertyName 是否为 image）\");\n}\n\n// 标准化：避免文件名/编码坑\n// 如果你确定一定是 png，就直接写 png；如果不确定，用 mimeType 推断扩展名\nconst mime = item.binary.image.mimeType || \"image/png\";\nconst ext = mime.includes(\"jpeg\") ? \"jpg\" : (mime.includes(\"png\") ? \"png\" : \"png\");\n\nitem.binary.image.fileName = `image.${ext}`;\nitem.binary.image.mimeType = mime;\n\nreturn [{\n  json: {\n    record_id,\n    app_token,\n    table_id,\n    api_key,\n    fileName: `dh_image_${record_id}_${Date.now()}.${ext}`,\n  },\n  binary: {\n    image: item.binary.image,\n  },\n}];"},"name":"图片准备上传参数","type":"n8n-nodes-base.code","typeVersion":2,"position":[-576,624],"id":"01e73cb5-d8d4-4d3f-9c0b-586602a073c3"},{"parameters":{"jsCode":"const ossOut = $json || {};\nconst ctx = $node[\"图片准备上传参数\"].json || {};\n\nconst keyRaw = ossOut.name || ossOut.objectKey || '';\nconst key = String(keyRaw).replace(/^\\/+/, '');\n\nif (!key) throw new Error(\"OSS 未返回 objectKey/name\");\n\nconst cdnHost = \"https://oss.flowonn.com\";\nconst publicUrl = `${cdnHost}/${encodeURI(key)}`;\n\nreturn [{\n  json: {\n    publicUrl,\n    record_id: ctx.record_id,\n    app_token: ctx.app_token,\n    table_id: ctx.table_id,\n    api_key: ctx.api_key\n  }\n}];"},"name":"图片网址转换","type":"n8n-nodes-base.code","typeVersion":2,"position":[-128,624],"id":"74416f07-cbcd-49ce-9f91-75bacf50d413"},{"parameters":{"bucket":"flowonn","pathname":"/n8n_data","name":"=image"},"name":"OSSClient-图片","type":"n8n-nodes-oss.OSSClient","typeVersion":1,"position":[-352,624],"id":"65ffaab3-3010-4cf9-ab9c-51269af9bfd9","credentials":{"OSSClientApi":{"id":"MPvkbfHzbiJJqg7q","name":"OSSClient account"}}},{"parameters":{"jsCode":"const item = $input.first();\nif (!item?.binary?.audio) throw new Error(\"缺 binary.audio\");\n\n// 强制用英文文件名，避免 multipart filename 编码坑\nitem.binary.audio.fileName = \"voice.mp3\";\n// 强制正确 mime\nitem.binary.audio.mimeType = \"audio/mpeg\";\n\nreturn [item];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-800,432],"id":"3f218cec-88d8-470e-bbe7-1a65509b6b43","name":"修复名称"},{"parameters":{"jsCode":"// 修复 binary.image 的文件名与 mime（图片版）\n// 适配：Run Once for All Items\n\nconst item = $input.first();\nif (!item?.binary?.image) throw new Error(\"缺 binary.image\");\n\n// 兜底 mime\nconst mime = item.binary.image.mimeType || \"image/png\";\n\n// 由 mime 推断扩展名\nlet ext = \"png\";\nif (mime.includes(\"jpeg\") || mime.includes(\"jpg\")) ext = \"jpg\";\nelse if (mime.includes(\"png\")) ext = \"png\";\nelse if (mime.includes(\"webp\")) ext = \"webp\";\n\n// 强制英文文件名（避免 multipart filename 编码坑）\nitem.binary.image.fileName = `image.${ext}`;\nitem.binary.image.mimeType = mime;\n\nreturn [item];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-800,624],"id":"693c771e-c509-47c5-be7c-81f36bfdd02a","name":"修复名称1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $('整理数据').item.json['时长'] }}","rightValue":"16s","operator":{"type":"string","operation":"equals"},"id":"5080e22a-4a67-42af-84e1-c950ee7e89ae"}],"combinator":"and"},"renameOutput":true,"outputKey":"16s"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"0728f9c3-844f-4abd-bc90-0a2a7ab61452","leftValue":"={{ $('整理数据').item.json['时长'] }}","rightValue":"32s","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"32s"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[304,528],"id":"4d56f21c-e481-4a77-a87b-04fb88e35ae0","name":"时长"},{"parameters":{"jsCode":"// RH组装 nodeInfoList（兼容 n8n 1.123.x）\n// 当前节点：Run Once for All Items\n\n// 1) Merge 输出（当前输入）里已经有 publicUrl（图 or 音）\n// 但你这里需要同时拿到 “音频网址转换”和“图片网址转换” 两个节点的 publicUrl\nconst apiKey = $node[\"整理数据\"].json?.runninghub_key || $node[\"整理数据\"].item?.json?.runninghub_key;\n\n// 直接从两个转换节点取 URL（最稳定）\nconst audioUrl = $node[\"音频网址转换\"].json?.publicUrl;\nconst imageUrl = $node[\"图片网址转换\"].json?.publicUrl;\n\n// workflowId 写死也行，但建议从整理数据/参数里统一管理\nconst workflowId = \"2029109724586713089\";\n\nif (!apiKey) throw new Error(\"缺 runninghub_key（节点：整理数据.runninghub_key）\");\nif (!audioUrl) throw new Error(\"缺 音频 publicUrl（节点：音频网址转换.publicUrl）\");\nif (!imageUrl) throw new Error(\"缺 图片 publicUrl（节点：图片网址转换.publicUrl）\");\n\n// ⚠️前提：RunningHub 工作流的 audio/image 字段支持 URL 输入\nconst nodeInfoList = [\n  { nodeId: \"238\", fieldName: \"audio\", fieldValue: String(audioUrl) },\n  { nodeId: \"221\", fieldName: \"image\", fieldValue: String(imageUrl) },\n];\n\nreturn [{\n  apiKey,\n  workflowId,\n  nodeInfoList,\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[720,336],"id":"a10d7394-49cd-4565-b6e3-7d28b55bf735","name":"RH组装nodeInfoList1"},{"parameters":{"jsCode":"const body = $node[\"Webhook\"].json.body || {};\n\nconst record_id = body.record_id;\nconst app_token = body.app_token;\nconst app_id = body.app_id;\nconst app_secret = body.app_secret;\n\n// table_id 从 parseUrl 取（别用 table_link）\nconst table_id = $node[\"获取任务表信息\"].json.table_id;\n\nif (!record_id || !app_token || !table_id || !app_id || !app_secret) {\n  throw new Error(\"缺参数：record_id/app_token/table_id/app_id/app_secret\");\n}\n\n// 你的回调入口\nconst base = \"https://hooks.flowonn.com/webhook/rh_task_end\";\n\n// 参数名用最短，减少长度\nconst webhookUrl =\n  `${base}?r=${encodeURIComponent(record_id)}` +\n  `&a=${encodeURIComponent(app_token)}` +\n  `&t=${encodeURIComponent(table_id)}` +\n  `&i=${encodeURIComponent(app_id)}` +\n  `&s=${encodeURIComponent(app_secret)}`;\n\nreturn [{\n  ...$node[\"RH组装nodeInfoList1\"].json,\n  webhookUrl\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[944,336],"id":"581ddf5e-5dd0-4916-9ea8-19984845fb0a","name":"RH组装webhookUrl1"},{"parameters":{"method":"POST","url":"https://www.runninghub.cn/task/openapi/create","sendBody":true,"specifyBody":"json","jsonBody":"={{$json.payload}}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1392,336],"id":"4cb65bc4-1670-486a-80cb-25b91803b803","name":"RH创建任务1"},{"parameters":{"jsCode":"const j = $json;\n\nif (!j.apiKey) throw new Error(\"缺 apiKey\");\nif (!j.workflowId) throw new Error(\"缺 workflowId\");\nif (!Array.isArray(j.nodeInfoList)) throw new Error(\"nodeInfoList 必须是数组\");\nif (!j.webhookUrl) throw new Error(\"缺 webhookUrl\");\n\n// 可选：独占队列才需要；你现在是 plus 显存机，不一定要开\n// const usePersonalQueue = false;\n\nreturn [{\n  payload: {\n    apiKey: j.apiKey,\n    workflowId: String(j.workflowId),\n    nodeInfoList: j.nodeInfoList,\n    webhookUrl: j.webhookUrl,\n    // usePersonalQueue,\n    // addMetadata: true, // 需要的话也可以显式写\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1168,336],"id":"1dabcec4-de78-4ac0-b834-45851612a893","name":"RH组装createPayload1"},{"parameters":{"method":"PUT","url":"=https://open.feishu.cn/open-apis/bitable/v1/apps/{{ $('获取任务表信息').first().json.app_token }}/tables/{{ $('获取任务表信息').first().json.table_id }}/records/{{ $('Webhook').item.json.body.record_id }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"user_id_type","value":"open_id"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Auth:getAccessToken auth1').item.json.app_access_token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"fields\":{\"数字人任务\":\"数字人渲染中\"}}","options":{}},"id":"455e6eef-8d44-47ce-ac62-13ce097a3213","name":"更新进度-数字人渲染中1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1840,432]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"6995012a-a4f5-45c3-8254-78cd4cd4ddf1","leftValue":"={{ $json.code }}","rightValue":421,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1616,336],"id":"541e5dd3-cbd4-4b06-be89-13e4ce84c2ef","name":"判断队列是否满1"},{"parameters":{"method":"PUT","url":"=https://open.feishu.cn/open-apis/bitable/v1/apps/{{ $('获取任务表信息').first().json.app_token }}/tables/{{ $('获取任务表信息').first().json.table_id }}/records/{{ $('Webhook').item.json.body.record_id }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"user_id_type","value":"open_id"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Auth:getAccessToken auth1').item.json.app_access_token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"fields\":{\"数字人任务\":\"列队已满，请稍后尝试\"}}","options":{}},"id":"cf0b3f02-b995-4633-b9b7-3d5eaf5b93f9","name":"更新进度-列队已满1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1840,240]}],"connections":{"更新进度-拆解中":{"main":[[{"node":"读取记录","type":"main","index":0}]]},"获取任务表信息":{"main":[[{"node":"查询工作流积分","type":"main","index":0}]]},"Auth:getAccessToken auth1":{"main":[[{"node":"获取任务表信息","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Auth:getAccessToken auth1","type":"main","index":0}]]},"验证api-key":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"提醒-key错误","type":"main","index":0}],[{"node":"提醒-积分不足","type":"main","index":0}],[{"node":"更新进度-拆解中","type":"main","index":0}]]},"查询工作流积分":{"main":[[{"node":"验证api-key","type":"main","index":0}]]},"获取口播图链接":{"main":[[{"node":"下载口播图","type":"main","index":0}]]},"整理数据":{"main":[[{"node":"获取口播图链接","type":"main","index":0},{"node":"获取口播音频链接","type":"main","index":0}]]},"Merge":{"main":[[{"node":"时长","type":"main","index":0}]]},"下载口播图":{"main":[[{"node":"修复名称1","type":"main","index":0}]]},"RH组装nodeInfoList":{"main":[[{"node":"RH组装webhookUrl","type":"main","index":0}]]},"RH组装webhookUrl":{"main":[[{"node":"RH组装createPayload","type":"main","index":0}]]},"RH组装createPayload":{"main":[[{"node":"RH创建任务","type":"main","index":0}]]},"RH创建任务":{"main":[[{"node":"判断队列是否满","type":"main","index":0}]]},"读取记录":{"main":[[{"node":"整理数据","type":"main","index":0}]]},"判断队列是否满":{"main":[[{"node":"更新进度-列队已满","type":"main","index":0}],[{"node":"更新进度-数字人渲染中","type":"main","index":0}]]},"下载口播音频":{"main":[[{"node":"修复名称","type":"main","index":0}]]},"获取口播音频链接":{"main":[[{"node":"下载口播音频","type":"main","index":0}]]},"音频准备上传参数":{"main":[[{"node":"OSSClient-音频","type":"main","index":0}]]},"OSSClient-音频":{"main":[[{"node":"音频网址转换","type":"main","index":0}]]},"音频网址转换":{"main":[[{"node":"Merge","type":"main","index":0}]]},"图片准备上传参数":{"main":[[{"node":"OSSClient-图片","type":"main","index":0}]]},"图片网址转换":{"main":[[{"node":"Merge","type":"main","index":1}]]},"OSSClient-图片":{"main":[[{"node":"图片网址转换","type":"main","index":0}]]},"修复名称":{"main":[[{"node":"音频准备上传参数","type":"main","index":0}]]},"修复名称1":{"main":[[{"node":"图片准备上传参数","type":"main","index":0}]]},"时长":{"main":[[{"node":"RH组装nodeInfoList1","type":"main","index":0}],[{"node":"RH组装nodeInfoList","type":"main","index":0}]]},"RH组装nodeInfoList1":{"main":[[{"node":"RH组装webhookUrl1","type":"main","index":0}]]},"RH组装webhookUrl1":{"main":[[{"node":"RH组装createPayload1","type":"main","index":0}]]},"RH创建任务1":{"main":[[{"node":"判断队列是否满1","type":"main","index":0}]]},"RH组装createPayload1":{"main":[[{"node":"RH创建任务1","type":"main","index":0}]]},"判断队列是否满1":{"main":[[{"node":"更新进度-列队已满1","type":"main","index":0}],[{"node":"更新进度-数字人渲染中1","type":"main","index":0}]]}},"authors":"fan liu","name":null,"description":null}}