workflow_current.json
{"updatedAt":"2026-02-25T17:58:40.169Z","createdAt":"2026-02-25T17:01:10.479Z","id":"yNIjqrlSnTeWDFIx","name":"产品卖点总结-网页版","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"product_dna_web","options":{}},"id":"e03f5c22-4f6d-4c49-b461-fd0a4b3cc955","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-3216,352],"webhookId":"4a61315d-782c-46be-b9a0-125ff3834f7b"},{"parameters":{"jsCode":"// 清洗卖点数据：解析 Gemini 返回 + 补回 Webhook 的 product_id/api_key/workflow_id\n// 输出给 Supabase：product_id + selling_points(jsonb) + selling_points_text(string)\n\nconst input = $input.first()?.json || {};\n\n// 1) 解析 Gemini 响应（兼容 body / data 是字符串的情况）\nlet resp = input.body ?? input;\n\nif (typeof resp === \"string\") {\n  try { resp = JSON.parse(resp); } catch (e) {}\n}\nif (typeof input.data === \"string\") {\n  try { resp = JSON.parse(input.data); } catch (e) {}\n}\n\n// 2) 提取 Gemini 文本\nconst parts = resp?.candidates?.[0]?.content?.parts;\nif (!Array.isArray(parts) || parts.length === 0) {\n  throw new Error(\"Gemini 返回缺少 candidates[0].content.parts\");\n}\n\nlet text = parts.map(p => p?.text || \"\").join(\"\\n\").trim();\nif (!text) throw new Error(\"Gemini parts.text 为空\");\n\n// 去掉 ```json ``` 包裹\ntext = text.replace(/^```json\\s*/i, \"\").replace(/^```\\s*/i, \"\");\ntext = text.replace(/\\s*```$/i, \"\").trim();\n\n// 3) JSON.parse 成 product_dna\nlet product_dna;\ntry {\n  product_dna = JSON.parse(text);\n} catch (e) {\n  const head = text.slice(0, 300);\n  const tail = text.slice(-300);\n  throw new Error(`product_dna JSON.parse 失败：${e.message}\\n---HEAD---\\n${head}\\n---TAIL---\\n${tail}`);\n}\n\n// 4) ✅ 关键：从 Webhook 节点补回上下文字段（别再指望 HTTP 节点保留）\nconst wh = $(\"Webhook\").first().json || {};\nconst whBody = (wh.body && typeof wh.body === \"object\") ? wh.body : wh;\n\nconst product_id = whBody.product_id;\nconst api_key = whBody.api_key;\nconst workflow_id = whBody.workflow_id;\n\n// 5) 给 Supabase 的写回字段\nconst selling_points = product_dna;                 // jsonb\nfunction safe(s) {\n  return String(s ?? \"\").trim();\n}\n\nconst name = safe(product_dna?.product_name);\nconst visual = safe(product_dna?.visual_description);\n\nconst mp = product_dna?.marketing_profile || {};\nconst audience = safe(mp?.target_audience_vibe);\nconst env = safe(mp?.ideal_environment);\n\nconst points = Array.isArray(mp?.core_selling_points) ? mp.core_selling_points : [];\nconst top = points.slice(0, 6).map((p, i) => {\n  const type = safe(p?.type) || \"Point\";\n  const desc = safe(p?.description);\n  const proof = safe(p?.visual_proof);\n  return `- ${i + 1}.【${type}】${desc}${proof ? `（画面证明：${proof}）` : \"\"}`;\n}).join(\"\\n\");\n\nconst selling_points_text = [\n  `产品名称：${name || \"（未识别）\"}`,\n  audience ? `目标人群：${audience}` : \"\",\n  env ? `核心场景：${env}` : \"\",\n  top ? `核心卖点：\\n${top}` : \"核心卖点：（无）\",\n  visual ? `视觉描述：${visual}` : \"\",\n].filter(Boolean).join(\"\\n\");\n\n// usage：Gemini 常见是 usageMetadata\nconst usage = resp.usageMetadata ?? resp.usage ?? {};\n\nreturn [{\n  json: {\n    ...input,\n    product_id,\n    api_key,\n    workflow_id,\n\n    product_dna,\n    usage,\n\n    selling_points,\n    selling_points_text,\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1648,544],"id":"948beafe-9b5e-42c8-82ac-d5a75b809a07","name":"清洗卖点数据"},{"parameters":{"url":"=http://47.107.158.233:8080/workflow-credits/query?workflow_id={{ $('Webhook').item.json.body.workflow_id }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2992,352],"id":"46b203fc-422b-4061-843e-dfa07eab38aa","name":"查询工作流积分"},{"parameters":{"url":"=http://47.107.158.233:8080/api/balance/check?required=100&api_key={{ $('Webhook').item.json.body.api_key }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"required","value":"={{ $json.data.credit_cost }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2768,352],"id":"d1eadef8-790a-4d71-8ddf-8635ce2aca5e","name":"验证api-key","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.ok }}","rightValue":"false","operator":{"type":"boolean","operation":"false","singleValue":true},"id":"84e547e5-80ae-4340-a3e9-b76f32d20e0c"}],"combinator":"and"},"renameOutput":true,"outputKey":"apikey_invalid"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1f0f0883-abf7-4c55-8068-85568446efd2","leftValue":"={{ $json.ok === true && $json.data.sufficient === false }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"insufficient_points"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"94a60a62-da20-469a-ac15-4867f6a63449","leftValue":"={{ $json.ok === true && $json.data.sufficient === true }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"pass"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-2544,336],"id":"10f76080-4767-41fe-8f2d-8e09bb094473","name":"Switch"},{"parameters":{"method":"PUT","url":"=https://open.feishu.cn/open-apis/bitable/v1/apps/{{ $('获取任务表信息').item.json.app_token }}/tables/{{ $('获取任务表信息').item.json.table_id }}/records/{{ $('Webhook').item.json.body.record_id }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"user_id_type","value":"open_id"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Auth:getAccessToken auth1').first().json.app_access_token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"fields\":{\"拆解进度\":\"api-key错误\"}}","options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2320,160],"id":"f292b391-181e-4b72-aa14-f55f65aece39","name":"提醒-key错误"},{"parameters":{"method":"PUT","url":"=https://open.feishu.cn/open-apis/bitable/v1/apps/{{ $('获取任务表信息').item.json.app_token }}/tables/{{ $('获取任务表信息').item.json.table_id }}/records/{{ $('Webhook').item.json.body.record_id }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"user_id_type","value":"open_id"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Auth:getAccessToken auth1').first().json.app_access_token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"fields\":{\"拆解进度\":\"积分不足\"}}","options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2320,352],"id":"c1bfc01d-d027-47fa-ab97-1ff5cf247a24","name":"提醒-积分不足"},{"parameters":{"method":"POST","url":"http://47.107.158.233:8080/api/credits/deduct","sendBody":true,"bodyParameters":{"parameters":[{"name":"api_key","value":"={{ $('Webhook').item.json.body.api_key }}"},{"name":"amount","value":"={{ $('查询工作流积分').item.json.data.credit_cost }}"},{"name":"reason","value":"={{ $('查询工作流积分').item.json.data.workflow_name }}"},{"name":"workflow_id","value":"={{ $('查询工作流积分').item.json.data.workflow_id }}"},{"name":"workflow_name","value":"={{ $('查询工作流积分').item.json.data.workflow_name }}"}]},"options":{}},"id":"89756412-a873-4279-a290-13f18178ecb7","name":"扣除积分","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1200,544]},{"parameters":{"method":"POST","url":"https://yunwu.ai/v1beta/models/gemini-2.5-pro:generateContent","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.gemini_body }}","options":{"response":{"response":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1872,544],"id":"b2c8adf4-9a34-4e04-b661-a0d681984115","name":"分析Agent-视频理解","retryOnFail":true,"credentials":{"httpHeaderAuth":{"id":"mMIH382GnJoMSu4L","name":"Header Auth account"}}},{"parameters":{"jsCode":"// n8n Code node: build Yunwu Gemini generateContent body for 产品营销DNA\n// ✅ 数据来源：Webhook（$json.body 或 $json）\n// ✅ 有图：优先用上游“下载图片”的 binary -> inlineData(base64)\n// ✅ 无图：纯文本也能分析（不 throw）\n\n// ---------- helpers ----------\nfunction pickText(v) {\n  if (v == null) return '';\n  if (typeof v === 'string' || typeof v === 'number') return String(v);\n\n  if (Array.isArray(v)) {\n    return v\n      .map(x => {\n        if (x == null) return '';\n        if (typeof x === 'string' || typeof x === 'number') return String(x);\n        if (typeof x === 'object') return String(x.text ?? x.value ?? x.name ?? x.url ?? x.link ?? '');\n        return '';\n      })\n      .filter(Boolean)\n      .join('\\n');\n  }\n\n  if (typeof v === 'object') return String(v.text ?? v.value ?? v.name ?? v.url ?? v.link ?? '');\n  return String(v);\n}\n\nfunction getField(obj, keyCandidates) {\n  for (const k of keyCandidates) {\n    if (obj && Object.prototype.hasOwnProperty.call(obj, k)) return pickText(obj[k]);\n  }\n  return '';\n}\n\nfunction pickBinaryKey(bin) {\n  if (!bin || typeof bin !== 'object') return '';\n  if (bin.image) return 'image';\n  if (bin.data) return 'data';\n  const keys = Object.keys(bin);\n  return keys.length ? keys[0] : '';\n}\n\nasync function getBase64FromBinary(itemIndex, binaryKey) {\n  const bin = $input.all()[itemIndex].binary?.[binaryKey];\n  if (!bin) return { base64: '', mimeType: '' };\n\n  const mimeType = bin.mimeType || 'image/jpeg';\n\n  // 情况A：binary 自带 base64\n  if (bin.data && typeof bin.data === 'string' && bin.data.length > 50) {\n    return { base64: bin.data, mimeType };\n  }\n\n  // 情况B：filesystem 模式：读 buffer\n  if (!this?.helpers?.getBinaryDataBuffer) {\n    return { base64: '', mimeType };\n  }\n  const buf = await this.helpers.getBinaryDataBuffer(itemIndex, binaryKey);\n  return { base64: buf.toString('base64'), mimeType };\n}\n\n// ---------- read webhook body ----------\nconst root = $json || {};\nconst body = (root.body && typeof root.body === 'object') ? root.body : root;\n\n// 兼容字段名（你前端现在传的是 product_name / api_key / workflow_id）\nconst productId   = getField(body, ['product_id', 'productId', 'id']);\nconst imageUrl    = getField(body, ['image_url', 'imageUrl', 'url']);\nconst apiKey      = getField(body, ['api_key', 'apiKey']);\nconst workflowId  = getField(body, ['workflow_id', 'workflowId']);\n\n// “产品名称/卖点/描述”字段：兼容你旧飞书字段名 + 你新前端字段名\nconst productName = getField(body, ['product_name','productName','产品名称', '产品名', '商品名称', '商品名']);\nconst sellingPts  = getField(body, ['selling_points','sellingPoints','产品卖点（选填）', '核心卖点', '卖点', '产品亮点']);\nconst extraDesc   = getField(body, ['extra_desc','extraDesc','产品描述', '商品描述', '补充描述', '描述']);\n\n// ---------- prompt ----------\nconst PROMPT_TEXT = `# Role\n你是一位资深的**电商选品经理与营销策划专家**。擅长通过一张产品图片，反推其核心卖点、目标人群和视觉特征。\n\n# Task\n分析用户上传的产品图片（或描述），输出一份**“产品营销DNA报告”**。这份报告将用于指导后续的视频脚本生成。\n\n# Analysis Logic\n1) 视觉外观：颜色、材质、形状、质感（让视频生成AI知道“产品长什么样”）\n2) 核心卖点：功能性卖点 + 体验性卖点，并给出可视化证明方式\n3) 使用场景与人群：谁在用、在哪用\n\n# Output (STRICT JSON ONLY)\n{\n  \"product_name\": \"基于图片推断的产品名称\",\n  \"visual_description\": \"详细视觉描述（给Sora/视频提示词用）\",\n  \"marketing_profile\": {\n    \"target_audience_vibe\": \"目标用户形象\",\n    \"ideal_environment\": \"最佳场景\",\n    \"core_selling_points\": [\n      {\n        \"type\": \"Physical\",\n        \"description\": \"物理特性卖点\",\n        \"visual_proof\": \"如何用画面证明\"\n      },\n      {\n        \"type\": \"Emotional\",\n        \"description\": \"情感/体验卖点\",\n        \"visual_proof\": \"如何用画面证明\"\n      }\n    ]\n  }\n}`;\n\nconst userSupplement = [\n  `产品名称：${productName || '未提供'}`,\n  `产品卖点：${sellingPts || '未提供'}`,\n  `产品描述：${extraDesc || '未提供'}`,\n].join('\\n');\n\nconst userText = `${PROMPT_TEXT}\\n\\n${userSupplement}\\n\\n只输出 JSON，不要 markdown，不要多余文本。`;\n\n// ---------- build gemini_body (supports batch items) ----------\nconst items = $input.all();\nconst out = [];\n\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i];\n  const bin = item.binary || {};\n  const binaryKey = pickBinaryKey(bin);\n\n  let imagePart = null;\n  if (binaryKey) {\n    const { base64, mimeType } = await getBase64FromBinary.call(this, i, binaryKey);\n    if (base64) {\n      imagePart = {\n        inlineData: { mimeType, data: base64 }\n      };\n    }\n  }\n\n  const parts = [{ text: userText }];\n  if (imagePart) parts.push(imagePart);\n\n  const gemini_body = {\n    systemInstruction: {\n      parts: [{ text: 'Return STRICT JSON only. No markdown. No extra text.' }]\n    },\n    contents: [\n      { role: 'user', parts }\n    ],\n    generationConfig: {\n      responseMimeType: 'application/json',\n      temperature: 0.2\n    }\n  };\n\n  out.push({\n    json: {\n      ...item.json,\n      // 把你后续节点需要的字段也一起透传（关键）\n      product_id: productId,\n      image_url: imageUrl,\n      api_key: apiKey,\n      workflow_id: workflowId,\n\n      gemini_body,\n\n      _debug_webhook_fields: {\n        productId: productId || null,\n        imageUrl: imageUrl || null,\n        productName: productName || null,\n        sellingPts: sellingPts || null,\n        apiKey: apiKey ? '***' : null,\n        workflowId: workflowId || null,\n      },\n      _debug_image_attached: !!imagePart\n    },\n    binary: item.binary\n  });\n}\n\nreturn out;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2096,544],"id":"eef356c7-984b-46ca-99e3-02d8676acbd9","name":"组装请求"},{"parameters":{"url":"={{ $('Webhook').item.json.body.image_url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-2320,544],"id":"f04450fb-16b2-42de-b338-8005e7def44f","name":"下载图片"},{"parameters":{"operation":"update","tableId":"products","matchType":"allFilters","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.product_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"selling_points_text","fieldValue":"={{ $json.selling_points_text }}"},{"fieldId":"selling_points","fieldValue":"={{ $json.selling_points }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1424,544],"id":"2097d05f-68e1-4a63-9184-6baaf90790f3","name":"写回Supabase-products","credentials":{"supabaseApi":{"id":"5XGJWMLxSG8cgpYd","name":"Supabase account"}}}],"connections":{"Webhook":{"main":[[{"node":"查询工作流积分","type":"main","index":0}]]},"查询工作流积分":{"main":[[{"node":"验证api-key","type":"main","index":0}]]},"验证api-key":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"提醒-key错误","type":"main","index":0}],[{"node":"提醒-积分不足","type":"main","index":0}],[{"node":"下载图片","type":"main","index":0}]]},"清洗卖点数据":{"main":[[{"node":"写回Supabase-products","type":"main","index":0}]]},"组装请求":{"main":[[{"node":"分析Agent-视频理解","type":"main","index":0}]]},"下载图片":{"main":[[{"node":"组装请求","type":"main","index":0}]]},"分析Agent-视频理解":{"main":[[{"node":"清洗卖点数据","type":"main","index":0}]]},"写回Supabase-products":{"main":[[{"node":"扣除积分","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"hooks.flowonn.com","x-real-ip":"120.235.116.247","x-forwarded-for":"120.235.116.247","x-forwarded-proto":"https","connection":"close","content-length":"314","sec-ch-ua-platform":"\"macOS\"","user-agent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/144.0.0.0 Safari/537.36","sec-ch-ua":"\"Not(A:Brand\";v=\"8\", \"Chromium\";v=\"144\", \"Google Chrome\";v=\"144\"","content-type":"application/json","sec-ch-ua-mobile":"?0","accept":"*/*","origin":"http://192.168.10.204:3000","sec-fetch-site":"cross-site","sec-fetch-mode":"cors","sec-fetch-dest":"empty","referer":"http://192.168.10.204:3000/","accept-encoding":"gzip, deflate, br, zstd","accept-language":"zh-CN,zh;q=0.9"},"params":{},"query":{},"body":{"product_id":"d2d34027-2417-46e0-9fca-88c0cdbd9c5c","image_url":"https://wwbholzbxfoqsftgwajj.supabase.co/storage/v1/object/public/assets/products/1772040696472-7a393e24d27228.jpeg","product_name":"手持蒸汽清洁器","api_key":"sk_S-XJvpVKGGwnac1AlEFs3avCWZpqdOGaMMW27Y8iSPY","workflow_id":"flow_product_dna"},"webhookUrl":"http://localhost:5678/webhook/product_dna_web","executionMode":"production"},"pairedItem":{"item":0}}],"分析Agent-视频理解":[{"json":{"candidates":[{"content":{"role":"model","parts":[{"text":"{\n  \"product_name\": \"手持式多功能蒸汽清洁机\",\n  \"visual_description\": \"产品主体为白色哑光塑料材质，底部为深灰色磨砂质感，顶部注水口盖和喷嘴为黑色。整体造型圆润，呈水壶状，手柄设计符合人体工学。机身正面下方有红色和绿色指示灯，以及一个电源符号和警示符号。喷嘴处有白色蒸汽冒出，显示其工作状态。电源线为灰色，从底部连接。整体设计简洁现代，体积小巧。\",\n  \"marketing_profile\": {\n    \"target_audience_vibe\": \"注重家居清洁卫生、追求高效便捷生活方式的都市白领、年轻家庭、租房党、以及有宠物或小孩的家庭。他们可能居住空间有限，需要一款多功能且易于收纳的清洁工具。\",\n    \"ideal_environment\": \"现代简约风格的家居环境，如厨房台面、浴室瓷砖、沙发缝隙、窗户玻璃、汽车内饰等需要局部深度清洁的场景。也适用于办公室或小型商业场所的日常维护。\",\n    \"core_selling_points\": [\n      {\n        \"type\": \"Physical\",\n        \"description\": \"强劲高温蒸汽，有效杀菌除螨，深层清洁顽固污渍。\",\n        \"visual_proof\": \"特写镜头展示蒸汽喷射的强度和范围；对比画面展示清洁前后污渍去除效果（如油污、霉斑）；微距镜头模拟蒸汽杀菌除螨效果（如动画或示意图）。\"\n      },\n      {\n        \"type\": \"Physical\",\n        \"description\": \"多功能喷嘴配件，适用于多种清洁场景，一机多用。\",\n        \"visual_proof\": \"展示产品配备的不同喷嘴（如刷头、刮板、延长管等），并分别演示其在不同场景下的使用（如清洁厨房油烟机、擦拭玻璃、熨烫衣物、清洁地板缝隙）。\"\n      },\n      {\n        \"type\": \"Physical\",\n        \"description\": \"轻巧便携，手持操作方便，收纳不占空间。\",\n        \"visual_proof\": \"模特单手轻松操作产品进行清洁的画面；产品被放置在小巧的收纳空间中（如橱柜、抽屉）的特写；与传统大型清洁设备进行对比，突出其便携性。\"\n      },\n      {\n        \"type\": \"Emotional\",\n        \"description\": \"告别繁琐清洁，享受轻松高效的家居生活，带来洁净舒适的居住体验。\",\n        \"visual_proof\": \"用户轻松愉悦地使用产品清洁，面带微笑；清洁后的家居环境焕然一新，阳光明媚，整洁舒适；用户在清洁后放松享受生活的画面（如喝咖啡、与家人互动）。\"\n      },\n      {\n        \"type\": \"Emotional\",\n        \"description\": \"无需化学清洁剂，环保健康，呵护家人与宠物健康。\",\n        \"visual_proof\": \"特写镜头展示产品只加水即可工作，旁边放置纯净水瓶；用户在清洁儿童玩具或宠物用品时安心的表情；对比画面展示传统清洁剂的刺激性气味与蒸汽清洁的无味无害。\"\n      }\n    ]\n  }\n}"}]},"finishReason":"STOP","index":0,"safetyRatings":null}],"promptFeedback":{"safetyRatings":null},"usageMetadata":{"promptTokenCount":2685,"candidatesTokenCount":735,"totalTokenCount":3506,"thoughtsTokenCount":86,"promptTokensDetails":[{"modality":"IMAGE","tokenCount":2322},{"modality":"TEXT","tokenCount":363}],"candidatesTokensDetails":[{"modality":"TEXT","tokenCount":735}]},"modelVersion":"gemini-2.5-pro","responseId":"YjOfaZ7yObeOsbwP1qqUmAU"},"pairedItem":{"item":0}}]},"versionId":"d0467f0a-7d75-45c7-9cd4-6a9893013917","activeVersionId":"d0467f0a-7d75-45c7-9cd4-6a9893013917","versionCounter":39,"triggerCount":1,"shared":[{"updatedAt":"2026-02-25T17:01:10.479Z","createdAt":"2026-02-25T17:01:10.479Z","role":"workflow:owner","workflowId":"yNIjqrlSnTeWDFIx","projectId":"tMHfv8jC54QugIS3","project":{"updatedAt":"2025-12-05T18:24:07.030Z","createdAt":"2025-12-05T18:00:52.525Z","id":"tMHfv8jC54QugIS3","name":"fan liu <591905097@qq.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2025-12-05T18:00:52.525Z","createdAt":"2025-12-05T18:00:52.525Z","userId":"e1a90281-8c6a-4ec7-a985-3a344ba88b66","projectId":"tMHfv8jC54QugIS3","user":{"updatedAt":"2026-02-27T17:37:15.054Z","createdAt":"2025-12-05T18:00:51.894Z","id":"e1a90281-8c6a-4ec7-a985-3a344ba88b66","email":"591905097@qq.com","firstName":"fan","lastName":"liu","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-12-05T18:24:47.635Z","personalization_survey_n8n_version":"1.122.5","companySize":"<20","companyType":"saas","role":"business-owner","reportedSource":"youtube"},"settings":{"userActivated":true,"firstSuccessfulWorkflowId":"skrF9OQDOf6yA7qL","userActivatedAt":1771857633205,"easyAIWorkflowOnboarded":true,"npsSurvey":{"waitingForResponse":true,"ignoredCount":2,"lastShownAt":1768301253824}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-02-28","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-02-25T17:58:40.170Z","createdAt":"2026-02-25T17:58:40.170Z","versionId":"d0467f0a-7d75-45c7-9cd4-6a9893013917","workflowId":"yNIjqrlSnTeWDFIx","nodes":[{"parameters":{"httpMethod":"POST","path":"product_dna_web","options":{}},"id":"e03f5c22-4f6d-4c49-b461-fd0a4b3cc955","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-3216,352],"webhookId":"4a61315d-782c-46be-b9a0-125ff3834f7b"},{"parameters":{"jsCode":"// 清洗卖点数据：解析 Gemini 返回 + 补回 Webhook 的 product_id/api_key/workflow_id\n// 输出给 Supabase：product_id + selling_points(jsonb) + selling_points_text(string)\n\nconst input = $input.first()?.json || {};\n\n// 1) 解析 Gemini 响应（兼容 body / data 是字符串的情况）\nlet resp = input.body ?? input;\n\nif (typeof resp === \"string\") {\n  try { resp = JSON.parse(resp); } catch (e) {}\n}\nif (typeof input.data === \"string\") {\n  try { resp = JSON.parse(input.data); } catch (e) {}\n}\n\n// 2) 提取 Gemini 文本\nconst parts = resp?.candidates?.[0]?.content?.parts;\nif (!Array.isArray(parts) || parts.length === 0) {\n  throw new Error(\"Gemini 返回缺少 candidates[0].content.parts\");\n}\n\nlet text = parts.map(p => p?.text || \"\").join(\"\\n\").trim();\nif (!text) throw new Error(\"Gemini parts.text 为空\");\n\n// 去掉 ```json ``` 包裹\ntext = text.replace(/^```json\\s*/i, \"\").replace(/^```\\s*/i, \"\");\ntext = text.replace(/\\s*```$/i, \"\").trim();\n\n// 3) JSON.parse 成 product_dna\nlet product_dna;\ntry {\n  product_dna = JSON.parse(text);\n} catch (e) {\n  const head = text.slice(0, 300);\n  const tail = text.slice(-300);\n  throw new Error(`product_dna JSON.parse 失败：${e.message}\\n---HEAD---\\n${head}\\n---TAIL---\\n${tail}`);\n}\n\n// 4) ✅ 关键：从 Webhook 节点补回上下文字段（别再指望 HTTP 节点保留）\nconst wh = $(\"Webhook\").first().json || {};\nconst whBody = (wh.body && typeof wh.body === \"object\") ? wh.body : wh;\n\nconst product_id = whBody.product_id;\nconst api_key = whBody.api_key;\nconst workflow_id = whBody.workflow_id;\n\n// 5) 给 Supabase 的写回字段\nconst selling_points = product_dna;                 // jsonb\nfunction safe(s) {\n  return String(s ?? \"\").trim();\n}\n\nconst name = safe(product_dna?.product_name);\nconst visual = safe(product_dna?.visual_description);\n\nconst mp = product_dna?.marketing_profile || {};\nconst audience = safe(mp?.target_audience_vibe);\nconst env = safe(mp?.ideal_environment);\n\nconst points = Array.isArray(mp?.core_selling_points) ? mp.core_selling_points : [];\nconst top = points.slice(0, 6).map((p, i) => {\n  const type = safe(p?.type) || \"Point\";\n  const desc = safe(p?.description);\n  const proof = safe(p?.visual_proof);\n  return `- ${i + 1}.【${type}】${desc}${proof ? `（画面证明：${proof}）` : \"\"}`;\n}).join(\"\\n\");\n\nconst selling_points_text = [\n  `产品名称：${name || \"（未识别）\"}`,\n  audience ? `目标人群：${audience}` : \"\",\n  env ? `核心场景：${env}` : \"\",\n  top ? `核心卖点：\\n${top}` : \"核心卖点：（无）\",\n  visual ? `视觉描述：${visual}` : \"\",\n].filter(Boolean).join(\"\\n\");\n\n// usage：Gemini 常见是 usageMetadata\nconst usage = resp.usageMetadata ?? resp.usage ?? {};\n\nreturn [{\n  json: {\n    ...input,\n    product_id,\n    api_key,\n    workflow_id,\n\n    product_dna,\n    usage,\n\n    selling_points,\n    selling_points_text,\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1648,544],"id":"948beafe-9b5e-42c8-82ac-d5a75b809a07","name":"清洗卖点数据"},{"parameters":{"url":"=http://47.107.158.233:8080/workflow-credits/query?workflow_id={{ $('Webhook').item.json.body.workflow_id }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2992,352],"id":"46b203fc-422b-4061-843e-dfa07eab38aa","name":"查询工作流积分"},{"parameters":{"url":"=http://47.107.158.233:8080/api/balance/check?required=100&api_key={{ $('Webhook').item.json.body.api_key }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"required","value":"={{ $json.data.credit_cost }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2768,352],"id":"d1eadef8-790a-4d71-8ddf-8635ce2aca5e","name":"验证api-key","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.ok }}","rightValue":"false","operator":{"type":"boolean","operation":"false","singleValue":true},"id":"84e547e5-80ae-4340-a3e9-b76f32d20e0c"}],"combinator":"and"},"renameOutput":true,"outputKey":"apikey_invalid"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1f0f0883-abf7-4c55-8068-85568446efd2","leftValue":"={{ $json.ok === true && $json.data.sufficient === false }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"insufficient_points"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"94a60a62-da20-469a-ac15-4867f6a63449","leftValue":"={{ $json.ok === true && $json.data.sufficient === true }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"pass"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-2544,336],"id":"10f76080-4767-41fe-8f2d-8e09bb094473","name":"Switch"},{"parameters":{"method":"PUT","url":"=https://open.feishu.cn/open-apis/bitable/v1/apps/{{ $('获取任务表信息').item.json.app_token }}/tables/{{ $('获取任务表信息').item.json.table_id }}/records/{{ $('Webhook').item.json.body.record_id }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"user_id_type","value":"open_id"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Auth:getAccessToken auth1').first().json.app_access_token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"fields\":{\"拆解进度\":\"api-key错误\"}}","options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2320,160],"id":"f292b391-181e-4b72-aa14-f55f65aece39","name":"提醒-key错误"},{"parameters":{"method":"PUT","url":"=https://open.feishu.cn/open-apis/bitable/v1/apps/{{ $('获取任务表信息').item.json.app_token }}/tables/{{ $('获取任务表信息').item.json.table_id }}/records/{{ $('Webhook').item.json.body.record_id }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"user_id_type","value":"open_id"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Auth:getAccessToken auth1').first().json.app_access_token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"fields\":{\"拆解进度\":\"积分不足\"}}","options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2320,352],"id":"c1bfc01d-d027-47fa-ab97-1ff5cf247a24","name":"提醒-积分不足"},{"parameters":{"method":"POST","url":"http://47.107.158.233:8080/api/credits/deduct","sendBody":true,"bodyParameters":{"parameters":[{"name":"api_key","value":"={{ $('Webhook').item.json.body.api_key }}"},{"name":"amount","value":"={{ $('查询工作流积分').item.json.data.credit_cost }}"},{"name":"reason","value":"={{ $('查询工作流积分').item.json.data.workflow_name }}"},{"name":"workflow_id","value":"={{ $('查询工作流积分').item.json.data.workflow_id }}"},{"name":"workflow_name","value":"={{ $('查询工作流积分').item.json.data.workflow_name }}"}]},"options":{}},"id":"89756412-a873-4279-a290-13f18178ecb7","name":"扣除积分","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1200,544]},{"parameters":{"method":"POST","url":"https://yunwu.ai/v1beta/models/gemini-2.5-pro:generateContent","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.gemini_body }}","options":{"response":{"response":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1872,544],"id":"b2c8adf4-9a34-4e04-b661-a0d681984115","name":"分析Agent-视频理解","retryOnFail":true,"credentials":{"httpHeaderAuth":{"id":"mMIH382GnJoMSu4L","name":"Header Auth account"}}},{"parameters":{"jsCode":"// n8n Code node: build Yunwu Gemini generateContent body for 产品营销DNA\n// ✅ 数据来源：Webhook（$json.body 或 $json）\n// ✅ 有图：优先用上游“下载图片”的 binary -> inlineData(base64)\n// ✅ 无图：纯文本也能分析（不 throw）\n\n// ---------- helpers ----------\nfunction pickText(v) {\n  if (v == null) return '';\n  if (typeof v === 'string' || typeof v === 'number') return String(v);\n\n  if (Array.isArray(v)) {\n    return v\n      .map(x => {\n        if (x == null) return '';\n        if (typeof x === 'string' || typeof x === 'number') return String(x);\n        if (typeof x === 'object') return String(x.text ?? x.value ?? x.name ?? x.url ?? x.link ?? '');\n        return '';\n      })\n      .filter(Boolean)\n      .join('\\n');\n  }\n\n  if (typeof v === 'object') return String(v.text ?? v.value ?? v.name ?? v.url ?? v.link ?? '');\n  return String(v);\n}\n\nfunction getField(obj, keyCandidates) {\n  for (const k of keyCandidates) {\n    if (obj && Object.prototype.hasOwnProperty.call(obj, k)) return pickText(obj[k]);\n  }\n  return '';\n}\n\nfunction pickBinaryKey(bin) {\n  if (!bin || typeof bin !== 'object') return '';\n  if (bin.image) return 'image';\n  if (bin.data) return 'data';\n  const keys = Object.keys(bin);\n  return keys.length ? keys[0] : '';\n}\n\nasync function getBase64FromBinary(itemIndex, binaryKey) {\n  const bin = $input.all()[itemIndex].binary?.[binaryKey];\n  if (!bin) return { base64: '', mimeType: '' };\n\n  const mimeType = bin.mimeType || 'image/jpeg';\n\n  // 情况A：binary 自带 base64\n  if (bin.data && typeof bin.data === 'string' && bin.data.length > 50) {\n    return { base64: bin.data, mimeType };\n  }\n\n  // 情况B：filesystem 模式：读 buffer\n  if (!this?.helpers?.getBinaryDataBuffer) {\n    return { base64: '', mimeType };\n  }\n  const buf = await this.helpers.getBinaryDataBuffer(itemIndex, binaryKey);\n  return { base64: buf.toString('base64'), mimeType };\n}\n\n// ---------- read webhook body ----------\nconst root = $json || {};\nconst body = (root.body && typeof root.body === 'object') ? root.body : root;\n\n// 兼容字段名（你前端现在传的是 product_name / api_key / workflow_id）\nconst productId   = getField(body, ['product_id', 'productId', 'id']);\nconst imageUrl    = getField(body, ['image_url', 'imageUrl', 'url']);\nconst apiKey      = getField(body, ['api_key', 'apiKey']);\nconst workflowId  = getField(body, ['workflow_id', 'workflowId']);\n\n// “产品名称/卖点/描述”字段：兼容你旧飞书字段名 + 你新前端字段名\nconst productName = getField(body, ['product_name','productName','产品名称', '产品名', '商品名称', '商品名']);\nconst sellingPts  = getField(body, ['selling_points','sellingPoints','产品卖点（选填）', '核心卖点', '卖点', '产品亮点']);\nconst extraDesc   = getField(body, ['extra_desc','extraDesc','产品描述', '商品描述', '补充描述', '描述']);\n\n// ---------- prompt ----------\nconst PROMPT_TEXT = `# Role\n你是一位资深的**电商选品经理与营销策划专家**。擅长通过一张产品图片，反推其核心卖点、目标人群和视觉特征。\n\n# Task\n分析用户上传的产品图片（或描述），输出一份**“产品营销DNA报告”**。这份报告将用于指导后续的视频脚本生成。\n\n# Analysis Logic\n1) 视觉外观：颜色、材质、形状、质感（让视频生成AI知道“产品长什么样”）\n2) 核心卖点：功能性卖点 + 体验性卖点，并给出可视化证明方式\n3) 使用场景与人群：谁在用、在哪用\n\n# Output (STRICT JSON ONLY)\n{\n  \"product_name\": \"基于图片推断的产品名称\",\n  \"visual_description\": \"详细视觉描述（给Sora/视频提示词用）\",\n  \"marketing_profile\": {\n    \"target_audience_vibe\": \"目标用户形象\",\n    \"ideal_environment\": \"最佳场景\",\n    \"core_selling_points\": [\n      {\n        \"type\": \"Physical\",\n        \"description\": \"物理特性卖点\",\n        \"visual_proof\": \"如何用画面证明\"\n      },\n      {\n        \"type\": \"Emotional\",\n        \"description\": \"情感/体验卖点\",\n        \"visual_proof\": \"如何用画面证明\"\n      }\n    ]\n  }\n}`;\n\nconst userSupplement = [\n  `产品名称：${productName || '未提供'}`,\n  `产品卖点：${sellingPts || '未提供'}`,\n  `产品描述：${extraDesc || '未提供'}`,\n].join('\\n');\n\nconst userText = `${PROMPT_TEXT}\\n\\n${userSupplement}\\n\\n只输出 JSON，不要 markdown，不要多余文本。`;\n\n// ---------- build gemini_body (supports batch items) ----------\nconst items = $input.all();\nconst out = [];\n\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i];\n  const bin = item.binary || {};\n  const binaryKey = pickBinaryKey(bin);\n\n  let imagePart = null;\n  if (binaryKey) {\n    const { base64, mimeType } = await getBase64FromBinary.call(this, i, binaryKey);\n    if (base64) {\n      imagePart = {\n        inlineData: { mimeType, data: base64 }\n      };\n    }\n  }\n\n  const parts = [{ text: userText }];\n  if (imagePart) parts.push(imagePart);\n\n  const gemini_body = {\n    systemInstruction: {\n      parts: [{ text: 'Return STRICT JSON only. No markdown. No extra text.' }]\n    },\n    contents: [\n      { role: 'user', parts }\n    ],\n    generationConfig: {\n      responseMimeType: 'application/json',\n      temperature: 0.2\n    }\n  };\n\n  out.push({\n    json: {\n      ...item.json,\n      // 把你后续节点需要的字段也一起透传（关键）\n      product_id: productId,\n      image_url: imageUrl,\n      api_key: apiKey,\n      workflow_id: workflowId,\n\n      gemini_body,\n\n      _debug_webhook_fields: {\n        productId: productId || null,\n        imageUrl: imageUrl || null,\n        productName: productName || null,\n        sellingPts: sellingPts || null,\n        apiKey: apiKey ? '***' : null,\n        workflowId: workflowId || null,\n      },\n      _debug_image_attached: !!imagePart\n    },\n    binary: item.binary\n  });\n}\n\nreturn out;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2096,544],"id":"eef356c7-984b-46ca-99e3-02d8676acbd9","name":"组装请求"},{"parameters":{"url":"={{ $('Webhook').item.json.body.image_url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-2320,544],"id":"f04450fb-16b2-42de-b338-8005e7def44f","name":"下载图片"},{"parameters":{"operation":"update","tableId":"products","matchType":"allFilters","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.product_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"selling_points_text","fieldValue":"={{ $json.selling_points_text }}"},{"fieldId":"selling_points","fieldValue":"={{ $json.selling_points }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1424,544],"id":"2097d05f-68e1-4a63-9184-6baaf90790f3","name":"写回Supabase-products","credentials":{"supabaseApi":{"id":"5XGJWMLxSG8cgpYd","name":"Supabase account"}}}],"connections":{"Webhook":{"main":[[{"node":"查询工作流积分","type":"main","index":0}]]},"查询工作流积分":{"main":[[{"node":"验证api-key","type":"main","index":0}]]},"验证api-key":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"提醒-key错误","type":"main","index":0}],[{"node":"提醒-积分不足","type":"main","index":0}],[{"node":"下载图片","type":"main","index":0}]]},"清洗卖点数据":{"main":[[{"node":"写回Supabase-products","type":"main","index":0}]]},"组装请求":{"main":[[{"node":"分析Agent-视频理解","type":"main","index":0}]]},"下载图片":{"main":[[{"node":"组装请求","type":"main","index":0}]]},"分析Agent-视频理解":{"main":[[{"node":"清洗卖点数据","type":"main","index":0}]]},"写回Supabase-products":{"main":[[{"node":"扣除积分","type":"main","index":0}]]}},"authors":"fan liu","name":null,"description":null}}