workflow_xNY4qhKT2cwXYi0v.json
{
  "updatedAt": "2026-03-07T09:03:05.265Z",
  "createdAt": "2026-03-06T09:54:19.435Z",
  "id": "xNY4qhKT2cwXYi0v",
  "name": "一键生成9宫格-剧情版plus-网页版",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "url": "=http://47.107.158.233:8080/api/balance/check?required=100&api_key={{ $('Webhook').item.json.body.api_key }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "required",
              "value": "={{ $json.data.credit_cost }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -928,
        256
      ],
      "id": "a006037a-9e69-41ea-92d5-a9abeeebe6fb",
      "name": "验证api-key",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.ok }}",
                    "rightValue": "false",
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    },
                    "id": "84e547e5-80ae-4340-a3e9-b76f32d20e0c"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "apikey_invalid"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1f0f0883-abf7-4c55-8068-85568446efd2",
                    "leftValue": "={{ $json.ok === true && $json.data.sufficient === false }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "insufficient_points"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "94a60a62-da20-469a-ac15-4867f6a63449",
                    "leftValue": "={{ $json.ok === true && $json.data.sufficient === true }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pass"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -704,
        240
      ],
      "id": "93579f6a-5620-42da-b050-663fa42f1767",
      "name": "Switch"
    },
    {
      "parameters": {
        "url": "=http://47.107.158.233:8080/workflow-credits/query?workflow_id={{ $('Webhook').item.json.body.workflow_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1152,
        256
      ],
      "id": "ec6c2998-6a3a-41f8-9ef9-f1a03519b743",
      "name": "查询工作流积分"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// 组装生图请求体（4K + 强一致性锁）\n// 输入：grid_prompt + person_image_b64/person_mime_type\n// 输出：request_body 给“生图请求”\n// ✅ 新增：人数锁（参考图几个人就几个人，不增不减）\n\nfunction s(v){ return v == null ? \"\" : String(v); }\nfunction stripDataPrefix(b64){ return s(b64).trim().replace(/^data:.*;base64,/, \"\").trim(); }\n\n// 安全取节点输出（避免单点执行/上游没跑导致报错）\nfunction getNodeFirstJson(name) {\n  try { return $(name).first().json || {}; } catch(e) { return {}; }\n}\n\nconst j = $json || {};\n\n// 1) 优先取当前 item，其次兜底取 Binary → Base2 的输出\nconst base2 = getNodeFirstJson('Binary → Base2');\n\nconst img_b64  = stripDataPrefix(j.person_image_b64) || stripDataPrefix(base2.person_image_b64);\nconst img_mime = s(j.person_mime_type).trim() || s(base2.person_mime_type).trim() || \"image/jpeg\";\n\nif (!img_b64) {\n  throw new Error(\"缺少 person_image_b64：你可能在单独执行该节点（上游没跑）。请从“下载参考图片 → Binary → Base2”开始执行，或直接从 Webhook 执行整条流程。\");\n}\n\n// 2) grid_prompt：优先当前 item，其次兜底从 JSON转grid_prompt 节点拿\nconst gridNode = getNodeFirstJson('JSON转grid_prompt');\nlet promptText = s(j.grid_prompt).trim() || s(gridNode.grid_prompt).trim();\nif (!promptText) throw new Error(\"缺少 grid_prompt（请检查：JSON转grid_prompt 是否有输出）\");\n\n// 3) 一致性锁（✅ 加人数锁）\nconst CONSISTENCY_LOCK = `\nABSOLUTE CONSISTENCY LOCK (must follow):\n- Preserve EXACTLY the same number of people as the reference image. Do NOT add or remove any person.\n- Keep EXACTLY the same set of identities as the reference image (for EACH person): same face structure, eyes, nose, lips, skin tone, hairstyle, hair color, makeup.\n- Keep EXACTLY the same outfit and accessories as the reference image (for EACH person): no new jewelry, no missing earrings, no changes in clothing texture or color.\n- Keep EXACTLY the same product as the reference image: same shape, size, color, logo, label, material; do not redesign it.\n- Do NOT swap hands, do NOT mirror/flip the image.\n- Do NOT beautify into an advertisement; keep photorealistic cinematic stills.\n- No text, no subtitles, no watermark, no UI, no borders, no frames, no gridlines, no separators.\n`;\n\nconst finalPrompt = `${CONSISTENCY_LOCK}\\n\\n${promptText}`;\n\n// parts：先 text，再贴参考图\nconst parts = [\n  { text: finalPrompt },\n  {\n    inline_data: {\n      mime_type: img_mime,\n      data: img_b64,\n    },\n  },\n];\n\nconst request_body = {\n  contents: [{ role: \"user\", parts }],\n  generationConfig: {\n    responseModalities: [\"IMAGE\"],\n    imageConfig: {\n      aspectRatio: \"9:16\",\n      imageSize: \"4K\",\n    },\n  },\n};\n\nreturn {\n  json: {\n    ...j,\n    request_body,\n    grid_prompt: finalPrompt,\n    person_image_b64: img_b64,\n    person_mime_type: img_mime,\n  },\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1088,
        448
      ],
      "id": "52e1b1be-181e-4eaf-992f-2c4a35ae47e4",
      "name": "组装生图请求体"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://yunwu.ai/v1beta/models/gemini-3-pro-image-preview:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.request_body }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1312,
        448
      ],
      "id": "493a4871-46b7-43ec-b114-316b17876db3",
      "name": "生图请求",
      "retryOnFail": false,
      "waitBetweenTries": 3000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "mMIH382GnJoMSu4L",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "/**\n * 云雾 / Gemini generateContent 响应 -> n8n binary\n *\n * 兼容常见返回路径：\n * - candidates[0].content.parts[*].inline_data.data\n * - candidates[0].content.parts[*].inlineData.data\n * - candidates[0].content.parts[*].fileData（如果有）\n * - data / body 包裹（httpRequest fullResponse 有时会包在 body）\n *\n * 输出：\n * - binary.data.data = base64（无 data: 前缀）\n * - binary.data.mimeType = image/png|image/jpeg\n * - binary.data.fileName = knowledge_card_{image_index}.png\n */\n\nfunction unwrapRoot(x) {\n  // 兼容 httpRequest fullResponse：{ body, headers, statusCode... }\n  if (x && typeof x === \"object\" && x.body && typeof x.body === \"object\") return x.body;\n  return x;\n}\n\nfunction getByPath(obj, path) {\n  try {\n    return path.split(\".\").reduce((acc, k) => (acc == null ? undefined : acc[k]), obj);\n  } catch {\n    return undefined;\n  }\n}\n\nfunction findInlineImageParts(root) {\n  const candidates = root?.candidates;\n  if (!Array.isArray(candidates) || !candidates.length) return [];\n\n  const parts = candidates?.[0]?.content?.parts;\n  if (!Array.isArray(parts)) return [];\n\n  // 找到带 inline_data/inlineData 的 part\n  const imgs = [];\n  for (const p of parts) {\n    const inline = p?.inline_data || p?.inlineData;\n    if (inline?.data) {\n      imgs.push({\n        b64: inline.data,\n        mimeType: inline.mime_type || inline.mimeType || \"image/png\",\n      });\n      continue;\n    }\n    // 有些实现是 fileData（不一定是 base64）\n    const fd = p?.fileData;\n    if (fd?.fileUri) {\n      imgs.push({\n        fileUri: fd.fileUri,\n        mimeType: fd.mimeType || \"image/png\",\n      });\n    }\n  }\n  return imgs;\n}\n\nfunction stripDataPrefix(b64) {\n  // 兼容 data:image/png;base64,xxxx\n  return String(b64 || \"\").replace(/^data:.*;base64,/, \"\").trim();\n}\n\nconst raw = $json || {};\nconst root = unwrapRoot(raw);\n\n// 你前面节点保留了 image_index（如果没有就默认为 1）\nconst imageIndex = Number(raw.image_index ?? raw.index ?? 1) || 1;\n\n// 1) 从 candidates.parts 找 inline image\nlet imgs = findInlineImageParts(root);\n\n// 2) 兜底：有些服务把 base64 放在 data / image / output 之类字段（尽量不猜太多，只做常见兜底）\nif (!imgs.length) {\n  const maybe =\n    getByPath(root, \"image.data\") ||\n    getByPath(root, \"data.image\") ||\n    getByPath(root, \"output.image\") ||\n    getByPath(root, \"output.data\") ||\n    null;\n\n  if (maybe && typeof maybe === \"string\") {\n    imgs = [{ b64: maybe, mimeType: \"image/png\" }];\n  }\n}\n\nif (!imgs.length) {\n  throw new Error(\"没有在返回体中找到图片数据（inline_data / inlineData）。请检查生图接口实际响应结构。\");\n}\n\n// 只取第一张（你这个工作流每个 item 对应一张图）\nconst first = imgs[0];\n\n// 如果是 fileUri（不是 base64），这里直接报错：因为你后面要上传飞书需要真实二进制\nif (first.fileUri && !first.b64) {\n  throw new Error(\n    `返回的是 fileUri（${first.fileUri}）而不是 base64。需要额外一步去下载该文件再转 binary。`\n  );\n}\n\nconst mimeType = first.mimeType || \"image/png\";\nconst ext = mimeType.includes(\"jpeg\") || mimeType.includes(\"jpg\") ? \"jpg\" : \"png\";\nconst b64 = stripDataPrefix(first.b64);\n\nif (!b64) throw new Error(\"图片 base64 为空\");\n\n// 组装 n8n binary（重要：data 要是纯 base64，不要带 data:image 前缀）\nreturn {\n  json: {\n    ...raw,\n    mimeType,\n    fileName: `knowledge_card_${imageIndex}.${ext}`,\n  },\n  binary: {\n    data: {\n      data: b64,\n      mimeType,\n      fileName: `Product_display_image_${imageIndex}.${ext}`,\n    },\n  },\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1536,
        448
      ],
      "id": "da20a97a-ac8c-4fec-9e94-d7f06d28a348",
      "name": "转换为Binary"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://47.107.158.233:8080/api/credits/deduct",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"api_key\": \"{{ $('Webhook').item.json.body.api_key }}\",\n  \"amount\":  \"{{ $json.data.credit_cost }}\",\n  \"reason\": \"{{ $json.data.workflow_name }}\",\n  \"workflow_id\": \"{{ $json.data.workflow_id }}\",\n  \"workflow_name\": \"{{ $json.data.workflow_name }}\"\n}\n",
        "options": {}
      },
      "id": "23d5d8fa-52b0-42f7-9b26-2f81e930bfbc",
      "name": "扣除积分",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2880,
        352
      ]
    },
    {
      "parameters": {
        "jsCode": "return await (async () => {\n  const items = $input.all();\n  if (!items.length) throw new Error('没有输入数据');\n\n  const output = [];\n\n  for (let i = 0; i < items.length; i++) {\n    const item = items[i];\n    const binary = item.binary || {};\n    const keys = Object.keys(binary);\n    if (!keys.length) throw new Error(`第 ${i} 条 item 没有任何 binary 数据`);\n\n    const key = keys[0];\n    const binData = binary[key];\n    if (!binData) throw new Error(`第 ${i} 条 item 的 ${key} 不存在`);\n\n    const fileName = binData.fileName || `nano_result_${Date.now()}_${i}.jpg`;\n\n    // ✅ 关键：从 n8n 拿到真实文件 buffer（兼容 /tmp 落盘模式）\n    let buffer;\n    try {\n      buffer = await this.helpers.getBinaryDataBuffer(i, key);\n    } catch (e) {\n      // 兜底：如果确实是 base64 内容（非落盘模式），再用 base64 解\n      const raw = binData.data;\n      if (!raw) throw new Error(`第 ${i} 条 item 的 ${key} 没有 data，且 getBinaryDataBuffer 失败：${e.message}`);\n      const b64 = String(raw).replace(/^data:.*;base64,/, '');\n      buffer = Buffer.from(b64, 'base64');\n    }\n\n    output.push({\n      json: {\n        fileName,\n        fileSize: buffer.length, // ✅ 真实字节数\n        binaryKey: key,\n      },\n      binary: {\n        [key]: {\n          ...binData,\n          fileName,\n        },\n      },\n    });\n  }\n\n  return output;\n})();\n"
      },
      "id": "9dd2a5e7-28a8-4915-8df0-23a22ae08ae8",
      "name": "生成文件信息",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        448
      ]
    },
    {
      "parameters": {
        "url": "=http://47.107.158.233:8080/workflow-credits/query?workflow_id=flow_image_video_Veo",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2656,
        352
      ],
      "id": "4d7ce3aa-83d8-4924-bbdb-98e18049359c",
      "name": "查询工作流积分1"
    },
    {
      "parameters": {
        "jsCode": "const binProp = 'image_person';\n\nconst item = $input.first();\nif (!item?.binary?.[binProp]) throw new Error(`找不到 binary.${binProp}`);\n\nconst mimeType = item.binary[binProp].mimeType || 'image/jpeg';\nconst buf = await this.helpers.getBinaryDataBuffer(0, binProp);\n\nreturn {\n  json: {\n    person_mime_type: mimeType,\n    person_image_b64: buf.toString('base64'),\n  },\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -32,
        448
      ],
      "id": "f16e371c-fcfd-40d0-9433-b0c50fbc3d15",
      "name": "Binary → Base2"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "storyboard_Plot_web",
        "options": {}
      },
      "id": "a75a63f5-452f-4483-a783-359b55c21943",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2048,
        352
      ],
      "webhookId": "6a62bc24-387a-462f-b28b-096b2d11c234"
    },
    {
      "parameters": {
        "jsCode": "\n// 组装请求（给 Gemini-2.5-pro:generateContent 用）\n// ✅ 根据 content_type（ugc带货 / 产品展示 / 剧情故事）生成不同的 9宫格规划 JSON\n// ✅ 新增：人数锁（reference image 几个人就必须几个人，不增不减）\n// 输出：$json.gemini_body\n\nfunction s(v){ return v == null ? \"\" : String(v); }\nfunction stripDataPrefix(b64){ return s(b64).trim().replace(/^data:.*;base64,/, \"\").trim(); }\n\nconst j = $json;\nconst content_type = s(j.content_type).trim() || 'ugc带货';\nconst story_text = s(j.story_text).trim();\nconst person_mime_type = s(j.person_mime_type).trim();\nconst person_image_b64 = stripDataPrefix(j.person_image_b64);\n\nif (!story_text) throw new Error(\"缺少 story_text（剧本为空）\");\nif (!person_image_b64) throw new Error(\"缺少 person_image_b64（参考图为空）\");\n\n// ... (Keep existing prompt logic) ...\n// For brevity in this script, I'm assuming the prompt logic is huge and I should preserve it.\n// I will read the original code, replace the input reading part, and write it back.\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        448
      ],
      "id": "cf2feeb1-e337-4882-8279-a6049d24612d",
      "name": "组装请求"
    },
    {
      "parameters": {
        "jsCode": "// JSON转grid_prompt\n// 输入：Gemini 返回（httpRequest 的 json，可能被包在 body）\n// 输出：grid_prompt（给“组装生图请求体”用）\n// ✅ 新增：人数锁（参考图几个人就几个人）\n// ✅ 修复：Gemini parts[0] 可能是废话/思考，parts[1] 才是 JSON；避免拼接导致 JSON.parse 报错\n\nfunction unwrapRoot(x) {\n  if (x && typeof x === 'object' && x.body && typeof x.body === 'object') return x.body;\n  return x;\n}\n\n// 从一段混合文本中提取第一个完整 {...} JSON（括号计数法）\nfunction extractFirstJsonObject(s) {\n  if (!s) return '';\n  const cleaned = String(s)\n    .replace(/```json\\s*/gi, '')\n    .replace(/```/g, '')\n    .trim();\n\n  const start = cleaned.indexOf('{');\n  if (start < 0) return '';\n\n  let depth = 0;\n  for (let i = start; i < cleaned.length; i++) {\n    const ch = cleaned[i];\n    if (ch === '{') depth++;\n    if (ch === '}') depth--;\n    if (depth === 0) return cleaned.slice(start, i + 1).trim();\n  }\n  return '';\n}\n\nfunction extractText(root) {\n  const parts = root?.candidates?.[0]?.content?.parts;\n  if (!Array.isArray(parts) || parts.length === 0) return '';\n\n  // 1) 优先：非 thought 且以 { 开头（最像 JSON）\n  const p1 = parts.find(p =>\n    typeof p?.text === 'string' &&\n    p.text.trim().startsWith('{') &&\n    !p.thought\n  );\n  if (p1) return p1.text.trim();\n\n  // 2) 其次：任何以 { 开头\n  const p2 = parts.find(p =>\n    typeof p?.text === 'string' &&\n    p.text.trim().startsWith('{')\n  );\n  if (p2) return p2.text.trim();\n\n  // 3) 兜底：从所有文本中切出第一个 JSON\n  const all = parts\n    .map(p => (typeof p?.text === 'string' ? p.text : ''))\n    .filter(Boolean)\n    .join('\\n');\n\n  return extractFirstJsonObject(all);\n}\n\nconst raw = $json || {};\nconst root = unwrapRoot(raw);\n\nconst text = extractText(root);\nif (!text) {\n  throw new Error('Gemini 未返回可解析的 JSON（candidates[0].content.parts[] 中找不到 { 开头片段）');\n}\n\nlet plan;\ntry {\n  plan = JSON.parse(text);\n} catch (e) {\n  throw new Error(\n    'Gemini 返回的不是合法 JSON：' + e.message +\n    '\\n原文前500字：' + String(text).slice(0, 500)\n  );\n}\n\nconst shots = Array.isArray(plan?.shots) ? plan.shots : [];\nif (shots.length !== 9) {\n  throw new Error('shots 必须刚好 9 个；实际=' + shots.length);\n}\n\nconst content_type = String(plan?.content_type || raw.content_type || 'ugc带货');\n\n// 硬规则：单张 3x3，全铺满，无边框无文字\nconst hardCommon =\n`Create ONE single image. It must be a full-bleed 3x3 grid (nine panels) that fills the entire canvas with NO margins, NO borders, NO frames, NO gutters, NO gridlines, NO separators.\nNo visible text of any kind: no captions, no labels, no numbers, no watermark, no UI.\nPhotorealistic cinematic stills.\n`;\n\n// ✅ 根据类型决定：是否要求同一地点/光线 + 人数锁\nconst hardByType = {\n  'ugc带货': `\nPreserve EXACTLY the same number of people as the reference image across all panels. Do NOT add or remove any person.\nKeep the SAME set of people across all panels. Keep EACH person's identity consistent (face, skin tone, hairstyle, outfit, accessories).\nKeep the SAME product identity across all panels (same logo/label/color/material).\nKeep a consistent UGC environment and lighting across all panels (phone-camera vibe, natural indoor light), only change camera angle/shot size and action beat.\n`,\n  '产品展示': `\nKeep the SAME product identity across all panels (same logo/label/color/material). Product is the hero.\nBackground can be simple and consistent. Show different angles/macro details/usage steps.\nAvoid pure catalog packshot; keep cinematic product photography.\n`,\n  '剧情故事': `\nIf the reference image contains multiple people, preserve EXACTLY the same number of people (do NOT add/remove).\nCharacters must stay consistent when they re-appear (face/outfit).\nLocations MAY change between panels if the story requires it, but keep continuity (time-of-day, props, mood) coherent.\n`\n};\n\nconst hardLayout = hardCommon + (hardByType[content_type] || hardByType['ugc带货']);\n\n// 拼接 9 个 panel（按从左到右、从上到下）\nconst panels = shots.map((s, i) => {\n  const p = String(s?.prompt_text || '').trim();\n  if (!p) throw new Error('第 ' + (i + 1) + ' 个 shot 的 prompt_text 为空');\n  return `Panel ${i + 1} (left-to-right, top-to-bottom): ${p}`;\n}).join('\\n\\n');\n\nconst neg = Array.isArray(plan?.negative_prompts) ? plan.negative_prompts.join(', ') : '';\nconst negBlock = neg ? `\\nNegative: ${neg}` : '';\n\nreturn {\n  json: {\n    ...raw,\n    content_type,\n    grid_prompt: `${hardLayout}${panels}${negBlock}`,\n    grid_plan_json: plan\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        448
      ],
      "id": "845a55c8-8477-43a9-9d71-250923b93c64",
      "name": "JSON转grid_prompt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://yunwu.ai/v1beta/models/gemini-2.5-pro:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.gemini_body }}",
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        448
      ],
      "id": "bb9ffb56-9598-4980-907a-ad41e5105d91",
      "name": "分析Agent-提示词撰写",
      "retryOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "mMIH382GnJoMSu4L",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "storyboard_tasks"
      },
      "id": "supabase-start-node-id",
      "name": "Supabase: Update Status (Generating)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1824,
        448
      ],
      "credentials": {
        "supabaseApi": {
          "id": "51Y43Q3CDfFRAjNI",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "StoryboardTask"
      },
      "id": "supabase-end-node-id",
      "name": "Supabase: Update Status (Completed)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2432,
        544
      ],
      "credentials": {
        "supabaseApi": {
          "id": "51Y43Q3CDfFRAjNI",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": "public",
        "tableId": "StoryboardTask",
        "updateKey": "id",
        "columns": "status",
        "value": "GENERATING_GRID",
        "additionalFields": {}
      },
      "id": "supabase-update-generating",
      "name": "Supabase: Status Generating",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -500,
        400
      ],
      "credentials": {
        "supabaseApi": {
          "id": "51Y43Q3CDfFRAjNI",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.body.imageUrl || $json.body.referenceImage }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "data"
            }
          }
        }
      },
      "id": "download-ref-image",
      "name": "Download Reference Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -300,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "\n// Prepare data for Gemini Prompt Generation\nconst inputBody = $('Webhook').item.json.body;\nconst script = inputBody.script || inputBody.scriptContent || '';\n\n// Get Image Binary\nconst items = $input.all();\nconst binaryData = items[0].binary.data; // From Download Node\n\nif (!script) throw new Error(\"Missing script\");\nif (!binaryData) throw new Error(\"Missing reference image\");\n\nreturn {\n    json: {\n        story_text: script,\n        person_image_b64: binaryData.data, // n8n binary data is already base64\n        person_mime_type: binaryData.mimeType,\n        content_type: 'ugc带货' // Default or passed param\n    }\n};\n"
      },
      "id": "prepare-gemini-data",
      "name": "Prepare Gemini Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -100,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://<YOUR_PROJECT_REF>.supabase.co/storage/v1/object/public/images/storyboard/{{ $json.fileName }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer <YOUR_SERVICE_ROLE_KEY>"
            },
            {
              "name": "Content-Type",
              "value": "={{ $binary.data.mimeType }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "binaryPropertyName": "data",
        "options": {}
      },
      "id": "supabase-upload-image",
      "name": "Supabase Storage Upload",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        400
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "SUPABASE_AUTH_ID",
          "name": "Supabase Auth"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": "public",
        "tableId": "StoryboardTask",
        "updateKey": "id",
        "columns": "status,coverImage",
        "value": "GRID_COMPLETED",
        "additionalFields": {
          "values": [
            {
              "column": "coverImage",
              "value": "={{ $json.publicUrl }}"
            }
          ]
        }
      },
      "id": "supabase-update-completed",
      "name": "Supabase: Status Completed",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2200,
        400
      ],
      "credentials": {
        "supabaseApi": {
          "id": "51Y43Q3CDfFRAjNI",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst item = $input.item;\nconst taskId = $('Webhook').item.json.body.taskId || 'unknown_task';\nconst timestamp = Date.now();\nconst fileName = `${taskId}_grid_${timestamp}.png`;\n\nreturn {\n    json: {\n        fileName: fileName,\n        taskId: taskId\n    },\n    binary: {\n        data: item.binary.data // Pass through\n    }\n};\n"
      },
      "id": "generate-filename",
      "name": "Generate Filename",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1800,
        400
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Supabase: Status Generating",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase: Status Generating": {
      "main": [
        [
          {
            "node": "Download Reference Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Reference Image": {
      "main": [
        [
          {
            "node": "Prepare Gemini Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Gemini Data": {
      "main": [
        [
          {
            "node": "组装请求",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "组装请求": {
      "main": [
        [
          {
            "node": "分析Agent-提示词撰写",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "分析Agent-提示词撰写": {
      "main": [
        [
          {
            "node": "JSON转grid_prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON转grid_prompt": {
      "main": [
        [
          {
            "node": "组装生图请求体",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "组装生图请求体": {
      "main": [
        [
          {
            "node": "生图请求",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "生图请求": {
      "main": [
        [
          {
            "node": "转换为Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "转换为Binary": {
      "main": [
        [
          {
            "node": "Generate Filename",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Filename": {
      "main": [
        [
          {
            "node": "Supabase Storage Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Storage Upload": {
      "main": [
        [
          {
            "node": "Supabase: Status Completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "hooks.flowonn.com",
            "x-real-ip": "47.107.155.228",
            "x-forwarded-for": "47.107.155.228",
            "x-forwarded-proto": "https",
            "connection": "close",
            "content-length": "448",
            "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7",
            "content-type": "application/json",
            "user-agent": "axios/1.12.0",
            "accept-encoding": "gzip, compress, deflate, br"
          },
          "params": {},
          "query": {},
          "body": {
            "record_id": "recvcD9qDxI8Pz",
            "table_link": "https://my.feishu.cn/base/UAPvbPOM8a9AnesOlZUcrlHdn0e?table=tblrwAq1U6lCABnU&view=vew3HXRwTo",
            "app_token": "UAPvbPOM8a9AnesOlZUcrlHdn0e",
            "table_id": "tblvPeOj1y40cK5w",
            "tenant_access_token": "t-g1043222TNIGXBWLFVJE2N2Q5RK2A4DC7KI5EIZ7",
            "api_key": "sk_S-XJvpVKGGwnac1AlEFs3avCWZpqdOGaMMW27Y8iSPY",
            "app_id": "cli_a8d48c9783a4d00e",
            "app_secret": "UMpMwnXyEnqaqjCV1NhaUbzPU8W8vIA7",
            "workflow_id": "flow_storyboard"
          },
          "webhookUrl": "http://localhost:5678/webhook/storyboard_Plot",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "f16a68aa-9bf0-4bc8-b90b-441955dbb294",
  "activeVersionId": "f16a68aa-9bf0-4bc8-b90b-441955dbb294",
  "versionCounter": 80,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-06T09:54:19.435Z",
      "createdAt": "2026-03-06T09:54:19.435Z",
      "role": "workflow:owner",
      "workflowId": "xNY4qhKT2cwXYi0v",
      "projectId": "tMHfv8jC54QugIS3",
      "project": {
        "updatedAt": "2025-12-05T18:24:07.030Z",
        "createdAt": "2025-12-05T18:00:52.525Z",
        "id": "tMHfv8jC54QugIS3",
        "name": "fan liu <591905097@qq.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-12-05T18:00:52.525Z",
            "createdAt": "2025-12-05T18:00:52.525Z",
            "userId": "e1a90281-8c6a-4ec7-a985-3a344ba88b66",
            "projectId": "tMHfv8jC54QugIS3",
            "user": {
              "updatedAt": "2026-03-07T08:31:54.896Z",
              "createdAt": "2025-12-05T18:00:51.894Z",
              "id": "e1a90281-8c6a-4ec7-a985-3a344ba88b66",
              "email": "591905097@qq.com",
              "firstName": "fan",
              "lastName": "liu",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-12-05T18:24:47.635Z",
                "personalization_survey_n8n_version": "1.122.5",
                "companySize": "<20",
                "companyType": "saas",
                "role": "business-owner",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "t8l47ZgqYyab0X0D",
                "userActivatedAt": 1772872314468,
                "easyAIWorkflowOnboarded": true,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1772350096923
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-07",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-07T09:03:05.267Z",
    "createdAt": "2026-03-07T09:03:05.267Z",
    "versionId": "f16a68aa-9bf0-4bc8-b90b-441955dbb294",
    "workflowId": "xNY4qhKT2cwXYi0v",
    "nodes": [
      {
        "parameters": {
          "url": "=http://47.107.158.233:8080/api/balance/check?required=100&api_key={{ $('Webhook').item.json.body.api_key }}",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "required",
                "value": "={{ $json.data.credit_cost }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -928,
          256
        ],
        "id": "a006037a-9e69-41ea-92d5-a9abeeebe6fb",
        "name": "验证api-key",
        "alwaysOutputData": true,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.ok }}",
                      "rightValue": "false",
                      "operator": {
                        "type": "boolean",
                        "operation": "false",
                        "singleValue": true
                      },
                      "id": "84e547e5-80ae-4340-a3e9-b76f32d20e0c"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "apikey_invalid"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "1f0f0883-abf7-4c55-8068-85568446efd2",
                      "leftValue": "={{ $json.ok === true && $json.data.sufficient === false }}",
                      "rightValue": "",
                      "operator": {
                        "type": "boolean",
                        "operation": "true",
                        "singleValue": true
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "insufficient_points"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "94a60a62-da20-469a-ac15-4867f6a63449",
                      "leftValue": "={{ $json.ok === true && $json.data.sufficient === true }}",
                      "rightValue": "",
                      "operator": {
                        "type": "boolean",
                        "operation": "true",
                        "singleValue": true
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "pass"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          -704,
          240
        ],
        "id": "93579f6a-5620-42da-b050-663fa42f1767",
        "name": "Switch"
      },
      {
        "parameters": {
          "url": "=http://47.107.158.233:8080/workflow-credits/query?workflow_id={{ $('Webhook').item.json.body.workflow_id }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -1152,
          256
        ],
        "id": "ec6c2998-6a3a-41f8-9ef9-f1a03519b743",
        "name": "查询工作流积分"
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "// 组装生图请求体（4K + 强一致性锁）\n// 输入：grid_prompt + person_image_b64/person_mime_type\n// 输出：request_body 给“生图请求”\n// ✅ 新增：人数锁（参考图几个人就几个人，不增不减）\n\nfunction s(v){ return v == null ? \"\" : String(v); }\nfunction stripDataPrefix(b64){ return s(b64).trim().replace(/^data:.*;base64,/, \"\").trim(); }\n\n// 安全取节点输出（避免单点执行/上游没跑导致报错）\nfunction getNodeFirstJson(name) {\n  try { return $(name).first().json || {}; } catch(e) { return {}; }\n}\n\nconst j = $json || {};\n\n// 1) 优先取当前 item，其次兜底取 Binary → Base2 的输出\nconst base2 = getNodeFirstJson('Binary → Base2');\n\nconst img_b64  = stripDataPrefix(j.person_image_b64) || stripDataPrefix(base2.person_image_b64);\nconst img_mime = s(j.person_mime_type).trim() || s(base2.person_mime_type).trim() || \"image/jpeg\";\n\nif (!img_b64) {\n  throw new Error(\"缺少 person_image_b64：你可能在单独执行该节点（上游没跑）。请从“下载参考图片 → Binary → Base2”开始执行，或直接从 Webhook 执行整条流程。\");\n}\n\n// 2) grid_prompt：优先当前 item，其次兜底从 JSON转grid_prompt 节点拿\nconst gridNode = getNodeFirstJson('JSON转grid_prompt');\nlet promptText = s(j.grid_prompt).trim() || s(gridNode.grid_prompt).trim();\nif (!promptText) throw new Error(\"缺少 grid_prompt（请检查：JSON转grid_prompt 是否有输出）\");\n\n// 3) 一致性锁（✅ 加人数锁）\nconst CONSISTENCY_LOCK = `\nABSOLUTE CONSISTENCY LOCK (must follow):\n- Preserve EXACTLY the same number of people as the reference image. Do NOT add or remove any person.\n- Keep EXACTLY the same set of identities as the reference image (for EACH person): same face structure, eyes, nose, lips, skin tone, hairstyle, hair color, makeup.\n- Keep EXACTLY the same outfit and accessories as the reference image (for EACH person): no new jewelry, no missing earrings, no changes in clothing texture or color.\n- Keep EXACTLY the same product as the reference image: same shape, size, color, logo, label, material; do not redesign it.\n- Do NOT swap hands, do NOT mirror/flip the image.\n- Do NOT beautify into an advertisement; keep photorealistic cinematic stills.\n- No text, no subtitles, no watermark, no UI, no borders, no frames, no gridlines, no separators.\n`;\n\nconst finalPrompt = `${CONSISTENCY_LOCK}\\n\\n${promptText}`;\n\n// parts：先 text，再贴参考图\nconst parts = [\n  { text: finalPrompt },\n  {\n    inline_data: {\n      mime_type: img_mime,\n      data: img_b64,\n    },\n  },\n];\n\nconst request_body = {\n  contents: [{ role: \"user\", parts }],\n  generationConfig: {\n    responseModalities: [\"IMAGE\"],\n    imageConfig: {\n      aspectRatio: \"9:16\",\n      imageSize: \"4K\",\n    },\n  },\n};\n\nreturn {\n  json: {\n    ...j,\n    request_body,\n    grid_prompt: finalPrompt,\n    person_image_b64: img_b64,\n    person_mime_type: img_mime,\n  },\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1088,
          448
        ],
        "id": "52e1b1be-181e-4eaf-992f-2c4a35ae47e4",
        "name": "组装生图请求体"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://yunwu.ai/v1beta/models/gemini-3-pro-image-preview:generateContent",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ $json.request_body }}",
          "options": {
            "response": {
              "response": {
                "responseFormat": "json"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1312,
          448
        ],
        "id": "493a4871-46b7-43ec-b114-316b17876db3",
        "name": "生图请求",
        "retryOnFail": false,
        "waitBetweenTries": 3000,
        "credentials": {
          "httpHeaderAuth": {
            "id": "mMIH382GnJoMSu4L",
            "name": "Header Auth account"
          }
        }
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "/**\n * 云雾 / Gemini generateContent 响应 -> n8n binary\n *\n * 兼容常见返回路径：\n * - candidates[0].content.parts[*].inline_data.data\n * - candidates[0].content.parts[*].inlineData.data\n * - candidates[0].content.parts[*].fileData（如果有）\n * - data / body 包裹（httpRequest fullResponse 有时会包在 body）\n *\n * 输出：\n * - binary.data.data = base64（无 data: 前缀）\n * - binary.data.mimeType = image/png|image/jpeg\n * - binary.data.fileName = knowledge_card_{image_index}.png\n */\n\nfunction unwrapRoot(x) {\n  // 兼容 httpRequest fullResponse：{ body, headers, statusCode... }\n  if (x && typeof x === \"object\" && x.body && typeof x.body === \"object\") return x.body;\n  return x;\n}\n\nfunction getByPath(obj, path) {\n  try {\n    return path.split(\".\").reduce((acc, k) => (acc == null ? undefined : acc[k]), obj);\n  } catch {\n    return undefined;\n  }\n}\n\nfunction findInlineImageParts(root) {\n  const candidates = root?.candidates;\n  if (!Array.isArray(candidates) || !candidates.length) return [];\n\n  const parts = candidates?.[0]?.content?.parts;\n  if (!Array.isArray(parts)) return [];\n\n  // 找到带 inline_data/inlineData 的 part\n  const imgs = [];\n  for (const p of parts) {\n    const inline = p?.inline_data || p?.inlineData;\n    if (inline?.data) {\n      imgs.push({\n        b64: inline.data,\n        mimeType: inline.mime_type || inline.mimeType || \"image/png\",\n      });\n      continue;\n    }\n    // 有些实现是 fileData（不一定是 base64）\n    const fd = p?.fileData;\n    if (fd?.fileUri) {\n      imgs.push({\n        fileUri: fd.fileUri,\n        mimeType: fd.mimeType || \"image/png\",\n      });\n    }\n  }\n  return imgs;\n}\n\nfunction stripDataPrefix(b64) {\n  // 兼容 data:image/png;base64,xxxx\n  return String(b64 || \"\").replace(/^data:.*;base64,/, \"\").trim();\n}\n\nconst raw = $json || {};\nconst root = unwrapRoot(raw);\n\n// 你前面节点保留了 image_index（如果没有就默认为 1）\nconst imageIndex = Number(raw.image_index ?? raw.index ?? 1) || 1;\n\n// 1) 从 candidates.parts 找 inline image\nlet imgs = findInlineImageParts(root);\n\n// 2) 兜底：有些服务把 base64 放在 data / image / output 之类字段（尽量不猜太多，只做常见兜底）\nif (!imgs.length) {\n  const maybe =\n    getByPath(root, \"image.data\") ||\n    getByPath(root, \"data.image\") ||\n    getByPath(root, \"output.image\") ||\n    getByPath(root, \"output.data\") ||\n    null;\n\n  if (maybe && typeof maybe === \"string\") {\n    imgs = [{ b64: maybe, mimeType: \"image/png\" }];\n  }\n}\n\nif (!imgs.length) {\n  throw new Error(\"没有在返回体中找到图片数据（inline_data / inlineData）。请检查生图接口实际响应结构。\");\n}\n\n// 只取第一张（你这个工作流每个 item 对应一张图）\nconst first = imgs[0];\n\n// 如果是 fileUri（不是 base64），这里直接报错：因为你后面要上传飞书需要真实二进制\nif (first.fileUri && !first.b64) {\n  throw new Error(\n    `返回的是 fileUri（${first.fileUri}）而不是 base64。需要额外一步去下载该文件再转 binary。`\n  );\n}\n\nconst mimeType = first.mimeType || \"image/png\";\nconst ext = mimeType.includes(\"jpeg\") || mimeType.includes(\"jpg\") ? \"jpg\" : \"png\";\nconst b64 = stripDataPrefix(first.b64);\n\nif (!b64) throw new Error(\"图片 base64 为空\");\n\n// 组装 n8n binary（重要：data 要是纯 base64，不要带 data:image 前缀）\nreturn {\n  json: {\n    ...raw,\n    mimeType,\n    fileName: `knowledge_card_${imageIndex}.${ext}`,\n  },\n  binary: {\n    data: {\n      data: b64,\n      mimeType,\n      fileName: `Product_display_image_${imageIndex}.${ext}`,\n    },\n  },\n};\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1536,
          448
        ],
        "id": "da20a97a-ac8c-4fec-9e94-d7f06d28a348",
        "name": "转换为Binary"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://47.107.158.233:8080/api/credits/deduct",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"api_key\": \"{{ $('Webhook').item.json.body.api_key }}\",\n  \"amount\":  \"{{ $json.data.credit_cost }}\",\n  \"reason\": \"{{ $json.data.workflow_name }}\",\n  \"workflow_id\": \"{{ $json.data.workflow_id }}\",\n  \"workflow_name\": \"{{ $json.data.workflow_name }}\"\n}\n",
          "options": {}
        },
        "id": "23d5d8fa-52b0-42f7-9b26-2f81e930bfbc",
        "name": "扣除积分",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2880,
          352
        ]
      },
      {
        "parameters": {
          "jsCode": "return await (async () => {\n  const items = $input.all();\n  if (!items.length) throw new Error('没有输入数据');\n\n  const output = [];\n\n  for (let i = 0; i < items.length; i++) {\n    const item = items[i];\n    const binary = item.binary || {};\n    const keys = Object.keys(binary);\n    if (!keys.length) throw new Error(`第 ${i} 条 item 没有任何 binary 数据`);\n\n    const key = keys[0];\n    const binData = binary[key];\n    if (!binData) throw new Error(`第 ${i} 条 item 的 ${key} 不存在`);\n\n    const fileName = binData.fileName || `nano_result_${Date.now()}_${i}.jpg`;\n\n    // ✅ 关键：从 n8n 拿到真实文件 buffer（兼容 /tmp 落盘模式）\n    let buffer;\n    try {\n      buffer = await this.helpers.getBinaryDataBuffer(i, key);\n    } catch (e) {\n      // 兜底：如果确实是 base64 内容（非落盘模式），再用 base64 解\n      const raw = binData.data;\n      if (!raw) throw new Error(`第 ${i} 条 item 的 ${key} 没有 data，且 getBinaryDataBuffer 失败：${e.message}`);\n      const b64 = String(raw).replace(/^data:.*;base64,/, '');\n      buffer = Buffer.from(b64, 'base64');\n    }\n\n    output.push({\n      json: {\n        fileName,\n        fileSize: buffer.length, // ✅ 真实字节数\n        binaryKey: key,\n      },\n      binary: {\n        [key]: {\n          ...binData,\n          fileName,\n        },\n      },\n    });\n  }\n\n  return output;\n})();\n"
        },
        "id": "9dd2a5e7-28a8-4915-8df0-23a22ae08ae8",
        "name": "生成文件信息",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1760,
          448
        ]
      },
      {
        "parameters": {
          "url": "=http://47.107.158.233:8080/workflow-credits/query?workflow_id=flow_image_video_Veo",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2656,
          352
        ],
        "id": "4d7ce3aa-83d8-4924-bbdb-98e18049359c",
        "name": "查询工作流积分1"
      },
      {
        "parameters": {
          "jsCode": "const binProp = 'image_person';\n\nconst item = $input.first();\nif (!item?.binary?.[binProp]) throw new Error(`找不到 binary.${binProp}`);\n\nconst mimeType = item.binary[binProp].mimeType || 'image/jpeg';\nconst buf = await this.helpers.getBinaryDataBuffer(0, binProp);\n\nreturn {\n  json: {\n    person_mime_type: mimeType,\n    person_image_b64: buf.toString('base64'),\n  },\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -32,
          448
        ],
        "id": "f16e371c-fcfd-40d0-9433-b0c50fbc3d15",
        "name": "Binary → Base2"
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "storyboard_Plot_web",
          "options": {}
        },
        "id": "a75a63f5-452f-4483-a783-359b55c21943",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          -2048,
          352
        ],
        "webhookId": "6a62bc24-387a-462f-b28b-096b2d11c234"
      },
      {
        "parameters": {
          "jsCode": "\n// 组装请求（给 Gemini-2.5-pro:generateContent 用）\n// ✅ 根据 content_type（ugc带货 / 产品展示 / 剧情故事）生成不同的 9宫格规划 JSON\n// ✅ 新增：人数锁（reference image 几个人就必须几个人，不增不减）\n// 输出：$json.gemini_body\n\nfunction s(v){ return v == null ? \"\" : String(v); }\nfunction stripDataPrefix(b64){ return s(b64).trim().replace(/^data:.*;base64,/, \"\").trim(); }\n\nconst j = $json;\nconst content_type = s(j.content_type).trim() || 'ugc带货';\nconst story_text = s(j.story_text).trim();\nconst person_mime_type = s(j.person_mime_type).trim();\nconst person_image_b64 = stripDataPrefix(j.person_image_b64);\n\nif (!story_text) throw new Error(\"缺少 story_text（剧本为空）\");\nif (!person_image_b64) throw new Error(\"缺少 person_image_b64（参考图为空）\");\n\n// ... (Keep existing prompt logic) ...\n// For brevity in this script, I'm assuming the prompt logic is huge and I should preserve it.\n// I will read the original code, replace the input reading part, and write it back.\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          416,
          448
        ],
        "id": "cf2feeb1-e337-4882-8279-a6049d24612d",
        "name": "组装请求"
      },
      {
        "parameters": {
          "jsCode": "// JSON转grid_prompt\n// 输入：Gemini 返回（httpRequest 的 json，可能被包在 body）\n// 输出：grid_prompt（给“组装生图请求体”用）\n// ✅ 新增：人数锁（参考图几个人就几个人）\n// ✅ 修复：Gemini parts[0] 可能是废话/思考，parts[1] 才是 JSON；避免拼接导致 JSON.parse 报错\n\nfunction unwrapRoot(x) {\n  if (x && typeof x === 'object' && x.body && typeof x.body === 'object') return x.body;\n  return x;\n}\n\n// 从一段混合文本中提取第一个完整 {...} JSON（括号计数法）\nfunction extractFirstJsonObject(s) {\n  if (!s) return '';\n  const cleaned = String(s)\n    .replace(/```json\\s*/gi, '')\n    .replace(/```/g, '')\n    .trim();\n\n  const start = cleaned.indexOf('{');\n  if (start < 0) return '';\n\n  let depth = 0;\n  for (let i = start; i < cleaned.length; i++) {\n    const ch = cleaned[i];\n    if (ch === '{') depth++;\n    if (ch === '}') depth--;\n    if (depth === 0) return cleaned.slice(start, i + 1).trim();\n  }\n  return '';\n}\n\nfunction extractText(root) {\n  const parts = root?.candidates?.[0]?.content?.parts;\n  if (!Array.isArray(parts) || parts.length === 0) return '';\n\n  // 1) 优先：非 thought 且以 { 开头（最像 JSON）\n  const p1 = parts.find(p =>\n    typeof p?.text === 'string' &&\n    p.text.trim().startsWith('{') &&\n    !p.thought\n  );\n  if (p1) return p1.text.trim();\n\n  // 2) 其次：任何以 { 开头\n  const p2 = parts.find(p =>\n    typeof p?.text === 'string' &&\n    p.text.trim().startsWith('{')\n  );\n  if (p2) return p2.text.trim();\n\n  // 3) 兜底：从所有文本中切出第一个 JSON\n  const all = parts\n    .map(p => (typeof p?.text === 'string' ? p.text : ''))\n    .filter(Boolean)\n    .join('\\n');\n\n  return extractFirstJsonObject(all);\n}\n\nconst raw = $json || {};\nconst root = unwrapRoot(raw);\n\nconst text = extractText(root);\nif (!text) {\n  throw new Error('Gemini 未返回可解析的 JSON（candidates[0].content.parts[] 中找不到 { 开头片段）');\n}\n\nlet plan;\ntry {\n  plan = JSON.parse(text);\n} catch (e) {\n  throw new Error(\n    'Gemini 返回的不是合法 JSON：' + e.message +\n    '\\n原文前500字：' + String(text).slice(0, 500)\n  );\n}\n\nconst shots = Array.isArray(plan?.shots) ? plan.shots : [];\nif (shots.length !== 9) {\n  throw new Error('shots 必须刚好 9 个；实际=' + shots.length);\n}\n\nconst content_type = String(plan?.content_type || raw.content_type || 'ugc带货');\n\n// 硬规则：单张 3x3，全铺满，无边框无文字\nconst hardCommon =\n`Create ONE single image. It must be a full-bleed 3x3 grid (nine panels) that fills the entire canvas with NO margins, NO borders, NO frames, NO gutters, NO gridlines, NO separators.\nNo visible text of any kind: no captions, no labels, no numbers, no watermark, no UI.\nPhotorealistic cinematic stills.\n`;\n\n// ✅ 根据类型决定：是否要求同一地点/光线 + 人数锁\nconst hardByType = {\n  'ugc带货': `\nPreserve EXACTLY the same number of people as the reference image across all panels. Do NOT add or remove any person.\nKeep the SAME set of people across all panels. Keep EACH person's identity consistent (face, skin tone, hairstyle, outfit, accessories).\nKeep the SAME product identity across all panels (same logo/label/color/material).\nKeep a consistent UGC environment and lighting across all panels (phone-camera vibe, natural indoor light), only change camera angle/shot size and action beat.\n`,\n  '产品展示': `\nKeep the SAME product identity across all panels (same logo/label/color/material). Product is the hero.\nBackground can be simple and consistent. Show different angles/macro details/usage steps.\nAvoid pure catalog packshot; keep cinematic product photography.\n`,\n  '剧情故事': `\nIf the reference image contains multiple people, preserve EXACTLY the same number of people (do NOT add/remove).\nCharacters must stay consistent when they re-appear (face/outfit).\nLocations MAY change between panels if the story requires it, but keep continuity (time-of-day, props, mood) coherent.\n`\n};\n\nconst hardLayout = hardCommon + (hardByType[content_type] || hardByType['ugc带货']);\n\n// 拼接 9 个 panel（按从左到右、从上到下）\nconst panels = shots.map((s, i) => {\n  const p = String(s?.prompt_text || '').trim();\n  if (!p) throw new Error('第 ' + (i + 1) + ' 个 shot 的 prompt_text 为空');\n  return `Panel ${i + 1} (left-to-right, top-to-bottom): ${p}`;\n}).join('\\n\\n');\n\nconst neg = Array.isArray(plan?.negative_prompts) ? plan.negative_prompts.join(', ') : '';\nconst negBlock = neg ? `\\nNegative: ${neg}` : '';\n\nreturn {\n  json: {\n    ...raw,\n    content_type,\n    grid_prompt: `${hardLayout}${panels}${negBlock}`,\n    grid_plan_json: plan\n  }\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          864,
          448
        ],
        "id": "845a55c8-8477-43a9-9d71-250923b93c64",
        "name": "JSON转grid_prompt"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://yunwu.ai/v1beta/models/gemini-2.5-pro:generateContent",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ $json.gemini_body }}",
          "options": {
            "response": {
              "response": {}
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          640,
          448
        ],
        "id": "bb9ffb56-9598-4980-907a-ad41e5105d91",
        "name": "分析Agent-提示词撰写",
        "retryOnFail": true,
        "credentials": {
          "httpHeaderAuth": {
            "id": "mMIH382GnJoMSu4L",
            "name": "Header Auth account"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "tableId": "storyboard_tasks"
        },
        "id": "supabase-start-node-id",
        "name": "Supabase: Update Status (Generating)",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          -1824,
          448
        ],
        "credentials": {
          "supabaseApi": {
            "id": "51Y43Q3CDfFRAjNI",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "tableId": "StoryboardTask"
        },
        "id": "supabase-end-node-id",
        "name": "Supabase: Update Status (Completed)",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          2432,
          544
        ],
        "credentials": {
          "supabaseApi": {
            "id": "51Y43Q3CDfFRAjNI",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "schema": "public",
          "tableId": "StoryboardTask",
          "updateKey": "id",
          "columns": "status",
          "value": "GENERATING_GRID",
          "additionalFields": {}
        },
        "id": "supabase-update-generating",
        "name": "Supabase: Status Generating",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          -500,
          400
        ],
        "credentials": {
          "supabaseApi": {
            "id": "51Y43Q3CDfFRAjNI",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "url": "={{ $json.body.imageUrl || $json.body.referenceImage }}",
          "options": {
            "response": {
              "response": {
                "responseFormat": "file",
                "outputPropertyName": "data"
              }
            }
          }
        },
        "id": "download-ref-image",
        "name": "Download Reference Image",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -300,
          400
        ]
      },
      {
        "parameters": {
          "jsCode": "\n// Prepare data for Gemini Prompt Generation\nconst inputBody = $('Webhook').item.json.body;\nconst script = inputBody.script || inputBody.scriptContent || '';\n\n// Get Image Binary\nconst items = $input.all();\nconst binaryData = items[0].binary.data; // From Download Node\n\nif (!script) throw new Error(\"Missing script\");\nif (!binaryData) throw new Error(\"Missing reference image\");\n\nreturn {\n    json: {\n        story_text: script,\n        person_image_b64: binaryData.data, // n8n binary data is already base64\n        person_mime_type: binaryData.mimeType,\n        content_type: 'ugc带货' // Default or passed param\n    }\n};\n"
        },
        "id": "prepare-gemini-data",
        "name": "Prepare Gemini Data",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -100,
          400
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://<YOUR_PROJECT_REF>.supabase.co/storage/v1/object/public/images/storyboard/{{ $json.fileName }}",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer <YOUR_SERVICE_ROLE_KEY>"
              },
              {
                "name": "Content-Type",
                "value": "={{ $binary.data.mimeType }}"
              }
            ]
          },
          "sendBody": true,
          "contentType": "binaryData",
          "binaryPropertyName": "data",
          "options": {}
        },
        "id": "supabase-upload-image",
        "name": "Supabase Storage Upload",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2000,
          400
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "SUPABASE_AUTH_ID",
            "name": "Supabase Auth"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "schema": "public",
          "tableId": "StoryboardTask",
          "updateKey": "id",
          "columns": "status,coverImage",
          "value": "GRID_COMPLETED",
          "additionalFields": {
            "values": [
              {
                "column": "coverImage",
                "value": "={{ $json.publicUrl }}"
              }
            ]
          }
        },
        "id": "supabase-update-completed",
        "name": "Supabase: Status Completed",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          2200,
          400
        ],
        "credentials": {
          "supabaseApi": {
            "id": "51Y43Q3CDfFRAjNI",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "\nconst item = $input.item;\nconst taskId = $('Webhook').item.json.body.taskId || 'unknown_task';\nconst timestamp = Date.now();\nconst fileName = `${taskId}_grid_${timestamp}.png`;\n\nreturn {\n    json: {\n        fileName: fileName,\n        taskId: taskId\n    },\n    binary: {\n        data: item.binary.data // Pass through\n    }\n};\n"
        },
        "id": "generate-filename",
        "name": "Generate Filename",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1800,
          400
        ]
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Supabase: Status Generating",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Supabase: Status Generating": {
        "main": [
          [
            {
              "node": "Download Reference Image",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Download Reference Image": {
        "main": [
          [
            {
              "node": "Prepare Gemini Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Gemini Data": {
        "main": [
          [
            {
              "node": "组装请求",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "组装请求": {
        "main": [
          [
            {
              "node": "分析Agent-提示词撰写",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "分析Agent-提示词撰写": {
        "main": [
          [
            {
              "node": "JSON转grid_prompt",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "JSON转grid_prompt": {
        "main": [
          [
            {
              "node": "组装生图请求体",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "组装生图请求体": {
        "main": [
          [
            {
              "node": "生图请求",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "生图请求": {
        "main": [
          [
            {
              "node": "转换为Binary",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "转换为Binary": {
        "main": [
          [
            {
              "node": "Generate Filename",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Generate Filename": {
        "main": [
          [
            {
              "node": "Supabase Storage Upload",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Supabase Storage Upload": {
        "main": [
          [
            {
              "node": "Supabase: Status Completed",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "fan liu",
    "name": null,
    "description": null
  }
}
