n8n/sora2视频生成-发起-内容工厂.json
{
  "name": "sora2视频生成-发起-内容工厂",
  "nodes": [
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://open.feishu.cn/open-apis/bitable/v1/apps/{{ $('子流程入口-sora').item.json.body.app_token }}/tables/{{ $('子流程入口-sora').item.json.body.table_id }}/records/{{ $('子流程入口-sora').item.json.body.record_id }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "user_id_type",
              "value": "open_id"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Auth:getAccessToken auth1').item.json.tenant_access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"fields\": {\n    \"任务进度\": \"正在生成视频\"\n  }\n}",
        "options": {}
      },
      "id": "c824e1be-61b2-48e1-8dc7-5bda82bbfde7",
      "name": "写入任务ID-生成中",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2032,
        64
      ]
    },
    {
      "parameters": {
        "url": "https://open.feishu.cn/open-apis/drive/v1/medias/batch_get_tmp_download_url",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "file_tokens",
              "value": "={{ $('子流程入口-sora').item.json.body.image_1_token }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Auth:getAccessToken auth1').item.json.app_access_token }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "1ae22012-be32-4e80-8247-4e3683d90e5c",
      "name": "获取图片链接",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        432,
        -32
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sora_videoV4",
        "options": {}
      },
      "id": "95efecaa-3991-4dd4-86be-aa29be018570",
      "name": "子流程入口-sora",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -240,
        64
      ],
      "webhookId": "a7e7a85a-4d23-4499-8eae-2a5053c28a38"
    },
    {
      "parameters": {
        "jsCode": "const payload = $('子流程入口-sora').item.json.body || {};\nconst imageResponse = $('获取图片链接').item.json || {};\nconst imageUrl = imageResponse?.body?.data?.tmp_download_urls?.[0]?.tmp_download_url;\n\nif (!imageUrl) {\n  throw new Error('获取图片链接节点没有拿到 tmp_download_url');\n}\n\nconst requestBody = {\n  model: 'sora-2-all',\n  input: {\n    prompt: payload.prompt || '',\n    image_urls: [imageUrl],\n    aspect_ratio: payload.aspect_ratio, // 这里允许 9:16，后面清洗节点会转 portrait/landscape\n    n_frames: payload.n_frames || '15',\n    remove_watermark: true\n  }\n};\n\nreturn {\n  json: {\n    requestBody,\n\n    // 父表上下文（原有）\n    record_id: payload.record_id,\n    app_token: payload.app_token,\n    table_id: payload.table_id,\n    tenant_access_token: payload.tenant_access_token,\n    workflow_id_for_credits: payload.workflow_id_for_credits,\n    api_key: payload.api_key,\n\n    // ✅ 子表定位（新增：必须透传到清洗提示词，才能进入 callbackUrl）\n    out_app_token: payload.out_app_token,\n    out_table_id: payload.out_table_id,\n\n    // （可选）你以后做批次/占位行会用到，先透传不亏\n    batch_id: payload.batch_id,\n    child_record_id: payload.child_record_id\n  }\n};\n"
      },
      "id": "01ec9fe0-1d42-41f3-b48f-2c0ddfd68aac",
      "name": "准备图生视频参数-sora",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        -32
      ]
    },
    {
      "parameters": {
        "jsCode": "/**\n * 准备视频参数-云雾（/v1/video/create）\n * - 兼容：图生（image_1_token）/ 文生\n * - model：严格透传入参 payload.model（不替换）\n * - aspect_ratio：兼容 portrait/landscape/9:16/16:9，最终输出 9:16 或 16:9\n * - 避免引用未执行节点：从上游 item.json 取 imageUrl，不强依赖某个固定节点\n */\n\nconst payload = $('子流程入口-sora').first().json.body || {};\n\nconst safe = (v) => String(v ?? '').replace(/\\r?\\n/g, ' ').trim();\n\nfunction cleanPrompt(raw) {\n  let p = raw ?? '';\n  if (Array.isArray(p)) p = p.join(' ');\n  if (typeof p !== 'string') p = String(p);\n  p = p.replace(/\\r?\\n+/g, ' ').replace(/\\s{2,}/g, ' ').trim();\n  const negIdx = p.indexOf('Negative prompt:');\n  if (negIdx >= 0) p = p.slice(0, negIdx).trim();\n  return p;\n}\n\nfunction normAspect(v) {\n  const s = String(v ?? '').trim().toLowerCase();\n  if (!s) return '9:16';\n  if (s === 'portrait') return '9:16';\n  if (s === 'landscape') return '16:9';\n  if (s === '9:16' || s === '9/16') return '9:16';\n  if (s === '16:9' || s === '16/9') return '16:9';\n  return '9:16';\n}\n\nfunction pickImageUrlFromUpstream(itemJson) {\n  // 1) 你“准备图生视频参数-sora”里写的 requestBody.input.image_urls\n  const u1 = itemJson?.requestBody?.input?.image_urls?.[0];\n  if (u1) return safe(u1);\n\n  // 2) 你也可以在“准备图生视频参数-sora”里直接输出 imageUrl 字段\n  const u2 = itemJson?.imageUrl;\n  if (u2) return safe(u2);\n\n  // 3) 增加 try-catch 容错：防止未传图时，节点未执行导致报错\n  try {\n    const u3 = $('获取图片链接').first().json?.body?.data?.tmp_download_urls?.[0]?.tmp_download_url;\n    if (u3) return safe(u3);\n  } catch (e) {\n    // 节点未执行时会进入这里，直接忽略即可\n  }\n\n  return '';\n}\n\n// ---- 必填上下文 ----\nconst record_id = safe(payload.record_id);\nconst app_token = safe(payload.app_token);\nconst table_id = safe(payload.table_id);\nconst tenant_access_token = safe(payload.tenant_access_token);\nconst api_key = safe(payload.api_key);\nconst workflow_id_for_credits = safe(payload.workflow_id_for_credits);\n\nif (!record_id || !app_token || !table_id || !tenant_access_token || !api_key || !workflow_id_for_credits) {\n  throw new Error('子流程入口缺少必要字段（record_id/app_token/table_id/tenant_access_token/api_key/workflow_id_for_credits）');\n}\n\n// ---- prompt / model / aspect_ratio ----\nconst prompt = cleanPrompt(payload.prompt);\nif (!prompt) throw new Error('prompt 为空');\n\nconst model = 'sora-2-all'; // 你没传才给默认\nconst aspect_ratio = normAspect(payload.aspect_ratio);\n\n// ---- images（可选）----\nconst itemJson = $input.first().json || {};\nconst imageUrl = pickImageUrlFromUpstream(itemJson);\nconst images = imageUrl ? [imageUrl] : undefined;\n\n// ---- 云雾请求体 ----\nfunction toOrientation(aspect_ratio) {\n  // 9:16 => portrait, 16:9 => landscape\n  return aspect_ratio === '16:9' ? 'landscape' : 'portrait';\n}\n\nfunction toDuration(payload) {\n  // 你现在 payload.n_frames = \"15\" ——参考请求里 duration=15\n  // 所以直接把 n_frames 当 duration(秒) 用，优先 payload.duration\n  const d = Number(payload.duration ?? payload.n_frames ?? 15);\n  return Number.isFinite(d) && d > 0 ? d : 15;\n}\n\nfunction toSize(payload) {\n  // 云雾示例：large\n  const s = String(payload.size ?? 'large').trim().toLowerCase();\n  // 保险起见只放你确认过的值；不确定就统一 large\n  if (['small','medium','large'].includes(s)) return s;\n  return 'large';\n}\n\nconst orientation = toOrientation(aspect_ratio);\nconst duration = toDuration(payload);\nconst size = toSize(payload);\n\n// watermark: 参考请求 watermark=false\nconst watermark = payload.watermark ?? false;\n\n// private: 只有 sora-2 接口示例里出现，你需要就透传，不需要就别带\nconst priv = payload.private;\n\nconst requestBody = {\n  model: 'sora-2-all',\n  prompt,\n  images: images ?? [],          // 云雾示例里允许空数组\n  orientation,\n  size,\n  duration,\n  watermark,\n  ...(priv !== undefined ? { private: !!priv } : {})\n};\n\nreturn [{\n  json: {\n    requestBody,\n\n    // 透传上下文（给后面写表 + 轮询用）\n    record_id,\n    app_token,\n    table_id,\n    tenant_access_token,\n    api_key,\n    workflow_id_for_credits,\n\n    // 你原来有的子表定位，继续透传\n    out_app_token: payload.out_app_token,\n    out_table_id: payload.out_table_id,\n    batch_id: payload.batch_id,\n    child_record_id: payload.child_record_id,\n\n    debug: {\n      model_from_input: safe(payload.model),\n      model_used: model,\n      aspect_ratio,\n      has_image: !!imageUrl,\n      imageUrl\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        64
      ],
      "id": "3b73c6cc-cd62-46c0-8823-a0cac0cd531f",
      "name": "清洗提示词"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "209a4c87-e355-447d-91d4-6e7d476e2951",
              "leftValue": "={{ !!$('子流程入口-sora').item.json.body.image_1_token}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        208,
        64
      ],
      "id": "d16566ad-ae15-472c-8553-b86c50ed2698",
      "name": "判断是否上传图片"
    },
    {
      "parameters": {
        "jsCode": "const payload = $('子流程入口-sora').item.json.body || {};\n\nconst requestBody = {\n  model: 'sora-2-text-to-video',\n  input: {\n    prompt: payload.prompt || '',\n    aspect_ratio: payload.aspect_ratio || '9:16', // 允许 9:16，后面清洗节点会转 portrait/landscape\n    n_frames: String(payload.n_frames || '10'),\n    remove_watermark: true\n  }\n};\n\nreturn {\n  json: {\n    requestBody,\n\n    // 父表上下文（原有）\n    record_id: payload.record_id,\n    app_token: payload.app_token,\n    table_id: payload.table_id,\n    tenant_access_token: payload.tenant_access_token,\n    workflow_id_for_credits: payload.workflow_id_for_credits,\n    api_key: payload.api_key,\n\n    // ✅ 子表定位（新增）\n    out_app_token: payload.out_app_token,\n    out_table_id: payload.out_table_id,\n\n    // 可选预留\n    batch_id: payload.batch_id,\n    child_record_id: payload.child_record_id\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        160
      ],
      "id": "2fe282be-93db-4226-bf5a-df7a2dffd382",
      "name": "准备文生视频参数-sora"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.feishu.cn/open-apis/auth/v3/app_access_token/internal",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"app_id\": \"{{ $json.body.app_id }}\",\n  \"app_secret\": \"{{ $json.body.app_secret }}\"\n}",
        "options": {}
      },
      "id": "91a66f56-c36c-4008-9d01-f8ca9dfb81e6",
      "name": "Auth:getAccessToken auth1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -16,
        64
      ]
    },
    {
      "parameters": {
        "jsCode": "const res = $input.first().json || {};\n\n// 云雾 create 返回 example: { id: \"...\", status: \"pending\", status_update_time: ... }\nconst id = res.id || res.data?.id;\nconst status = res.status || res.data?.status || 'unknown';\n\nif (!id) {\n  throw new Error(`创建任务失败，响应里没有 id：${JSON.stringify(res).slice(0, 500)}`);\n}\n\nreturn [{\n  json: {\n    task_id: id,\n    status,\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        64
      ],
      "id": "fa09f9e4-a8a7-4263-9d61-d4ff01b1676b",
      "name": "提取任务id"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.flowonn.com/tools/veo/poll/async",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"task_id\": \"{{ $json.task_id }}\",\n  \"api_key\": \"sk-ENL5z1YykFkIZMIsjnbJeh36iY82VvGYznRzEazg1DWe8fkV\",\n\"webhook_url\": \"{{ $json.webhook_url }}\",\n  \"context\": {\n    \"record_id\": \"{{ $('子流程入口-sora').item.json.body.record_id }}\",\n    \"app_token\": \"{{ $('子流程入口-sora').item.json.body.app_token }}\",\n    \"table_id\": \"{{ $('子流程入口-sora').item.json.body.table_id }}\",\n    \"tenant_access_token\": \"{{ $('子流程入口-sora').item.json.body.tenant_access_token }}\",\n    \"api_key\": \"{{ $('子流程入口-sora').item.json.body.api_key }}\",\n    \"workflow_id_for_credits\": \"{{ $('子流程入口-sora').item.json.body.workflow_id_for_credits }}\",\n    \"out_app_token\": \"{{ $('子流程入口-sora').item.json.body.out_app_token }}\",\n    \"out_table_id\": \"{{ $('子流程入口-sora').item.json.body.out_table_id }}\"\n  }\n}",
        "options": {}
      },
      "id": "09014991-8cf2-4174-a049-256c2525b210",
      "name": "注册轮询任务",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1792,
        64
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://yunwu.ai/v1/video/create",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.requestBody }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1136,
        64
      ],
      "id": "196c1fdc-adee-4adf-85d3-40b6f3da5d2b",
      "name": "提交sora2请求",
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "alwaysOutputData": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "rfcuzcpLKaa0iPX5",
          "name": "sora2-vip"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const payload = $('子流程入口-sora').first().json.body || {};\nconst wid = String(payload.workflow_id_for_credits || '').trim();\n\nconst map = {\n  flow_farm_md:   'https://hooks.flowonn.com/webhook/sora_md_callbackV4',\n  flow_farm_zy:   'https://hooks.flowonn.com/webhook/sora_zy_callbackV4',\n  flow_farm_copy: 'https://hooks.flowonn.com/webhook/sora_copy_callbackV4',\n};\n\n// 没匹配就走默认（你也可以直接 throw，让它明确失败）\nconst webhook_url = map[wid] || 'https://hooks.flowonn.com/webhook/sora_zy_callbackV4';\n\nreturn [{\n  json: {\n    ...$input.first().json,       // 保留 task_id / status\n    webhook_url,\n    workflow_id_for_credits: wid,\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1568,
        64
      ],
      "id": "22a770ea-c990-4456-a43f-92f4b2e6d73f",
      "name": "选择回调地址"
    }
  ],
  "pinData": {
    "子流程入口-sora": [
      {
        "json": {
          "headers": {
            "host": "hooks.flowonn.com",
            "x-real-ip": "47.107.155.228",
            "x-forwarded-for": "47.107.155.228",
            "x-forwarded-proto": "https",
            "connection": "close",
            "content-length": "5824",
            "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7",
            "content-type": "application/json",
            "user-agent": "axios/1.12.0",
            "accept-encoding": "gzip, compress, deflate, br"
          },
          "params": {},
          "query": {},
          "body": {
            "record_id": "recvbLfVOursRL",
            "prompt": "[Art Style] UGC handheld, [Render Quality] mobile phone portrait 9:16, [Mood] authentic and persuasive.\nVertical 9:16 UGC handheld realism. Keep timing and shot order.\n**Shot 1 (00:00 - 00:02):**\nCamera movement: 50mm标准焦段，中景固定机位。镜头在00:01时从母子全景缓慢推向母亲近景。\nMain subject action: 年轻母亲坐在沙发上整理一个小型衣物收纳箱，旁边的智能充电暖手宝 Glowy 保温灯随意安置。小男孩从左侧跑入画面，兴奋地抱起暖手宝递给母亲，嘴里开心地喊：“妈妈快看！”母亲抬头微笑倾听。\nProduct presentation (aligned with key selling points): 小男孩把产品递到母亲手中，展现产品的贴心使用场景。\nEnvironment / set dressing: 现代舒适的中国家庭客厅，淡米色的布艺沙发，地上铺着浅灰色地毯，左边茶几上摆放一盘水果，背景是一扇半掩的推拉门，阳光透过窗纱洒入，墙上挂着一副水墨风景画。\nLighting: 室内为暖黄色顶灯，窗外自然光增强画面的质感，营造温馨氛围。\nVoiceover / ambient sound: 小男孩的声音：“妈妈快看！”搭配轻柔钢琴背景乐。\n**Shot 2 (00:02 - 00:04):**\nCamera movement: 切换到一个过肩镜头，从母亲肩膀后方对准男孩脸部和产品的特写。\nMain subject action: 男孩双手捧着闪烁柔和暖光的 Glowy 保温灯，满脸灿烂笑容地递到母亲面前，语气充满期待地说：“是不是很暖和？”\nProduct presentation (aligned with key selling points): 特写镜头捕捉 Glowy 保温灯的柔光和小巧精致的外观，突出“温暖随手可及”的特点。\nEnvironment / set dressing: 与上一镜相同，背景中略带模糊的居家陈设凸显现实感。\nLighting: 集中暖光打在男孩和产品上，强调暖手宝与用户之间的温度链接。\nVoiceover / ambient sound: 男孩的声音：“是不是很暖和？”加上轻快又温暖的背景音乐。\n**Shot 3 (00:04 - 00:06):**\nCamera movement: 切回母亲的面部近景固定镜头。\nMain subject action: 母亲微笑着接过产品，感受温度的同时，宠溺地摸了摸孩子的头，柔声说：“啊，真的很暖。”\nProduct presentation (aligned with key selling points): 母亲将产品轻轻握在手中，动作自然流露出对温暖手感的满意。\nEnvironment / set dressing: 暖黄色光线洒在母亲的微笑脸庞上，沙发背景中摆放着几盆绿色植物，增添生活感。\nLighting: 关键光源集中打在人物动作上，衬托出母亲的温柔形象。\nVoiceover / ambient sound: 母亲温柔的声音：“啊，真的很暖。”背景乐和缓流畅。\n**Shot 4 (00:06 - 00:08):**\nCamera movement: 中景镜头快速推至人物对话场景的切换，略带手持晃动效果，营造情绪紧张感。\nMain subject action: 时间转为夜晚，小男孩焦急地找母亲，抱着暖手宝问：“妈妈，我的灯怎么不亮了？”表情委屈得哭腔几乎要溢出。\nProduct presentation (aligned with key selling points): 产品的主要功能转为关注点，此时不亮的灯成为情节驱动的关键。\nEnvironment / set dressing: 灯光变为柔和冷色，与氛围呼应，背景的沙发罩上了一条舒适的毛毯。\nLighting: 夜晚场景通过窗纱透入月光营造暗色基调，减弱顶灯亮度提升对照美感。\nVoiceover / ambient sound: 小男孩带着哭腔的声音：”妈妈，我的灯怎么不亮了？”\n**Shot 5 (00:08 - 00:10):**\nCamera movement: 切换到母亲的中景特写。\nMain subject action: 场景峰回路转，母亲将手中的智能遥控器轻轻一按，暖手宝的灯重新亮起，她笑着对男孩说：“宝宝，别担心，已经充好啦！”\nProduct presentation (aligned with key selling points): 母亲将暖手宝重新递回给男孩，画面强调其便捷充电特性和稳固的保温效能。\nEnvironment / set dressing: 居家布置恢复到日间的明亮氛围，茶几上还摆着刚剥开的橘子，细节描绘生活感。\nLighting: 灯光色调回归温暖，加剧场景的反转效果。\nVoiceover / ambient sound: 母亲轻柔又有些俏皮的声线：“宝宝，别担心，已经充好啦！”\n**Shot 6 (00:10 - 00:12):**\nCamera movement: 对准男孩的面部大特写镜头。\nMain subject action: 男孩的表情由疑惑转为狂喜，捧着灯欢笑出声，而后跳起扑向母亲怀里抱住她。\nProduct presentation (aligned with key selling points): 孩子抱着暖手宝的动作，自然体现对产品的喜爱。\nEnvironment / set dressing: 母子的互动成为焦点，周围环境模糊化处理，突出亲密感和产品的情感赋能。\nLighting: 画面中心始终保持柔和亮光，突出温馨亲密的氛围。\nVoiceover / ambient sound: 男孩欢快的笑声，背景乐达到情绪高潮。\n**Shot 7 (00:12 - 00:15):**\nCamera movement: 哑光渐入黑屏，最后定格为纯黑背景。\nMain subject action: 黑屏处理后，以情感升华的方式展现品牌价值。\nLighting: 无直接光源，文字和背景的对比通过光感层次体现。\nVoiceover / ambient sound: 旁白轻声说出：“爱，不止是冬日的每一份温暖……”温情背景乐柔和收尾。",
            "aspect_ratio": "portrait",
            "image_1_token": null,
            "model": "sora2",
            "workflow_id_for_credits": "flow_farm_copy",
            "app_token": "LGQ0bv4E8aMPCFsUv17c35s8nUd",
            "table_id": "tblJFAyHYlTHRNg7",
            "tenant_access_token": "t-g1042kilJ3RFAFSJWMFS3XWFZVZKERCMDI5OXJYK",
            "api_key": "sk_S-XJvpVKGGwnac1AlEFs3avCWZpqdOGaMMW27Y8iSPY",
            "n_frames": "15",
            "app_id": "cli_a84fa88ac9a6d00c",
            "app_secret": "2n4R5DDvAqQoE8D3U2Maie5KMeSrzFHL",
            "out_app_token": "LGQ0bv4E8aMPCFsUv17c35s8nUd",
            "out_table_id": "tblcqwrjA8BB9b4Z"
          },
          "webhookUrl": "http://localhost:5678/webhook/sora_videoV4",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "获取图片链接": {
      "main": [
        [
          {
            "node": "准备图生视频参数-sora",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "子流程入口-sora": {
      "main": [
        [
          {
            "node": "Auth:getAccessToken auth1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "准备图生视频参数-sora": {
      "main": [
        [
          {
            "node": "清洗提示词",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "清洗提示词": {
      "main": [
        [
          {
            "node": "提交sora2请求",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "判断是否上传图片": {
      "main": [
        [
          {
            "node": "获取图片链接",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "准备文生视频参数-sora",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "准备文生视频参数-sora": {
      "main": [
        [
          {
            "node": "清洗提示词",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth:getAccessToken auth1": {
      "main": [
        [
          {
            "node": "判断是否上传图片",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "提取任务id": {
      "main": [
        [
          {
            "node": "选择回调地址",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "注册轮询任务": {
      "main": [
        [
          {
            "node": "写入任务ID-生成中",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "提交sora2请求": {
      "main": [
        [
          {
            "node": "提取任务id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "选择回调地址": {
      "main": [
        [
          {
            "node": "注册轮询任务",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3b977ecb-0637-4057-b144-18672b4f086d",
  "meta": {
    "instanceId": "f5de7f2967fea28691928d5cc106b2279dbf4197e0e2c62d616c8450d409e0e7"
  },
  "id": "ASBjyLNzuFweD9Y6",
  "tags": []
}