n8n/内容工厂-提示词子流程.json
{
  "name": "内容工厂-提示词子流程",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "farm_Prompt",
        "options": {}
      },
      "id": "3e490bb0-eb21-4b58-bd26-7af2743215ad",
      "name": "Webhook-父入口",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -3440,
        32
      ],
      "webhookId": "66d962e7-afee-4301-9ff8-0054f4e6adaa"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.feishu.cn/open-apis/auth/v3/app_access_token/internal",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"app_id\": \"{{ $('Webhook-父入口').item.json.body.app_id }}\",\n  \"app_secret\": \"{{ $('Webhook-父入口').item.json.body.app_secret }}\"\n}",
        "options": {}
      },
      "id": "361a7cf3-0067-4b02-ba6d-db9997642848",
      "name": "获取访问令牌",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3216,
        32
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.ok }}",
                    "rightValue": "false",
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    },
                    "id": "api_invalid_v"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "apikey_invalid"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "points_not_enough_v",
                    "leftValue": "={{ $json.ok === true && $json.data.sufficient === false }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "insufficient_points"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "points_ok_v",
                    "leftValue": "={{ $json.ok === true && $json.data.sufficient === true }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pass"
            }
          ]
        },
        "options": {}
      },
      "id": "39265383-ce62-4baa-b334-89f31d3e8709",
      "name": "Switch-veo1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -2320,
        -560
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://open.feishu.cn/open-apis/bitable/v1/apps/{{ $('Webhook-父入口').item.json.body.app_token }}/tables/{{ $('Webhook-父入口').item.json.body.table_id }}/records/{{ $('Webhook-父入口').item.json.body.record_id }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "user_id_type",
              "value": "open_id"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('获取访问令牌').item.json.tenant_access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"fields\":{\"任务进度\":\"api-key错误\"}}",
        "options": {}
      },
      "id": "f749a1be-c2b5-4d20-bc4c-d1a4ae0727b8",
      "name": "提醒-key错误-veo1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2096,
        -736
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://open.feishu.cn/open-apis/bitable/v1/apps/{{ $('Webhook-父入口').item.json.body.app_token }}/tables/{{ $('Webhook-父入口').item.json.body.table_id }}/records/{{ $('Webhook-父入口').item.json.body.record_id }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "user_id_type",
              "value": "open_id"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('获取访问令牌').item.json.tenant_access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"fields\":{\"任务进度\":\"积分不足\"}}",
        "options": {}
      },
      "id": "7ceaa895-c948-4bda-8bab-2cbdbc6daa8e",
      "name": "提醒-积分不足-veo1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2096,
        -544
      ]
    },
    {
      "parameters": {
        "url": "=http://47.107.158.233:8080/api/balance/check?api_key={{ $('Webhook-父入口').item.json.body.api_key }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "required",
              "value": "={{ $json.data.credit_cost }}"
            }
          ]
        },
        "options": {}
      },
      "id": "059a19fb-1143-4f7f-84f3-8151b3cb980b",
      "name": "验证api-key-veo1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2544,
        -544
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hooks.flowonn.com/webhook/sora_videoV4",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "14c5adb0-720e-4b1b-9979-3fb750ff2bd9",
      "name": "下发子流程-sora2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -848,
        -352
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "vp1",
              "name": "record_id",
              "type": "string",
              "value": "={{ $('读取记录').item.json.data.record.record_id }}"
            },
            {
              "id": "vp2",
              "name": "prompt",
              "type": "string",
              "value": "={{ $json.sora_prompt_compact }}"
            },
            {
              "id": "vp3",
              "name": "aspect_ratio",
              "type": "string",
              "value": "=portrait"
            },
            {
              "id": "vp4",
              "name": "image_1_token",
              "type": "string",
              "value": "={{ $('Webhook-父入口').item.json.body.image_1_token }}"
            },
            {
              "id": "vp5",
              "name": "model",
              "type": "string",
              "value": "=sora2"
            },
            {
              "id": "vp6",
              "name": "workflow_id_for_credits",
              "type": "string",
              "value": "={{ $('Webhook-父入口').item.json.body.workflow_id_for_credits }}"
            },
            {
              "id": "vp7",
              "name": "app_token",
              "type": "string",
              "value": "={{ $('Webhook-父入口').item.json.body.app_token }}"
            },
            {
              "id": "vp8",
              "name": "table_id",
              "type": "string",
              "value": "={{ $('Webhook-父入口').item.json.body.table_id }}"
            },
            {
              "id": "vp9",
              "name": "tenant_access_token",
              "type": "string",
              "value": "={{ $('获取访问令牌').item.json.tenant_access_token }}"
            },
            {
              "id": "vp10",
              "name": "api_key",
              "type": "string",
              "value": "={{ $('Webhook-父入口').item.json.body.api_key }}"
            },
            {
              "id": "a151e6b0-9538-4f80-b9fe-3ebe5110841f",
              "name": "n_frames",
              "value": "={{ $('Webhook-父入口').item.json.body.n_frames }}",
              "type": "string"
            },
            {
              "id": "0f77281e-7795-4bc2-8bf3-10af294c759d",
              "name": "app_id",
              "value": "={{ $('Webhook-父入口').item.json.body.app_id }}",
              "type": "string"
            },
            {
              "id": "330299c4-7ba9-44ee-a89e-4ba4db4ec7f4",
              "name": "app_secret",
              "value": "={{ $('Webhook-父入口').item.json.body.app_secret }}",
              "type": "string"
            },
            {
              "id": "6d11b7e3-6de4-4b79-a44e-b27954ba8809",
              "name": "out_app_token",
              "value": "={{ $('Webhook-父入口').item.json.body.out_app_token }}",
              "type": "string"
            },
            {
              "id": "ca6070e9-07eb-4956-8972-dcc59ad8be92",
              "name": "out_table_id",
              "value": "={{ $('Webhook-父入口').item.json.body.out_table_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b2328a06-c032-443d-81cc-74b8551de21d",
      "name": "构造子流程payload-sora",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1072,
        -352
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -1584,
        -128
      ],
      "id": "f7238b2a-c054-4dd1-b6c9-fbcb1eb4f5f9",
      "name": "gpt",
      "credentials": {
        "openAiApi": {
          "id": "TVs8cHigrdXKUMDJ",
          "name": "云雾api"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=产品信息：{{ $json.data.record.fields['产品卖点'][0].text }}\nTarget Language:{{ $json.data.record.fields['视频语言'] }}\n爆款视频拆解报告：{{ $json.data.record.fields['脚本要点'][0].text }}\n时长：{{ $json.data.record.fields['秒数'] }}\n国家/地区：{{ $json.data.record.fields['国家地区'] }}",
        "options": {
          "systemMessage": "=Role\n\n你是一位世界级的 AI 视频创意总监 (AI Video Director)。\n你擅长把产品信息嵌入“爆款分镜逻辑”，并输出可直接用于 Sora2 的分镜提示词。\n\nInputs (你将接收四部分输入)\n\nSource Blueprint (JSON): 爆款拆解，包含 visual_specs 和 abstract_logic\n\nTarget Product Info: 新产品信息（名称、核心卖点、材质、目标人群）\n\nTarget Duration: 脚本时长 = {{ $json.data.record.fields['秒数'] }}秒\n\nLocale Config:\n\nTarget Country/Region = {{ $json.data.record.fields['国家地区'] }}\n\nTarget City/Style (optional) = {{ $json.data.record.fields['国家地区'] }}\n\nTarget Language = {{ $json.data.record.fields['视频语言'] }}\n\nTask\n\n阅读 Source Blueprint 每个分镜，使用 abstract_logic 的 universal_instruction，\n将 Target Product 填入分镜，生成一份全新的、逻辑自洽的“{{ $json.data.record.fields['视频语言'] }}”视频生成提示词，\n总时长严格为 {{ $json.data.record.fields['秒数'] }} 秒，并且场景必须发生在 {{ $json.data.record.fields['国家地区'] }}（及其城市风格）。\n\nLocale Hard Rules (国家场景 + 语言硬约束) 🚨 必须严格执行\nA) Country/Region Scene Lock\n\n所有场景必须符合 Target Country/Region 的真实生活语境（建筑/室内陈设/街景/服饰/道具/光线氛围）。\n\n如果 Target City/Style 提供，则优先贴近该城市的风格元素（例如：街区风格、室内装修、常见物件）。\n\n禁止出现与目标国家明显冲突的符号（例如：日本场景出现美式路牌/美元价格牌；泰国场景出现日式神社元素等）。\n\nB) Language Lock（只控制“声音内容语言”，不是画风）\n\n所有口播/对白（如果存在）必须是 Target Language。\n\n画面文字相关规则以 C) No On-Screen Text Lock 为最高优先级。\n\nC) No On-Screen Text Lock（画面文字禁令）🚫 必须严格执行\n\n画面中禁止出现任何形式的文字或字符，包括但不限于：字幕、贴纸字、标题卡、价格牌、包装/标签文字、UI界面文字、路牌文字、门店招牌文字、衣服/帽子/手机壳上的字母、书籍报纸文字、屏幕弹窗文字、水印、LOGO文字、社媒界面字样。\n\n如场景中不可避免存在“现实中文字”（例如城市路牌、商店招牌），必须改写为无文字的抽象图形/纯色块/模糊不可辨识纹理，确保观众无法读出任何字。\n\n禁止使用“后期叠字/加字幕/屏幕文字/标题卡/贴纸文字”等任何形式的指令或建议。\n\n若需要表达信息（卖点/价格/CTA/步骤），只能通过画面动作、道具对比、表情反应、镜头语言、环境音/音效、口播完成，且口播语言必须为 Target Language。\n\nTransformation Logic (核心迁移法则)\n\n对每个分镜必须执行：\n\n读取逻辑：看 abstract_logic（例如“通过物理互动展示材质”）\n\n适配产品：用新产品完成同一逻辑（给出可拍的动作/验证方式）\n\n重写画面：保留原片运镜(Camera)与光影(Lighting)，但画面元素必须符合 Country/Region Scene Lock\n\nCore Logic: Pacing Adaptation (时长适配法则)\n\n你必须计算 Source Blueprint 总时长并与 Target Duration 比对：\n\nA 完美匹配：误差 ±2秒 -> 不改分镜结构\n\nB 需要压缩：保留 Hook / Core Benefit / End，合并或移除中间弱镜头\n\nC 需要延展：延长高光时刻或空镜细节（慢动作/特写/环境声/动作节奏）\n\nConstraints\n\nKeep the Structure: 分镜数量与每镜时间必须严格遵守 Source Blueprint\n\nSora Optimized: 描写必须镜头友好、动作可执行、画面细节明确\n\nNo Hallucinations: 情绪基调(Mood)与叙事节奏保持一致\n\n🚨 最终输出必须完全使用 Target Language（包括镜头术语、运镜描述、画面描述）\n\n禁止混用中文/英文/其他语言\n\n如果 Target Language 是日语：使用日语镜头术语（例：クローズアップ、固定、手持ち、パン、ズーム）\n\n如果 Target Language 是泰语：使用泰语镜头表达（必要时可用简单影视泰语）\n\n如果 Target Language 是：{{ $json.data.record.fields['视频语言'] }}使用{{ $json.data.record.fields['视频语言'] }}镜头表达\n\n如果 Target Language 是英语：才允许英文术语\n\n🚫 No Text: 输出中不得包含任何“将出现在画面上的文字内容”，也不得包含“屏幕显示…/字幕写…/叠字…/标题卡…/贴纸文字…”等描述；信息仅能通过动作与口播表达。\n\nOutput Format (严格)\n\n只输出一段“{{ $json.data.record.fields['视频语言'] }}”的完整提示词，不要解释、不输出 JSON、不输出额外说明。\n输出结构必须如下（并且结构文本也用 {{ $json.data.record.fields['视频语言'] }} 写）：\n\nOnly output one complete prompt in “{{ $json.data.record.fields['视频语言'] }}” as a single block of text. Do not explain, do not output JSON, and do not add any extra notes.\n\nThe output must follow this exact structure (and the structure labels must also be written in {{ $json.data.record.fields['视频语言'] }}):\n\n【Style Tags】(written in {{ $json.data.record.fields['视频语言'] }})\n\nArt style / Type:\n\nImage quality:\n\nMood / Atmosphere:\n\nScene country / city (must be clearly specified):\n\n【Storyboard】\nShot 1 (00:00 - 00:XX):\n\nCamera movement:\n\nMain subject action:\n\nProduct presentation (aligned with key selling points):\n\nEnvironment / set dressing (must match the country):\n\nLighting:\n\nVoiceover / ambient sound (if needed, must be in {{ $json.data.record.fields['视频语言'] }}; no on-screen text allowed):\n\nShot 2 (00:XX - 00:XX):\n... 按 Source Blueprint 顺序输出直到结束"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -1648,
        -352
      ],
      "id": "2812c2be-c528-42fe-a683-b9063b772e72",
      "name": "脚本生成器",
      "retryOnFail": true,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "jsCode": "const j = $input.first()?.json || {};\nconst raw = String(j.output || '').replace(/\\r\\n/g, '\\n').replace(/\\r/g, '\\n');\n\nif (!raw.trim()) throw new Error('没有找到 output 文本');\n\nconst productName = String(j['产品名称'] || j.product_name || '').trim();\nconst language = String(j.language || j['视频语言'] || '').trim(); // 仅透传，不翻译\n\n// 轻度清洗：只处理首尾空白，不破坏段落结构\nfunction cleanBlock(s) {\n  return String(s || '')\n    .replace(/\\r\\n/g, '\\n')\n    .replace(/\\r/g, '\\n')\n    .replace(/[ \\t]+\\n/g, '\\n')   // 行尾空格\n    .trim();\n}\n\n// ---------- 1) 解析 meta（兼容英文一行 meta + 中文风格标签） ----------\nlet art = '';\nlet render = '';\nlet mood = '';\n\nconst lines = raw.split('\\n');\n\n// 英文 meta：同你原来的逻辑\nconst metaLine = lines\n  .map(l => l.trim())\n  .filter(Boolean)\n  .find(l => /Art Style/i.test(l) && /Render Quality/i.test(l) && /Mood/i.test(l)) || '';\n\nif (metaLine) {\n  const artMatch = metaLine.match(/Art Style\\]\\*{0,2}\\s*([^,]+)\\s*,/i);\n  const rqMatch  = metaLine.match(/Render Quality\\]\\*{0,2}\\s*([^,]+)\\s*,/i);\n  const moodMatch= metaLine.match(/Mood\\]\\*{0,2}\\s*([^.\\n]+)\\.?/i);\n  art = cleanBlock(artMatch?.[1]);\n  render = cleanBlock(rqMatch?.[1]);\n  mood = cleanBlock(moodMatch?.[1]);\n} else {\n  // 中文风格标签：匹配 “- 画风/类型：xxx” 这种\n  const txt = raw;\n  const artCn = txt.match(/画风\\/类型：\\s*([^\\n]+)/);\n  const rqCn  = txt.match(/画质：\\s*([^\\n]+)/);\n  const moodCn= txt.match(/氛围：\\s*([^\\n]+)/);\n  art = cleanBlock(artCn?.[1]);\n  render = cleanBlock(rqCn?.[1]);\n  mood = cleanBlock(moodCn?.[1]);\n}\n\n// ---------- 2) 解析 shots（先试英文 Shot，再试中文 镜头） ----------\nconst shots = [];\n\n// 英文 Shot\nconst shotEnRegex =\n  /\\*{0,2}Shot\\s+(\\d+)\\s*\\(([^)]+)\\)\\s*:\\*{0,2}\\s*([\\s\\S]*?)(?=(?:\\n\\s*\\n)?\\*{0,2}Shot\\s+\\d+\\s*\\(|$)/gi;\n\n// 中文 镜头：支持 “镜头1（00:00 - 00:01.5）：”\nconst shotCnRegex =\n  /镜头\\s*(\\d+)\\s*[（(]([^）)]+)[）)]\\s*[:：]\\s*([\\s\\S]*?)(?=\\n\\s*镜头\\s*\\d+\\s*[（(]|$)/g;\n\nfunction normalizeTimeRange(t) {\n  const time_range = cleanBlock(t);\n  if (!time_range) return '';\n  // 如果没有 '-'，补成同点区间\n  return time_range.includes('-') ? time_range : `${time_range} - ${time_range}`;\n}\n\nfunction replacePlaceholders(body) {\n  let b = body;\n\n  if (productName) {\n    b = b.replace(/\\b\\[HERO_PRODUCT\\]\\b/g, productName);\n  }\n  b = b.replace(/\\b\\[USER\\/MODEL\\]\\b/g, 'a relatable on-camera creator');\n  return b;\n}\n\nfunction collectByRegex(regex, type) {\n  let m;\n  while ((m = regex.exec(raw)) !== null) {\n    const no = Number(m[1]);\n    const time_range = normalizeTimeRange(m[2]);\n    let body = cleanBlock(m[3]);\n\n    body = replacePlaceholders(body);\n\n    // 不改写你原来的内容结构，只包一层 “Shot x”\n    shots.push(`**Shot ${no} (${time_range}):**\\n${body}`);\n  }\n}\n\n// 先英文后中文\ncollectByRegex(shotEnRegex, 'en');\nif (shots.length === 0) collectByRegex(shotCnRegex, 'cn');\n\n// ---------- 3) 拼成 Sora prompt（关键：无论解析成不成功，都不丢内容） ----------\nconst headerParts = [];\nif (art) headerParts.push(`[Art Style] ${art}`);\nif (render) headerParts.push(`[Render Quality] ${render}`);\nif (mood) headerParts.push(`[Mood] ${mood}`);\n\nconst header = headerParts.length\n  ? `${headerParts.join(', ')}.`\n  : `[Art Style] UGC handheld, [Render Quality] mobile phone portrait 9:16, [Mood] authentic and persuasive.`;\n\nconst baseRules = cleanBlock(`\n${header}\n${language ? `Language: ${language}.` : ``}\n\nCinematic but authentic UGC pacing. Keep camera moves, timing, and beat order exactly as the shot list.\nNo watermark, no UI icons, no subtitles unless explicitly specified in the shot text.\nVertical 9:16, handheld realism, natural lighting.\n`);\n\n// ✅ 如果 shots 解析到了：用结构化 shots\n// ✅ 如果 shots 解析不到：fallback 直接塞 raw，保证“不丢字”\nconst sora_body = shots.length\n  ? shots.join('\\n\\n')\n  : cleanBlock(`(Fallback: could not parse shot blocks, using original content)\\n\\n${raw}`);\n\nconst sora_prompt = cleanBlock(`${baseRules}\\n\\n${sora_body}`);\n\n// 更短版本：同样不丢字（解析失败就塞 raw）\nconst sora_prompt_compact = cleanBlock(`\n${header}\nVertical 9:16 UGC handheld realism. Keep timing and shot order.\n${shots.length ? shots.join('\\n') : raw}\n`);\n\nreturn [{\n  json: {\n    ...j,\n    sora_prompt,\n    sora_prompt_compact,\n    shots_count: shots.length\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1296,
        -352
      ],
      "id": "7d185400-43d6-4320-bed5-ba1e103740b3",
      "name": "解析数据"
    },
    {
      "parameters": {
        "url": "=http://47.107.158.233:8080/workflow-credits/query?workflow_id={{ $('Webhook-父入口').item.json.body.workflow_id_for_credits }}",
        "options": {}
      },
      "id": "4b1503e2-2587-4803-b756-c14364e660ce",
      "name": "查询工作流积分1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2768,
        -544
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://open.feishu.cn/open-apis/bitable/v1/apps/{{ $('Webhook-父入口').item.json.body.app_token }}/tables/{{ $('Webhook-父入口').item.json.body.table_id }}/records/{{ $('Webhook-父入口').item.json.body.record_id }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "user_id_type",
              "value": "open_id"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('获取访问令牌').item.json.app_access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"fields\": {\n    \"任务进度\": \"AI正在撰写提示词\"\n  }\n}",
        "options": {}
      },
      "id": "0c47c360-d6ff-41f5-a504-caff3bacd0df",
      "name": "写入任务ID-生成中",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2096,
        -352
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://open.feishu.cn/open-apis/bitable/v1/apps/{{ $('Webhook-父入口').item.json.body.app_token }}/tables/{{ $('Webhook-父入口').item.json.body.table_id }}/records/{{ $('Webhook-父入口').item.json.body.record_id }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "user_id_type",
              "value": "open_id"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('获取访问令牌').item.json.app_access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ \n  {\n    \"fields\": {\n      \"视频提示词\": $('解析数据').item.json.sora_prompt_compact,\n      \"任务进度\": \"提示词已完成，开始生成视频\"\n    }\n  } \n}}",
        "options": {}
      },
      "id": "7ef24e73-7a51-4678-bad8-d56fe0c6c655",
      "name": "写入任务ID-提示词",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -624,
        -352
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook-父入口').item.json.body.workflow_id_for_credits }}",
                    "rightValue": "flow_farm_copy",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "813a8f6c-d5fa-4a1f-be71-fea15e106bfc"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "爆款复刻"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "18ff13f0-5f25-46e0-a44a-510bc628b7ed",
                    "leftValue": "={{ $('Webhook-父入口').item.json.body.workflow_id_for_credits }}",
                    "rightValue": "flow_farm_zy",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "根据脚本生成"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b9d93636-cce6-4966-9617-1903f0e12187",
                    "leftValue": "={{ $('Webhook-父入口').item.json.body.workflow_id_for_credits }}",
                    "rightValue": "flow_farm_md",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "根据卖点生成"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -2992,
        16
      ],
      "id": "1ef7acb8-cfe9-4f53-8133-a02ed225d915",
      "name": "子任务"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.ok }}",
                    "rightValue": "false",
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    },
                    "id": "api_invalid_v"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "apikey_invalid"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "points_not_enough_v",
                    "leftValue": "={{ $json.ok === true && $json.data.sufficient === false }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "insufficient_points"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "points_ok_v",
                    "leftValue": "={{ $json.ok === true && $json.data.sufficient === true }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pass"
            }
          ]
        },
        "options": {}
      },
      "id": "bc13c544-188e-4a8a-b75f-6f20338eccdc",
      "name": "Switch-veo",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -2320,
        16
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://open.feishu.cn/open-apis/bitable/v1/apps/{{ $('Webhook-父入口').item.json.body.app_token }}/tables/{{ $('Webhook-父入口').item.json.body.table_id }}/records/{{ $('Webhook-父入口').item.json.body.record_id }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "user_id_type",
              "value": "open_id"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('获取访问令牌').item.json.tenant_access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"fields\":{\"任务进度\":\"api-key错误\"}}",
        "options": {}
      },
      "id": "a6a8af08-3211-4987-bfc6-8d072e6de2f1",
      "name": "提醒-key错误-veo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2096,
        -160
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://open.feishu.cn/open-apis/bitable/v1/apps/{{ $('Webhook-父入口').item.json.body.app_token }}/tables/{{ $('Webhook-父入口').item.json.body.table_id }}/records/{{ $('Webhook-父入口').item.json.body.record_id }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "user_id_type",
              "value": "open_id"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('获取访问令牌').item.json.tenant_access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"fields\":{\"任务进度\":\"积分不足\"}}",
        "options": {}
      },
      "id": "013177f7-fd36-436a-b479-efe9eb30680d",
      "name": "提醒-积分不足-veo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2096,
        32
      ]
    },
    {
      "parameters": {
        "url": "=http://47.107.158.233:8080/api/balance/check?api_key={{ $('Webhook-父入口').item.json.body.api_key }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "required",
              "value": "={{ $json.data.credit_cost }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d0161f3d-4377-472d-963f-4e0111972bcc",
      "name": "验证api-key-veo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2544,
        32
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "=http://47.107.158.233:8080/workflow-credits/query?workflow_id={{ $('Webhook-父入口').item.json.body.workflow_id_for_credits }}",
        "options": {}
      },
      "id": "32516642-5a21-4bd1-99b5-d27de508efd3",
      "name": "查询工作流积分",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2768,
        32
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://open.feishu.cn/open-apis/bitable/v1/apps/{{ $('Webhook-父入口').item.json.body.app_token }}/tables/{{ $('Webhook-父入口').item.json.body.table_id }}/records/{{ $('Webhook-父入口').item.json.body.record_id }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "user_id_type",
              "value": "open_id"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('获取访问令牌').item.json.app_access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"fields\": {\n    \"任务进度\": \"正在生成视频\"\n  }\n}",
        "options": {}
      },
      "id": "4271271b-e4b1-4d95-9af3-cfc05f09c096",
      "name": "写入任务ID-生成中1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2096,
        224
      ]
    },
    {
      "parameters": {
        "url": "=https://open.feishu.cn/open-apis/bitable/v1/apps/{{ $('Webhook-父入口').item.json.body.app_token }}/tables/{{ $('Webhook-父入口').item.json.body.table_id }}/records/{{ $('Webhook-父入口').item.json.body.record_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('获取访问令牌').item.json.tenant_access_token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1872,
        -352
      ],
      "id": "f999f647-4a71-4815-957f-eba362c87ffc",
      "name": "读取记录"
    },
    {
      "parameters": {
        "url": "=https://open.feishu.cn/open-apis/bitable/v1/apps/{{ $('Webhook-父入口').item.json.body.app_token }}/tables/{{ $('Webhook-父入口').item.json.body.table_id }}/records/{{ $('Webhook-父入口').item.json.body.record_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('获取访问令牌').item.json.tenant_access_token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1872,
        224
      ],
      "id": "ade969af-859e-41fe-9b9e-59c177a6f291",
      "name": "读取记录1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hooks.flowonn.com/webhook/sora_videoV4",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "9c1c8ea0-c272-4117-bcf0-e0418f6ce391",
      "name": "下发子流程-sora",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1296,
        224
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "vp1",
              "name": "record_id",
              "type": "string",
              "value": "={{ $json.data.record.fields.record_id[0].text }}"
            },
            {
              "id": "vp2",
              "name": "prompt",
              "type": "string",
              "value": "={{ $json.data.record.fields['脚本'] }}"
            },
            {
              "id": "vp3",
              "name": "aspect_ratio",
              "type": "string",
              "value": "=portrait"
            },
            {
              "id": "vp4",
              "name": "image_1_token",
              "type": "string",
              "value": "={{ $('Webhook-父入口').item.json.body.image_1_token }}"
            },
            {
              "id": "vp5",
              "name": "model",
              "type": "string",
              "value": "=sora2"
            },
            {
              "id": "vp6",
              "name": "workflow_id_for_credits",
              "type": "string",
              "value": "={{ $('Webhook-父入口').item.json.body.workflow_id_for_credits }}"
            },
            {
              "id": "vp7",
              "name": "app_token",
              "type": "string",
              "value": "={{ $('Webhook-父入口').item.json.body.app_token }}"
            },
            {
              "id": "vp8",
              "name": "table_id",
              "type": "string",
              "value": "={{ $('Webhook-父入口').item.json.body.table_id }}"
            },
            {
              "id": "vp9",
              "name": "tenant_access_token",
              "type": "string",
              "value": "={{ $('获取访问令牌').item.json.tenant_access_token }}"
            },
            {
              "id": "vp10",
              "name": "api_key",
              "type": "string",
              "value": "={{ $('Webhook-父入口').item.json.body.api_key }}"
            },
            {
              "id": "a151e6b0-9538-4f80-b9fe-3ebe5110841f",
              "name": "n_frames",
              "value": "={{ $('Webhook-父入口').item.json.body.n_frames }}",
              "type": "string"
            },
            {
              "id": "0f77281e-7795-4bc2-8bf3-10af294c759d",
              "name": "app_id",
              "value": "={{ $('Webhook-父入口').item.json.body.app_id }}",
              "type": "string"
            },
            {
              "id": "330299c4-7ba9-44ee-a89e-4ba4db4ec7f4",
              "name": "app_secret",
              "value": "={{ $('Webhook-父入口').item.json.body.app_secret }}",
              "type": "string"
            },
            {
              "id": "6d11b7e3-6de4-4b79-a44e-b27954ba8809",
              "name": "out_app_token",
              "value": "={{ $('Webhook-父入口').item.json.body.out_app_token }}",
              "type": "string"
            },
            {
              "id": "ca6070e9-07eb-4956-8972-dcc59ad8be92",
              "name": "out_table_id",
              "value": "={{ $('Webhook-父入口').item.json.body.out_table_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "57400d04-5b4d-41fa-8c6f-428d35c03bfa",
      "name": "构造子流程payload-sora1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1584,
        224
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.ok }}",
                    "rightValue": "false",
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    },
                    "id": "api_invalid_v"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "apikey_invalid"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "points_not_enough_v",
                    "leftValue": "={{ $json.ok === true && $json.data.sufficient === false }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "insufficient_points"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "points_ok_v",
                    "leftValue": "={{ $json.ok === true && $json.data.sufficient === true }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pass"
            }
          ]
        },
        "options": {}
      },
      "id": "b1a6ec13-4e72-4bdf-b514-93486852869a",
      "name": "Switch-veo2",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -2320,
        592
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://open.feishu.cn/open-apis/bitable/v1/apps/{{ $('Webhook-父入口').item.json.body.app_token }}/tables/{{ $('Webhook-父入口').item.json.body.table_id }}/records/{{ $('Webhook-父入口').item.json.body.record_id }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "user_id_type",
              "value": "open_id"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('获取访问令牌').item.json.tenant_access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"fields\":{\"任务进度\":\"api-key错误\"}}",
        "options": {}
      },
      "id": "18001bdd-5f38-41fb-a991-d947e39238ed",
      "name": "提醒-key错误-veo2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2096,
        416
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://open.feishu.cn/open-apis/bitable/v1/apps/{{ $('Webhook-父入口').item.json.body.app_token }}/tables/{{ $('Webhook-父入口').item.json.body.table_id }}/records/{{ $('Webhook-父入口').item.json.body.record_id }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "user_id_type",
              "value": "open_id"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('获取访问令牌').item.json.tenant_access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"fields\":{\"任务进度\":\"积分不足\"}}",
        "options": {}
      },
      "id": "0223dc49-36a9-4b78-b3de-c5b8432b514f",
      "name": "提醒-积分不足-veo2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2096,
        608
      ]
    },
    {
      "parameters": {
        "url": "=http://47.107.158.233:8080/api/balance/check?api_key={{ $('Webhook-父入口').item.json.body.api_key }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "required",
              "value": "={{ $json.data.credit_cost }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b9a3bb08-31ed-4bf2-941d-c96b83d6b40f",
      "name": "验证api-key-veo2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2544,
        608
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hooks.flowonn.com/webhook/sora_videoV4",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "3db6ff28-2dd3-4ece-87f5-5d817aec57da",
      "name": "下发子流程-sora3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -848,
        800
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "vp1",
              "name": "record_id",
              "type": "string",
              "value": "={{ $('读取记录2').item.json.data.record.record_id }}"
            },
            {
              "id": "vp2",
              "name": "prompt",
              "type": "string",
              "value": "={{ $json.sora_prompt_compact }}"
            },
            {
              "id": "vp3",
              "name": "aspect_ratio",
              "type": "string",
              "value": "=portrait"
            },
            {
              "id": "vp4",
              "name": "image_1_token",
              "type": "string",
              "value": "={{ $('Webhook-父入口').item.json.body.image_1_token }}"
            },
            {
              "id": "vp5",
              "name": "model",
              "type": "string",
              "value": "=sora2"
            },
            {
              "id": "vp6",
              "name": "workflow_id_for_credits",
              "type": "string",
              "value": "={{ $('Webhook-父入口').item.json.body.workflow_id_for_credits }}"
            },
            {
              "id": "vp7",
              "name": "app_token",
              "type": "string",
              "value": "={{ $('Webhook-父入口').item.json.body.app_token }}"
            },
            {
              "id": "vp8",
              "name": "table_id",
              "type": "string",
              "value": "={{ $('Webhook-父入口').item.json.body.table_id }}"
            },
            {
              "id": "vp9",
              "name": "tenant_access_token",
              "type": "string",
              "value": "={{ $('获取访问令牌').item.json.tenant_access_token }}"
            },
            {
              "id": "vp10",
              "name": "api_key",
              "type": "string",
              "value": "={{ $('Webhook-父入口').item.json.body.api_key }}"
            },
            {
              "id": "a151e6b0-9538-4f80-b9fe-3ebe5110841f",
              "name": "n_frames",
              "value": "={{ $('Webhook-父入口').item.json.body.n_frames }}",
              "type": "string"
            },
            {
              "id": "0f77281e-7795-4bc2-8bf3-10af294c759d",
              "name": "app_id",
              "value": "={{ $('Webhook-父入口').item.json.body.app_id }}",
              "type": "string"
            },
            {
              "id": "330299c4-7ba9-44ee-a89e-4ba4db4ec7f4",
              "name": "app_secret",
              "value": "={{ $('Webhook-父入口').item.json.body.app_secret }}",
              "type": "string"
            },
            {
              "id": "6d11b7e3-6de4-4b79-a44e-b27954ba8809",
              "name": "out_app_token",
              "value": "={{ $('Webhook-父入口').item.json.body.out_app_token }}",
              "type": "string"
            },
            {
              "id": "ca6070e9-07eb-4956-8972-dcc59ad8be92",
              "name": "out_table_id",
              "value": "={{ $('Webhook-父入口').item.json.body.out_table_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "e684f099-52f1-4d13-8273-a79a42bf2fe8",
      "name": "构造子流程payload-sora2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1072,
        800
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -1584,
        1024
      ],
      "id": "3313da9f-6cf6-4658-9f33-29278f55d056",
      "name": "gpt1",
      "credentials": {
        "openAiApi": {
          "id": "TVs8cHigrdXKUMDJ",
          "name": "云雾api"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=产品信息：{{ $json.data.record.fields['产品卖点'][0].text }}\nTarget Language:{{ $json.data.record.fields['视频语言'] }}\n时长：{{ $json.data.record.fields['秒数'] }}\n国家/地区：{{ $json.data.record.fields['国家地区'] }}",
        "options": {
          "systemMessage": "=Role\n\n你是一位精通短视频算法的 AI UGC 视频脚本导演。你擅长根据产品卖点，反推最吸引人的视觉画面，并生成适合 AI 视频模型（如 Sora, Runway, Kling）理解的提示词。\n\n0. Locale & Language (MINIMAL, CRITICAL)\n\n你将收到两个关键信息：\n\n国家地区：{{ $json.data.record.fields['国家地区'] }}\n\n目标语言：{{ $json.data.record.fields['视频语言'] }}\n\n你必须遵守以下规则（只做这两件事）：\n\n最终输出必须完全使用“目标语言”。不得出现任何其他语言字符/词，尤其禁止出现英文字母 a-zA-Z（除下方“镜头术语白名单”外）。\n\n所有台词、屏幕文字、字幕（若你写到）必须是“目标语言”。如果你无法保证口播语言一致，则不要写口播台词，仅写 SFX/环境音。\n\n画面场景、人物气质、日常道具与生活环境必须符合“国家地区”的真实语境（本地家居/厨房/浴室/街景风格），避免明显跨区违和符号。\n\n单位/货币/计量方式按国家地区常用习惯表达（例如温度/尺寸/价格写法），不要混用别的地区体系。\n\n镜头术语白名单（允许出现英文，仅限这些词）\nClose-up, Extreme close-up, Medium shot, Wide shot, POV, Handheld, Pan, Tilt, Zoom-in, Zoom-out, Rack focus, Slow motion, Cut, Match cut\n\n1. 核心任务 (Core Task)\n\n请根据用户提供的【产品卖点】和【图片信息】，生成一段 {{ $json.data.record.fields['秒数'] }}秒 的网红 UGC（用户生成内容）风格视频提示词。\n核心目标：必须符合爆款短视频“前3秒抓眼球”法则，人物与产品互动自然、高频。\n\n2. 产品与策略分析\n\n产品识别：分析输入信息，确定产品类型、材质细节、核心使用场景、关键卖点。\n\n出镜人员：若用户未指定出镜者，则根据产品属性与国家地区，自动构思最匹配的“出镜主角”（年龄段/气质/生活场景），但不要使用具体名字。\n\n3. 👥 角色设定 (Character Consistency)\n\n在输出中生成一句简短人物外貌/气质描述，并在后续镜头里统一用同一个指代词（由你用目标语言选择一个固定称呼，例如“主角/出镜者/人物”之类），确保角色一致。\n\n严禁使用特定名字（除非用户明确要求）。\n\n4. 视频风格规范 (Visual Style)\n\n拍摄方式：UGC 手机自拍或他拍，Handheld 轻微晃动，生活化构图，拒绝棚拍广告感。\n\n灯光环境：自然光或居家暖光，强调真实感。\n\n互动要求：主角必须频繁与产品发生物理互动（拿、捏、涂、穿、吃、按压、倒入、擦拭等），每一段都要有明确动作。\n\n5. 内容结构设计 (Timeline: {{ $json.data.record.fields['秒数'] }}s)\n\n按总时长分配三段式结构，并自动计算时间轴：\n\n开场 Hook（前 20%-30%）：前 3 秒必须抓住眼球（惊喜反应 / 痛点切入 / 视觉冲击 任选其一），节奏快。\n\nDemo & Details（中间 50%）：展示材质/细节 + 卖点验证，像朋友聊天的轻松感，镜头快速切换细节与人物反应。\n\n收尾 Outro（最后 20%）：真诚推荐 + 明确动作收口（微笑、点头、竖拇指、比心、拥抱产品等），画面定格在“人与产品和谐共处”。\n\n6. 创意方向库 (根据产品自动匹配)\n\n美妆护肤：Routine / 前后瞬间对比 / 质地特写\n\n食品饮料：第一口真实反应 / 咀嚼音效 / 拉丝流心视觉\n\n科技数码：开箱兴奋感 / 功能瞬间演示 / 惊叹表情\n\n服饰穿搭：转身展示 / 照镜子 / 抚摸面料\n\n家居生活：解决麻烦后的舒爽表情 / “早买就好了”的后悔感\n\n7. 输出要求 (CRITICAL)\n\n只输出提示词正文，不许输出任何解释、前言、分析。\n\n整段输出必须是目标语言（除“镜头术语白名单”外，不得出现英文字母）。\n\n必须包含清晰的时间轴（例如 0s-3s / 3s-9s / 9s-13s / 13s-15s，具体按总时长自动算）。\n\n每段必须包含三部分：①镜头画面（含运镜）②人物动作 ③音频（SFX/环境音；台词若写则必须为目标语言，否则不写台词）。\n\n8. Output Format (严格执行)\n\n请使用“目标语言”输出以下结构（注意：段落标题与字段名也必须用目标语言写出来，不得用英文；允许在画面描述里夹带白名单镜头术语）：\n\n【0s - Xs】（目标语言写一个“开场/钩子”含义的标题）\n\n（目标语言字段名）镜头画面：写清景别/运镜/环境/光线；主角人物外貌一句话；产品必须近距离入镜；UGC Handheld 真实感\n\n（目标语言字段名）人物动作：具体动作 + 具体表情（夸张但自然）\n\n（目标语言字段名）音频：SFX/环境音；（可选）台词一句（若写必须是目标语言）\n\n【Xs - Ys】（目标语言写一个“展示细节/验证卖点”含义的标题）\n\n镜头画面：细节特写（材质/纹理/光泽/质地）+ 主角反应切换\n\n人物动作：持续高频物理互动，体现核心卖点\n\n音频：以朋友聊天语气讲卖点（若不确定语言一致性则不写台词，仅写 SFX）\n\n【Ys - Zs】（目标语言写一个“场景/功能效果”含义的标题）\n\n镜头画面：回到真实使用场景，展示使用后效果/对比/解决痛点\n\n人物动作：满意/松一口气/惊喜等情绪要具体\n\n音频：环境音 +（可选）一句强调痛点被解决的台词（目标语言）\n\n【Zs - {{ $json.data.record.fields['秒数'] }}s】（目标语言写一个“收尾/推荐”含义的标题）\n\n镜头画面：干净利落的定格构图，产品与人物同框\n\n人物动作：真诚推荐动作（竖拇指/点头/比心/拥抱产品等）\n\n音频：一句 CTA/总结（目标语言）；可加轻快结尾音效"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -1648,
        800
      ],
      "id": "55fe68dd-a67a-4441-84eb-21fd92250dda",
      "name": "脚本生成器1",
      "retryOnFail": true,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "jsCode": "const j = $input.first()?.json || {};\nconst raw = String(j.output || '').trim();\n\nif (!raw) throw new Error('没有找到 output 文本');\n\n// 你上游如果有产品名就会自动替换；没有就保留原文\nconst productName = String(j['产品名称'] || j.product_name || '').trim();\n\n// 可选：你希望输出什么语言（不传就按原文）\nconst language = String(j.language || j['视频语言'] || '').trim(); // 仅透传展示，不做翻译\n\nfunction clean(s) {\n  return String(s || '').replace(/\\r\\n/g, '\\n').replace(/\\r/g, '\\n').trim();\n}\n\n// -------- 1) 解析 meta 行 --------\nconst lines = raw.split('\\n').map(l => l.trim()).filter(Boolean);\nconst metaLine = lines.find(l => /Art Style/i.test(l) && /Render Quality/i.test(l) && /Mood/i.test(l)) || '';\n\nlet art = '';\nlet render = '';\nlet mood = '';\n\nif (metaLine) {\n  const artMatch = metaLine.match(/Art Style\\]\\*{0,2}\\s*([^,]+)\\s*,/i);\n  const rqMatch  = metaLine.match(/Render Quality\\]\\*{0,2}\\s*([^,]+)\\s*,/i);\n  const moodMatch= metaLine.match(/Mood\\]\\*{0,2}\\s*([^.\\n]+)\\.?/i);\n\n  art = clean(artMatch?.[1]);\n  render = clean(rqMatch?.[1]);\n  mood = clean(moodMatch?.[1]);\n}\n\n// -------- 2) 解析 shots --------\nconst shotRegex = /\\*{0,2}Shot\\s+(\\d+)\\s*\\(([^)]+)\\)\\s*:\\*{0,2}\\s*([\\s\\S]*?)(?=(?:\\n\\s*\\n)?\\*{0,2}Shot\\s+\\d+\\s*\\(|$)/gi;\n\nconst shots = [];\nlet m;\nwhile ((m = shotRegex.exec(raw)) !== null) {\n  const no = Number(m[1]);\n  let time_range = clean(m[2]);\n  let body = clean(m[3]);\n\n  // 统一 time_range：如果只有单点 \"00:15\"，就补成 \"00:15 - 00:15\"\n  if (!time_range.includes('-')) {\n    time_range = `${time_range} - ${time_range}`;\n  }\n\n  // 可选：替换占位符\n  if (productName) {\n    body = body.replace(/\\b\\[HERO_PRODUCT\\]\\b/g, productName);\n    // 有些文本里直接写了产品名，不动；仅处理占位符\n  }\n  body = body.replace(/\\b\\[USER\\/MODEL\\]\\b/g, 'a relatable on-camera creator');\n\n  // 规范 Lighting / Auxiliary 位置（保持原信息，但更适合 Sora）\n  // 让内容更像“镜头指令”\n  shots.push(`**Shot ${no} (${time_range}):** ${body}`);\n}\n\n// -------- 3) 拼成 Sora 整段提示词 --------\n// 这里加一些通用约束（不会删你内容，只是包一层 Sora 生成指令）\nconst headerParts = [];\nif (art) headerParts.push(`[Art Style] ${art}`);\nif (render) headerParts.push(`[Render Quality] ${render}`);\nif (mood) headerParts.push(`[Mood] ${mood}`);\n\nconst header = headerParts.length\n  ? `${headerParts.join(', ')}.`\n  : `[Art Style] UGC selfie video, [Render Quality] mobile phone portrait 9:16, [Mood] authentic and persuasive.`;\n\nconst sora_prompt = clean(`\n${header}\n${language ? `Language: ${language}.` : ``}\n\nCinematic but authentic UGC pacing. Keep camera moves, timing, and beat order exactly as the shot list.\nNo watermark, no UI icons, no subtitles unless explicitly specified in the shot text.\nVertical 9:16, handheld realism, natural lighting.\n\n${shots.join('\\n\\n')}\n`);\n\n// 更短更省 token 的版本（可选）\nconst sora_prompt_compact = clean(`\n${header}\nVertical 9:16 UGC selfie realism. Keep timing and shot order.\n${shots.join('\\n')}\n`);\n\nreturn [{\n  json: {\n    ...j,\n    sora_prompt,\n    sora_prompt_compact,\n    shots_count: shots.length\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1296,
        800
      ],
      "id": "467f887c-ca36-4127-be34-2d2011c429e6",
      "name": "解析数据1"
    },
    {
      "parameters": {
        "url": "=http://47.107.158.233:8080/workflow-credits/query?workflow_id={{ $('Webhook-父入口').item.json.body.workflow_id_for_credits }}",
        "options": {}
      },
      "id": "140bf1a4-2da6-4c35-96b1-10640ac0f7d6",
      "name": "查询工作流积分2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2768,
        608
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://open.feishu.cn/open-apis/bitable/v1/apps/{{ $('Webhook-父入口').item.json.body.app_token }}/tables/{{ $('Webhook-父入口').item.json.body.table_id }}/records/{{ $('Webhook-父入口').item.json.body.record_id }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "user_id_type",
              "value": "open_id"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('获取访问令牌').item.json.app_access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"fields\": {\n    \"任务进度\": \"AI正在撰写提示词\"\n  }\n}",
        "options": {}
      },
      "id": "65e4df69-803e-4562-94b4-90bd8a6e5dd9",
      "name": "写入任务ID-生成中2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2096,
        800
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://open.feishu.cn/open-apis/bitable/v1/apps/{{ $('Webhook-父入口').item.json.body.app_token }}/tables/{{ $('Webhook-父入口').item.json.body.table_id }}/records/{{ $('Webhook-父入口').item.json.body.record_id }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "user_id_type",
              "value": "open_id"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('获取访问令牌').item.json.app_access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ \n  {\n    \"fields\": {\n      \"视频提示词\": $('解析数据1').item.json.sora_prompt_compact,\n      \"任务进度\": \"提示词已完成，开始生成视频\"\n    }\n  } \n}}",
        "options": {}
      },
      "id": "1f831f5d-c1c3-4438-9127-d9a5fde5329f",
      "name": "写入任务ID-提示词1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -624,
        800
      ]
    },
    {
      "parameters": {
        "url": "=https://open.feishu.cn/open-apis/bitable/v1/apps/{{ $('Webhook-父入口').item.json.body.app_token }}/tables/{{ $('Webhook-父入口').item.json.body.table_id }}/records/{{ $('Webhook-父入口').item.json.body.record_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('获取访问令牌').item.json.tenant_access_token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1872,
        800
      ],
      "id": "9441106e-f329-44c0-bd2c-afa5f6dd2838",
      "name": "读取记录2"
    }
  ],
  "pinData": {
    "读取记录1": [
      {
        "json": {
          "code": 0,
          "data": {
            "record": {
              "fields": {
                "1": "1",
                "api_key": [
                  {
                    "text": "sk_S-XJvpVKGGwnac1AlEFs3avCWZpqdOGaMMW27Y8iSPY",
                    "type": "text"
                  }
                ],
                "app_id": [
                  {
                    "text": "cli_a84fa88ac9a6d00c",
                    "type": "text"
                  }
                ],
                "app_secret": [
                  {
                    "text": "2n4R5DDvAqQoE8D3U2Maie5KMeSrzFHL",
                    "type": "text"
                  }
                ],
                "record_id": [
                  {
                    "text": "recv9u09m2PQlw",
                    "type": "text"
                  }
                ],
                "产品卖点": [
                  {
                    "text": "{\"product_name\":\"艺术家系列大容量便携保温杯\",\"visual_description\":\"A large, tapered stainless steel tumbler with an integrated handle, featuring a full-wrap, vibrant art print inspired by Post-Impressionist paintings like those of Van Gogh. The artwork depicts a stylized landscape with swirling skies, mountains, and trees in a rich palette of deep blues, yellows, and greens. The tumbler has a solid deep blue matte-finish handle and a matching multi-function lid. The lid has a transparent center and a rotating cover. It is equipped with a reusable stainless steel straw that has a matching blue silicone tip. The body of the tumbler has a smooth, semi-gloss finish.\",\"marketing_profile\":{\"target_audience_vibe\":\"追求个性与审美的Z世代、文艺青年或创意工作者，他们将日常用品视为个人风格的延伸。\",\"ideal_environment\":\"设计感十足的办公室、艺术院校、咖啡馆、通勤路上的汽车内，或作为家居装饰的一部分。\",\"core_selling_points\":[{\"type\":\"Physical\",\"description\":\"长效保温保冷，全天候控温\",\"visual_proof\":\"特写镜头：杯中装满冰块，快进展示数小时后冰块依然未融化；或倒入滚烫的热水，用热成像仪显示杯身外壁依然冰凉。\"},{\"type\":\"Physical\",\"description\":\"多功能防溅漏杯盖，车载便携\",\"visual_proof\":\"展示杯盖的三种模式：吸管模式、直饮口模式和密封模式。在密封模式下将杯子放入包中或轻微摇晃，展示其不易泼洒。\"},{\"type\":\"Emotional\",\"description\":\"行走的艺术品，告别平庸\",\"visual_proof\":\"镜头在一排单调的纯色水杯中划过，最终定格在这款艺术杯上。用户在不同场景（办公室、图书馆、街头）使用，杯子成为视觉焦点。\"},{\"type\":\"Emotional\",\"description\":\"大容量满足感，告别饮水焦虑\",\"visual_proof\":\"清晨将杯子装满水或咖啡，镜头跟随用户一整天，无需反复接水，傍晚杯中仍有饮品，展现轻松惬意的状态。\"}]}}",
                    "type": "text"
                  }
                ],
                "产品名称": "保温杯",
                "产品图片": [
                  {
                    "attachmentToken": "GHugbNELeovKEcx8fVUcmjPXnAf",
                    "extra": "{\"bitablePerm\":{\"tableId\":\"tblyGwxbkC0dltgm\",\"rev\":13,\"attachments\":{\"fld5rNp8Z0\":{\"recv9u09m2PQlw\":[\"GHugbNELeovKEcx8fVUcmjPXnAf\"]}}}}",
                    "height": 1344,
                    "id": "GHugbNELeovKEcx8fVUcmjPXnAf",
                    "mimeType": "image/png",
                    "name": "image_1769085457935_pmcyok.png",
                    "size": 1519130,
                    "timeStamp": 1769085477,
                    "width": 768
                  }
                ],
                "任务进度": "AI正在撰写提示词",
                "创建时间": 1769495824635,
                "复刻数量": "1",
                "秒数": "15",
                "脚本": "[Art Style] UGC selfie video, [Render Quality] mobile phone portrait 9:16, [Mood] authentic and persuasive.\nVertical 9:16 UGC selfie realism. Keep timing and shot order.\n**Shot 1 (00:00 - 00:03.5):** - Camera Motion: Handheld selfie, extreme wide-angle lens. Starts with a rapid shake towards camera, then pulls back to reveal the user's face.\n- Main Subject Action: [USER/MODEL] sits in a car, shaking the large tumbler vigorously to create an ice-rattling sound, then looks at the camera with a challenging expression.\n- Product Presentation: The vibrant art print inspired by Post-Impressionist paintings is clearly visible.\n- Environment: Daytime, inside a car with bright, direct natural light coming from the driver's side window.\n- Lighting: Bright, direct natural light.\n- Text/Voiceover: Bold text captions with reverse psychology: \"Look what this tumbler did to me...\" and \"IF YOU DON'T WANT YOUR ICE TO STAY IN YOUR CUP FOR HOURS DON'T BUY THIS!!!\"\n**Shot 2 (00:03.5 - 00:06.0):** - Camera Motion: Static handheld selfie, medium shot, maintaining eye contact.\n- Main Subject Action: [USER/MODEL] speaks directly to the camera, claiming the ice was added hours ago.\n- Product Presentation: Emphasizes long-term temperature control.\n- Environment: Consistent with Shot 1.\n- Lighting: Consistent with Shot 1.\n- Text/Voiceover: Text remains on screen.\n**Shot 3 (00:06.0 - 00:08.0):** - Camera Motion: Handheld, slight push-in motion.\n- Main Subject Action: [USER/MODEL] performs a second, deliberate shake close to camera/microphone.\n- Product Presentation: Reinforces core function through sensory experience.\n- Environment: Consistent with Shot 1.\n- Lighting: Consistent with Shot 1.\n- Text/Voiceover: \"Still Ice Cold!\"\n**Shot 4 (00:08.0 - 00:11.0):** - Camera Motion: Static handheld selfie, medium shot.\n- Main Subject Action: [USER/MODEL] links product benefit to hot summer days, takes a casual sip.\n- Product Presentation: Shows versatility and multi-function lid.\n- Environment: Consistent with Shot 1.\n- Lighting: Consistent with Shot 1.\n- Text/Voiceover: \"Get this, like right now.\"\n**Shot 5 (00:11.0 - 00:13.0):** - Camera Motion: Quick cut to a shaky, top-down, extreme close-up shot looking directly into the tumbler.\n- Main Subject Action: Reveals solid ice cubes inside; metal straw visible.\n- Product Presentation: Visual proof of temperature control.\n- Environment: Ambient light from the car interior illuminates contents.\n- Lighting: Ambient light.\n- Text/Voiceover: \"Proven Performance!\"\n**Shot 6 (00:13.0 - 00:15.0):** - Camera Motion: Static handheld selfie, medium shot.\n- Main Subject Action: [USER/MODEL] highlights the artistic design and shows the tumbler's logo.\n- Product Presentation: Emphasizes aesthetic appeal and brand reinforcement.\n- Environment: Consistent with Shot 1.\n- Lighting: Consistent with Shot 1.\n- Text/Voiceover: \"Art on the Go!\"",
                "视频模型": "sora2",
                "视频比例": "9:16"
              },
              "id": "recv9u09m2PQlw",
              "record_id": "recv9u09m2PQlw"
            }
          },
          "msg": "success"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Webhook-父入口": [
      {
        "json": {
          "headers": {
            "host": "hooks.flowonn.com",
            "x-real-ip": "47.107.155.228",
            "x-forwarded-for": "47.107.155.228",
            "x-forwarded-proto": "https",
            "connection": "close",
            "content-length": "535",
            "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7",
            "content-type": "application/json",
            "user-agent": "axios/1.12.0",
            "accept-encoding": "gzip, compress, deflate, br"
          },
          "params": {},
          "query": {},
          "body": {
            "record_id": "recva4EQAvuvo6",
            "aspect_ratio": "portrait",
            "image_1_token": "TsT2bTYgjoS6WsxWjbZct9LynOe",
            "model": "sora2",
            "workflow_id_for_credits": "flow_farm_copy",
            "app_token": "LHKzbtpyQaWybSsHahgcZzjQnPe",
            "table_id": "tblXZ3OfIe645lJN",
            "tenant_access_token": "t-g10422mRNNRJZARI4WZXZW4NADM6P6PCU2G5ZYZG",
            "api_key": "sk_e0ng4afGJtPoNbifDefjDceB2cHm6VsdSdrKm2SLogg",
            "n_frames": "15",
            "app_id": "cli_a90a20ac2db89cd5",
            "app_secret": "up8UxlQtip820lUcP8XUSd4vtjZkDH2J",
            "out_app_token": "LHKzbtpyQaWybSsHahgcZzjQnPe",
            "out_table_id": "tblS8d3sADLCN0f5"
          },
          "webhookUrl": "http://localhost:5678/webhook/farm_Prompt",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Webhook-父入口": {
      "main": [
        [
          {
            "node": "获取访问令牌",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "获取访问令牌": {
      "main": [
        [
          {
            "node": "子任务",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch-veo1": {
      "main": [
        [
          {
            "node": "提醒-key错误-veo1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "提醒-积分不足-veo1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "写入任务ID-生成中",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "验证api-key-veo1": {
      "main": [
        [
          {
            "node": "Switch-veo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "下发子流程-sora2": {
      "main": [
        [
          {
            "node": "写入任务ID-提示词",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "构造子流程payload-sora": {
      "main": [
        [
          {
            "node": "下发子流程-sora2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gpt": {
      "ai_languageModel": [
        [
          {
            "node": "脚本生成器",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "脚本生成器": {
      "main": [
        [
          {
            "node": "解析数据",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "解析数据": {
      "main": [
        [
          {
            "node": "构造子流程payload-sora",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "查询工作流积分1": {
      "main": [
        [
          {
            "node": "验证api-key-veo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "写入任务ID-生成中": {
      "main": [
        [
          {
            "node": "读取记录",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "写入任务ID-提示词": {
      "main": [
        []
      ]
    },
    "子任务": {
      "main": [
        [
          {
            "node": "查询工作流积分1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "查询工作流积分",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "查询工作流积分2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch-veo": {
      "main": [
        [
          {
            "node": "提醒-key错误-veo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "提醒-积分不足-veo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "写入任务ID-生成中1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "验证api-key-veo": {
      "main": [
        [
          {
            "node": "Switch-veo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "查询工作流积分": {
      "main": [
        [
          {
            "node": "验证api-key-veo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "读取记录": {
      "main": [
        [
          {
            "node": "脚本生成器",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "写入任务ID-生成中1": {
      "main": [
        [
          {
            "node": "读取记录1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "下发子流程-sora": {
      "main": [
        []
      ]
    },
    "构造子流程payload-sora1": {
      "main": [
        [
          {
            "node": "下发子流程-sora",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "读取记录1": {
      "main": [
        [
          {
            "node": "构造子流程payload-sora1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch-veo2": {
      "main": [
        [
          {
            "node": "提醒-key错误-veo2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "提醒-积分不足-veo2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "写入任务ID-生成中2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "验证api-key-veo2": {
      "main": [
        [
          {
            "node": "Switch-veo2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "下发子流程-sora3": {
      "main": [
        [
          {
            "node": "写入任务ID-提示词1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "构造子流程payload-sora2": {
      "main": [
        [
          {
            "node": "下发子流程-sora3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gpt1": {
      "ai_languageModel": [
        [
          {
            "node": "脚本生成器1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "脚本生成器1": {
      "main": [
        [
          {
            "node": "解析数据1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "解析数据1": {
      "main": [
        [
          {
            "node": "构造子流程payload-sora2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "查询工作流积分2": {
      "main": [
        [
          {
            "node": "验证api-key-veo2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "写入任务ID-生成中2": {
      "main": [
        [
          {
            "node": "读取记录2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "读取记录2": {
      "main": [
        [
          {
            "node": "脚本生成器1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "41ed9f8c-667a-401f-a4a5-637f58043591",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f5de7f2967fea28691928d5cc106b2279dbf4197e0e2c62d616c8450d409e0e7"
  },
  "id": "5XhkyUh4ur7oX0ej",
  "tags": []
}