n8n/父工作流-视频生成调度-内容工厂.json
{
  "name": "父工作流-视频生成调度-内容工厂",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "0b26aca4-5d4c-49c5-aa51-147401a8b585",
      "name": "循环处理",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -2064,
        240
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "body.data.items",
        "options": {}
      },
      "id": "9085c10a-e778-47c8-b03f-837717de6ad5",
      "name": "拆分记录",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -2288,
        240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://open.feishu.cn/open-apis/bitable/v1/apps/{{ $('获取采集页信息').item.json.app_token }}/tables/{{ $('获取采集页信息').item.json.table_id }}/records/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "user_id_type",
              "value": "open_id"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('获取访问令牌').item.json.tenant_access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"filter\": {\n    \"conditions\": [\n      {\n        \"field_name\": \"任务进度\",\n        \"operator\": \"is\",\n        \"value\": [\"待生成\"]\n      }\n    ],\n    \"conjunction\": \"and\"\n  }\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "120b6000-b7dc-4bda-8d29-7ab179ec7d75",
      "name": "查询飞书记录-待生成",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2512,
        240
      ]
    },
    {
      "parameters": {
        "resource": "bitable",
        "operation": "bitable:parseUrl",
        "url": "={{ $('Webhook-父入口').item.json.body.table_link }}"
      },
      "id": "c16833f1-1014-4029-af93-eb38a76b5419",
      "name": "获取采集页信息",
      "type": "n8n-nodes-feishu-lite.feishuNode",
      "typeVersion": 1,
      "position": [
        -2960,
        240
      ],
      "credentials": {
        "feishuCredentialsApi": {
          "id": "btdmK3iP1r3sO21a",
          "name": "Feishu account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.feishu.cn/open-apis/auth/v3/app_access_token/internal",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"app_id\": \"{{ $('Webhook-父入口').item.json.body.app_id }}\",\n  \"app_secret\": \"{{ $('Webhook-父入口').item.json.body.app_secret }}\"\n}",
        "options": {}
      },
      "id": "2b996109-0c36-4468-b11e-b13c0852b7d5",
      "name": "获取访问令牌",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3184,
        240
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        -496,
        336
      ],
      "id": "29d713fc-c4c4-4dab-afe0-ea236d2419c0"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.ok }}",
                    "rightValue": "false",
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    },
                    "id": "api_invalid_v"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "apikey_invalid"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "points_not_enough_v",
                    "leftValue": "={{ $json.ok === true && $json.data.sufficient === false }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "insufficient_points"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "points_ok_v",
                    "leftValue": "={{ $json.ok === true && $json.data.sufficient === true }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pass"
            }
          ]
        },
        "options": {}
      },
      "id": "0b1dc451-3ad5-468a-81ec-ee67e9f98860",
      "name": "Switch-veo1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1392,
        48
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://open.feishu.cn/open-apis/bitable/v1/apps/{{ $('获取采集页信息').item.json.app_token }}/tables/{{ $('获取采集页信息').item.json.table_id }}/records/{{ $('循环处理').item.json.record_id }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "user_id_type",
              "value": "open_id"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('获取访问令牌').item.json.tenant_access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"fields\":{\"视频生成进度\":\"api-key错误\"}}",
        "options": {}
      },
      "id": "9e7b6a6b-03c8-4c45-b7ae-eea685284580",
      "name": "提醒-key错误-veo1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1168,
        -128
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://open.feishu.cn/open-apis/bitable/v1/apps/{{ $('获取采集页信息').item.json.app_token }}/tables/{{ $('获取采集页信息').item.json.table_id }}/records/{{ $('循环处理').item.json.record_id }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "user_id_type",
              "value": "open_id"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('获取访问令牌').item.json.tenant_access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"fields\":{\"视频生成进度\":\"积分不足\"}}",
        "options": {}
      },
      "id": "a9b838a7-e9c4-4f7e-b31e-2f1bd4c74a86",
      "name": "提醒-积分不足-veo1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1168,
        64
      ]
    },
    {
      "parameters": {
        "url": "=http://47.107.158.233:8080/api/balance/check?api_key={{ $('Webhook-父入口').item.json.body.api_key }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "required",
              "value": "={{ $json.data.credit_cost }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b0263e-513b-48ce-a2d3-8fb6af0c2ca7",
      "name": "验证api-key-veo1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1616,
        64
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hooks.flowonn.com/webhook/farm_Prompt",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "5fcc5004-20d9-4f33-a924-20eee295c6e6",
      "name": "下发子流程-sora2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -720,
        256
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "vp1",
              "name": "record_id",
              "type": "string",
              "value": "={{ $('循环处理').item.json.record_id }}"
            },
            {
              "id": "vp3",
              "name": "aspect_ratio",
              "type": "string",
              "value": "=portrait"
            },
            {
              "id": "vp4",
              "name": "image_1_token",
              "type": "string",
              "value": "={{ $('循环处理').item.json.fields['产品图片'].value[0].file_token }}"
            },
            {
              "id": "vp5",
              "name": "model",
              "type": "string",
              "value": "=sora2"
            },
            {
              "id": "vp6",
              "name": "workflow_id_for_credits",
              "type": "string",
              "value": "={{ $('Webhook-父入口').item.json.body.workflow_id }}"
            },
            {
              "id": "vp7",
              "name": "app_token",
              "type": "string",
              "value": "={{ $('获取采集页信息').item.json.app_token }}"
            },
            {
              "id": "vp8",
              "name": "table_id",
              "type": "string",
              "value": "={{ $('获取采集页信息').item.json.table_id }}"
            },
            {
              "id": "vp9",
              "name": "tenant_access_token",
              "type": "string",
              "value": "={{ $('获取访问令牌').item.json.tenant_access_token }}"
            },
            {
              "id": "vp10",
              "name": "api_key",
              "type": "string",
              "value": "={{ $('Webhook-父入口').item.json.body.api_key }}"
            },
            {
              "id": "a151e6b0-9538-4f80-b9fe-3ebe5110841f",
              "name": "n_frames",
              "value": "={{ $('循环处理').item.json.fields['秒数'] }}",
              "type": "string"
            },
            {
              "id": "0f77281e-7795-4bc2-8bf3-10af294c759d",
              "name": "app_id",
              "value": "={{ $('Webhook-父入口').item.json.body.app_id }}",
              "type": "string"
            },
            {
              "id": "330299c4-7ba9-44ee-a89e-4ba4db4ec7f4",
              "name": "app_secret",
              "value": "={{ $('Webhook-父入口').item.json.body.app_secret }}",
              "type": "string"
            },
            {
              "id": "6d11b7e3-6de4-4b79-a44e-b27954ba8809",
              "name": "out_app_token",
              "value": "={{ $('获取结果页信息').item.json.app_token }}",
              "type": "string"
            },
            {
              "id": "ca6070e9-07eb-4956-8972-dcc59ad8be92",
              "name": "out_table_id",
              "value": "={{ $('获取结果页信息').item.json.table_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "232dfa1c-184c-470a-b77c-06ad9e3091ce",
      "name": "构造子流程payload-sora",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -944,
        256
      ]
    },
    {
      "parameters": {
        "url": "=http://47.107.158.233:8080/workflow-credits/query?workflow_id={{ $('Webhook-父入口').item.json.body.workflow_id }}",
        "options": {}
      },
      "id": "91c28275-4fda-4b5d-98b9-0b7d1f87fc33",
      "name": "查询工作流积分1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1840,
        64
      ]
    },
    {
      "parameters": {
        "resource": "bitable",
        "operation": "bitable:parseUrl",
        "url": "={{ $('Webhook-父入口').item.json.body.table_link2 }}"
      },
      "id": "7a239265-28a8-4b32-ab52-e64bbc6c7be4",
      "name": "获取结果页信息",
      "type": "n8n-nodes-feishu-lite.feishuNode",
      "typeVersion": 1,
      "position": [
        -2736,
        240
      ],
      "credentials": {
        "feishuCredentialsApi": {
          "id": "btdmK3iP1r3sO21a",
          "name": "Feishu account"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://open.feishu.cn/open-apis/bitable/v1/apps/{{ $('获取采集页信息').item.json.app_token }}/tables/{{ $('获取采集页信息').item.json.table_id }}/records/{{ $('循环处理').item.json.fields.record_id.value[0].text }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "user_id_type",
              "value": "open_id"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('获取访问令牌').item.json.app_access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"fields\": {\n    \"任务进度\": \"生产中\"\n  }\n}",
        "options": {}
      },
      "id": "19b1b9f7-fcf3-4027-8c9b-7e6048c74db8",
      "name": "写入任务ID-生成中",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1168,
        256
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "farm_GetwayV3",
        "options": {}
      },
      "id": "9e00972e-4f2c-4920-82a2-14c37770db75",
      "name": "Webhook-父入口",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -3408,
        240
      ],
      "webhookId": "66d962e7-afee-4301-9ff8-0054f4e6adaa"
    }
  ],
  "pinData": {
    "Webhook-父入口": [
      {
        "json": {
          "headers": {
            "host": "hooks.flowonn.com",
            "x-real-ip": "123.58.10.238",
            "x-forwarded-for": "123.58.10.238",
            "x-forwarded-proto": "https",
            "connection": "close",
            "content-length": "450",
            "user-agent": "Go-http-client/1.1",
            "content-type": "application/json",
            "x-base-automation-ua": "automation/1.0.0",
            "x-tt-env": "prod",
            "x-tt-logid": "02176949976163000000000000000000000fffff9f93d31a048f8",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "workflow_id": "flow_farm_copy",
            "table_link": "https://icnihzenib3m.feishu.cn/base/LGQ0bv4E8aMPCFsUv17c35s8nUd?table=tblJFAyHYlTHRNg7&view=vew3HXRwTo",
            "table_link2": "https://icnihzenib3m.feishu.cn/base/LGQ0bv4E8aMPCFsUv17c35s8nUd?table=tblcqwrjA8BB9b4Z&view=vew3HXRwTo",
            "app_id": "cli_a84fa88ac9a6d00c",
            "app_secret": "2n4R5DDvAqQoE8D3U2Maie5KMeSrzFHL",
            "app_token": "LGQ0bv4E8aMPCFsUv17c35s8nUd",
            "api_key": "sk_S-XJvpVKGGwnac1AlEFs3avCWZpqdOGaMMW27Y8iSPY"
          },
          "webhookUrl": "http://localhost:5678/webhook/farm_GetwayV3",
          "executionMode": "production"
        }
      }
    ],
    "查询飞书记录-待生成": [
      {
        "json": {
          "body": {
            "code": 0,
            "data": {
              "has_more": false,
              "items": [
                {
                  "fields": {
                    "1": [
                      {
                        "text": "1",
                        "type": "text"
                      }
                    ],
                    "api_key": {
                      "type": 1,
                      "value": [
                        {
                          "text": "sk_S-XJvpVKGGwnac1AlEFs3avCWZpqdOGaMMW27Y8iSPY",
                          "type": "text"
                        }
                      ]
                    },
                    "app_id": {
                      "type": 1,
                      "value": [
                        {
                          "text": "cli_a84fa88ac9a6d00c",
                          "type": "text"
                        }
                      ]
                    },
                    "app_secret": {
                      "type": 1,
                      "value": [
                        {
                          "text": "2n4R5DDvAqQoE8D3U2Maie5KMeSrzFHL",
                          "type": "text"
                        }
                      ]
                    },
                    "record_id": {
                      "type": 1,
                      "value": [
                        {
                          "text": "recv9tXI9CvAWt",
                          "type": "text"
                        }
                      ]
                    },
                    "产品卖点": {
                      "type": 1,
                      "value": [
                        {
                          "text": "{\"product_name\":\"艺术家系列大容量便携保温杯\",\"visual_description\":\"A large, tapered stainless steel tumbler with an integrated handle, featuring a full-wrap, vibrant art print inspired by Post-Impressionist paintings like those of Van Gogh. The artwork depicts a stylized landscape with swirling skies, mountains, and trees in a rich palette of deep blues, yellows, and greens. The tumbler has a solid deep blue matte-finish handle and a matching multi-function lid. The lid has a transparent center and a rotating cover. It is equipped with a reusable stainless steel straw that has a matching blue silicone tip. The body of the tumbler has a smooth, semi-gloss finish.\",\"marketing_profile\":{\"target_audience_vibe\":\"追求个性与审美的Z世代、文艺青年或创意工作者，他们将日常用品视为个人风格的延伸。\",\"ideal_environment\":\"设计感十足的办公室、艺术院校、咖啡馆、通勤路上的汽车内，或作为家居装饰的一部分。\",\"core_selling_points\":[{\"type\":\"Physical\",\"description\":\"长效保温保冷，全天候控温\",\"visual_proof\":\"特写镜头：杯中装满冰块，快进展示数小时后冰块依然未融化；或倒入滚烫的热水，用热成像仪显示杯身外壁依然冰凉。\"},{\"type\":\"Physical\",\"description\":\"多功能防溅漏杯盖，车载便携\",\"visual_proof\":\"展示杯盖的三种模式：吸管模式、直饮口模式和密封模式。在密封模式下将杯子放入包中或轻微摇晃，展示其不易泼洒。\"},{\"type\":\"Emotional\",\"description\":\"行走的艺术品，告别平庸\",\"visual_proof\":\"镜头在一排单调的纯色水杯中划过，最终定格在这款艺术杯上。用户在不同场景（办公室、图书馆、街头）使用，杯子成为视觉焦点。\"},{\"type\":\"Emotional\",\"description\":\"大容量满足感，告别饮水焦虑\",\"visual_proof\":\"清晨将杯子装满水或咖啡，镜头跟随用户一整天，无需反复接水，傍晚杯中仍有饮品，展现轻松惬意的状态。\"}]}}",
                          "type": "text"
                        }
                      ]
                    },
                    "产品名称": "保温杯",
                    "产品图片": {
                      "type": 17,
                      "value": [
                        {
                          "file_token": "GHugbNELeovKEcx8fVUcmjPXnAf",
                          "name": "image_1769085457935_pmcyok.png",
                          "size": 1519130,
                          "tmp_url": "https://open.feishu.cn/open-apis/drive/v1/medias/batch_get_tmp_download_url?file_tokens=GHugbNELeovKEcx8fVUcmjPXnAf",
                          "type": "image/png",
                          "url": "https://open.feishu.cn/open-apis/drive/v1/medias/GHugbNELeovKEcx8fVUcmjPXnAf/download"
                        }
                      ]
                    },
                    "任务进度": "待生成",
                    "创建时间": 1769495243421,
                    "参考爆款脚本": "车内第一人称UGC",
                    "国家地区": "美国",
                    "复刻数量": "1",
                    "秒数": "15",
                    "视频模型": "sora2",
                    "视频比例": "9:16",
                    "视频语言": "英文"
                  },
                  "record_id": "recv9tXI9CvAWt"
                }
              ],
              "total": 1
            },
            "msg": "success"
          },
          "headers": {
            "server": "Tengine",
            "content-type": "application/json; charset=utf-8",
            "transfer-encoding": "chunked",
            "connection": "close",
            "date": "Tue, 27 Jan 2026 07:51:52 GMT",
            "vary": "Accept-Encoding",
            "x-tt-logid": "20260127155151A62E5EA7A020B4566AF3",
            "x-lgw-dst-svc": "6TyPMBmwAZZO3bg19AZqpz4f96dlJ-fSN68MySlTQJ8KOEGasfoAmbC6x9qAwyI4oeM3OEEAzXm6UOtTIW9bAnyWACGTtRojNXYUgysCQf_mLfUj-png7SGX3ARhWGZ6-Rm0kmWowEo8_P2meqToRf4mnriXevA-KgoOdAUTs5eF6qLL1LxBwVtqiotDEMTJb_k2PjJvrzPAQDs6tQB7Nr_xWQ8JXXaya2g8au1PkFVGW8NSjD2ywMGJ9LRTpq37Q1HC7Hy0A3RBDOY8ii39gyh3Y7pXJtKML5GaVTF9Xvhc3QdlxJpaEVEOBdMImq0yZKNF_X-9mpNzzj4aQ0OAVE07UWh5u83rRkmCVwyq_6SFLDSQy3XwIqW9xT1m8sHgze8Cb_73G7b9dc94XIb7IQ==",
            "tt_stable": "1",
            "x-request-id": "e0fec87f-e64f-4ace-970f-c302903f6750",
            "request-id": "e0fec87f-e64f-4ace-970f-c302903f6750",
            "server-timing": "inner; dur=878, cdn-cache;desc=MISS,edge;dur=0,origin;dur=918",
            "x-tt-trace-host": "015f99d494cc0e309a82546aabeb7d0d05f173c99e30efa3f1271300151a32ca0f06f2b386509cd05d333a631fd9ca54d97e7cffa3aa71997f1dec75b83e822e026d1d3b15c850afefaeff3b4402dcaeec",
            "x-tt-trace-tag": "id=03;cdn-cache=miss;type=dyn",
            "x-tt-trace-id": "00-260127155151A62E5EA7A020B4566AF3-27D38B791F79AF31-00",
            "x-timestamp": "1769500312.826",
            "via": "cache6.cn2309[918,0]",
            "timing-allow-origin": "*",
            "eagleid": "3b25509a17695003119285668e"
          },
          "statusCode": 200,
          "statusMessage": "OK"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "循环处理": {
      "main": [
        [],
        [
          {
            "node": "查询工作流积分1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "拆分记录": {
      "main": [
        [
          {
            "node": "循环处理",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "查询飞书记录-待生成": {
      "main": [
        [
          {
            "node": "拆分记录",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "获取采集页信息": {
      "main": [
        [
          {
            "node": "获取结果页信息",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "获取访问令牌": {
      "main": [
        [
          {
            "node": "获取采集页信息",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "循环处理",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch-veo1": {
      "main": [
        [
          {
            "node": "提醒-key错误-veo1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "提醒-积分不足-veo1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "写入任务ID-生成中",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "验证api-key-veo1": {
      "main": [
        [
          {
            "node": "Switch-veo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "下发子流程-sora2": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "构造子流程payload-sora": {
      "main": [
        [
          {
            "node": "下发子流程-sora2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "查询工作流积分1": {
      "main": [
        [
          {
            "node": "验证api-key-veo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "获取结果页信息": {
      "main": [
        [
          {
            "node": "查询飞书记录-待生成",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "写入任务ID-生成中": {
      "main": [
        [
          {
            "node": "构造子流程payload-sora",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook-父入口": {
      "main": [
        [
          {
            "node": "获取访问令牌",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "898c868b-43a9-42f7-8254-0c6b296097ce",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f5de7f2967fea28691928d5cc106b2279dbf4197e0e2c62d616c8450d409e0e7"
  },
  "id": "mIzyASsLRR6l1DZN",
  "tags": []
}