workflows/Content Factory Digital Human Video LipSync Gen.json
{
  "name": "Content Factory Digital Human Video LipSync Gen",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "digital-human-video-lipsync-gen",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "1519b57c-5462-4722-84c8-34e42b820306",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        4016,
        816
      ],
      "webhookId": "digital-human-video-lipsync-gen-webhook"
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.body ?? $json ?? {};\n\nfunction pickFirst(...vals) {\n  for (const v of vals) {\n    if (v !== undefined && v !== null && String(v).trim() !== '') return v;\n  }\n  return undefined;\n}\n\nfunction normalizeUrl(v) {\n  if (v == null) return '';\n  return String(v).trim();\n}\n\nfunction parsePositiveNumber(rawVal) {\n  if (rawVal === undefined || rawVal === null || rawVal === '') return null;\n  const num = Number(rawVal);\n  return Number.isFinite(num) && num > 0 ? num : null;\n}\n\nfunction parseDurationSeconds(rawVal) {\n  if (rawVal === undefined || rawVal === null || rawVal === '') return null;\n\n  if (typeof rawVal === 'number' && Number.isFinite(rawVal)) {\n    if (rawVal > 1000) return rawVal / 1000;\n    return rawVal;\n  }\n\n  const s = String(rawVal).trim();\n  if (!s) return null;\n\n  const num = Number(s);\n  if (Number.isFinite(num)) {\n    if (num > 1000) return num / 1000;\n    return num;\n  }\n\n  const hhmmss = s.match(/^(\\d{1,2}):(\\d{1,2})(?::(\\d{1,2}(?:\\.\\d+)?))?$/);\n  if (hhmmss) {\n    if (hhmmss[3] !== undefined) {\n      const h = Number(hhmmss[1] || 0);\n      const m = Number(hhmmss[2] || 0);\n      const sec = Number(hhmmss[3] || 0);\n      return h * 3600 + m * 60 + sec;\n    }\n    const m = Number(hhmmss[1] || 0);\n    const sec = Number(hhmmss[2] || 0);\n    return m * 60 + sec;\n  }\n\n  return null;\n}\n\nfunction estimateTtsDuration(text) {\n  const s = String(text || '').trim();\n  if (!s) return null;\n\n  const chineseChars = (s.match(/[\\u4e00-\\u9fa5]/g) || []).length;\n  const englishWords = s\n    .replace(/[\\u4e00-\\u9fa5]/g, ' ')\n    .trim()\n    .split(/\\s+/)\n    .filter(Boolean).length;\n\n  let sec = 0;\n  if (chineseChars > 0) sec += chineseChars / 4.2;\n  if (englishWords > 0) sec += englishWords / 2.5;\n  sec += 0.8;\n\n  return Number(sec.toFixed(3));\n}\n\nconst videoUrl = normalizeUrl(\n  pickFirst(raw.videoUrl, raw.video_url, raw.video, raw.sourceVideoUrl, raw.source_video_url)\n);\nconst audioUrl = normalizeUrl(pickFirst(raw.audioUrl, raw.audio_url, raw.audio, raw.voiceUrl));\nconst voiceRefAudioUrl = normalizeUrl(\n  pickFirst(raw.voice_ref_audio_url, raw.voiceRefAudioUrl, raw.voice_ref_audio, raw.voiceRefAudio)\n);\nconst emoRefAudioUrl = normalizeUrl(\n  pickFirst(raw.emo_ref_audio_url, raw.emoRefAudioUrl, raw.emo_ref_audio, raw.emoRefAudio)\n);\n\nconst scriptContent = String(\n  pickFirst(raw.script_content, raw.scriptContent, raw.text, raw.content, '')\n).trim();\n\nconst callbackUrl = String(\n  pickFirst(raw.callbackUrl, raw.callback_url, 'https://hooks.atomx.top/webhook/digital-human-callback')\n).trim();\n\nconst runninghubKey = String(\n  pickFirst(raw.runninghub_key, raw.runninghubKey, raw.apiKey, 'd75f6f54beb14fee8b7379b35449332f')\n).trim();\n\nconst apiKey = String(\n  pickFirst(raw.api_key, raw.user_api_key, raw.userApiKey, '')\n).trim();\n\nconst workflowIdFromUser = String(\n  pickFirst(raw.workflow_id, raw.workflowId, 'flow_digital_human_video_lipsync')\n).trim();\n\nconst workflowName = String(\n  pickFirst(raw.workflow_name, raw.workflowName, '数字人视频对口型')\n).trim();\n\nconst modeRaw = String(\n  pickFirst(raw.type, raw.mode, raw.gen_mode, raw.generate_mode, 'LIP_SYNC')\n).trim().toUpperCase();\n\nconst mode = modeRaw === 'VOICE_CLONE' ? 'VOICE_CLONE' : 'LIP_SYNC';\nconst rhModeValue = mode === 'VOICE_CLONE' ? 2 : 1;\n\nconst audioDurationRaw = pickFirst(\n  raw.audioDuration,\n  raw.audio_duration,\n  raw.duration,\n  raw.durationMs,\n  raw.duration_ms,\n  raw.audioLength,\n  raw.audio_length\n);\n\nlet audioDurationSec = parseDurationSeconds(audioDurationRaw);\nconst taskId = pickFirst(raw.task_id, raw.taskId);\nconst sourceWidth = parsePositiveNumber(pickFirst(raw.source_width, raw.sourceWidth));\nconst sourceHeight = parsePositiveNumber(pickFirst(raw.source_height, raw.sourceHeight));\nconst targetWidth = parsePositiveNumber(pickFirst(raw.target_width, raw.targetWidth));\nconst targetHeight = parsePositiveNumber(pickFirst(raw.target_height, raw.targetHeight));\nconst aspectRatio = parsePositiveNumber(pickFirst(raw.aspect_ratio, raw.aspectRatio));\n\nconst runninghubWorkflowId = String(\n  pickFirst(raw.rh_workflow_id, raw.rhWorkflowId, '2050237993176322049')\n).trim();\nconst runninghubWorkflowIdLt16 = String(\n  pickFirst(raw.rh_workflow_id_lt16, raw.rhWorkflowIdLt16, '')\n).trim();\nconst runninghubWorkflowId16to32 = String(\n  pickFirst(raw.rh_workflow_id_16_32, raw.rhWorkflowId16to32, '')\n).trim();\n\nconst passthrough = {\n  record_id: pickFirst(raw.record_id, raw.recordId),\n  app_id: pickFirst(raw.app_id, raw.appId),\n  app_secret: pickFirst(raw.app_secret, raw.appSecret),\n  table_id: pickFirst(raw.table_id, raw.tableId),\n  base_id: pickFirst(raw.base_id, raw.baseId),\n  user_id: pickFirst(raw.user_id, raw.userId),\n  request_id: pickFirst(raw.request_id, raw.requestId),\n  task_name: pickFirst(raw.task_name, raw.taskName),\n  ext: raw.ext && typeof raw.ext === 'object' ? raw.ext : {}\n};\n\nif (!apiKey) {\n  throw new Error('缺少 api_key');\n}\n\nif (!videoUrl) {\n  throw new Error('缺少视频地址：请传 body.videoUrl / video_url');\n}\nif (!/^https?:\\/\\//i.test(videoUrl)) {\n  throw new Error('videoUrl 必须是 http/https 地址');\n}\n\nif (mode === 'LIP_SYNC') {\n  if (!audioUrl) {\n    throw new Error('LIP_SYNC 模式缺少音频地址：请传 body.audioUrl / audio_url');\n  }\n  if (!/^https?:\\/\\//i.test(audioUrl)) {\n    throw new Error('audioUrl 必须是 http/https 地址');\n  }\n  if (audioDurationSec == null || !Number.isFinite(audioDurationSec) || audioDurationSec <= 0) {\n    throw new Error('LIP_SYNC 模式缺少可用的音频时长：请传 body.audioDuration（秒）或 durationMs（毫秒）');\n  }\n}\n\nif (mode === 'VOICE_CLONE') {\n  if (!voiceRefAudioUrl) {\n    throw new Error('VOICE_CLONE 模式缺少音色参考音频：请传 voice_ref_audio_url');\n  }\n  if (!/^https?:\\/\\//i.test(voiceRefAudioUrl)) {\n    throw new Error('voice_ref_audio_url 必须是 http/https 地址');\n  }\n  if (emoRefAudioUrl && !/^https?:\\/\\//i.test(emoRefAudioUrl)) {\n    throw new Error('emo_ref_audio_url 必须是 http/https 地址');\n  }\n  if (!scriptContent) {\n    throw new Error('VOICE_CLONE 模式缺少 script_content');\n  }\n\n  if (audioDurationSec == null || !Number.isFinite(audioDurationSec) || audioDurationSec <= 0) {\n    audioDurationSec = estimateTtsDuration(scriptContent);\n  }\n\n  if (audioDurationSec == null || !Number.isFinite(audioDurationSec) || audioDurationSec <= 0) {\n    throw new Error('VOICE_CLONE 模式无法得到有效时长，请补传 audio_duration');\n  }\n}\n\nreturn [{\n  json: {\n    mode,\n    rhModeValue,\n    videoUrl,\n    audioUrl,\n    voiceRefAudioUrl,\n    emoRefAudioUrl,\n    scriptContent,\n    callbackUrl,\n    runninghubKey,\n    apiKey,\n    workflowIdFromUser,\n    workflowName,\n    audioDurationSec,\n    taskId,\n    sourceWidth,\n    sourceHeight,\n    targetWidth,\n    targetHeight,\n    aspectRatio,\n    runninghubWorkflowId,\n    runninghubWorkflowIdLt16,\n    runninghubWorkflowId16to32,\n    passthrough\n  }\n}];"
      },
      "id": "c68b9b4e-ecd5-4193-b8f5-4ca738e3686d",
      "name": "输入清洗与校验",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4240,
        816
      ]
    },
    {
      "parameters": {
        "jsCode": "const j = $('输入清洗与校验').item.json || {};\n\nreturn [{\n  json: {\n    ...j,\n    workflowId: '2050237993176322049',\n    workflowRule: 'fixed'\n  }\n}];"
      },
      "id": "1ba92162-cc06-4bff-842b-e6fb028c15a4",
      "name": "按音频时长选择工作流",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4464,
        816
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "runninghub_key",
              "value": "={{ $json.runninghubKey }}"
            },
            {
              "name": "workflow_id",
              "value": "={{ $json.workflowId }}"
            },
            {
              "name": "callback_url",
              "value": "={{ (($json.callbackUrl || \"https://hooks.atomx.top/webhook/digital-human-callback\") + (($json.callbackUrl || \"\").includes(\"?\") ? \"&\" : \"?\")) + \"task_id=\" + (($(\"输入清洗与校验\").item.json.taskId || $(\"输入清洗与校验\").item.json.task_id || \"\")) }}"
            },
            {
              "name": "video_url",
              "value": "={{ $json.videoUrl }}"
            },
            {
              "name": "audio_url",
              "value": "={{ $json.audioUrl }}"
            },
            {
              "name": "voice_ref_audio_url",
              "value": "={{ $json.voiceRefAudioUrl }}"
            },
            {
              "name": "emo_ref_audio_url",
              "value": "={{ $json.emoRefAudioUrl }}"
            },
            {
              "name": "script_content",
              "value": "={{ $json.scriptContent }}"
            },
            {
              "name": "workflow_rule",
              "value": "={{ $json.workflowRule }}"
            },
            {
              "name": "mode",
              "value": "={{ $json.mode }}"
            },
            {
              "name": "rh_mode_value",
              "value": "={{ String($json.rhModeValue) }}"
            },
            {
              "name": "api_key",
              "value": "={{ $json.apiKey }}"
            },
            {
              "name": "workflow_billing_id",
              "value": "={{ $json.workflowIdFromUser }}"
            },
            {
              "name": "workflow_billing_name",
              "value": "={{ $json.workflowName }}"
            }
          ]
        },
        "options": {}
      },
      "id": "fe4c6f32-0d12-4797-971b-2ba42f12c316",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        4688,
        816
      ]
    },
    {
      "parameters": {
        "jsCode": "const cfg = $('Config').item.json || {};\nconst inputMeta = $('按音频时长选择工作流').item.json || {};\n\nconst apiKey = cfg.runninghub_key;\nconst workflowId = cfg.workflow_id;\nconst webhookUrl = cfg.callback_url;\n\nconst videoUrl = cfg.video_url;\nconst audioUrl = cfg.audio_url;\nconst voiceRefAudioUrl = cfg.voice_ref_audio_url;\nconst emoRefAudioUrl = cfg.emo_ref_audio_url;\nconst scriptContent = cfg.script_content || '';\nconst workflowRule = cfg.workflow_rule || '';\nconst mode = String(cfg.mode || 'LIP_SYNC').toUpperCase();\nconst rhModeValue = String(cfg.rh_mode_value || (mode === 'VOICE_CLONE' ? '2' : '1'));\nconst audioDurationSec = inputMeta.audioDurationSec;\nconst targetWidth = Number(inputMeta.targetWidth);\nconst targetHeight = Number(inputMeta.targetHeight);\nconst sourceWidth = Number(inputMeta.sourceWidth);\nconst sourceHeight = Number(inputMeta.sourceHeight);\nconst aspectRatio = Number(inputMeta.aspectRatio);\n\nconst digitalHumanTaskId =\n  $('输入清洗与校验').item.json.taskId ||\n  $('输入清洗与校验').item.json.task_id ||\n  inputMeta.passthrough?.task_id ||\n  inputMeta.passthrough?.record_id ||\n  '';\n\nif (!apiKey) throw new Error('缺少 runninghub_key');\nif (!workflowId) throw new Error('缺少 workflow_id');\nif (!webhookUrl) throw new Error('缺少 callback_url');\nif (!videoUrl) throw new Error('缺少 video_url');\n\nconst nodeInfoList = [\n  {\n    nodeId: '228',\n    fieldName: 'video',\n    fieldValue: String(videoUrl)\n  },\n  {\n    nodeId: '336',\n    fieldName: 'value',\n    fieldValue: String(rhModeValue)\n  }\n];\n\nif (Number.isFinite(targetWidth) && targetWidth > 0 && Number.isFinite(targetHeight) && targetHeight > 0) {\n  nodeInfoList.push(\n    {\n      nodeId: '327',\n      fieldName: 'value',\n      fieldValue: String(Math.round(targetWidth))\n    },\n    {\n      nodeId: '326',\n      fieldName: 'value',\n      fieldValue: String(Math.round(targetHeight))\n    }\n  );\n}\n\nif (mode === 'LIP_SYNC') {\n  if (!audioUrl) throw new Error('LIP_SYNC 模式缺少 audio_url');\n\n  nodeInfoList.push({\n    nodeId: '125',\n    fieldName: 'audio',\n    fieldValue: String(audioUrl)\n  });\n}\n\nif (mode === 'VOICE_CLONE') {\n  if (!voiceRefAudioUrl) throw new Error('VOICE_CLONE 模式缺少 voice_ref_audio_url');\n  if (!scriptContent) throw new Error('VOICE_CLONE 模式缺少 script_content');\n\n  nodeInfoList.push(\n    {\n      nodeId: '328',\n      fieldName: 'value',\n      fieldValue: String(scriptContent)\n    },\n    {\n      nodeId: '329',\n      fieldName: 'audio',\n      fieldValue: String(voiceRefAudioUrl)\n    }\n  );\n\n  if (emoRefAudioUrl) {\n    nodeInfoList.push({\n      nodeId: '330',\n      fieldName: 'audio',\n      fieldValue: String(emoRefAudioUrl)\n    });\n  }\n}\n\nconst payload = {\n  apiKey: String(apiKey),\n  workflowId: String(workflowId),\n  nodeInfoList,\n  webhookUrl: String(webhookUrl)\n};\n\nif (digitalHumanTaskId) {\n  payload.clientId = String(digitalHumanTaskId);\n}\n\nreturn [{\n  json: {\n    ...payload,\n    passthrough: inputMeta.passthrough || {},\n    route: {\n      mode,\n      rhModeValue,\n      audioDurationSec,\n      workflowRule,\n      workflowId,\n      sourceWidth: Number.isFinite(sourceWidth) && sourceWidth > 0 ? sourceWidth : null,\n      sourceHeight: Number.isFinite(sourceHeight) && sourceHeight > 0 ? sourceHeight : null,\n      targetWidth: Number.isFinite(targetWidth) && targetWidth > 0 ? Math.round(targetWidth) : null,\n      targetHeight: Number.isFinite(targetHeight) && targetHeight > 0 ? Math.round(targetHeight) : null,\n      aspectRatio: Number.isFinite(aspectRatio) && aspectRatio > 0 ? aspectRatio : null\n    },\n    media: {\n      videoPublicUrl: videoUrl,\n      audioPublicUrl: audioUrl || '',\n      voiceRefAudioPublicUrl: voiceRefAudioUrl || '',\n      emoRefAudioPublicUrl: emoRefAudioUrl || ''\n    },\n    billing: {\n      api_key: cfg.api_key || '',\n      workflow_id: cfg.workflow_billing_id || '',\n      workflow_name: cfg.workflow_billing_name || ''\n    }\n  }\n}];"
      },
      "id": "09033c2a-f22e-4169-b141-9e8e6d7c938f",
      "name": "RH组装createPayload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4912,
        816
      ]
    },
    {
      "parameters": {
        "jsCode": "const cfg = $('Config').item.json || {};\nconst inputMeta = $('按音频时长选择工作流').item.json || {};\nconst billingMeta = $('RH组装createPayload').item.json?.billing || {};\n\nconst apiKey = cfg.runninghub_key;\nconst workflowId = cfg.workflow_id;\nconst webhookUrl = cfg.callback_url;\n\nconst videoUrl = cfg.video_url;\nconst audioUrl = cfg.audio_url;\nconst voiceRefAudioUrl = cfg.voice_ref_audio_url;\nconst emoRefAudioUrl = cfg.emo_ref_audio_url;\nconst scriptContent = cfg.script_content || '';\nconst workflowRule = cfg.workflow_rule || '';\nconst mode = String(cfg.mode || 'LIP_SYNC').toUpperCase();\nconst rhModeValue = String(cfg.rh_mode_value || (mode === 'VOICE_CLONE' ? '2' : '1'));\nconst audioDurationSec = inputMeta.audioDurationSec;\nconst targetWidth = Number(inputMeta.targetWidth);\nconst targetHeight = Number(inputMeta.targetHeight);\nconst sourceWidth = Number(inputMeta.sourceWidth);\nconst sourceHeight = Number(inputMeta.sourceHeight);\nconst aspectRatio = Number(inputMeta.aspectRatio);\n\nconst digitalHumanTaskId =\n  $('输入清洗与校验').item.json.taskId ||\n  $('输入清洗与校验').item.json.task_id ||\n  inputMeta.passthrough?.task_id ||\n  inputMeta.passthrough?.record_id ||\n  '';\n\nif (!apiKey) throw new Error('缺少 runninghub_key');\nif (!workflowId) throw new Error('缺少 workflow_id');\nif (!webhookUrl) throw new Error('缺少 callback_url');\nif (!videoUrl) throw new Error('缺少 video_url');\n\nconst firstRefAudioUrl = voiceRefAudioUrl || audioUrl || '';\nconst secondRefAudioUrl = emoRefAudioUrl || firstRefAudioUrl || '';\n\nconst nodeInfoList = [\n  {\n    nodeId: '228',\n    fieldName: 'video',\n    fieldValue: String(videoUrl)\n  },\n  {\n    nodeId: '336',\n    fieldName: 'value',\n    fieldValue: String(rhModeValue)\n  }\n];\n\nif (Number.isFinite(targetWidth) && targetWidth > 0 && Number.isFinite(targetHeight) && targetHeight > 0) {\n  nodeInfoList.push(\n    {\n      nodeId: '327',\n      fieldName: 'value',\n      fieldValue: String(Math.round(targetWidth))\n    },\n    {\n      nodeId: '326',\n      fieldName: 'value',\n      fieldValue: String(Math.round(targetHeight))\n    }\n  );\n}\n\nif (mode === 'LIP_SYNC') {\n  if (!audioUrl) throw new Error('LIP_SYNC 模式缺少 audio_url');\n\n  nodeInfoList.push({\n    nodeId: '125',\n    fieldName: 'audio',\n    fieldValue: String(audioUrl)\n  });\n}\n\nif (mode === 'VOICE_CLONE') {\n  if (!scriptContent) throw new Error('VOICE_CLONE 模式缺少 script_content');\n\n  nodeInfoList.push({\n    nodeId: '328',\n    fieldName: 'value',\n    fieldValue: String(scriptContent)\n  });\n}\n\nif (firstRefAudioUrl) {\n  nodeInfoList.push({\n    nodeId: '329',\n    fieldName: 'audio',\n    fieldValue: String(firstRefAudioUrl)\n  });\n}\n\nif (secondRefAudioUrl) {\n  nodeInfoList.push({\n    nodeId: '330',\n    fieldName: 'audio',\n    fieldValue: String(secondRefAudioUrl)\n  });\n}\n\nconst payload = {\n  apiKey: String(apiKey),\n  workflowId: String(workflowId),\n  nodeInfoList,\n  webhookUrl: String(webhookUrl)\n};\n\nif (digitalHumanTaskId) {\n  payload.clientId = String(digitalHumanTaskId);\n}\n\nreturn [{\n  json: {\n    ...payload,\n    passthrough: inputMeta.passthrough || {},\n    route: {\n      mode,\n      rhModeValue,\n      audioDurationSec,\n      workflowRule,\n      workflowId,\n      sourceWidth: Number.isFinite(sourceWidth) && sourceWidth > 0 ? sourceWidth : null,\n      sourceHeight: Number.isFinite(sourceHeight) && sourceHeight > 0 ? sourceHeight : null,\n      targetWidth: Number.isFinite(targetWidth) && targetWidth > 0 ? Math.round(targetWidth) : null,\n      targetHeight: Number.isFinite(targetHeight) && targetHeight > 0 ? Math.round(targetHeight) : null,\n      aspectRatio: Number.isFinite(aspectRatio) && aspectRatio > 0 ? aspectRatio : null\n    },\n    media: {\n      videoPublicUrl: videoUrl,\n      audioPublicUrl: audioUrl || '',\n      voiceRefAudioPublicUrl: firstRefAudioUrl || '',\n      emoRefAudioPublicUrl: secondRefAudioUrl || ''\n    },\n    billing: billingMeta\n  }\n}];"
      },
      "id": "244d5be9-9085-4af4-ad68-fc931922b6b5",
      "name": "校验RH请求体",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5136,
        816
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.runninghub.cn/task/openapi/create",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { apiKey: $json.apiKey, workflowId: $json.workflowId, nodeInfoList: $json.nodeInfoList, webhookUrl: $json.webhookUrl } }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "e5dfa90b-d294-448a-9b59-caa536d3e555",
      "name": "RH创建任务",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        5360,
        816
      ],
      "retryOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const rh = $json || {};\nconst req = $('校验RH请求体').item.json || {};\nconst inputMeta = $('输入清洗与校验').item.json || {};\n\nconst code = rh.code ?? rh.status ?? rh.errCode ?? 0;\nconst success = code === 0 || code === '0' || rh.success === true || rh.msg === 'success';\n\nconst possibleTaskId = rh.taskId || rh.data?.taskId || rh.data?.id || rh.id || rh.task_id || '';\nconst possibleMsg = rh.msg || rh.message || rh.errorMessage || '';\n\nreturn [{\n  json: {\n    success,\n    code,\n    message: possibleMsg,\n    runninghub: rh,\n    task: {\n      taskId: possibleTaskId,\n      workflowId: req.workflowId || ''\n    },\n    route: req.route || {},\n    media: req.media || {},\n    passthrough: req.passthrough || {},\n    billing: {\n      api_key: inputMeta.apiKey || req.billing?.api_key || '',\n      workflow_id: inputMeta.workflowIdFromUser || req.billing?.workflow_id || '',\n      workflow_name: inputMeta.workflowName || req.billing?.workflow_name || ''\n    }\n  }\n}];"
      },
      "id": "806eba9a-9782-4cb1-9ba1-38c01c5c8d21",
      "name": "整理RH响应",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5584,
        816
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.success }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4987ff8c-2831-430b-ad22-08c1bb774c8a",
      "name": "IF-RH创建成功",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        5808,
        816
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "digital_human_videos",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('输入清洗与校验').item.json.taskId }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "PROCESSING"
            }
          ]
        }
      },
      "id": "9187e3f8-c797-4ec6-a73f-23cb8cfcec85",
      "name": "Supabase Update Video Task",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        6032,
        720
      ],
      "credentials": {
        "supabaseApi": {
          "id": "51Y43Q3CDfFRAjNI",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const summary = $('整理RH响应').item.json || {};\n\nreturn [{\n  json: {\n    ok: true,\n    success: true,\n    code: summary.code,\n    message: summary.message,\n    task: summary.task || {},\n    route: summary.route || {},\n    media: summary.media || {},\n    passthrough: summary.passthrough || {},\n    billing: summary.billing || {},\n    runninghub: summary.runninghub || {}\n  }\n}];"
      },
      "id": "db461145-11e8-46ce-b32a-6a0af9354cdd",
      "name": "输出成功响应",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6256,
        720
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "86a3c49e-4ca8-4aaf-8a3d-a93d8eb77d96",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        6480,
        720
      ]
    },
    {
      "parameters": {
        "jsCode": "const summary = $('整理RH响应').item.json || {};\nreturn [{\n  json: {\n    ok: false,\n    success: false,\n    error: 'runninghub_create_failed',\n    code: summary.code,\n    message: summary.message,\n    task: summary.task || {},\n    route: summary.route || {},\n    media: summary.media || {},\n    passthrough: summary.passthrough || {},\n    billing: summary.billing || {},\n    runninghub: summary.runninghub || {}\n  }\n}];"
      },
      "id": "5307c331-15e3-4853-8d42-b746b66987a5",
      "name": "输出失败响应",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6032,
        912
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "1ea5fffd-6059-404f-b3ab-7083a2ebe52a",
      "name": "Respond-RH失败",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        6256,
        912
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "输入清洗与校验",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "输入清洗与校验": {
      "main": [
        [
          {
            "node": "按音频时长选择工作流",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "按音频时长选择工作流": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "RH组装createPayload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RH组装createPayload": {
      "main": [
        [
          {
            "node": "校验RH请求体",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "校验RH请求体": {
      "main": [
        [
          {
            "node": "RH创建任务",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RH创建任务": {
      "main": [
        [
          {
            "node": "整理RH响应",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "整理RH响应": {
      "main": [
        [
          {
            "node": "IF-RH创建成功",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF-RH创建成功": {
      "main": [
        [
          {
            "node": "Supabase Update Task",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "输出失败响应",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Update Task": {
      "main": [
        [
          {
            "node": "输出成功响应",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "输出成功响应": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "输出失败响应": {
      "main": [
        [
          {
            "node": "Respond-RH失败",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "91f3ec7d-0be9-4f9d-839f-51abb6c32339",
  "meta": {
    "instanceId": "f5de7f2967fea28691928d5cc106b2279dbf4197e0e2c62d616c8450d409e0e7"
  },
  "id": "Pv7Vg8n6Dja3XEd0",
  "tags": []
}
