workflows/dD3z4oaWhFNNIL3K.json
{
  "updatedAt": "2026-03-07T05:34:34.972Z",
  "createdAt": "2026-03-07T04:54:51.770Z",
  "id": "dD3z4oaWhFNNIL3K",
  "name": "product-dna-web-fix",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"started\",\n  \"message\": \"Analysis workflow started\"\n}",
        "options": {}
      },
      "id": "8ef859a2-dcdf-437d-8549-ea83cc69796c",
      "name": "Respond Immediate",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        256,
        688
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "products",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.product_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "PROCESSING"
            },
            {
              "fieldId": "progress",
              "fieldValue": "10"
            }
          ]
        }
      },
      "id": "50405968-deee-4ad3-958c-a92ff0e24d30",
      "name": "Update Progress 10%",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        256,
        496
      ],
      "credentials": {
        "supabaseApi": {
          "id": "51Y43Q3CDfFRAjNI",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.atomx.top/workflow-credits/query",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "workflow_id",
              "value": "={{ $node[\"Webhook\"].json.body.workflow_id || \"flow_product_dna\" }}"
            },
            {
              "name": "workflow_name",
              "value": "={{ $node[\"Webhook\"].json.body.workflow_name || \"产品分析\" }}"
            }
          ]
        },
        "options": {}
      },
      "name": "查询工作流积分",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        496
      ],
      "id": "09258ec8-c405-47d6-ae54-2184029e322f"
    },
    {
      "parameters": {
        "url": "https://api.atomx.top/api/balance/check",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "api_key",
              "value": "={{ $node[\"Webhook\"].json.body.api_key }}"
            },
            {
              "name": "required",
              "value": "={{ $node[\"查询工作流积分\"].json.data.credit_cost }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        704,
        496
      ],
      "id": "0341fa31-436d-40ca-822e-db833a6add0f",
      "name": "验证api-key",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.ok }}",
                    "rightValue": "false",
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    },
                    "id": "84e547e5-80ae-4340-a3e9-b76f32d20e0c"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "apikey_invalid"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1f0f0883-abf7-4c55-8068-85568446efd2",
                    "leftValue": "={{ $json.ok === true && $json.data.sufficient === false }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "insufficient_points"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "94a60a62-da20-469a-ac15-4867f6a63449",
                    "leftValue": "={{ $json.ok === true && $json.data.sufficient === true }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pass"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        928,
        480
      ],
      "id": "ea4620be-d414-4a57-9830-46803e03e41f",
      "name": "Switch"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"ok\": false,\n  \"error\": \"api_key_invalid\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1152,
        304
      ],
      "id": "9fcd6627-f287-489f-a62d-d7471debae34",
      "name": "提醒-key错误"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"ok\": false,\n  \"error\": \"insufficient_credits\",\n  \"required\": {{ $node[\\\"查询工作流积分\\\"].json.data.credit_cost }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1152,
        496
      ],
      "id": "9923228e-e58d-40d4-85e1-0b3b733e848a",
      "name": "提醒-积分不足"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "products",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.product_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "PROCESSING"
            },
            {
              "fieldId": "progress",
              "fieldValue": "30"
            }
          ]
        }
      },
      "id": "43f36596-fd8a-4e63-ade5-e311c035513a",
      "name": "Update Progress 30%",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1152,
        688
      ],
      "credentials": {
        "supabaseApi": {
          "id": "51Y43Q3CDfFRAjNI",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('Webhook').item.json.body.image_url }}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1376,
        688
      ],
      "id": "ce21889f-10f7-4ce8-8240-4e98a4be68c4",
      "name": "下载图片",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// n8n Code node: build Yunwu Gemini generateContent body for 产品营销DNA\n// ✅ 数据来源：优先直接从 Webhook 读取业务字段，避免被“下载图片”节点覆盖\n// ✅ 有图：优先读取上游“下载图片”的 binary -> inlineData(base64)\n// ✅ 无图 / 下载失败：纯文本也能分析（不 throw）\n\nfunction pickText(v) {\n  if (v == null) return '';\n  if (typeof v === 'string' || typeof v === 'number' || typeof v === 'boolean') return String(v);\n\n  if (Array.isArray(v)) {\n    return v\n      .map(x => {\n        if (x == null) return '';\n        if (typeof x === 'string' || typeof x === 'number' || typeof x === 'boolean') return String(x);\n        if (typeof x === 'object') return String(x.text ?? x.value ?? x.name ?? x.url ?? x.link ?? '');\n        return '';\n      })\n      .filter(Boolean)\n      .join('\\n');\n  }\n\n  if (typeof v === 'object') return String(v.text ?? v.value ?? v.name ?? v.url ?? v.link ?? '');\n  return String(v);\n}\n\nfunction getField(obj, keyCandidates) {\n  for (const k of keyCandidates) {\n    if (obj && Object.prototype.hasOwnProperty.call(obj, k)) return pickText(obj[k]);\n  }\n  return '';\n}\n\nfunction pickBinaryKey(bin) {\n  if (!bin || typeof bin !== 'object') return '';\n  if (bin.image) return 'image';\n  if (bin.data) return 'data';\n  const keys = Object.keys(bin);\n  return keys.length ? keys[0] : '';\n}\n\nasync function getBase64FromBinary(itemIndex, binaryKey) {\n  const item = $input.all()[itemIndex];\n  const bin = item.binary?.[binaryKey];\n  if (!bin) return { base64: '', mimeType: '' };\n\n  const mimeType = bin.mimeType || 'image/jpeg';\n\n  if (bin.data && typeof bin.data === 'string' && bin.data.length > 50) {\n    return { base64: bin.data, mimeType };\n  }\n\n  if (!this?.helpers?.getBinaryDataBuffer) {\n    return { base64: '', mimeType };\n  }\n\n  const buf = await this.helpers.getBinaryDataBuffer(itemIndex, binaryKey);\n  return { base64: buf.toString('base64'), mimeType };\n}\n\nconst wh = $('Webhook').first().json || {};\nconst body = (wh.body && typeof wh.body === 'object') ? wh.body : wh;\n\nconst productId = getField(body, ['product_id', 'productId', 'id']);\nconst imageUrl = getField(body, ['image_url', 'imageUrl', 'url']);\nconst apiKey = getField(body, ['api_key', 'apiKey']);\nconst workflowId = getField(body, ['workflow_id', 'workflowId']);\nconst workflowName = getField(body, ['workflow_name', 'workflowName']);\n\nconst productName = getField(body, [\n  'product_name', 'productName', 'name',\n  '产品名称', '产品名', '商品名称', '商品名'\n]);\n\nconst sellingPts = getField(body, [\n  'selling_points', 'sellingPoints',\n  '产品卖点（选填）', '核心卖点', '卖点', '产品亮点'\n]);\n\nconst extraDesc = getField(body, [\n  'extra_desc', 'extraDesc', 'description',\n  '产品描述', '商品描述', '补充描述', '描述'\n]);\n\nconst PROMPT_TEXT = `# Role\n你是一位资深的**电商选品经理与营销策划专家**。擅长通过一张产品图片，反推其核心卖点、目标人群和视觉特征。\n\n# Task\n分析用户上传的产品图片（或描述），输出一份**“产品营销DNA报告”**。这份报告将用于指导后续的视频脚本生成。\n\n# Analysis Logic\n1) 视觉外观：颜色、材质、形状、质感（让视频生成AI知道“产品长什么样”）\n2) 核心卖点：功能性卖点 + 体验性卖点，并给出可视化证明方式\n3) 使用场景与人群：谁在用、在哪用\n\n# Output (STRICT JSON ONLY)\n{\n  \"product_name\": \"基于图片推断的产品名称\",\n  \"visual_description\": \"详细视觉描述（给Sora/视频提示词用）\",\n  \"marketing_profile\": {\n    \"target_audience_vibe\": \"目标用户形象\",\n    \"ideal_environment\": \"最佳场景\",\n    \"core_selling_points\": [\n      {\n        \"type\": \"Physical\",\n        \"description\": \"物理特性卖点\",\n        \"visual_proof\": \"如何用画面证明\"\n      },\n      {\n        \"type\": \"Emotional\",\n        \"description\": \"情感/体验卖点\",\n        \"visual_proof\": \"如何用画面证明\"\n      }\n    ]\n  }\n}`;\n\nconst userSupplement = [\n  `产品名称：${productName || '未提供'}`,\n  `产品卖点：${sellingPts || '未提供'}`,\n  `产品描述：${extraDesc || '未提供'}`\n].join('\\n');\n\nconst userText = `${PROMPT_TEXT}\\n\\n${userSupplement}\\n\\n只输出 JSON，不要 markdown，不要多余文本。`;\n\nconst items = $input.all();\nconst out = [];\n\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i];\n  const bin = item.binary || {};\n  const binaryKey = pickBinaryKey(bin);\n\n  let imagePart = null;\n  if (binaryKey) {\n    try {\n      const { base64, mimeType } = await getBase64FromBinary.call(this, i, binaryKey);\n      if (base64) {\n        imagePart = {\n          inlineData: {\n            mimeType,\n            data: base64\n          }\n        };\n      }\n    } catch (e) {\n      // 下载失败 / binary 读取失败时，继续纯文本分析\n    }\n  }\n\n  const parts = [{ text: userText }];\n  if (imagePart) parts.push(imagePart);\n\n  const gemini_body = {\n    systemInstruction: {\n      parts: [{ text: 'Return STRICT JSON only. No markdown. No extra text.' }]\n    },\n    contents: [\n      {\n        role: 'user',\n        parts\n      }\n    ],\n    generationConfig: {\n      responseMimeType: 'application/json',\n      temperature: 0.2\n    }\n  };\n\n  out.push({\n    json: {\n      ...item.json,\n      product_id: productId || null,\n      id: productId || null,\n      image_url: imageUrl || null,\n      api_key: apiKey || null,\n      workflow_id: workflowId || null,\n      workflow_name: workflowName || null,\n      gemini_body,\n      _debug_webhook_fields: {\n        productId: productId || null,\n        imageUrl: imageUrl || null,\n        productName: productName || null,\n        sellingPts: sellingPts || null,\n        extraDesc: extraDesc || null,\n        apiKey: apiKey ? '***' : null,\n        workflowId: workflowId || null,\n        workflowName: workflowName || null\n      },\n      _debug_image_attached: !!imagePart\n    },\n    binary: item.binary\n  });\n}\n\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        688
      ],
      "id": "e50f23d7-6676-47a8-b207-d9ebd4e1f611",
      "name": "组装请求"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "products",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.product_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "PROCESSING"
            },
            {
              "fieldId": "progress",
              "fieldValue": "50"
            }
          ]
        }
      },
      "id": "cad28f47-820c-4c6c-bd23-4be7ccea6213",
      "name": "Update Progress 50%",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1824,
        688
      ],
      "credentials": {
        "supabaseApi": {
          "id": "51Y43Q3CDfFRAjNI",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://yunwu.ai/v1beta/models/gemini-2.5-pro:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('组装请求').item.json.gemini_body }}",
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2048,
        688
      ],
      "id": "a3fb085b-6e4e-4fe7-8220-e6dd6230b1b3",
      "name": "分析Agent-视频理解",
      "retryOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "mMIH382GnJoMSu4L",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 清洗卖点数据：解析 Gemini 返回 + 补回 Webhook 的 product_id/api_key/workflow_id\n// 输出给 Supabase：product_id + selling_points(jsonb) + selling_points_text(string)\n\nconst input = $input.first()?.json || {};\n\nlet resp = input.body ?? input;\n\nif (typeof resp === 'string') {\n  try { resp = JSON.parse(resp); } catch (e) {}\n}\nif (typeof input.data === 'string') {\n  try { resp = JSON.parse(input.data); } catch (e) {}\n}\n\nconst parts = resp?.candidates?.[0]?.content?.parts;\nif (!Array.isArray(parts) || parts.length === 0) {\n  throw new Error('Gemini 返回缺少 candidates[0].content.parts');\n}\n\nlet text = parts.map(p => p?.text || '').join('\\n').trim();\nif (!text) throw new Error('Gemini parts.text 为空');\n\ntext = text.replace(/^```json\\s*/i, '').replace(/^```\\s*/i, '');\ntext = text.replace(/\\s*```$/i, '').trim();\n\nlet product_dna;\ntry {\n  product_dna = JSON.parse(text);\n} catch (e) {\n  const head = text.slice(0, 300);\n  const tail = text.slice(-300);\n  throw new Error(`product_dna JSON.parse 失败：${e.message}\\n---HEAD---\\n${head}\\n---TAIL---\\n${tail}`);\n}\n\nconst wh = $('Webhook').first().json || {};\nconst whBody = (wh.body && typeof wh.body === 'object') ? wh.body : wh;\n\nconst product_id = whBody.product_id ?? null;\nconst api_key = whBody.api_key ?? null;\nconst workflow_id = whBody.workflow_id ?? null;\n\nconst selling_points = product_dna;\n\nfunction safe(s) {\n  return String(s ?? '').trim();\n}\n\nconst name = safe(product_dna?.product_name);\nconst visual = safe(product_dna?.visual_description);\n\nconst mp = product_dna?.marketing_profile || {};\nconst audience = safe(mp?.target_audience_vibe);\nconst env = safe(mp?.ideal_environment);\n\nconst points = Array.isArray(mp?.core_selling_points) ? mp.core_selling_points : [];\nconst top = points.slice(0, 6).map((p, i) => {\n  const type = safe(p?.type) || 'Point';\n  const desc = safe(p?.description);\n  const proof = safe(p?.visual_proof);\n  return `- ${i + 1}.【${type}】${desc}${proof ? `（画面证明：${proof}）` : ''}`;\n}).join('\\n');\n\nconst selling_points_text = [\n  `产品名称：${name || '（未识别）'}`,\n  audience ? `目标人群：${audience}` : '',\n  env ? `核心场景：${env}` : '',\n  top ? `核心卖点：\\n${top}` : '核心卖点：（无）',\n  visual ? `视觉描述：${visual}` : ''\n].filter(Boolean).join('\\n');\n\nconst usage = resp?.usageMetadata ?? resp?.usage ?? {};\n\nreturn [{\n  json: {\n    ...input,\n    product_id,\n    id: product_id,\n    api_key,\n    workflow_id,\n    product_dna,\n    usage,\n    selling_points,\n    selling_points_text\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2272,
        688
      ],
      "id": "481fcdc9-e6a6-4866-bfef-639ad7a32916",
      "name": "清洗卖点数据"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "products",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.product_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "PROCESSING"
            },
            {
              "fieldId": "progress",
              "fieldValue": "80"
            }
          ]
        }
      },
      "id": "f7d35252-29fe-4427-a2a8-50abf28b1722",
      "name": "Update Progress 80%",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2496,
        688
      ],
      "credentials": {
        "supabaseApi": {
          "id": "51Y43Q3CDfFRAjNI",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "products",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "selling_points",
              "fieldValue": "={{ $('清洗卖点数据').item.json.candidates[0].content.parts[0].text }}"
            },
            {
              "fieldId": "selling_points_text",
              "fieldValue": "={{ $('清洗卖点数据').item.json.selling_points_text }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "COMPLETED"
            },
            {
              "fieldId": "progress",
              "fieldValue": 100
            }
          ]
        }
      },
      "name": "Supabase Update",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2720,
        688
      ],
      "id": "1b213ff4-039e-4841-8de0-ca2df721601c",
      "credentials": {
        "supabaseApi": {
          "id": "51Y43Q3CDfFRAjNI",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.atomx.top/api/credits/deduct",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "api_key",
              "value": "={{ $node[\"Webhook\"].json.body.api_key }}"
            },
            {
              "name": "amount",
              "value": "={{ $node[\"查询工作流积分\"].json.data.credit_cost }}"
            },
            {
              "name": "reason",
              "value": "={{ $node[\"查询工作流积分\"].json.data.workflow_name }}"
            },
            {
              "name": "workflow_id",
              "value": "={{ $node[\"查询工作流积分\"].json.data.workflow_id }}"
            },
            {
              "name": "workflow_name",
              "value": "={{ $node[\"查询工作流积分\"].json.data.workflow_name }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b3905561-fd82-4f0b-8a19-a04d9a933953",
      "name": "扣除积分",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2944,
        688
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "product_dna_web",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "5f2525fc-44e4-4d56-a767-86c91b5fe721",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        48,
        576
      ],
      "webhookId": "4a61315d-782c-46be-b9a0-125ff3834f7b"
    }
  ],
  "connections": {
    "Update Progress 10%": {
      "main": [
        [
          {
            "node": "查询工作流积分",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "查询工作流积分": {
      "main": [
        [
          {
            "node": "验证api-key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "验证api-key": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "提醒-key错误",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "提醒-积分不足",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Progress 30%",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Progress 30%": {
      "main": [
        [
          {
            "node": "下载图片",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "下载图片": {
      "main": [
        [
          {
            "node": "组装请求",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "组装请求": {
      "main": [
        [
          {
            "node": "Update Progress 50%",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Progress 50%": {
      "main": [
        [
          {
            "node": "分析Agent-视频理解",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "分析Agent-视频理解": {
      "main": [
        [
          {
            "node": "清洗卖点数据",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "清洗卖点数据": {
      "main": [
        [
          {
            "node": "Update Progress 80%",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Progress 80%": {
      "main": [
        [
          {
            "node": "Supabase Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Update": {
      "main": [
        [
          {
            "node": "扣除积分",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Update Progress 10%",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond Immediate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "hooks.atomx.top",
            "x-real-ip": "119.249.30.190",
            "x-forwarded-for": "119.249.30.190",
            "x-forwarded-proto": "https",
            "connection": "close",
            "content-length": "302",
            "content-type": "application/json",
            "accept": "*/*",
            "accept-language": "*",
            "sec-fetch-mode": "cors",
            "user-agent": "node",
            "accept-encoding": "br, gzip, deflate"
          },
          "params": {},
          "query": {},
          "body": {
            "name": "保温杯",
            "description": "",
            "product_id": "cmmftxno100005rq225zgs6yc",
            "api_key": "",
            "workflow_id": "flow_product_dna",
            "image_url": "https://supabase-api.atomx.top/storage/v1/object/public/uploads/1772858090137-170108065-image1769085457935pmcyok2.png"
          },
          "webhookUrl": "http://localhost:5678/webhook/product_dna_web",
          "executionMode": "production"
        }
      }
    ],
    "下载图片": [
      {
        "json": {
          "id": "cmmftxno100005rq225zgs6yc",
          "name": "保温杯",
          "description": "",
          "selling_points": "[\"容量大，保温效果好\"]",
          "selling_points_text": null,
          "images": "[\"https://supabase-api.atomx.top/storage/v1/object/public/uploads/1772858090137-170108065-image1769085457935pmcyok2.png\"]",
          "analysisResult": "{\"status\":\"ANALYZING\"}",
          "status": "PROCESSING",
          "progress": 30,
          "createdAt": "2026-03-07T04:34:53.329",
          "updatedAt": "2026-03-07T04:34:54.163"
        },
        "binary": {
          "data": {
            "mimeType": "image/png",
            "fileType": "image",
            "fileExtension": "png",
            "data": "filesystem-v2",
            "directory": "https://supabase-api.atomx.top/storage/v1/object/public/uploads/1772858090137-170108065-image1769085457935pmcyok2.png",
            "fileName": "1772858090137-170108065-image1769085457935pmcyok2.png",
            "id": "filesystem-v2:workflows/dD3z4oaWhFNNIL3K/executions/90652/binary_data/5b4e65c9-8b81-4ff4-a70c-245ce4ae0e1c",
            "fileSize": "1.52 MB"
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "分析Agent-视频理解": [
      {
        "json": {
          "candidates": [
            {
              "content": {
                "parts": [
                  {
                    "text": "{\n  \"product_name\": \"梵高艺术印花手柄保温杯\",\n  \"visual_description\": \"一个大容量（约40盎司）的带手柄和吸管的保温杯。杯身主体为不锈钢材质，表面覆盖着一层哑光质感的艺术印花，图案风格酷似梵高的后印象派画作，描绘了有明亮月亮的夜空、起伏的山峦和宁静的村庄。主色调为深邃的蓝色、淡黄色和橄榄绿。杯盖、手柄和吸管头为统一的哑光深蓝色塑料/硅胶材质。杯身形状上宽下窄，可放入汽车杯架。整体呈现出艺术、复古与实用的结合感。\",\n  \"marketing_profile\": {\n    \"target_audience_vibe\": \"文艺青年、艺术爱好者、创意工作者（如设计师、作家）。他们追求生活中的美学，注重个人表达，希望日常用品也能彰显独特的艺术品味。\",\n    \"ideal_environment\": \"创意工作室、艺术画廊、洒满阳光的咖啡馆、大学校园、舒适的居家书房或自驾旅行途中。\",\n    \"core_selling_points\": [\n      {\n        \"type\": \"Physical\",\n        \"description\": \"大容量设计，满足全天饮水需求；双层不锈钢真空结构，实现长效保温保冷；宽大手柄易于握持，锥形杯底适配车载杯架，兼具便携与实用性。\",\n        \"visual_proof\": \"快速蒙太奇镜头：1. 将一整瓶矿泉水轻松倒入杯中，显示其巨大容量。2. 早上装满冰块，下午在阳光下打开，冰块依然未融化。3. 将杯子稳稳放入汽车杯架中，驾驶员单手轻松拿起喝水。\"\n      },\n      {\n        \"type\": \"Emotional\",\n        \"description\": \"这不仅是一个水杯，更是一个“可以随身携带的艺术馆”。将世界名画融入日常，让每一次饮水都成为一次审美体验，是彰显个人艺术品味的独特配饰。\",\n        \"visual_proof\": \"慢镜头特写：用户手持水杯，背景从办公室无缝切换到梵高的《星空》画作前，实现人、杯、画的融合。或在充满艺术气息的环境中（如画室、书店），此杯作为视觉焦点被摆放在桌上。\"\n      }\n    ]\n  }\n}"
                  }
                ],
                "role": "model"
              },
              "finishReason": "STOP",
              "index": 0
            }
          ],
          "usageMetadata": {
            "promptTokenCount": 622,
            "candidatesTokenCount": 560,
            "totalTokenCount": 3112,
            "promptTokensDetails": [
              {
                "modality": "TEXT",
                "tokenCount": 364
              },
              {
                "modality": "IMAGE",
                "tokenCount": 258
              }
            ],
            "thoughtsTokenCount": 1930
          },
          "modelVersion": "gemini-2.5-pro",
          "responseId": "hbiraZyyK-q9-sAP0Zv4mA8"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "7f4496cc-c632-4aaf-a0d0-c6e3df48a226",
  "activeVersionId": "7f4496cc-c632-4aaf-a0d0-c6e3df48a226",
  "versionCounter": 8,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-07T04:54:51.770Z",
      "createdAt": "2026-03-07T04:54:51.770Z",
      "role": "workflow:owner",
      "workflowId": "dD3z4oaWhFNNIL3K",
      "projectId": "tMHfv8jC54QugIS3",
      "project": {
        "updatedAt": "2025-12-05T18:24:07.030Z",
        "createdAt": "2025-12-05T18:00:52.525Z",
        "id": "tMHfv8jC54QugIS3",
        "name": "fan liu <591905097@qq.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-12-05T18:00:52.525Z",
            "createdAt": "2025-12-05T18:00:52.525Z",
            "userId": "e1a90281-8c6a-4ec7-a985-3a344ba88b66",
            "projectId": "tMHfv8jC54QugIS3",
            "user": {
              "updatedAt": "2026-03-12T04:36:50.363Z",
              "createdAt": "2025-12-05T18:00:51.894Z",
              "id": "e1a90281-8c6a-4ec7-a985-3a344ba88b66",
              "email": "591905097@qq.com",
              "firstName": "fan",
              "lastName": "liu",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-12-05T18:24:47.635Z",
                "personalization_survey_n8n_version": "1.122.5",
                "companySize": "<20",
                "companyType": "saas",
                "role": "business-owner",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "e9Q0InRVbw3mcRzk",
                "userActivatedAt": 1773290207581,
                "easyAIWorkflowOnboarded": true,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1772350096923
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-12",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-07T05:34:33.536Z",
    "createdAt": "2026-03-07T05:34:33.536Z",
    "versionId": "7f4496cc-c632-4aaf-a0d0-c6e3df48a226",
    "workflowId": "dD3z4oaWhFNNIL3K",
    "nodes": [
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "{\n  \"status\": \"started\",\n  \"message\": \"Analysis workflow started\"\n}",
          "options": {}
        },
        "id": "8ef859a2-dcdf-437d-8549-ea83cc69796c",
        "name": "Respond Immediate",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          256,
          688
        ]
      },
      {
        "parameters": {
          "operation": "update",
          "tableId": "products",
          "filters": {
            "conditions": [
              {
                "keyName": "id",
                "condition": "eq",
                "keyValue": "={{ $('Webhook').item.json.body.product_id }}"
              }
            ]
          },
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "status",
                "fieldValue": "PROCESSING"
              },
              {
                "fieldId": "progress",
                "fieldValue": "10"
              }
            ]
          }
        },
        "id": "50405968-deee-4ad3-958c-a92ff0e24d30",
        "name": "Update Progress 10%",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          256,
          496
        ],
        "credentials": {
          "supabaseApi": {
            "id": "51Y43Q3CDfFRAjNI",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "url": "https://api.atomx.top/workflow-credits/query",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "workflow_id",
                "value": "={{ $node[\"Webhook\"].json.body.workflow_id || \"flow_product_dna\" }}"
              },
              {
                "name": "workflow_name",
                "value": "={{ $node[\"Webhook\"].json.body.workflow_name || \"产品分析\" }}"
              }
            ]
          },
          "options": {}
        },
        "name": "查询工作流积分",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          480,
          496
        ],
        "id": "09258ec8-c405-47d6-ae54-2184029e322f"
      },
      {
        "parameters": {
          "url": "https://api.atomx.top/api/balance/check",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "api_key",
                "value": "={{ $node[\"Webhook\"].json.body.api_key }}"
              },
              {
                "name": "required",
                "value": "={{ $node[\"查询工作流积分\"].json.data.credit_cost }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          704,
          496
        ],
        "id": "0341fa31-436d-40ca-822e-db833a6add0f",
        "name": "验证api-key",
        "alwaysOutputData": true,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.ok }}",
                      "rightValue": "false",
                      "operator": {
                        "type": "boolean",
                        "operation": "false",
                        "singleValue": true
                      },
                      "id": "84e547e5-80ae-4340-a3e9-b76f32d20e0c"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "apikey_invalid"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "1f0f0883-abf7-4c55-8068-85568446efd2",
                      "leftValue": "={{ $json.ok === true && $json.data.sufficient === false }}",
                      "rightValue": "",
                      "operator": {
                        "type": "boolean",
                        "operation": "true",
                        "singleValue": true
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "insufficient_points"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "94a60a62-da20-469a-ac15-4867f6a63449",
                      "leftValue": "={{ $json.ok === true && $json.data.sufficient === true }}",
                      "rightValue": "",
                      "operator": {
                        "type": "boolean",
                        "operation": "true",
                        "singleValue": true
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "pass"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          928,
          480
        ],
        "id": "ea4620be-d414-4a57-9830-46803e03e41f",
        "name": "Switch"
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={\n  \"ok\": false,\n  \"error\": \"api_key_invalid\"\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          1152,
          304
        ],
        "id": "9fcd6627-f287-489f-a62d-d7471debae34",
        "name": "提醒-key错误"
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={\n  \"ok\": false,\n  \"error\": \"insufficient_credits\",\n  \"required\": {{ $node[\\\"查询工作流积分\\\"].json.data.credit_cost }}\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          1152,
          496
        ],
        "id": "9923228e-e58d-40d4-85e1-0b3b733e848a",
        "name": "提醒-积分不足"
      },
      {
        "parameters": {
          "operation": "update",
          "tableId": "products",
          "filters": {
            "conditions": [
              {
                "keyName": "id",
                "condition": "eq",
                "keyValue": "={{ $('Webhook').item.json.body.product_id }}"
              }
            ]
          },
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "status",
                "fieldValue": "PROCESSING"
              },
              {
                "fieldId": "progress",
                "fieldValue": "30"
              }
            ]
          }
        },
        "id": "43f36596-fd8a-4e63-ade5-e311c035513a",
        "name": "Update Progress 30%",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          1152,
          688
        ],
        "credentials": {
          "supabaseApi": {
            "id": "51Y43Q3CDfFRAjNI",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "url": "={{ $('Webhook').item.json.body.image_url }}",
          "options": {
            "allowUnauthorizedCerts": true
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1376,
          688
        ],
        "id": "ce21889f-10f7-4ce8-8240-4e98a4be68c4",
        "name": "下载图片",
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "jsCode": "// n8n Code node: build Yunwu Gemini generateContent body for 产品营销DNA\n// ✅ 数据来源：优先直接从 Webhook 读取业务字段，避免被“下载图片”节点覆盖\n// ✅ 有图：优先读取上游“下载图片”的 binary -> inlineData(base64)\n// ✅ 无图 / 下载失败：纯文本也能分析（不 throw）\n\nfunction pickText(v) {\n  if (v == null) return '';\n  if (typeof v === 'string' || typeof v === 'number' || typeof v === 'boolean') return String(v);\n\n  if (Array.isArray(v)) {\n    return v\n      .map(x => {\n        if (x == null) return '';\n        if (typeof x === 'string' || typeof x === 'number' || typeof x === 'boolean') return String(x);\n        if (typeof x === 'object') return String(x.text ?? x.value ?? x.name ?? x.url ?? x.link ?? '');\n        return '';\n      })\n      .filter(Boolean)\n      .join('\\n');\n  }\n\n  if (typeof v === 'object') return String(v.text ?? v.value ?? v.name ?? v.url ?? v.link ?? '');\n  return String(v);\n}\n\nfunction getField(obj, keyCandidates) {\n  for (const k of keyCandidates) {\n    if (obj && Object.prototype.hasOwnProperty.call(obj, k)) return pickText(obj[k]);\n  }\n  return '';\n}\n\nfunction pickBinaryKey(bin) {\n  if (!bin || typeof bin !== 'object') return '';\n  if (bin.image) return 'image';\n  if (bin.data) return 'data';\n  const keys = Object.keys(bin);\n  return keys.length ? keys[0] : '';\n}\n\nasync function getBase64FromBinary(itemIndex, binaryKey) {\n  const item = $input.all()[itemIndex];\n  const bin = item.binary?.[binaryKey];\n  if (!bin) return { base64: '', mimeType: '' };\n\n  const mimeType = bin.mimeType || 'image/jpeg';\n\n  if (bin.data && typeof bin.data === 'string' && bin.data.length > 50) {\n    return { base64: bin.data, mimeType };\n  }\n\n  if (!this?.helpers?.getBinaryDataBuffer) {\n    return { base64: '', mimeType };\n  }\n\n  const buf = await this.helpers.getBinaryDataBuffer(itemIndex, binaryKey);\n  return { base64: buf.toString('base64'), mimeType };\n}\n\nconst wh = $('Webhook').first().json || {};\nconst body = (wh.body && typeof wh.body === 'object') ? wh.body : wh;\n\nconst productId = getField(body, ['product_id', 'productId', 'id']);\nconst imageUrl = getField(body, ['image_url', 'imageUrl', 'url']);\nconst apiKey = getField(body, ['api_key', 'apiKey']);\nconst workflowId = getField(body, ['workflow_id', 'workflowId']);\nconst workflowName = getField(body, ['workflow_name', 'workflowName']);\n\nconst productName = getField(body, [\n  'product_name', 'productName', 'name',\n  '产品名称', '产品名', '商品名称', '商品名'\n]);\n\nconst sellingPts = getField(body, [\n  'selling_points', 'sellingPoints',\n  '产品卖点（选填）', '核心卖点', '卖点', '产品亮点'\n]);\n\nconst extraDesc = getField(body, [\n  'extra_desc', 'extraDesc', 'description',\n  '产品描述', '商品描述', '补充描述', '描述'\n]);\n\nconst PROMPT_TEXT = `# Role\n你是一位资深的**电商选品经理与营销策划专家**。擅长通过一张产品图片，反推其核心卖点、目标人群和视觉特征。\n\n# Task\n分析用户上传的产品图片（或描述），输出一份**“产品营销DNA报告”**。这份报告将用于指导后续的视频脚本生成。\n\n# Analysis Logic\n1) 视觉外观：颜色、材质、形状、质感（让视频生成AI知道“产品长什么样”）\n2) 核心卖点：功能性卖点 + 体验性卖点，并给出可视化证明方式\n3) 使用场景与人群：谁在用、在哪用\n\n# Output (STRICT JSON ONLY)\n{\n  \"product_name\": \"基于图片推断的产品名称\",\n  \"visual_description\": \"详细视觉描述（给Sora/视频提示词用）\",\n  \"marketing_profile\": {\n    \"target_audience_vibe\": \"目标用户形象\",\n    \"ideal_environment\": \"最佳场景\",\n    \"core_selling_points\": [\n      {\n        \"type\": \"Physical\",\n        \"description\": \"物理特性卖点\",\n        \"visual_proof\": \"如何用画面证明\"\n      },\n      {\n        \"type\": \"Emotional\",\n        \"description\": \"情感/体验卖点\",\n        \"visual_proof\": \"如何用画面证明\"\n      }\n    ]\n  }\n}`;\n\nconst userSupplement = [\n  `产品名称：${productName || '未提供'}`,\n  `产品卖点：${sellingPts || '未提供'}`,\n  `产品描述：${extraDesc || '未提供'}`\n].join('\\n');\n\nconst userText = `${PROMPT_TEXT}\\n\\n${userSupplement}\\n\\n只输出 JSON，不要 markdown，不要多余文本。`;\n\nconst items = $input.all();\nconst out = [];\n\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i];\n  const bin = item.binary || {};\n  const binaryKey = pickBinaryKey(bin);\n\n  let imagePart = null;\n  if (binaryKey) {\n    try {\n      const { base64, mimeType } = await getBase64FromBinary.call(this, i, binaryKey);\n      if (base64) {\n        imagePart = {\n          inlineData: {\n            mimeType,\n            data: base64\n          }\n        };\n      }\n    } catch (e) {\n      // 下载失败 / binary 读取失败时，继续纯文本分析\n    }\n  }\n\n  const parts = [{ text: userText }];\n  if (imagePart) parts.push(imagePart);\n\n  const gemini_body = {\n    systemInstruction: {\n      parts: [{ text: 'Return STRICT JSON only. No markdown. No extra text.' }]\n    },\n    contents: [\n      {\n        role: 'user',\n        parts\n      }\n    ],\n    generationConfig: {\n      responseMimeType: 'application/json',\n      temperature: 0.2\n    }\n  };\n\n  out.push({\n    json: {\n      ...item.json,\n      product_id: productId || null,\n      id: productId || null,\n      image_url: imageUrl || null,\n      api_key: apiKey || null,\n      workflow_id: workflowId || null,\n      workflow_name: workflowName || null,\n      gemini_body,\n      _debug_webhook_fields: {\n        productId: productId || null,\n        imageUrl: imageUrl || null,\n        productName: productName || null,\n        sellingPts: sellingPts || null,\n        extraDesc: extraDesc || null,\n        apiKey: apiKey ? '***' : null,\n        workflowId: workflowId || null,\n        workflowName: workflowName || null\n      },\n      _debug_image_attached: !!imagePart\n    },\n    binary: item.binary\n  });\n}\n\nreturn out;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1600,
          688
        ],
        "id": "e50f23d7-6676-47a8-b207-d9ebd4e1f611",
        "name": "组装请求"
      },
      {
        "parameters": {
          "operation": "update",
          "tableId": "products",
          "filters": {
            "conditions": [
              {
                "keyName": "id",
                "condition": "eq",
                "keyValue": "={{ $('Webhook').item.json.body.product_id }}"
              }
            ]
          },
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "status",
                "fieldValue": "PROCESSING"
              },
              {
                "fieldId": "progress",
                "fieldValue": "50"
              }
            ]
          }
        },
        "id": "cad28f47-820c-4c6c-bd23-4be7ccea6213",
        "name": "Update Progress 50%",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          1824,
          688
        ],
        "credentials": {
          "supabaseApi": {
            "id": "51Y43Q3CDfFRAjNI",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://yunwu.ai/v1beta/models/gemini-2.5-pro:generateContent",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ $('组装请求').item.json.gemini_body }}",
          "options": {
            "response": {
              "response": {}
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2048,
          688
        ],
        "id": "a3fb085b-6e4e-4fe7-8220-e6dd6230b1b3",
        "name": "分析Agent-视频理解",
        "retryOnFail": true,
        "credentials": {
          "httpHeaderAuth": {
            "id": "mMIH382GnJoMSu4L",
            "name": "Header Auth account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// 清洗卖点数据：解析 Gemini 返回 + 补回 Webhook 的 product_id/api_key/workflow_id\n// 输出给 Supabase：product_id + selling_points(jsonb) + selling_points_text(string)\n\nconst input = $input.first()?.json || {};\n\nlet resp = input.body ?? input;\n\nif (typeof resp === 'string') {\n  try { resp = JSON.parse(resp); } catch (e) {}\n}\nif (typeof input.data === 'string') {\n  try { resp = JSON.parse(input.data); } catch (e) {}\n}\n\nconst parts = resp?.candidates?.[0]?.content?.parts;\nif (!Array.isArray(parts) || parts.length === 0) {\n  throw new Error('Gemini 返回缺少 candidates[0].content.parts');\n}\n\nlet text = parts.map(p => p?.text || '').join('\\n').trim();\nif (!text) throw new Error('Gemini parts.text 为空');\n\ntext = text.replace(/^```json\\s*/i, '').replace(/^```\\s*/i, '');\ntext = text.replace(/\\s*```$/i, '').trim();\n\nlet product_dna;\ntry {\n  product_dna = JSON.parse(text);\n} catch (e) {\n  const head = text.slice(0, 300);\n  const tail = text.slice(-300);\n  throw new Error(`product_dna JSON.parse 失败：${e.message}\\n---HEAD---\\n${head}\\n---TAIL---\\n${tail}`);\n}\n\nconst wh = $('Webhook').first().json || {};\nconst whBody = (wh.body && typeof wh.body === 'object') ? wh.body : wh;\n\nconst product_id = whBody.product_id ?? null;\nconst api_key = whBody.api_key ?? null;\nconst workflow_id = whBody.workflow_id ?? null;\n\nconst selling_points = product_dna;\n\nfunction safe(s) {\n  return String(s ?? '').trim();\n}\n\nconst name = safe(product_dna?.product_name);\nconst visual = safe(product_dna?.visual_description);\n\nconst mp = product_dna?.marketing_profile || {};\nconst audience = safe(mp?.target_audience_vibe);\nconst env = safe(mp?.ideal_environment);\n\nconst points = Array.isArray(mp?.core_selling_points) ? mp.core_selling_points : [];\nconst top = points.slice(0, 6).map((p, i) => {\n  const type = safe(p?.type) || 'Point';\n  const desc = safe(p?.description);\n  const proof = safe(p?.visual_proof);\n  return `- ${i + 1}.【${type}】${desc}${proof ? `（画面证明：${proof}）` : ''}`;\n}).join('\\n');\n\nconst selling_points_text = [\n  `产品名称：${name || '（未识别）'}`,\n  audience ? `目标人群：${audience}` : '',\n  env ? `核心场景：${env}` : '',\n  top ? `核心卖点：\\n${top}` : '核心卖点：（无）',\n  visual ? `视觉描述：${visual}` : ''\n].filter(Boolean).join('\\n');\n\nconst usage = resp?.usageMetadata ?? resp?.usage ?? {};\n\nreturn [{\n  json: {\n    ...input,\n    product_id,\n    id: product_id,\n    api_key,\n    workflow_id,\n    product_dna,\n    usage,\n    selling_points,\n    selling_points_text\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2272,
          688
        ],
        "id": "481fcdc9-e6a6-4866-bfef-639ad7a32916",
        "name": "清洗卖点数据"
      },
      {
        "parameters": {
          "operation": "update",
          "tableId": "products",
          "filters": {
            "conditions": [
              {
                "keyName": "id",
                "condition": "eq",
                "keyValue": "={{ $('Webhook').item.json.body.product_id }}"
              }
            ]
          },
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "status",
                "fieldValue": "PROCESSING"
              },
              {
                "fieldId": "progress",
                "fieldValue": "80"
              }
            ]
          }
        },
        "id": "f7d35252-29fe-4427-a2a8-50abf28b1722",
        "name": "Update Progress 80%",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          2496,
          688
        ],
        "credentials": {
          "supabaseApi": {
            "id": "51Y43Q3CDfFRAjNI",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "tableId": "products",
          "filters": {
            "conditions": [
              {
                "keyName": "id",
                "condition": "eq",
                "keyValue": "={{ $json.id }}"
              }
            ]
          },
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "selling_points",
                "fieldValue": "={{ $('清洗卖点数据').item.json.candidates[0].content.parts[0].text }}"
              },
              {
                "fieldId": "selling_points_text",
                "fieldValue": "={{ $('清洗卖点数据').item.json.selling_points_text }}"
              },
              {
                "fieldId": "status",
                "fieldValue": "COMPLETED"
              },
              {
                "fieldId": "progress",
                "fieldValue": 100
              }
            ]
          }
        },
        "name": "Supabase Update",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          2720,
          688
        ],
        "id": "1b213ff4-039e-4841-8de0-ca2df721601c",
        "credentials": {
          "supabaseApi": {
            "id": "51Y43Q3CDfFRAjNI",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.atomx.top/api/credits/deduct",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "api_key",
                "value": "={{ $node[\"Webhook\"].json.body.api_key }}"
              },
              {
                "name": "amount",
                "value": "={{ $node[\"查询工作流积分\"].json.data.credit_cost }}"
              },
              {
                "name": "reason",
                "value": "={{ $node[\"查询工作流积分\"].json.data.workflow_name }}"
              },
              {
                "name": "workflow_id",
                "value": "={{ $node[\"查询工作流积分\"].json.data.workflow_id }}"
              },
              {
                "name": "workflow_name",
                "value": "={{ $node[\"查询工作流积分\"].json.data.workflow_name }}"
              }
            ]
          },
          "options": {}
        },
        "id": "b3905561-fd82-4f0b-8a19-a04d9a933953",
        "name": "扣除积分",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2944,
          688
        ]
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "product_dna_web",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "5f2525fc-44e4-4d56-a767-86c91b5fe721",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          48,
          576
        ],
        "webhookId": "4a61315d-782c-46be-b9a0-125ff3834f7b"
      }
    ],
    "connections": {
      "Update Progress 10%": {
        "main": [
          [
            {
              "node": "查询工作流积分",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "查询工作流积分": {
        "main": [
          [
            {
              "node": "验证api-key",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "验证api-key": {
        "main": [
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "node": "提醒-key错误",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "提醒-积分不足",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Update Progress 30%",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update Progress 30%": {
        "main": [
          [
            {
              "node": "下载图片",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "下载图片": {
        "main": [
          [
            {
              "node": "组装请求",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "组装请求": {
        "main": [
          [
            {
              "node": "Update Progress 50%",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update Progress 50%": {
        "main": [
          [
            {
              "node": "分析Agent-视频理解",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "分析Agent-视频理解": {
        "main": [
          [
            {
              "node": "清洗卖点数据",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "清洗卖点数据": {
        "main": [
          [
            {
              "node": "Update Progress 80%",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update Progress 80%": {
        "main": [
          [
            {
              "node": "Supabase Update",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Supabase Update": {
        "main": [
          [
            {
              "node": "扣除积分",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "Update Progress 10%",
              "type": "main",
              "index": 0
            },
            {
              "node": "Respond Immediate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "fan liu",
    "name": null,
    "description": null
  }
}
