workflows/sora2视频生成-发起-网页版云雾.json
{
  "name": "sora2视频生成-发起-网页版云雾",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "3f8a843d-0544-4ffb-97f1-1f749261d73e",
        "options": {}
      },
      "id": "13ef6aae-ac37-4699-8179-d43efb26b270",
      "name": "子流程入口-sora",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-240, 64],
      "webhookId": "3f8a843d-0544-4ffb-97f1-1f749261d73e"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "209a4c87-e355-447d-91d4-6e7d476e2951",
              "leftValue": "={{ !!$json.body.image_url && String($json.body.image_url).trim() !== '' }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [0, 64],
      "id": "85fe3efa-0c00-43cd-92db-64e3937ba8b2",
      "name": "判断是否上传图片"
    },
    {
      "parameters": {
        "jsCode": "const payload = $('子流程入口-sora').item.json.body || {};\nconst imageUrl = String(payload.image_url || '').trim();\n\nif (!imageUrl) {\n  throw new Error('image_url 为空，图生视频需要传 image_url');\n}\n\nreturn {\n  json: {\n    imageUrl,\n    replication_id: payload.replication_id,\n    api_key: payload.api_key,\n    callback_url: payload.callback_url,\n    workflow_id_for_credits: payload.workflow_id_for_credits\n  }\n};\n"
      },
      "id": "2bc403fa-edea-4844-a9df-616b33946aeb",
      "name": "准备图生视频参数-sora",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, -32]
    },
    {
      "parameters": {
        "jsCode": "const payload = $('子流程入口-sora').item.json.body || {};\n\nreturn {\n  json: {\n    imageUrl: '',\n    replication_id: payload.replication_id,\n    api_key: payload.api_key,\n    callback_url: payload.callback_url,\n    workflow_id_for_credits: payload.workflow_id_for_credits\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 160],
      "id": "4c14d503-2cbb-485e-8ed6-71669b62c68c",
      "name": "准备文生视频参数-sora"
    },
    {
      "parameters": {
        "jsCode": "function cleanPrompt(raw) {\n  let p = raw ?? '';\n  if (Array.isArray(p)) p = p.join(' ');\n  if (typeof p !== 'string') p = String(p);\n  p = p.replace(/\\r?\\n+/g, ' ').replace(/\\s{2,}/g, ' ').trim();\n  const negIdx = p.indexOf('Negative prompt:');\n  if (negIdx >= 0) p = p.slice(0, negIdx).trim();\n  return p;\n}\n\nfunction normAspect(v) {\n  const s = String(v ?? '').trim().toLowerCase();\n  if (!s) return '9:16';\n  if (s === 'portrait') return '9:16';\n  if (s === 'landscape') return '16:9';\n  if (s === '9:16' || s === '9/16') return '9:16';\n  if (s === '16:9' || s === '16/9') return '16:9';\n  return '9:16';\n}\n\nfunction normalizeModel(v) {\n  const s = String(v ?? '').trim().toLowerCase();\n  const map = {\n    sora2: 'sora-2-all',\n    'sora-2': 'sora-2-all',\n    'sora-2-all': 'sora-2-all',\n    'sora-2-text-to-video': 'sora-2-text-to-video'\n  };\n  return map[s] || 'sora-2-all';\n}\n\nfunction toOrientation(val) {\n  return val === '16:9' ? 'landscape' : 'portrait';\n}\n\nfunction toDuration(payload) {\n  const d = Number(payload.n_frames ?? payload.duration ?? 15);\n  return Number.isFinite(d) && d > 0 ? d : 15;\n}\n\nconst payload = $('子流程入口-sora').first().json.body || {};\nconst replication_id = String(payload.replication_id || '').trim();\nconst callback_url = String(payload.callback_url || '').trim();\nconst api_key = String(payload.api_key || '').trim();\nconst workflow_id_for_credits = String(payload.workflow_id_for_credits || '').trim();\n\nif (!replication_id || !api_key) {\n  throw new Error('缺少必要字段（replication_id / api_key）');\n}\n\nconst prompt = cleanPrompt(payload.prompt);\nif (!prompt) throw new Error('prompt 为空');\n\nconst model = normalizeModel(payload.model);\nconst aspect_ratio = normAspect(payload.aspect_ratio);\nconst orientation = toOrientation(aspect_ratio);\nconst duration = toDuration(payload);\n\nconst itemJson = $input.first().json || {};\nconst imageUrl = itemJson.imageUrl || '';\nconst images = imageUrl ? [imageUrl] : [];\n\nconst requestBody = {\n  model,\n  prompt,\n  images,\n  orientation,\n  size: 'large',\n  duration,\n  watermark: false\n};\n\nreturn [{\n  json: {\n    requestBody,\n    replication_id,\n    callback_url,\n    api_key,\n    workflow_id_for_credits,\n    debug: { model, aspect_ratio, orientation, duration, has_image: !!imageUrl }\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [496, 64],
      "id": "ba6f0bb1-a34f-4723-9079-e2a84b10b556",
      "name": "清洗提示词"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://yunwu.ai/v1/video/create",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.requestBody }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [752, 64],
      "id": "a8457d5a-8649-48cb-b0dc-219928ee6a91",
      "name": "提交sora2请求",
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "alwaysOutputData": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "rIX9EfFKgpQS9W0i",
          "name": "veo3专属"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const res = $input.first().json || {};\n\nconst id = res.id || res.data?.id;\nconst status = res.status || res.data?.status || 'unknown';\n\nif (!id) {\n  throw new Error(`创建任务失败，响应里没有 id：${JSON.stringify(res).slice(0, 500)}`);\n}\n\nconst ctx = $('清洗提示词').item.json || {};\nreturn [{\n  json: {\n    id: ctx.replication_id,\n    task_id: id,\n    yunwu_status: status,\n    replication_id: ctx.replication_id,\n    callback_url: ctx.callback_url,\n    api_key: ctx.api_key,\n    workflow_id_for_credits: ctx.workflow_id_for_credits,\n    startTime: Date.now()\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1008, 64],
      "id": "b1f043e0-6bd4-4335-820c-9ff026d285dc",
      "name": "提取任务id"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "replications",
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.replication_id }}"
            }
          ]
        },
        "dataToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "status", "fieldValue": "processing" },
            { "fieldId": "result", "fieldValue": "={{ JSON.stringify({taskId: $json.task_id, provider: 'yunwu'}) }}" }
          ]
        }
      },
      "continueOnFail": true,
      "alwaysOutputData": true,
      "id": "8e4fbf59-16fc-489a-b836-819bc29e89f6",
      "name": "写入任务ID-生成中",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1264, 64],
      "credentials": {
        "supabaseApi": {
          "id": "5XGJWMLxSG8cgpYd",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const payload = $('子流程入口-sora').first().json.body || {};\nconst ctx = $('提取任务id').item.json || {};\nconst wid = String(payload.workflow_id_for_credits || '').trim();\nconst manualCallback = String(payload.callback_url || '').trim();\n\n// For web: flowonn always calls our n8n sora_web_callback webhook,\n// which handles FFmpeg + OSS + Supabase, then notifies the app via callback_url\nif (manualCallback) {\n  return [{\n    json: {\n      ...ctx,\n      webhook_url: 'https://hooks.atomx.top/webhook/sora_web_callback',\n      callback_url: manualCallback,\n      workflow_id_for_credits: wid,\n      callback_source: 'web'\n    }\n  }];\n}\n\n// Legacy Feishu fallback\nconst map = {\n  flow_farm_md: 'https://hooks.flowonn.com/webhook/sora_md_callbackV4',\n  flow_farm_zy: 'https://hooks.flowonn.com/webhook/sora_zy_callbackV4',\n  flow_farm_copy: 'https://hooks.flowonn.com/webhook/sora_copy_callbackV4'\n};\n\nconst webhook_url = map[wid] || 'https://hooks.flowonn.com/webhook/sora_zy_callbackV4';\n\nreturn [{\n  json: {\n    ...ctx,\n    webhook_url,\n    workflow_id_for_credits: wid,\n    callback_source: map[wid] ? 'workflow_map' : 'default'\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1488, 64],
      "id": "de46991d-7a51-4f95-83fc-1ccaec974da9",
      "name": "选择回调地址"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.flowonn.com/tools/veo/poll/async",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"task_id\": \"{{ $json.task_id }}\",\n  \"api_key\": \"{{ $('子流程入口-sora').item.json.body.poll_api_key || $env.FLOWONN_POLL_API_KEY || 'sk-ENL5z1YykFkIZMIsjnbJeh36iY82VvGYznRzEazg1DWe8fkV' }}\",\n  \"webhook_url\": \"{{ $json.webhook_url }}\",\n  \"context\": {\n    \"replication_id\": \"{{ $json.replication_id }}\",\n    \"callback_url\": \"{{ $json.callback_url }}\",\n    \"api_key\": \"{{ $json.api_key }}\",\n    \"workflow_id_for_credits\": \"{{ $json.workflow_id_for_credits }}\"\n  }\n}",
        "options": {}
      },
      "id": "25c43d4f-80aa-401c-b301-bebc4406553d",
      "name": "注册轮询任务",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1712, 64]
    }
  ],
  "pinData": {
    "子流程入口-sora": [
      {
        "json": {
          "headers": {
            "host": "hooks.atomx.top",
            "content-type": "application/json",
            "user-agent": "axios/1.12.0"
          },
          "params": {},
          "query": {},
          "body": {
            "replication_id": "",
            "prompt": "[Art Style] UGC handheld, [Render Quality] mobile phone portrait 9:16, [Mood] authentic and persuasive.\nVertical 9:16 UGC handheld realism.",
            "aspect_ratio": "portrait",
            "image_url": "",
            "model": "sora2",
            "workflow_id_for_credits": "",
            "api_key": "",
            "n_frames": "15",
            "callback_url": ""
          },
          "webhookUrl": "http://localhost:5678/webhook/3f8a843d-0544-4ffb-97f1-1f749261d73e",
          "executionMode": "production"
        },
        "pairedItem": { "item": 0 }
      }
    ]
  },
  "connections": {
    "子流程入口-sora": {
      "main": [[{ "node": "判断是否上传图片", "type": "main", "index": 0 }]]
    },
    "判断是否上传图片": {
      "main": [
        [{ "node": "准备图生视频参数-sora", "type": "main", "index": 0 }],
        [{ "node": "准备文生视频参数-sora", "type": "main", "index": 0 }]
      ]
    },
    "准备图生视频参数-sora": {
      "main": [[{ "node": "清洗提示词", "type": "main", "index": 0 }]]
    },
    "准备文生视频参数-sora": {
      "main": [[{ "node": "清洗提示词", "type": "main", "index": 0 }]]
    },
    "清洗提示词": {
      "main": [[{ "node": "提交sora2请求", "type": "main", "index": 0 }]]
    },
    "提交sora2请求": {
      "main": [[{ "node": "提取任务id", "type": "main", "index": 0 }]]
    },
    "提取任务id": {
      "main": [[{ "node": "写入任务ID-生成中", "type": "main", "index": 0 }]]
    },
    "写入任务ID-生成中": {
      "main": [[{ "node": "选择回调地址", "type": "main", "index": 0 }]]
    },
    "选择回调地址": {
      "main": [[{ "node": "注册轮询任务", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "da2b0419-6407-4424-abfa-c3e062744112",
  "meta": {
    "instanceId": "f5de7f2967fea28691928d5cc106b2279dbf4197e0e2c62d616c8450d409e0e7"
  },
  "id": "7mDERhaMXsm4hpxY",
  "tags": []
}
