workflows/storyboard_image_关键帧图片生成.json
{
  "name": "storyboard_image_关键帧图片生成",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "storyboard-image-generate",
        "options": {}
      },
      "id": "fce580a8-e2af-43a7-a05a-5436ed4d6c9e",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        1648,
        -48
      ],
      "webhookId": "storyboard-image-generate"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const body = $json.body || $json;\n\nfunction s(v) {\n  return v == null ? '' : String(v).trim();\n}\n\nfunction arr(v) {\n  if (Array.isArray(v)) return v.map(x => s(x)).filter(Boolean);\n  if (typeof v === 'string' && v.trim()) {\n    try {\n      const parsed = JSON.parse(v);\n      return arr(parsed);\n    } catch {\n      return [s(v)];\n    }\n  }\n  return [];\n}\n\nconst subjectRefs = Array.isArray(body.subject_refs) ? body.subject_refs : [];\nconst referenceImageUrls = arr(body.reference_image_urls || body.image_urls || body.images);\nconst productUrl = s(body.product_image_url) || s(subjectRefs.find(r => r?.type === 'product')?.url) || referenceImageUrls[0] || '';\nconst characterUrl = s(body.character_image_url || body.person_image_url) || s(subjectRefs.find(r => r?.type === 'character')?.url) || '';\nconst frameUrl = s(body.reference_frame_url) || referenceImageUrls.find(url => url !== productUrl && url !== characterUrl) || '';\n\nreturn {\n  json: {\n    segment_id: s(body.segment_id),\n    task_id: s(body.task_id),\n    prompt: s(body.prompt),\n    raw_prompt: s(body.raw_prompt),\n    product_image_url: productUrl,\n    character_image_url: characterUrl,\n    reference_frame_url: frameUrl,\n    subject_refs: subjectRefs,\n    subject_replace_mode: s(body.subject_replace_mode || body.image_edit_mode),\n    reference_image_urls: referenceImageUrls,\n    images: referenceImageUrls,\n    model: s(body.model || body.requested_model || 'image2'),\n    requested_model: s(body.requested_model || body.model || 'image2'),\n    model_capabilities: body.model_capabilities || {},\n    aspect_ratio: s(body.aspect_ratio || '9:16'),\n    callback_url: s(body.callback_url),\n    api_key: s(body.api_key),\n    admin_token: s(body.admin_token),\n    workflow_id: s(body.workflow_id || 'flow_storyboard_image')\n  }\n};"
      },
      "id": "41c33ab9-72d7-4c1c-8496-79389e89790d",
      "name": "准备所有数据",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1872,
        -48
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "has_character_url",
              "leftValue": "={{ $json.character_image_url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "99a01445-85e0-4b46-806d-e28b4794f6a8",
      "name": "IF-有角色图",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2096,
        -192
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.character_image_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "person_file"
            }
          }
        }
      },
      "id": "bfed0b14-9552-4092-bd53-bc5f78e7f551",
      "name": "下载角色图",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2320,
        -208
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "has_product_url",
              "leftValue": "={{ $json.product_image_url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "46c642b8-fb21-469f-a905-94b2910a5b7a",
      "name": "IF-有产品图",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2320,
        112
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.product_image_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "product_file"
            }
          }
        }
      },
      "id": "095c1de0-55fa-4407-b710-b59cf65c7607",
      "name": "下载产品图",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2544,
        208
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "has_reference_url",
              "leftValue": "={{ $json.reference_frame_url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c073887a-bd80-45a6-954b-60431bc72db6",
      "name": "IF-有参考图",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2544,
        416
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.reference_frame_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "reference_file"
            }
          }
        }
      },
      "id": "cb18b1b5-5985-43e3-a322-c2e432abc61a",
      "name": "下载参考图",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2768,
        496
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "a52e9e97-dc67-4243-9bbe-2bf6131b59d5",
      "name": "合并角色图",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2544,
        -208
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "e3b1520c-43e4-4d6d-b6a2-d2daaabee849",
      "name": "合并产品图",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2768,
        64
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "a0082115-d1d5-4767-9d97-5658150dea2f",
      "name": "合并参考图",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2992,
        352
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const j = $json || {};\n\nfunction s(v) {\n  return v == null ? '' : String(v).trim();\n}\n\nfunction unique(values) {\n  const seen = new Set();\n  const out = [];\n  for (const value of values) {\n    const text = s(value);\n    if (!text || seen.has(text)) continue;\n    seen.add(text);\n    out.push(text);\n  }\n  return out;\n}\n\nconst rawPrompt = s(j.prompt);\nconst modelKey = s(j.model || j.requested_model || 'image2');\nconst provider = s(j.model_capabilities?.provider || '').toLowerCase();\nconst referenceUrls = unique([\n  ...(Array.isArray(j.reference_image_urls) ? j.reference_image_urls : []),\n  ...(Array.isArray(j.images) ? j.images : []),\n  j.product_image_url,\n  j.character_image_url,\n  j.reference_frame_url,\n]);\n\n// =========================================================\n// 1. Prompt 预处理 (信息图去文字专用)\n// =========================================================\nlet cleanPrompt = rawPrompt;\ncleanPrompt = cleanPrompt.replace(/(手写体|无衬线字体|手写风格)/g, '手绘线条和纹理');\ncleanPrompt = cleanPrompt.replace(/(用手写风格展示手稿)/g, '用抽象线条模拟手稿');\ncleanPrompt = cleanPrompt.replace(/(搭配无衬线字体的标题)/g, '搭配模块化的图形标题色块');\n\nconst parts = [];\n\nparts.push({ \n  text: `PRIMARY VISUAL INSTRUCTION: \n  Create a pure visual graphic based on this modified prompt: \"${cleanPrompt}\". \n  \n  STRICT NEGATIVE CONSTRAINT (HIGHEST PRIORITY): \n  - ABSOLUTELY NO TEXT, NO LETTERS, NO NUMBERS, NO ALPHABETS, NO WORDS, NO TYPOGRAPHY.\n  - The image must contain ONLY visual elements, illustrations, graphics, icons, and textures.\n  - If the prompt mentions \"manuscripts\" or \"titles\", represent them as abstract shapes, lines, dots, or color blocks, NOT as readable text.` \n});\n\nif (j.person_image_b64) {\n  parts.push({ text: 'CHARACTER IDENTITY: Use this person as the consistent subject.' });\n  parts.push({ inline_data: { mime_type: s(j.person_mime_type || 'image/jpeg'), data: j.person_image_b64 } });\n}\n\nif (j.product_image_b64) {\n  parts.push({ text: 'PRODUCT IDENTITY: Use this specific product, maintaining branding.' });\n  parts.push({ inline_data: { mime_type: s(j.product_mime_type || 'image/jpeg'), data: j.product_image_b64 } });\n}\n\nif (j.reference_frame_b64) {\n  parts.push({ text: 'LAYOUT REFERENCE: Use this as a guide for composition only. Ignore text.' });\n  parts.push({ inline_data: { mime_type: s(j.reference_frame_mime || 'image/jpeg'), data: j.reference_frame_b64 } });\n}\n\nconst systemCommand = `You are a world-class graphic designer. \nYour goal is to produce a CLEAN, HIGH-END visual image.\nRULE #1: NEVER include any text, letters, numbers, or typography. This is the absolute rule.\nRULE #2: Translate all prompt descriptions (like 'notes' or 'structure') into pure visual graphics or icons.\nPriority: NO TEXT > Layout > Style.`;\n\nparts.push({ text: systemCommand });\n\nconst request_body = {\n  contents: [{ role: 'user', parts }],\n  generationConfig: {\n    responseModalities: ['IMAGE'],\n    imageConfig: { aspectRatio: s(j.aspect_ratio || '9:16') }\n  }\n};\n\nconst modelMap = {\n  image2: 'gemini-3-pro-image-preview',\n  nanoBananapro: 'gemini-3-pro-image-preview',\n  nanoBanana2: 'gemini-3.1-flash-image-preview'\n};\n\nreturn {\n  json: {\n    ...j,\n    request_body,\n    reference_image_urls: referenceUrls,\n    images: referenceUrls,\n    api_model: modelMap[modelKey] || (provider === 'gemini-image' ? modelKey : 'gemini-3-pro-image-preview'),\n    model_used_by_workflow: modelKey\n  }\n};"
      },
      "id": "4050b78e-52cb-4472-a448-f19cdd0de61a",
      "name": "组装生图请求体",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3440,
        352
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://yunwu.ai/v1beta/models/{{ $json.api_model }}:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.request_body }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "fd4e4c14-a297-461a-bb88-a5d349963a1d",
      "name": "生图请求",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3664,
        352
      ],
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "mMIH382GnJoMSu4L",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "function unwrapRoot(x) {\n  if (x && typeof x === 'object' && x.body && typeof x.body === 'object') return x.body;\n  return x;\n}\n\nfunction findInlineImageParts(root) {\n  const candidates = root?.candidates;\n  if (!Array.isArray(candidates) || !candidates.length) return [];\n  const parts = candidates?.[0]?.content?.parts;\n  if (!Array.isArray(parts)) return [];\n  const imgs = [];\n  for (const p of parts) {\n    const inline = p?.inline_data || p?.inlineData;\n    if (inline?.data) {\n      imgs.push({ b64: inline.data, mimeType: inline.mime_type || inline.mimeType || 'image/png' });\n      continue;\n    }\n    const fd = p?.fileData;\n    if (fd?.fileUri) {\n      imgs.push({ fileUri: fd.fileUri, mimeType: fd.mimeType || 'image/png' });\n    }\n  }\n  return imgs;\n}\n\nfunction stripDataPrefix(b64) {\n  return String(b64 || '').replace(/^data:.*;base64,/, '').trim();\n}\n\nconst raw = $json || {};\nconst root = unwrapRoot(raw);\nconst imgs = findInlineImageParts(root);\nconst first = imgs[0];\nif (!first || !first.b64) throw new Error('未从生图响应中解析到 inline image');\n\nconst mimeType = first.mimeType || 'image/png';\nconst ext = /png/i.test(mimeType) ? 'png' : (/webp/i.test(mimeType) ? 'webp' : 'jpg');\nconst b64 = stripDataPrefix(first.b64);\nif (!b64) throw new Error('图片 base64 为空');\n\nreturn {\n  json: {\n    mimeType,\n    fileName: `storyboard_segment_${Date.now()}.${ext}`\n  },\n  binary: {\n    data: {\n      data: b64,\n      mimeType,\n      fileName: `storyboard_segment_${Date.now()}.${ext}`\n    }\n  }\n};"
      },
      "id": "faab861d-eaaf-4675-ac91-37a93edd7baa",
      "name": "转换为Binary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3888,
        352
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const uploadResp = $input.item.json;\nconst imageUrl = uploadResp.url || '';\n\nreturn {\n  json: {\n    image_url: imageUrl\n  }\n};"
      },
      "id": "76783a61-080d-4038-a6c6-2ba2d95d6267",
      "name": "生成URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4336,
        352
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const j = $json || {};\n\nfunction s(v) {\n  return v == null ? '' : String(v);\n}\n\nasync function readBinaryBase64(keyCandidates) {\n  const keys = Object.keys($binary || {});\n  let hitKey = '';\n\n  for (const k of keyCandidates) {\n    if (keys.includes(k)) {\n      hitKey = k;\n      break;\n    }\n  }\n\n  if (!hitKey) return { ok: false, b64: '', mime: '' };\n\n  try {\n    const buf = await this.helpers.getBinaryDataBuffer(0, hitKey);\n    const meta = $binary[hitKey] || {};\n    return {\n      ok: true,\n      b64: buf.toString('base64'),\n      mime: s(meta.mimeType || 'image/jpeg')\n    };\n  } catch (e) {\n    return { ok: false, b64: '', mime: '' };\n  }\n}\n\nconst personImg = await readBinaryBase64(['person_file', 'character_file']);\nconst productImg = await readBinaryBase64(['product_file']);\nconst referenceImg = await readBinaryBase64(['reference_file', 'frame_file']);\n\nreturn {\n  json: {\n    ...j,\n    person_image_b64: personImg.b64,\n    person_mime_type: personImg.mime,\n    product_image_b64: productImg.b64,\n    product_mime_type: productImg.mime,\n    reference_frame_b64: referenceImg.b64,\n    reference_frame_mime: referenceImg.mime\n  },\n  binary: $binary\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3216,
        352
      ],
      "id": "ccfe6d92-23ca-4848-9323-16e2a7d38411",
      "name": "图片转Base64"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://atomx.top/api/upload/image",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "761060e5-a1c6-4511-a95c-ea3f7434a325",
      "name": "HTTP上传到SupabaseStorage",
      "position": [
        4112,
        352
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Webhook').item.json.body.callback_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "=x-admin-token",
              "value": "={{ $('Webhook').item.json.body.admin_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"segment_id\":\"{{ $('Webhook').item.json.body.segment_id }}\",\"task_id\":\"{{ $('Webhook').item.json.body.task_id || $('Webhook').item.json.body.segment_id }}\",\"image_url\":\"{{$('生成URL').item.json.image_url}}\",\"status\":\"success\",\"model\":\"{{ $('Webhook').item.json.body.model }}\",\"source\":\"{{ $('Webhook').item.json.body.source || 'storyboard_image' }}\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4560,
        352
      ],
      "id": "f6da02bc-6e40-401b-b542-e9f34350731a",
      "name": "HTTP Request"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "hooks.atomx.top",
            "x-real-ip": "47.107.158.233",
            "x-forwarded-for": "47.107.158.233",
            "x-forwarded-proto": "https",
            "connection": "close",
            "content-length": "1387",
            "content-type": "application/json",
            "accept": "*/*",
            "accept-language": "*",
            "sec-fetch-mode": "cors",
            "user-agent": "node",
            "accept-encoding": "br, gzip, deflate"
          },
          "params": {},
          "query": {},
          "body": {
            "segment_id": "cmo88ze4t002t01rspj7uaua4",
            "task_id": "cmo88ze4c002s01rsi1d77s6r",
            "prompt": "【统一风格】使用柔和的纸张质感背景，搭配手写体与无衬线字体交替排列的模块化布局；整体色调以#FFE2E6为主辅以#A4D7E1和#F6C9A7，整体呈现简约笔记氛围。，风格类型：简约笔记风，使用温暖色调；搭配手绘元素；布局需模块化；字体以手写体和无衬线体为主；背景呈现纸张质感；光效需柔和。\n【当前镜头内容】以柔和的纸张质感背景为基底，主背景呈现温暖的#FFE2E6色块，画面左侧一个打开的书本，书本边缘手绘箭头指向某处，隐喻正在找寻安全感。构图模块化，书本用手写风格展示手稿，搭配无衬线字体的标题。光线柔和，整体笔记氛围简约。\n【负面约束】禁止复杂背景；避免过于鲜艳的颜色；不得使用传统排版。，禁止人物直视镜头说话，禁止小孩、未成年人、婴儿、儿童，禁止风格跳变",
            "reference_frame_url": null,
            "has_person": true,
            "has_product": true,
            "product_image_url": null,
            "character_image_url": null,
            "model": "nanoBananapro",
            "aspect_ratio": "9:16",
            "callback_url": "https://atomx.top/api/webhook/storyboard-image",
            "api_key": "sk_an2HlGA-RG-r31Lzv8wepEpq0uAL8JqKGYjfKjqsxas",
            "admin_token": "dev-sync-token-1774007442",
            "workflow_id": "YPzVxDvKVKPVmPuo"
          },
          "webhookUrl": "http://localhost:5678/webhook/storyboard-image-generate",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "准备所有数据",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "准备所有数据": {
      "main": [
        [
          {
            "node": "IF-有角色图",
            "type": "main",
            "index": 0
          },
          {
            "node": "IF-有产品图",
            "type": "main",
            "index": 0
          },
          {
            "node": "IF-有参考图",
            "type": "main",
            "index": 0
          },
          {
            "node": "合并角色图",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF-有角色图": {
      "main": [
        [
          {
            "node": "下载角色图",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "合并角色图",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "下载角色图": {
      "main": [
        [
          {
            "node": "合并角色图",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "合并角色图": {
      "main": [
        [
          {
            "node": "合并产品图",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF-有产品图": {
      "main": [
        [
          {
            "node": "下载产品图",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "合并产品图",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "下载产品图": {
      "main": [
        [
          {
            "node": "合并产品图",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "合并产品图": {
      "main": [
        [
          {
            "node": "合并参考图",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF-有参考图": {
      "main": [
        [
          {
            "node": "下载参考图",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "合并参考图",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "下载参考图": {
      "main": [
        [
          {
            "node": "合并参考图",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "合并参考图": {
      "main": [
        [
          {
            "node": "图片转Base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "组装生图请求体": {
      "main": [
        [
          {
            "node": "生图请求",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "生图请求": {
      "main": [
        [
          {
            "node": "转换为Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "转换为Binary": {
      "main": [
        [
          {
            "node": "HTTP上传到SupabaseStorage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "生成URL": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "图片转Base64": {
      "main": [
        [
          {
            "node": "组装生图请求体",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP上传到SupabaseStorage": {
      "main": [
        [
          {
            "node": "生成URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "cd9f0532-12dc-4c54-b67b-81ce8c4bf9d5",
  "meta": {
    "instanceId": "f5de7f2967fea28691928d5cc106b2279dbf4197e0e2c62d616c8450d409e0e7"
  },
  "id": "YPzVxDvKVKPVmPuo",
  "tags": []
}
