workflows/storyboard-veo3-gen（分镜视频生成触发）.json
{
  "name": "storyboard-veo3-gen（分镜视频生成触发）",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "storyboard_video",
        "options": {}
      },
      "id": "6956f235-4b84-49f4-b8af-cd9ba278059d",
      "name": "Webhook-触发",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1600,
        0
      ],
      "webhookId": "8c5c2a1c-9ad3-4783-8b50-daa6f53b5011"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const body = $json.body || $json;\n\nconst safe = (v) => String(v ?? '').trim();\n\nconst segmentId = safe(body.segment_id);\nconst taskId = safe(body.task_id);\nconst prompt = safe(body.prompt);\nconst firstFrameUrl = safe(body.first_frame_url);\nconst duration = Number(body.duration) || 8;\nconst model = safe(body.model) || 'veo3-fast';\nconst aspectRatio = safe(body.aspect_ratio) || '9:16';\nconst callbackUrl = safe(body.callback_url);\nconst apiKey = safe(body.api_key);\nconst adminToken = safe(body.admin_token);\nconst workflowId = safe(body.workflow_id) || 'flow_storyboard_veo3';\n\nif (!segmentId) throw new Error('segment_id is required');\nif (!prompt) throw new Error('prompt is required');\nif (!callbackUrl) throw new Error('callback_url is required');\nif (!apiKey) throw new Error('api_key is required');\n\n// images will be injected as base64 by the next node\nconst requestBody = {\n  model,\n  prompt,\n  enhance_prompt: true,\n  enable_upsample: true,\n  aspect_ratio: aspectRatio,\n};\n\nreturn {\n  json: {\n    segment_id: segmentId,\n    task_id: taskId,\n    callback_url: callbackUrl,\n    api_key: apiKey,\n    admin_token: adminToken,\n    workflow_id: workflowId,\n    firstFrameUrl,\n    requestBody,\n  }\n};"
      },
      "id": "93138b2c-ba06-4be8-94a5-73c1e59c3007",
      "name": "准备Veo3参数",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1376,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://yunwu.ai/v1/video/create",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.requestBody }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "073f6c16-1d76-4b65-b5da-bc1c3bcd400b",
      "name": "提交Veo3请求",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1152,
        0
      ],
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "bJpI0nVbCobY1peu",
          "name": "聚保盆通用api"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const res = $json || {};\nconst prev = $('准备Veo3参数').first().json;\n\nconst id = res.id || res.data?.id;\nconst status = res.status || res.data?.status || 'pending';\n\nif (!id) {\n  throw new Error('Veo3 create 失败，未返回 task id: ' + JSON.stringify(res).slice(0, 300));\n}\n\nreturn {\n  json: {\n    veo3_task_id: id,\n    veo3_status: status,\n    segment_id: prev.segment_id,\n    task_id: prev.task_id,\n    callback_url: prev.callback_url,\n    api_key: prev.api_key,\n    admin_token: prev.admin_token,\n    workflow_id: prev.workflow_id,\n  }\n};"
      },
      "id": "ce78d642-9a24-4408-9a25-60c54e7766c6",
      "name": "提取任务ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -928,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.atomx.top/tools/veo/poll/async",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"task_id\": \"{{ $json.veo3_task_id }}\",\n  \"api_key\": \"sk-ENL5z1YykFkIZMIsjnbJeh36iY82VvGYznRzEazg1DWe8fkV\",\n  \"webhook_url\": \"https://hooks.atomx.top/webhook/storyboard_veo3_callback\",\n  \"context\": {\n    \"segment_id\": \"{{ $json.segment_id }}\",\n    \"task_id\": \"{{ $json.task_id }}\",\n    \"callback_url\": \"{{ $json.callback_url }}\",\n    \"api_key\": \"{{ $json.api_key }}\",\n    \"admin_token\": \"{{ $json.admin_token }}\",\n    \"workflow_id_for_credits\": \"{{ $json.workflow_id }}\"\n  }\n}",
        "options": {}
      },
      "id": "314fbc57-1127-4742-861b-92472bce4d78",
      "name": "注册轮询任务",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -704,
        0
      ]
    },
    {
      "id": "download-first-frame-001",
      "name": "下载首帧图片",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -928,
        0
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "GET",
        "url": "={{ $json.firstFrameUrl }}",
        "sendHeaders": false,
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "data"
            }
          }
        }
      }
    },
    {
      "id": "inject-base64-001",
      "name": "注入图片Base64",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -704,
        0
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item;\nconst requestBody = { ...item.json.requestBody };\n\nif (item.binary && item.binary.data && item.binary.data.data) {\n  const b = item.binary.data;\n  const mimeType = b.mimeType || 'image/jpeg';\n  const base64 = b.data;\n  requestBody.images = [`data:${mimeType};base64,${base64}`];\n}\n\nreturn {\n  json: {\n    ...item.json,\n    requestBody,\n  }\n};"
      }
    }
  ],
  "pinData": {
    "Webhook-触发": [
      {
        "json": {
          "headers": {
            "host": "hooks.atomx.top",
            "x-real-ip": "119.249.16.181",
            "x-forwarded-for": "119.249.16.181",
            "x-forwarded-proto": "https",
            "connection": "close",
            "content-length": "928",
            "content-type": "application/json",
            "accept": "*/*",
            "accept-language": "*",
            "sec-fetch-mode": "cors",
            "user-agent": "node",
            "accept-encoding": "br, gzip, deflate"
          },
          "params": {},
          "query": {},
          "body": {
            "segment_id": "cmn5zhkgl0015gjq2jusxyhfm",
            "task_id": "cmn5zbie20013gjq2juhoojlk",
            "callback_url": "https://nextide.cpolar.top/api/webhook/storyboard-video",
            "api_key": "sk_aLO8hb0hNm2PYMJ07Loak8Fzjm3Q-KEuWIPLTDQUu_8",
            "admin_token": "dev-sync-token-1774007442",
            "model": "veo3",
            "prompt": "Medium shot, eye-level, static. A friendly person in their late 20s sits in a bright, cozy living room. They hold a bag of [PRODUCT] potato chips and present it to the camera, speaking with genuine enthusiasm. Their expression is happy and inviting. The lighting is warm and natural, as if from a nearby window. The background is tastefully decorated but softly out of focus. The shot should feel personal and direct, like a recommendation from a friend.",
            "first_frame_url": "https://supabase-api.atomx.top/storage/v1/object/public/uploads/storyboard/cmn5zhkgl0015gjq2jusxyhfm/storyboard_segment_1774467275289.jpg",
            "duration": 5,
            "aspect_ratio": "9:16"
          },
          "webhookUrl": "http://localhost:5678/webhook/storyboard_video",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Webhook-触发": {
      "main": [
        [
          {
            "node": "准备Veo3参数",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "准备Veo3参数": {
      "main": [
        [
          {
            "node": "下载首帧图片",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "提交Veo3请求": {
      "main": [
        [
          {
            "node": "提取任务ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "提取任务ID": {
      "main": [
        [
          {
            "node": "注册轮询任务",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "下载首帧图片": {
      "main": [
        [
          {
            "node": "注入图片Base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "注入图片Base64": {
      "main": [
        [
          {
            "node": "提交Veo3请求",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "e3017175-48db-49e6-800a-0a4ffdd696bd",
  "meta": {
    "instanceId": "f5de7f2967fea28691928d5cc106b2279dbf4197e0e2c62d616c8450d409e0e7"
  },
  "id": "ZD08pkh3sCyYObG6",
  "tags": []
}