workflows/小程序首页-爆款拆解-分镜网格-OSS.json
{
  "name": "小程序首页-爆款拆解-分镜网格-OSS",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "miniapp_viral_breakdown_grid",
        "options": {}
      },
      "id": "miniapp-viral-webhook",
      "name": "Webhook",
      "position": [
        -1600,
        0
      ],
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const root = $json || {};\nconst body = root.body && typeof root.body === 'object' && !Array.isArray(root.body)\n  ? root.body\n  : root;\n\nfunction parseMaybeJson(value) {\n  if (!value) return {};\n  if (typeof value === 'object' && !Array.isArray(value)) return value;\n  if (typeof value !== 'string') return {};\n  try {\n    const parsed = JSON.parse(value);\n    return parsed && typeof parsed === 'object' && !Array.isArray(parsed) ? parsed : {};\n  } catch {\n    return {};\n  }\n}\n\nconst data = parseMaybeJson(body.data || root.data);\nconst metadata = {\n  ...parseMaybeJson(root.metadata),\n  ...parseMaybeJson(body.metadata),\n  ...parseMaybeJson(data.metadata),\n};\n\nconst pick = (...vals) => {\n  for (const v of vals) {\n    if (v !== undefined && v !== null && String(v).trim() !== '') return String(v).trim();\n  }\n  return '';\n};\n\nfunction normalizeSourceUrl(value) {\n  const raw = pick(value);\n  if (!raw) return '';\n  if (/^https?:\\/\\//i.test(raw)) return raw;\n  if (raw.startsWith('//')) return `https:${raw}`;\n  return raw;\n}\n\nconst taskId = pick(\n  body.task_id, body.taskId, body.record_id, body.recordId,\n  data.task_id, data.taskId, data.record_id, data.recordId,\n  root.task_id, root.taskId, root.record_id, root.recordId\n);\nconst videoUrl = normalizeSourceUrl(pick(\n  body.video_url, body.videoUrl, body.url,\n  body.reference_video_url, body.referenceVideoUrl,\n  data.video_url, data.videoUrl, data.url,\n  data.reference_video_url, data.referenceVideoUrl,\n  metadata.video_url, metadata.videoUrl,\n  metadata.reference_video_url, metadata.referenceVideoUrl\n));\nconst callbackUrl = pick(body.callback_url, body.callbackUrl, data.callback_url, data.callbackUrl, root.callback_url, root.callbackUrl).replace(/\\/$/, '');\nconst appUrl = pick(body.app_url, body.appUrl, data.app_url, data.appUrl, root.app_url, root.appUrl).replace(/\\/$/, '');\nconst adminToken = pick(body.admin_token, body.adminToken, data.admin_token, data.adminToken, root.admin_token, root.adminToken);\nconst apiKey = pick(body.api_key, body.apiKey, data.api_key, data.apiKey, root.api_key, root.apiKey);\n\nif (!taskId) throw new Error('task_id/taskId is required');\nif (!videoUrl || !/^https?:\\/\\//i.test(videoUrl)) {\n  throw new Error(\n    `video_url is required; tried video_url/videoUrl/url/reference_video_url/referenceVideoUrl/metadata.reference_video_url. body_keys=${Object.keys(body).join(',')}; data_keys=${Object.keys(data).join(',')}; metadata_keys=${Object.keys(metadata).join(',')}`\n  );\n}\nif (!callbackUrl) throw new Error('callback_url is required');\n\nconst frameIntervalSec = Math.max(0.5, Number(body.frame_interval_s || body.frameIntervalSec || 1) || 1);\nconst maxOverviewFrames = Math.max(10, Number(body.max_overview_frames || body.maxOverviewFrames || 40) || 40);\nconst clipMaxSeconds = Math.min(15, Math.max(4, Number(body.clip_max_seconds || body.clipMaxSeconds || 15) || 15));\n\nreturn {\n  json: {\n    taskId,\n    record_id: taskId,\n    videoUrl,\n    original_video_url: videoUrl,\n    callbackUrl,\n    appUrl,\n    adminToken,\n    apiKey,\n    userId: pick(body.user_id, body.userId, data.user_id, data.userId),\n    productName: pick(body.product_name, body.productName, data.product_name, data.productName, metadata.product_name, metadata.productName),\n    productDescription: pick(body.product_description, body.productDescription, data.product_description, data.productDescription, metadata.product_description, metadata.productDescription),\n    productSellingPoints: pick(body.product_selling_points, body.productSellingPoints, data.product_selling_points, data.productSellingPoints, metadata.product_selling_points, metadata.productSellingPoints),\n    targetLanguage: pick(body.target_language, body.targetLanguage, data.target_language, data.targetLanguage, metadata.target_language, metadata.targetLanguage, 'source'),\n    targetCountry: pick(body.target_country, body.targetCountry, data.target_country, data.targetCountry, metadata.target_country, metadata.targetCountry, 'auto'),\n    workflowId: pick(body.workflow_id, body.workflowId, data.workflow_id, data.workflowId, 'flow_miniapp_viral_breakdown'),\n    workflowName: pick(body.workflow_name, body.workflowName, data.workflow_name, data.workflowName, '小程序首页爆款拆解'),\n    pipelineKey: 'miniapp_viral_breakdown_grid',\n    frameIntervalSec,\n    maxOverviewFrames,\n    clipMaxSeconds,\n    workDir: `/tmp/miniapp_viral_bd_${taskId}`\n  }\n};"
      },
      "id": "miniapp-viral-prepare",
      "name": "准备参数",
      "position": [
        -1376,
        0
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "command": "=WORK_DIR=\"{{ $json.workDir }}\"\nVIDEO_URL=\"{{ $json.videoUrl }}\"\nLOCAL_VIDEO_PATH=\"$WORK_DIR/input.mp4\"\nTASK_ID=\"{{ $json.taskId }}\"\n\nmkdir -p \"$WORK_DIR\" || exit 1\nexport VIDEO_URL LOCAL_VIDEO_PATH TASK_ID\n\nnode <<'NODE'\nconst fs = require('fs');\nconst http = require('http');\nconst https = require('https');\nconst { URL } = require('url');\n\nconst videoUrl = process.env.VIDEO_URL;\nconst outputPath = process.env.LOCAL_VIDEO_PATH;\nconst taskId = process.env.TASK_ID;\n\nfunction download(url, dest, redirects = 0) {\n  return new Promise((resolve, reject) => {\n    if (redirects > 5) return reject(new Error('too many redirects'));\n    const parsed = new URL(url);\n    const client = parsed.protocol === 'https:' ? https : http;\n    const req = client.get(url, (res) => {\n      const code = res.statusCode || 0;\n      if ([301, 302, 303, 307, 308].includes(code) && res.headers.location) {\n        const nextUrl = new URL(res.headers.location, url).toString();\n        res.resume();\n        return resolve(download(nextUrl, dest, redirects + 1));\n      }\n      if (code < 200 || code >= 300) {\n        res.resume();\n        return reject(new Error(`download failed with status ${code}`));\n      }\n      const file = fs.createWriteStream(dest);\n      res.pipe(file);\n      file.on('finish', () => {\n        file.close(() => {\n          const stat = fs.statSync(dest);\n          if (!stat.size) return reject(new Error('empty file'));\n          process.stdout.write(JSON.stringify({ taskId, localVideoPath: dest, size: stat.size }) + '\\n');\n          resolve();\n        });\n      });\n      file.on('error', reject);\n    });\n    req.on('error', reject);\n    req.setTimeout(120000, () => req.destroy(new Error('download timeout')));\n  });\n}\n\ndownload(videoUrl, outputPath).catch((err) => {\n  console.error(JSON.stringify({ success: false, message: err.message }));\n  process.exit(1);\n});\nNODE"
      },
      "id": "miniapp-viral-download",
      "name": "下载视频到本地",
      "position": [
        -1152,
        0
      ],
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const raw = String($json.stdout || '').trim();\nif (!raw) throw new Error('下载视频到本地没有返回 stdout');\nlet parsed;\ntry { parsed = JSON.parse(raw); } catch (e) {\n  throw new Error(`解析下载结果失败: ${e.message}; raw=${raw.slice(0, 500)}`);\n}\nif (!parsed.localVideoPath) throw new Error('下载结果缺少 localVideoPath');\nreturn { json: { ...$('准备参数').first().json, localVideoPath: parsed.localVideoPath, videoSize: parsed.size || 0 } };"
      },
      "id": "miniapp-viral-parse-download",
      "name": "解析下载结果",
      "position": [
        -928,
        0
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "command": "=sh -c '\nIN=\"{{ $json.localVideoPath }}\";\nffprobe -v error -show_entries format=duration -of default=noprint_wrappers=1:nokey=1 \"$IN\"\n'"
      },
      "id": "miniapp-viral-ffprobe",
      "name": "ffprobe 获取时长",
      "position": [
        -704,
        0
      ],
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const base = $('解析下载结果').first().json;\nconst duration = Number(String($json.stdout || '').trim());\nif (!Number.isFinite(duration) || duration <= 0) {\n  throw new Error(`ffprobe duration invalid: ${$json.stdout}`);\n}\nconst clipMaxSeconds = Number(base.clipMaxSeconds || 15);\nconst totalClips = Math.max(1, Math.ceil(duration / clipMaxSeconds));\nreturn {\n  json: {\n    ...base,\n    videoDurationSec: Number(duration.toFixed(3)),\n    totalClips\n  }\n};"
      },
      "id": "miniapp-viral-parse-duration",
      "name": "解析视频时长",
      "position": [
        -480,
        0
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "command": "=WORK_DIR=\"{{ $json.workDir }}\"\nIN=\"{{ $json.localVideoPath }}\"\nDURATION=\"{{ $json.videoDurationSec }}\"\nFRAME_INTERVAL=\"{{ $json.frameIntervalSec }}\"\nMAX_OVERVIEW=\"{{ $json.maxOverviewFrames }}\"\nCLIP_MAX=\"{{ $json.clipMaxSeconds }}\"\nTASK_ID=\"{{ $json.taskId }}\"\n\nmkdir -p \"$WORK_DIR/grids\"\nexport WORK_DIR IN DURATION FRAME_INTERVAL MAX_OVERVIEW CLIP_MAX TASK_ID\n\nnode <<'NODE'\nconst { execFileSync } = require('child_process');\nconst fs = require('fs');\nconst path = require('path');\n\nconst workDir = process.env.WORK_DIR;\nconst input = process.env.IN;\nconst duration = Number(process.env.DURATION);\nconst configuredInterval = Number(process.env.FRAME_INTERVAL || 1);\nconst maxOverview = Number(process.env.MAX_OVERVIEW || 40);\nconst clipMax = Math.min(15, Number(process.env.CLIP_MAX || 15));\nconst taskId = process.env.TASK_ID;\n\nfunction ceil(n) { return Math.max(1, Math.ceil(n)); }\nfunction fmt(sec) {\n  const s = Math.max(0, Number(sec) || 0);\n  const mm = Math.floor(s / 60);\n  const ss = Math.floor(s % 60);\n  return `${String(mm).padStart(2, '0')}:${String(ss).padStart(2, '0')}`;\n}\nfunction escapeDrawtext(value) {\n  return String(value || '')\n    .replace(/\\\\/g, '\\\\\\\\')\n    .replace(/:/g, '\\\\:')\n    .replace(/'/g, \"\\\\\\\\'\")\n    .replace(/\\[/g, '\\\\[')\n    .replace(/\\]/g, '\\\\]');\n}\nfunction safeTs(sec) {\n  if (!Number.isFinite(duration) || duration <= 0) return Math.max(0, Number(sec) || 0);\n  return Math.min(Math.max(0, Number(sec) || 0), Math.max(0, duration - 0.05));\n}\nfunction arcadsFrameCount(totalSec) {\n  if (totalSec < 10) return 8;\n  if (totalSec < 20) return 12;\n  if (totalSec < 30) return 16;\n  return 20;\n}\nfunction panelsForRange(panels, start, end) {\n  const selected = panels.filter((panel) => panel.time_sec >= start - 0.001 && panel.time_sec <= end + 0.001);\n  if (selected.length) return selected;\n  const startPanel = panels.reduce((best, panel) => Math.abs(panel.time_sec - start) < Math.abs(best.time_sec - start) ? panel : best, panels[0]);\n  const endPanel = panels.reduce((best, panel) => Math.abs(panel.time_sec - end) < Math.abs(best.time_sec - end) ? panel : best, panels[panels.length - 1]);\n  const a = Math.min(startPanel.panel, endPanel.panel);\n  const b = Math.max(startPanel.panel, endPanel.panel);\n  return panels.filter((panel) => panel.panel >= a && panel.panel <= b);\n}\nfunction makeGlobalGrid() {\n  const expected = Math.max(1, Math.ceil(duration / configuredInterval));\n  const frameCount = Math.min(maxOverview, Math.max(arcadsFrameCount(duration), Math.min(expected, maxOverview)));\n  const interval = Math.max(0.25, duration / frameCount);\n  const rows = ceil(frameCount / 5);\n  const frameDir = path.join(workDir, 'grids', 'global_frames');\n  const out = path.join(workDir, 'grids', 'global_storyboard.jpg');\n  fs.rmSync(frameDir, { recursive: true, force: true });\n  fs.mkdirSync(frameDir, { recursive: true });\n\n  const panels = [];\n  for (let i = 0; i < frameCount; i += 1) {\n    const offset = Math.min(Math.max(0, duration - 0.05), i * interval);\n    const ts = safeTs(offset);\n    const framePath = path.join(frameDir, `frame_${String(i + 1).padStart(3, '0')}.jpg`);\n    const panel = {\n      panel: i + 1,\n      label: `Panel ${i + 1}`,\n      time_sec: Number(ts.toFixed(3)),\n      timestamp: fmt(ts),\n    };\n    panels.push(panel);\n    const label = `${panel.label}  ${panel.timestamp}`;\n    const vf = [\n      'scale=360:-2',\n      `drawtext=text='${escapeDrawtext(label)}':x=10:y=10:fontsize=22:fontcolor=yellow:borderw=3:bordercolor=black`\n    ].join(',');\n    execFileSync('ffmpeg', [\n      '-hide_banner', '-loglevel', 'error', '-y',\n      '-ss', String(ts),\n      '-i', input,\n      '-frames:v', '1',\n      '-vf', vf,\n      '-q:v', '3',\n      framePath\n    ], { stdio: ['ignore', 'pipe', 'pipe'] });\n  }\n\n  execFileSync('ffmpeg', [\n    '-hide_banner', '-loglevel', 'error', '-y',\n    '-framerate', '1',\n    '-i', path.join(frameDir, 'frame_%03d.jpg'),\n    '-vf', `tile=5x${rows}:margin=2:padding=2:color=black`,\n    '-frames:v', '1',\n    '-q:v', '3',\n    out\n  ], { stdio: ['ignore', 'pipe', 'pipe'] });\n  const stat = fs.statSync(out);\n  if (!stat.size) throw new Error(`grid output empty: ${out}`);\n\n  const totalClips = Math.max(1, Math.ceil(duration / clipMax));\n  const clipPlan = [];\n  for (let i = 0; i < totalClips; i += 1) {\n    const start = i * clipMax;\n    const end = Math.min(duration, start + clipMax);\n    const selectedPanels = panelsForRange(panels, start, end);\n    const firstPanel = selectedPanels[0] || panels[0];\n    const lastPanel = selectedPanels[selectedPanels.length - 1] || firstPanel;\n    clipPlan.push({\n      clip_index: i + 1,\n      time_range: `${fmt(start)}-${fmt(end)}`,\n      duration: Number(Math.max(0.2, end - start).toFixed(3)),\n      start_sec: Number(start.toFixed(3)),\n      end_sec: Number(end.toFixed(3)),\n      panel_start: firstPanel.panel,\n      panel_end: lastPanel.panel,\n      panel_range: `Panel ${firstPanel.panel} to Panel ${lastPanel.panel}`,\n      frame_count: selectedPanels.length,\n      notes: 'Suggested max-15s clip window. Gemini may move the boundary to the nearest natural beat as long as each clip remains <=15s, clips stay continuous, and panel_range is updated from the same global storyboard grid.'\n    });\n  }\n\n  return {\n    kind: 'full',\n    clip_index: 0,\n    filePath: out,\n    fileName: `${taskId}_global_storyboard.jpg`,\n    start_sec: 0,\n    end_sec: Number(duration.toFixed(3)),\n    duration: Number(duration.toFixed(3)),\n    time_range: `${fmt(0)}-${fmt(duration)}`,\n    columns: 5,\n    rows,\n    frame_count: frameCount,\n    panels,\n    clip_plan: clipPlan\n  };\n}\n\nconst globalGrid = makeGlobalGrid();\nprocess.stdout.write(JSON.stringify({\n  taskId,\n  duration,\n  total_clips: globalGrid.clip_plan.length,\n  grids: [globalGrid],\n  storyboard_grid: globalGrid,\n  clip_plan: globalGrid.clip_plan\n}) + '\\n');\nNODE"
      },
      "id": "miniapp-viral-generate-grids",
      "name": "ffmpeg生成5列分镜网格",
      "position": [
        -256,
        0
      ],
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "const raw = String($json.stdout || '').trim();\nif (!raw) throw new Error('生成分镜网格没有返回 stdout');\nlet parsed;\ntry { parsed = JSON.parse(raw); } catch (e) {\n  throw new Error(`解析分镜网格失败: ${e.message}; raw=${raw.slice(0, 1000)}`);\n}\nif (!Array.isArray(parsed.grids) || !parsed.grids.length) throw new Error('未生成任何分镜网格');\nconst base = $('解析视频时长').first().json;\nreturn parsed.grids.map((grid) => ({\n  json: {\n    ...base,\n    ...grid,\n    gridCount: parsed.grids.length,\n    totalClipBoards: parsed.total_clips,\n    clip_plan: Array.isArray(parsed.clip_plan) ? parsed.clip_plan : (Array.isArray(grid.clip_plan) ? grid.clip_plan : [])\n  }\n}));"
      },
      "id": "miniapp-viral-parse-grids",
      "name": "解析网格列表",
      "position": [
        -32,
        0
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "fileSelector": "={{ $json.filePath }}",
        "options": {}
      },
      "id": "miniapp-viral-read-grid",
      "name": "读取网格图片",
      "position": [
        192,
        0
      ],
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://atomx.top/api/upload/image",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "miniapp-viral-upload-oss",
      "name": "上传网格到OSS",
      "position": [
        416,
        0
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "jsCode": "const uploads = $input.all();\nconst grids = $('解析网格列表').all();\nreturn uploads.map((item, index) => {\n  const upload = item.json || {};\n  const grid = grids[index]?.json || {};\n  const url = String(upload.url || upload.data?.url || upload.fileUrl || upload.publicUrl || '').trim();\n  if (!url) {\n    throw new Error(`OSS 上传结果缺少 url，index=${index}, response=${JSON.stringify(upload).slice(0, 500)}`);\n  }\n  return { json: { ...grid, oss_url: url, upload_response: upload } };\n});"
      },
      "id": "miniapp-viral-attach-oss",
      "name": "绑定OSS网格URL",
      "position": [
        640,
        0
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const boards = $input.all().map(i => i.json || {});\nconst base = $('解析视频时长').first().json;\nconst full = boards.find(b => b.kind === 'full');\nif (!full?.oss_url) throw new Error('缺少全片分镜网格 OSS URL');\nconst clipPlan = (Array.isArray(full.clip_plan) ? full.clip_plan : []).map(c => ({\n  clip_index: c.clip_index,\n  time_range: c.time_range,\n  duration: c.duration,\n  start_sec: c.start_sec,\n  end_sec: c.end_sec,\n  panel_start: c.panel_start,\n  panel_end: c.panel_end,\n  panel_range: c.panel_range,\n  frame_count: c.frame_count,\n  notes: c.notes || ''\n}));\nconst storyboardGrid = {\n  kind: 'full',\n  grid_url: full.oss_url,\n  url: full.oss_url,\n  time_range: full.time_range,\n  duration: full.duration,\n  start_sec: full.start_sec,\n  end_sec: full.end_sec,\n  rows: full.rows,\n  columns: full.columns,\n  frame_count: full.frame_count,\n  panels: Array.isArray(full.panels) ? full.panels : []\n};\nreturn [{\n  json: {\n    ...base,\n    storyboard_grid_url: full.oss_url,\n    storyboard_grid: storyboardGrid,\n    clip_plan: clipPlan,\n    clip_boards: clipPlan\n  }\n}];"
      },
      "id": "miniapp-viral-aggregate-boards",
      "name": "汇总OSS网格",
      "position": [
        864,
        0
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "fileSelector": "={{ $json.localVideoPath }}",
        "options": {}
      },
      "id": "miniapp-viral-read-video",
      "name": "读取视频文件",
      "position": [
        1088,
        0
      ],
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "function pickBinaryKey(bin) {\n  if (!bin || typeof bin !== 'object') return '';\n  if (bin.data) return 'data';\n  const keys = Object.keys(bin);\n  return keys[0] || '';\n}\nfunction text(v, fallback = '') {\n  const s = v == null ? '' : String(v).trim();\n  return s || fallback;\n}\n\nconst item = $input.first();\nconst j = item.json || {};\nconst binaryKey = pickBinaryKey(item.binary || {});\nif (!binaryKey) throw new Error('读取视频文件后缺少 binary data');\nconst buffer = await this.helpers.getBinaryDataBuffer(0, binaryKey);\nif (!buffer?.length) throw new Error('视频 binary 为空');\n\nconst clipPlan = Array.isArray(j.clip_plan) ? j.clip_plan : (Array.isArray(j.clip_boards) ? j.clip_boards : []);\nconst storyboardGrid = j.storyboard_grid && typeof j.storyboard_grid === 'object' ? j.storyboard_grid : {};\nconst panels = Array.isArray(storyboardGrid.panels) ? storyboardGrid.panels : [];\nconst suggestedClipRanges = clipPlan.length\n  ? clipPlan.map(c => `${c.clip_index}: ${c.time_range} (${c.duration}s, ${c.panel_range})`).join('; ')\n  : 'Use the minimum number of sequential clips; every clip must be <=15s.';\n\nconst instruction = `\n你是一个爆款短视频拆解与复刻提示词专家。你正在为“小程序首页-爆款复刻”的第一步“爆款拆解”生成结构化结果。\n\n你会收到完整视频。n8n 已经用 ffmpeg 生成了唯一一张 5xN 全局 storyboard contact sheet。\n- 全局分镜元数据：${JSON.stringify(storyboardGrid)}\n- 预估 15s 上限分段，仅供参考：${suggestedClipRanges}\n\n你必须严格参考 Arcads clone-ad / analyze-video skill 的拆解方式：\n1. 先做 source video analysis：识别总时长、核心风格、镜头数量、对白词数、叙事类型。\n2. 再做 beat map：按真实内容节奏拆为 HOOK / SHOW / DEMO / PROOF / VERDICT / CTA 等节拍。\n3. 提炼 defining traits：找出 2-4 个让这个视频区别于普通 UGC/广告的特征。\n4. 区分 what transfers 与 what gets swapped：\n   - transfers：节奏、镜头语法、构图、情绪曲线、产品出现方式、转场、信任机制、CTA方式。\n   - swapped：原产品、原品牌、原卖点、原人物身份、原场景中不可复用的信息。\n5. 改写复刻提示词时复制“广告语法”，不要复制原品牌名或原素材本身。\n6. 对超过 15s 的视频，学习 Arcads 的切分逻辑：先从 beat map 找自然断点，再受生成模型 15s 上限约束拆成最少数量的连续 clip；不能机械按 00:15 硬切，除非 15s 正好落在自然节拍边界。\n\n任务：\n1. 先理解完整视频的爆款机制，不要只做画面描述。\n2. 输出中文内容结构：开头钩子、中间铺垫、高潮、结尾CTA。\n3. 输出可复刻提示词。\n4. 如果视频总时长超过15秒，clone_prompt.clips 必须拆成多个 <=15秒 clip，按顺序生成；不要输出一个超长提示词。\n5. 每个 clip 都要有 start_state、end_state、handoff_to_next，形成 Arcads chained multi-clip 的连续状态交接。\n6. 输出 scenes，用于兼容现有分镜表和后续首帧/视频生成。\n7. 必须输出完整口播：full_original_script 为原视频按时间顺序拼接的完整口播；full_rewritten_script 为面向用户新产品的完整改写口播。\n8. beat_map 每一项都必须有 rewritten_dialogue_or_text，scenes 每一项都必须有 rewritten_script；不要把 rewritten_script 原样复制 original_script。\n9. clone_prompt.clips 的数量通常等于 ceil(total_duration/15)，但切点必须尽量靠近 HOOK/SHOW/DEMO/PROOF/CTA 的自然节拍边界；每段 duration <= 15，连续覆盖 00:00 到 total_duration，不得遗漏最后一段。\n10. 每个 clip 必须输出 panel_start、panel_end、panel_range。Panel 范围来自同一张全局 storyboard_grid，不得虚构第二张、第三张分镜板。\n\n硬性要求：\n- 输出 ONLY JSON，不要 markdown，不要解释。\n- 给人看的字段必须全部用中文，包括 source_video_analysis、beat_map、defining_traits、what_transfers、what_gets_swapped、content_structure、viral_mechanism、scenes、full_original_script、full_rewritten_script、beat_map.rewritten_dialogue_or_text、scenes.rewritten_script、clone_prompt 的 rules/role/start_state/end_state/handoff_to_next。\n- 只有给 AI 模型直接使用的字段可以用英文：scenes.image_prompt、scenes.video_prompt、clone_prompt.clips[].prompt。\n- clone_prompt.global_style_rules、global_negative_rules、dialogue_adaptation_rules 是页面给人看的规则摘要，必须中文。\n- 每个 clone_prompt.clips[].duration 必须 <= 15，并且所有 clips 的 time_range 必须连续覆盖 00:00 到 total_duration。\n- 如果总时长 <= 15，也至少输出 1 个 clip。\n- clip_boards/clip_plan 只需要表达分段元数据和 Panel 范围。\n- clip_plan 每项必须包含 clip_index、time_range、duration、start_sec、end_sec、panel_start、panel_end、panel_range；不要只输出 panels: \"1-5\"。\n- scenes 必须覆盖 beat_map 的所有关键节拍，不能只给 1-2 条示例。至少每个 HOOK/SHOW/DEMO/PROOF/CTA 都要有一条 scene，除非原视频确实没有该节拍。\n- 保留原视频的广告语法：镜头节奏、画面顺序、情绪推进、CTA方式、字幕/贴纸/口播结构、产品出现方式。\n- 不要照抄具体品牌名，除非它是用户提供的新产品。\n- 如果 product_name 未提供，不要自造具体品牌名（例如 New Pet Health Bites）；改写口播中使用中性占位 \"[user product]\" 或 \"the new product\"。\n- 生成提示词遵循 Subject + Action + Camera + Style + Constraints 的顺序。\n- UGC/广告复刻提示词必须包含真实拍摄缺陷：手机质感、轻微手持抖动、自然光/环境声/轻微过曝或虚焦等，除非原视频不是 UGC。\n- 如果有对白或字幕，必须提取 dialogue_pattern：句式结构、语气、停顿、爆点词，而不是照抄原句。\n- 改写口播必须保留原视频句式节奏和宠物/人物视角，但替换成适合用户新产品的中文/目标语言表达；不能只返回第一句。\n- 每个 clip.prompt 必须是可直接用于视频生成的英文详细复刻提示词；不能是一句话摘要。\n- 每个 clip.prompt 必须使用用户要求的分段提示词格式，且用英文显式标注这些块：\n  1) \"### Clip X\"\n  2) \"Clip info and SRT:\"\n  3) \"Timeline:\"\n  4) \"Storyboard panels: Panel X to Panel Y\"\n  5) \"Matched SRT:\"\n  6) \"Visual audit:\"\n  7) \"Generation Prompt:\"\n  8) \"[Sequence Details: Panel X ... -> Panel Y ...]\"\n  9) \"[Global Visual Anchor: @Image2 is the single full-video storyboard contact sheet; follow only Panel X to Panel Y for composition, shot order, and rhythm.]\"\n  10) \"[Audio/Action Cues: Voice Profile ... Timed Voiceover ... Ambient Foley ... ABSOLUTELY NO BGM, NO BACKGROUND MUSIC. Pure voice/dialogue and ambient foley only.]\"\n- 音频硬规则：不要 BGM。所有 scene.audio_bgm 必须为空字符串；所有 video_prompt 与 clone_prompt.clips[].prompt 必须明确写入 \"ABSOLUTELY NO BGM, NO BACKGROUND MUSIC. Pure voice/dialogue and ambient foley only.\"。\n- 如果后续使用全能参考，多参考图约定为：@Image1 是当前片段首帧/产品替换后的参考图，@Image2 是全片分镜网格图。clip.prompt 必须说明 @Image2 只是 storyboard contact sheet，只参考对应 Panel 范围的构图/节奏，不要生成拼贴、九宫格、边框、分镜编号或分屏画面。\n- 每个 clip.prompt 建议 100-260 英文词，必须覆盖该 clip 内所有 beat，超过15秒时后续 clip 必须写明承接上一个 clip 的结尾状态。\n- 避免视频模型容易跑偏词：cinematic, professional, stunning, 8k, studio, perfect。用 documentary / photorealistic / handheld / phone quality 替代。\n\n输出 JSON schema：\n{\n  \"pipeline_key\": \"miniapp_viral_breakdown_grid\",\n  \"analysis_model\": \"gemini-3-flash-preview\",\n  \"total_duration\": ${Number(j.videoDurationSec || 0)},\n  \"storyboard_grid\": ${JSON.stringify(storyboardGrid)},\n  \"clip_plan\": ${JSON.stringify(clipPlan)},\n  \"clip_boards\": ${JSON.stringify(clipPlan)},\n  \"full_original_script\": \"\",\n  \"full_rewritten_script\": \"\",\n  \"source_video_analysis\": {\n    \"duration\": 0,\n    \"style_name\": \"\",\n    \"format\": \"UGC / product demo / skit / testimonial / product hero / other\",\n    \"aspect_ratio\": \"\",\n    \"shot_count\": 0,\n    \"dialogue_word_count\": 0,\n    \"dialogue_pattern\": \"\",\n    \"edit_rhythm\": \"\",\n    \"camera_language\": \"\",\n    \"technical_texture\": \"\",\n    \"product_role\": \"\"\n  },\n  \"beat_map\": [\n    {\n      \"time_range\": \"00:00-00:03\",\n      \"beat\": \"HOOK\",\n      \"visual\": \"\",\n      \"dialogue_or_text\": \"\",\n      \"rewritten_dialogue_or_text\": \"\",\n      \"function\": \"\",\n      \"replication_note\": \"\"\n    }\n  ],\n  \"defining_traits\": [],\n  \"what_transfers\": [],\n  \"what_gets_swapped\": [],\n  \"content_structure\": {\n    \"hook\": {\"time_range\": \"\", \"summary\": \"\", \"mechanism\": \"\", \"replication_note\": \"\"},\n    \"buildup\": {\"time_range\": \"\", \"summary\": \"\", \"mechanism\": \"\", \"replication_note\": \"\"},\n    \"climax\": {\"time_range\": \"\", \"summary\": \"\", \"mechanism\": \"\", \"replication_note\": \"\"},\n    \"cta\": {\"time_range\": \"\", \"summary\": \"\", \"mechanism\": \"\", \"replication_note\": \"\"}\n  },\n  \"viral_mechanism\": {\n    \"core_idea\": \"\",\n    \"attention_triggers\": [],\n    \"retention_devices\": [],\n    \"trust_devices\": [],\n    \"conversion_devices\": []\n  },\n  \"clone_prompt\": {\n    \"generation_strategy\": \"single_clip or multi_clip_sequential\",\n    \"global_style_rules\": \"\",\n    \"global_negative_rules\": \"\",\n    \"dialogue_adaptation_rules\": \"\",\n    \"clips\": [\n      {\n        \"clip_index\": 1,\n        \"time_range\": \"00:00-00:15\",\n        \"duration\": 15,\n        \"panel_start\": 1,\n        \"panel_end\": 8,\n        \"panel_range\": \"Panel 1 to Panel 8\",\n        \"role\": \"hook/setup/climax/cta\",\n        \"start_state\": \"\",\n        \"prompt\": \"### Clip 1\\\\nClip info and SRT: ...\\\\nTimeline: 00:00-00:15\\\\nStoryboard panels: Panel 1 to Panel 8\\\\nMatched SRT: ...\\\\nVisual audit: ...\\\\nGeneration Prompt: ...\\\\n[Sequence Details: Panel 1 ... -> Panel 8 ...]\\\\n[Global Visual Anchor: @Image2 is the single full-video storyboard contact sheet; follow only Panel 1 to Panel 8 for composition, shot order, and rhythm.]\\\\n[Audio/Action Cues: Voice Profile ... Timed Voiceover ... Ambient Foley ... ABSOLUTELY NO BGM, NO BACKGROUND MUSIC. Pure voice/dialogue and ambient foley only.]\",\n        \"end_state\": \"\",\n        \"handoff_to_next\": \"\"\n      }\n    ]\n  },\n  \"scenes\": [\n    {\n      \"order\": 1,\n      \"time_range\": \"00:00-00:03\",\n      \"duration\": 3,\n      \"start_time\": \"00:00\",\n      \"shot_goal\": \"\",\n      \"visual_content_description\": \"\",\n      \"location_setting\": \"\",\n      \"character_desc\": \"\",\n      \"emotion_state\": \"\",\n      \"action_blocking\": \"\",\n      \"product_desc\": \"\",\n      \"must_show\": \"\",\n      \"on_screen_text_graphics\": \"\",\n      \"camera_shot_size\": \"\",\n      \"camera_angle\": \"\",\n      \"camera_movement\": \"\",\n      \"composition_notes\": \"\",\n      \"lighting_atmosphere\": \"\",\n      \"color_grading\": \"\",\n      \"original_script\": \"\",\n      \"rewritten_script\": \"\",\n      \"language_style\": \"\",\n      \"emphasis_notes\": \"\",\n      \"audio_bgm\": \"\",\n      \"audio_sfx\": \"\",\n      \"ambient_sound\": \"\",\n      \"editing_transition\": \"\",\n      \"pacing_notes\": \"\",\n      \"constraints_real_shoot\": \"\",\n      \"constraints_compliance\": \"\",\n      \"image_prompt\": \"English image prompt\",\n      \"video_prompt\": \"English video prompt\",\n      \"visual_description\": \"\",\n      \"camera_notes\": \"\",\n      \"lighting_notes\": \"\",\n      \"has_person\": true,\n      \"has_product\": true\n    }\n  ]\n}\n\n用户新产品信息：\n- product_name: ${text(j.productName, '未提供')}\n- product_description: ${text(j.productDescription, '未提供')}\n- product_selling_points: ${text(j.productSellingPoints, '未提供')}\n\n目标语言/地区：\n- language: ${text(j.targetLanguage, 'source')}\n- country: ${text(j.targetCountry, 'auto')}\n\n语言规则：\n- 如果 language 是 source / auto / 跟随原视频：原始口播 full_original_script 保持原视频语言；改写口播 full_rewritten_script、beat_map.rewritten_dialogue_or_text、scenes.rewritten_script 默认使用中文，除非用户显式选择其他目标语言。\n- 如果 language 是 en / English：改写口播必须输出英文。\n- 如果 language 是 zh-CN / 中文：改写口播必须输出中文。\n- 如果 language 是 ja / ko / es 等：改写口播必须输出对应语言。\n- clone_prompt.clips[].prompt 仍然使用英文视频生成提示词，但其中引用的口播文本可以保持目标语言原文。\n`.trim();\n\nreturn [{\n  json: {\n    ...j,\n    gemini_body: {\n      contents: [{\n        role: 'user',\n        parts: [\n          { text: instruction },\n          { inline_data: { mime_type: 'video/mp4', data: buffer.toString('base64') } }\n        ]\n      }],\n      generationConfig: {\n        response_mime_type: 'application/json',\n        temperature: 0.2,\n        topP: 0.9,\n        maxOutputTokens: 12000\n      }\n    }\n  },\n  binary: item.binary\n}];"
      },
      "id": "miniapp-viral-build-gemini",
      "name": "组装Gemini拆解请求",
      "position": [
        1312,
        0
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://yunwu.ai/v1beta/models/gemini-3-flash-preview:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.gemini_body }}",
        "options": {
          "timeout": 900000
        }
      },
      "id": "miniapp-viral-gemini",
      "name": "Gemini爆款拆解",
      "position": [
        1536,
        0
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "mMIH382GnJoMSu4L",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const base = $('汇总OSS网格').first().json || {};\nconst current = $json || {};\n\nfunction getAllText(root) {\n  const parts = root?.candidates?.[0]?.content?.parts || root?.response?.candidates?.[0]?.content?.parts || [];\n  return parts.map(p => p?.text || '').join('\\n').trim();\n}\nfunction stripFence(value) {\n  let t = String(value || '').trim();\n  t = t.replace(/^```(?:json)?\\s*/i, '').replace(/\\s*```$/i, '').trim();\n  const startObj = t.indexOf('{');\n  const endObj = t.lastIndexOf('}');\n  if (startObj >= 0 && endObj > startObj) t = t.slice(startObj, endObj + 1);\n  return t.replace(/[“”]/g, '\"').replace(/[‘’]/g, \"'\");\n}\nfunction parseJson(raw) {\n  const text = stripFence(raw);\n  try { return JSON.parse(text); } catch (e) {\n    const fixed = text.replace(/,\\s*([}\\]])/g, '$1');\n    return JSON.parse(fixed);\n  }\n}\nfunction toNumber(v, fallback = 0) {\n  const n = Number(v);\n  return Number.isFinite(n) ? n : fallback;\n}\nfunction text(v) {\n  return v == null ? '' : String(v).trim();\n}\nfunction url(v) {\n  const s = text(v);\n  if (!s || /^(undefined|null|nan)$/i.test(s)) return '';\n  return /^https?:\\/\\//i.test(s) ? s : '';\n}\nfunction toRecordArray(value) {\n  return Array.isArray(value)\n    ? value.filter((item) => item && typeof item === 'object' && !Array.isArray(item))\n    : [];\n}\nfunction toTime(sec) {\n  const value = Math.max(0, Number(sec) || 0);\n  const mm = Math.floor(value / 60);\n  const ss = Math.floor(value % 60);\n  return `${String(mm).padStart(2, '0')}:${String(ss).padStart(2, '0')}`;\n}\nfunction timeToSeconds(value) {\n  const raw = text(value);\n  const matched = raw.match(/^(\\d{1,2}):(\\d{2})$/);\n  if (!matched) return NaN;\n  return Number(matched[1]) * 60 + Number(matched[2]);\n}\nfunction rangeToSeconds(range) {\n  const raw = text(range);\n  const matched = raw.match(/(\\d{1,2}):(\\d{2})\\s*[-–]\\s*(\\d{1,2}):(\\d{2})/);\n  if (!matched) return null;\n  return {\n    start: Number(matched[1]) * 60 + Number(matched[2]),\n    end: Number(matched[3]) * 60 + Number(matched[4]),\n  };\n}\nfunction parsePanelRange(value) {\n  const raw = text(value);\n  const matched = raw.match(/(?:Panel\\s*)?(\\d+)\\s*(?:-|to|到|至|~|–)\\s*(?:Panel\\s*)?(\\d+)/i);\n  if (!matched) return null;\n  const start = Number(matched[1]);\n  const end = Number(matched[2]);\n  if (!Number.isFinite(start) || !Number.isFinite(end)) return null;\n  return {\n    start: Math.min(start, end),\n    end: Math.max(start, end),\n    range: `Panel ${Math.min(start, end)} to Panel ${Math.max(start, end)}`,\n  };\n}\nfunction panelForSecond(sec) {\n  const panels = Array.isArray(base.storyboard_grid?.panels) ? base.storyboard_grid.panels : [];\n  if (!panels.length) return 0;\n  return panels.reduce((best, panel) => Math.abs(toNumber(panel.time_sec, 0) - sec) < Math.abs(toNumber(best.time_sec, 0) - sec) ? panel : best, panels[0]).panel || 0;\n}\nfunction normalizeClipPlanItem(clip, idx, basePlan = {}) {\n  const range = rangeToSeconds(clip.time_range || basePlan.time_range || '');\n  const start = toNumber(clip.start_sec ?? basePlan.start_sec, range?.start ?? 0);\n  const durationValue = toNumber(clip.duration ?? basePlan.duration, NaN);\n  const end = toNumber(clip.end_sec ?? basePlan.end_sec, range?.end ?? (Number.isFinite(durationValue) ? start + durationValue : start + 15));\n  const parsedPanels = parsePanelRange(clip.panel_range || clip.panels || clip.panelRange || basePlan.panel_range || basePlan.panels);\n  const panelStart = toNumber(clip.panel_start ?? clip.panelStart ?? basePlan.panel_start ?? basePlan.panelStart, parsedPanels?.start ?? panelForSecond(start));\n  const panelEnd = toNumber(clip.panel_end ?? clip.panelEnd ?? basePlan.panel_end ?? basePlan.panelEnd, parsedPanels?.end ?? panelForSecond(end));\n  return {\n    clip_index: toNumber(clip.clip_index ?? clip.clipIndex, idx + 1),\n    time_range: text(clip.time_range || basePlan.time_range || `${toTime(start)}-${toTime(end)}`),\n    duration: Math.min(15, Math.max(0.2, toNumber(clip.duration ?? basePlan.duration, end - start))),\n    start_sec: start,\n    end_sec: end,\n    panel_start: panelStart,\n    panel_end: panelEnd,\n    panel_range: text(clip.panel_range || parsedPanels?.range || basePlan.panel_range || (panelStart ? `Panel ${panelStart} to Panel ${panelEnd || panelStart}` : '')),\n    frame_count: toNumber(clip.frame_count ?? clip.frameCount ?? basePlan.frame_count, Math.max(0, panelEnd - panelStart + 1)),\n    notes: text(clip.notes || basePlan.notes),\n  };\n}\nfunction deriveClipPlanFromClips(clips) {\n  return clips.map((clip, idx) => normalizeClipPlanItem(clip, idx));\n}\nfunction overlapSeconds(a, b) {\n  if (!a || !b) return 0;\n  return Math.max(0, Math.min(a.end, b.end) - Math.max(a.start, b.start));\n}\nfunction pickRowsInRange(rows, range) {\n  const target = rangeToSeconds(range);\n  if (!target) return rows;\n  const selected = rows.filter((row) => overlapSeconds(target, rangeToSeconds(row.time_range || row.timeRange || '')) > 0);\n  return selected.length ? selected : rows;\n}\nfunction ensureFullScript(parsed, scenes) {\n  if (!text(parsed.full_original_script)) {\n    parsed.full_original_script = scenes\n      .map((scene) => text(scene.original_script || scene.dialogue_or_text || scene.on_screen_text_graphics))\n      .filter(Boolean)\n      .join(' ');\n  }\n  if (!text(parsed.full_rewritten_script)) {\n    parsed.full_rewritten_script = scenes\n      .map((scene) => text(scene.rewritten_script || scene.rewritten_text))\n      .filter(Boolean)\n      .join(' ');\n  }\n}\nfunction ensureSceneCoverage(parsed, scenes) {\n  const rows = Array.isArray(scenes) ? scenes : [];\n  const beats = toRecordArray(parsed.beat_map || parsed.beatMap);\n  if (!beats.length || rows.length >= beats.length) return rows;\n  return beats.map((beat, idx) => {\n    const existing = pickRowsInRange(rows, beat.time_range || '')[0] || rows[idx] || {};\n    const range = rangeToSeconds(beat.time_range || '') || { start: idx * 3, end: idx * 3 + 3 };\n    return {\n      ...existing,\n      order: toNumber(existing.order, idx + 1),\n      time_range: text(existing.time_range || beat.time_range),\n      duration: toNumber(existing.duration, Math.max(0.2, range.end - range.start)),\n      start_time: text(existing.start_time || toTime(range.start)),\n      shot_goal: text(existing.shot_goal || beat.function || beat.beat),\n      visual_content_description: text(existing.visual_content_description || existing.visual_description || beat.visual),\n      location_setting: text(existing.location_setting),\n      character_desc: text(existing.character_desc),\n      emotion_state: text(existing.emotion_state),\n      action_blocking: text(existing.action_blocking || beat.replication_note),\n      product_desc: text(existing.product_desc || parsed.source_video_analysis?.product_role),\n      must_show: text(existing.must_show || beat.visual),\n      on_screen_text_graphics: text(existing.on_screen_text_graphics || beat.dialogue_or_text),\n      camera_shot_size: text(existing.camera_shot_size),\n      camera_angle: text(existing.camera_angle),\n      camera_movement: text(existing.camera_movement || parsed.source_video_analysis?.camera_language),\n      composition_notes: text(existing.composition_notes || beat.replication_note),\n      lighting_atmosphere: text(existing.lighting_atmosphere || parsed.source_video_analysis?.technical_texture),\n      color_grading: text(existing.color_grading),\n      original_script: text(existing.original_script || beat.dialogue_or_text),\n      rewritten_script: text(existing.rewritten_script || beat.rewritten_dialogue_or_text),\n      language_style: text(existing.language_style || parsed.source_video_analysis?.dialogue_pattern),\n      emphasis_notes: text(existing.emphasis_notes || beat.function),\n      audio_bgm: '',\n      audio_sfx: text(existing.audio_sfx),\n      ambient_sound: text(existing.ambient_sound),\n      editing_transition: text(existing.editing_transition || 'Hard cut.'),\n      pacing_notes: text(existing.pacing_notes || parsed.source_video_analysis?.edit_rhythm),\n      constraints_real_shoot: text(existing.constraints_real_shoot),\n      constraints_compliance: text(existing.constraints_compliance),\n      image_prompt: text(existing.image_prompt || `A vertical phone photo matching this ad beat: ${beat.visual || ''}`),\n      video_prompt: ensureNoBgmPrompt(existing.video_prompt || `Vertical handheld phone video matching this ad beat: ${beat.visual || ''}.`),\n      visual_description: text(existing.visual_description || existing.visual_content_description || beat.visual),\n      camera_notes: text(existing.camera_notes || existing.camera_movement || parsed.source_video_analysis?.camera_language),\n      lighting_notes: text(existing.lighting_notes || existing.lighting_atmosphere || parsed.source_video_analysis?.technical_texture),\n      has_person: existing.has_person !== false,\n      has_product: existing.has_product !== false,\n    };\n  });\n}\nfunction ensureNoBgmPrompt(value) {\n  const rule = 'ABSOLUTELY NO BGM, NO BACKGROUND MUSIC. Pure voice/dialogue and ambient foley only.';\n  const prompt = text(value);\n  if (!prompt) return rule;\n  return /no\\s+(bgm|background music)|without\\s+(bgm|background music)/i.test(prompt)\n    ? prompt\n    : `${prompt}\\n${rule}`;\n}\nfunction clipPlans() {\n  return Array.isArray(base.clip_plan) && base.clip_plan.length\n    ? base.clip_plan\n    : (Array.isArray(base.clip_boards) ? base.clip_boards : []);\n}\nfunction buildFallbackPrompt(clip, idx, parsed, scenes, beats, totalDuration) {\n  const plan = clipPlans()[idx] || {};\n  const clipRange = text(clip.time_range || plan.time_range || `${toTime(idx * 15)}-${toTime(Math.min(totalDuration, (idx + 1) * 15))}`);\n  const duration = Math.min(15, Math.max(0.2, toNumber(clip.duration || plan.duration, 15)));\n  const panelRange = text(clip.panel_range || plan.panel_range || `Panel ${toNumber(clip.panel_start || plan.panel_start, 1)} to Panel ${toNumber(clip.panel_end || plan.panel_end, 1)}`);\n  const relatedBeats = pickRowsInRange(beats, clipRange);\n  const relatedScenes = pickRowsInRange(scenes, clipRange);\n  const firstScene = relatedScenes[0] || {};\n  const lastScene = relatedScenes[relatedScenes.length - 1] || firstScene;\n  const beatText = relatedBeats.slice(0, 4).map((beat, beatIdx) => {\n    const localStart = Math.min(Math.floor((duration / Math.max(3, relatedBeats.length)) * beatIdx), Math.max(0, duration - 1));\n    const localEnd = beatIdx === relatedBeats.length - 1\n      ? duration\n      : Math.min(duration, Math.floor((duration / Math.max(3, relatedBeats.length)) * (beatIdx + 1)));\n    return `${localStart}-${localEnd}s ${text(beat.beat || `Beat ${beatIdx + 1}`)}: ${text(beat.visual || beat.function || '')}; ${text(beat.rewritten_dialogue_or_text || beat.dialogue_or_text || '')}`;\n  });\n  while (beatText.length < 3) {\n    const n = beatText.length;\n    beatText.push(`${Math.floor((duration / 3) * n)}-${Math.floor((duration / 3) * (n + 1))}s beat ${n + 1}: continue the same ad grammar with clear product action and viewer-facing payoff.`);\n  }\n  const product = text(firstScene.product_desc || parsed.source_video_analysis?.product_role || base.productName || 'the user product');\n  const setting = text(firstScene.location_setting || 'a real everyday environment matching the source ad');\n  const character = text(firstScene.character_desc || 'the same type of believable subject from the source video');\n  const visual = text(firstScene.visual_content_description || firstScene.visual_description || relatedBeats[0]?.visual || 'a social ad scene');\n  const finalVisual = text(lastScene.visual_content_description || lastScene.visual_description || relatedBeats[relatedBeats.length - 1]?.visual || visual);\n  const camera = text(firstScene.camera_notes || [firstScene.camera_shot_size, firstScene.camera_angle, firstScene.camera_movement].filter(Boolean).join(', ') || parsed.source_video_analysis?.camera_language || 'handheld phone camera with quick social cuts');\n  const lighting = text(firstScene.lighting_notes || firstScene.lighting_atmosphere || parsed.source_video_analysis?.technical_texture || 'natural available light with small real-world imperfections');\n  const originalScript = relatedScenes.map((scene) => text(scene.original_script)).filter(Boolean).join(' ');\n  const rewrittenScript = relatedScenes.map((scene) => text(scene.rewritten_script)).filter(Boolean).join(' ');\n  const dialogue = text(rewrittenScript || clip.rewritten_script || parsed.full_rewritten_script || 'Use short natural subtitles matching the source pacing and adapted to the user product.');\n  const handoff = idx > 0\n    ? `This clip begins from the previous clip ending state: ${text(clip.start_state || visual)}.`\n    : 'This is the first clip and must establish the hook immediately.';\n\n  return [\n    `### Clip ${idx + 1}`,\n    `Clip info and SRT: ${duration} seconds vertical social ad segment. Source/adapted script rhythm: ${text(originalScript || parsed.source_video_analysis?.dialogue_pattern || 'short hook, product proof, and CTA')} -> \"${dialogue}\".`,\n    `Timeline: ${clipRange}`,\n    `Storyboard panels: ${panelRange}`,\n    `Matched SRT: ${beatText.join(' | ')}`,\n    `Visual audit: subject is ${character}; product is ${product}; setting is ${setting}; start with ${visual}; end with ${finalVisual}; camera uses ${camera}; lighting/texture is ${lighting}.`,\n    `Generation Prompt: ${duration} seconds vertical UGC-style ad, filmed on smartphone. ${handoff} Keep one primary action per beat, visible product handling, natural jump cuts matching the source ad grammar, and clear continuity into the next clip. Photorealistic documentary phone quality, handheld, slight shake, soft focus on fast movement, natural phone mic ambience, no filters, no color-graded look. The product must remain visually unchanged if a product reference is supplied.`,\n    `[Sequence Details: ${panelRange}; ${beatText.join(' -> ')}]`,\n    `[Global Visual Anchor: @Image2 is the single full-video storyboard contact sheet; follow only ${panelRange} for composition, shot order, and rhythm. Do not output a collage, grid, split-screen, border, panel number, or frame label.]`,\n    `[Audio/Action Cues: Voice Profile natural phone-recorded social ad voice. Timed Voiceover \"${dialogue}\". Ambient Foley from the real setting only. ABSOLUTELY NO BGM, NO BACKGROUND MUSIC. Pure voice/dialogue and ambient foley only. No watermark, no distorted hands, no extra products, no cinematic, no professional, no studio, no 8k.]`\n  ].join('\\n');\n}\nfunction repairClonePrompt(clonePrompt, parsed, scenes, totalDuration) {\n  const boards = clipPlans();\n  const expected = boards.length || (totalDuration > 15 ? Math.ceil(totalDuration / 15) : 1);\n  const sourceClips = Array.isArray(clonePrompt?.clips) ? clonePrompt.clips : [];\n  const beats = toRecordArray(parsed.beat_map || parsed.beatMap);\n  const clips = [];\n  for (let idx = 0; idx < expected; idx += 1) {\n    const board = normalizeClipPlanItem(boards[idx] || {}, idx);\n    const original = sourceClips[idx] || {};\n    const duration = Math.min(15, Math.max(0.2, toNumber(original.duration ?? board.duration, Math.min(15, totalDuration || 15))));\n    const timeRange = text(original.time_range || board.time_range || `${toTime(idx * 15)}-${toTime(Math.min(totalDuration || duration, idx * 15 + duration))}`);\n    const normalizedOriginal = normalizeClipPlanItem(original, idx, board);\n    const panelStart = normalizedOriginal.panel_start;\n    const panelEnd = normalizedOriginal.panel_end;\n    const panelRange = normalizedOriginal.panel_range;\n    const prompt = ensureNoBgmPrompt(original.prompt);\n    const hasMarkers = ['### Clip', 'Storyboard panels:', '[Sequence Details:', '[Global Visual Anchor:', '[Audio/Action Cues:'].every((marker) => prompt.includes(marker));\n    clips.push({\n      clip_index: toNumber(original.clip_index, idx + 1),\n      time_range: timeRange,\n      duration,\n      panel_start: panelStart,\n      panel_end: panelEnd,\n      panel_range: panelRange,\n      role: text(original.role || (idx === 0 ? 'hook/setup' : idx === expected - 1 ? 'climax/cta' : 'demo/proof')),\n      start_state: text(original.start_state || pickRowsInRange(scenes, timeRange)[0]?.visual_content_description || ''),\n      prompt: hasMarkers && prompt.length >= 360\n        ? prompt\n        : buildFallbackPrompt({ ...original, time_range: timeRange, duration, panel_start: panelStart, panel_end: panelEnd, panel_range: panelRange }, idx, parsed, scenes, beats, totalDuration),\n      end_state: text(original.end_state || pickRowsInRange(scenes, timeRange).slice(-1)[0]?.visual_content_description || ''),\n      handoff_to_next: text(original.handoff_to_next || (idx < expected - 1 ? `Continue into clip ${idx + 2} from this exact final action and visual state.` : 'Final CTA frame.')),\n    });\n  }\n  return {\n    ...clonePrompt,\n    generation_strategy: totalDuration > 15 ? 'multi_clip_sequential' : 'single_clip',\n    global_style_rules: text(clonePrompt?.global_style_rules || clonePrompt?.globalStyleRules || '保留源视频广告语法：节拍顺序、镜头节奏、产品露出方式、情绪推进和 CTA 结构。'),\n    global_negative_rules: ensureNoBgmPrompt(clonePrompt?.global_negative_rules || clonePrompt?.globalNegativeRules || '不要复制原品牌、原标签、原人物身份、水印、平台 UI 或背景音乐；避免棚拍和过度精修质感。'),\n    dialogue_adaptation_rules: text(clonePrompt?.dialogue_adaptation_rules || clonePrompt?.dialogueAdaptationRules || '保留原视频句式、行数、停顿和能量曲线，只替换产品卖点与行动号召。'),\n    clips,\n  };\n}\nfunction normalizeClipDurations(clonePrompt, totalDuration) {\n  const clips = Array.isArray(clonePrompt?.clips) ? clonePrompt.clips : [];\n  if (!clips.length) return clonePrompt;\n  clonePrompt.clips = clips.map((clip, idx) => {\n    const board = clipPlans()[idx] || null;\n    const duration = Math.min(15, Math.max(0.2, toNumber(clip.duration ?? board?.duration, 15)));\n    return {\n      clip_index: toNumber(clip.clip_index, idx + 1),\n      time_range: text(clip.time_range || board?.time_range),\n      duration,\n      panel_start: toNumber(clip.panel_start ?? board?.panel_start, 0),\n      panel_end: toNumber(clip.panel_end ?? board?.panel_end, 0),\n      panel_range: text(clip.panel_range || board?.panel_range),\n      role: text(clip.role),\n      start_state: text(clip.start_state),\n      prompt: ensureNoBgmPrompt(clip.prompt),\n      end_state: text(clip.end_state),\n      handoff_to_next: text(clip.handoff_to_next),\n    };\n  });\n  clonePrompt.generation_strategy = totalDuration > 15 ? 'multi_clip_sequential' : (clonePrompt.generation_strategy || 'single_clip');\n  return clonePrompt;\n}\nfunction validateClonePrompt(clonePrompt) {\n  const clips = Array.isArray(clonePrompt?.clips) ? clonePrompt.clips : [];\n  const expected = clipPlans().length ? clipPlans().length : (totalDuration > 15 ? Math.ceil(totalDuration / 15) : 1);\n  if (clips.length !== expected) {\n    throw new Error(`clone_prompt.clips 数量不对：expected=${expected}, got=${clips.length}`);\n  }\n  clips.forEach((clip, idx) => {\n    const prompt = text(clip.prompt);\n    if (prompt.length < 360) {\n      throw new Error(`clip ${idx + 1} prompt 太短：${prompt.length} chars，必须输出 Arcads 级详细复刻提示词`);\n    }\n    for (const marker of ['### Clip', 'Storyboard panels:', '[Sequence Details:', '[Global Visual Anchor:', '[Audio/Action Cues:']) {\n      if (!prompt.includes(marker)) {\n        throw new Error(`clip ${idx + 1} prompt 缺少 ${marker}`);\n      }\n    }\n    if (!text(clip.panel_range)) throw new Error(`clip ${idx + 1} 缺少 panel_range`);\n  });\n  return clonePrompt;\n}\n\nconst rawText = getAllText(current);\nif (!rawText) throw new Error(`Gemini 返回格式异常: ${JSON.stringify(current).slice(0, 1200)}`);\n\nlet parsed;\ntry { parsed = parseJson(rawText); } catch (e) {\n  throw new Error(`Gemini JSON 解析失败: ${e.message}; raw=${rawText.slice(0, 2000)}`);\n}\n\nconst totalDuration = toNumber(parsed.total_duration, base.videoDurationSec || 0);\nconst scenes = Array.isArray(parsed.scenes) ? parsed.scenes : [];\nif (!scenes.length) throw new Error('Gemini 未返回 scenes 数组');\nensureFullScript(parsed, scenes);\nconst storyboardGridUrl = url(base.storyboard_grid_url);\nif (!storyboardGridUrl) throw new Error('上游缺少 storyboard_grid_url，不能使用 Gemini 返回值兜底');\nconst parsedClips = Array.isArray(parsed.clone_prompt?.clips) ? parsed.clone_prompt.clips : [];\nconst clipPlan = Array.isArray(parsed.clip_plan) && parsed.clip_plan.length\n  ? parsed.clip_plan\n  : (Array.isArray(parsed.clip_boards) && parsed.clip_boards.length\n      ? parsed.clip_boards\n      : (parsedClips.length ? deriveClipPlanFromClips(parsedClips) : clipPlans()));\nconst cleanClipPlan = clipPlan.map((clip, idx) => normalizeClipPlanItem(clip, idx, clipPlans()[idx] || {}));\nconst repairedClonePrompt = repairClonePrompt(parsed.clone_prompt || {}, parsed, scenes, totalDuration);\nconst coveredScenes = ensureSceneCoverage(parsed, scenes);\n\nconst normalized = {\n  ...parsed,\n  pipeline_key: parsed.pipeline_key || base.pipelineKey,\n  analysis_model: 'gemini-3-flash-preview',\n  total_duration: totalDuration,\n  scene_count: scenes.length,\n  storyboard_grid_url: storyboardGridUrl,\n  storyboard_grid: parsed.storyboard_grid || base.storyboard_grid || {},\n  clip_plan: cleanClipPlan,\n  clip_boards: cleanClipPlan,\n  clone_prompt: validateClonePrompt(normalizeClipDurations(repairedClonePrompt, totalDuration)),\n  scenes: coveredScenes,\n};\n\nconst segments = coveredScenes.map((scene, idx) => ({\n  ...scene,\n  order: toNumber(scene.order, idx + 1),\n  duration: toNumber(scene.duration, 8),\n  time_range: text(scene.time_range),\n  original_script: text(scene.original_script),\n  rewritten_script: text(scene.rewritten_script),\n  visual_description: text(scene.visual_description || scene.visual_content_description),\n  camera_notes: text(scene.camera_notes || [scene.camera_shot_size, scene.camera_angle, scene.camera_movement].filter(Boolean).join(' / ')),\n  lighting_notes: text(scene.lighting_notes || scene.lighting_atmosphere),\n  image_prompt: text(scene.image_prompt),\n  video_prompt: text(scene.video_prompt),\n  audio_bgm: '',\n  has_person: scene.has_person !== false,\n  has_product: scene.has_product !== false,\n}));\n\nreturn {\n  json: {\n    ...base,\n    workflow_data: normalized,\n    segments,\n    sceneCount: segments.length,\n    totalDuration,\n    gemini_raw_text: rawText\n  }\n};"
      },
      "id": "miniapp-viral-parse-gemini",
      "name": "解析Gemini拆解结果",
      "position": [
        1760,
        0
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const data = $json || {};\nconst workflowData = data.workflow_data || {};\nfunction cleanUrl(v) {\n  const s = v == null ? '' : String(v).trim();\n  if (!s || /^(undefined|null|nan)$/i.test(s)) return '';\n  return /^https?:\\/\\//i.test(s) ? s : '';\n}\nreturn {\n  json: {\n    task_id: data.taskId,\n    taskId: data.taskId,\n    record_id: data.taskId,\n    status: 'completed',\n    storyboard_grid_url: cleanUrl(workflowData.storyboard_grid_url) || cleanUrl(data.storyboard_grid_url),\n    segments: data.segments || [],\n    workflow_data: workflowData,\n    api_key: data.apiKey || ''\n  }\n};"
      },
      "id": "miniapp-viral-callback-payload",
      "name": "准备App回调Payload",
      "position": [
        1984,
        0
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('准备参数').first().json.callbackUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-admin-token",
              "value": "={{ $('准备参数').first().json.adminToken }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "miniapp-viral-callback",
      "name": "回调App-爆款拆解完成",
      "position": [
        2208,
        0
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "command": "=rm -rf {{ $('准备参数').first().json.workDir }}"
      },
      "id": "miniapp-viral-cleanup",
      "name": "清理临时文件",
      "position": [
        2432,
        0
      ],
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "准备参数",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "准备参数": {
      "main": [
        [
          {
            "node": "下载视频到本地",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "下载视频到本地": {
      "main": [
        [
          {
            "node": "解析下载结果",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "解析下载结果": {
      "main": [
        [
          {
            "node": "ffprobe 获取时长",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ffprobe 获取时长": {
      "main": [
        [
          {
            "node": "解析视频时长",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "解析视频时长": {
      "main": [
        [
          {
            "node": "ffmpeg生成5列分镜网格",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ffmpeg生成5列分镜网格": {
      "main": [
        [
          {
            "node": "解析网格列表",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "解析网格列表": {
      "main": [
        [
          {
            "node": "读取网格图片",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "读取网格图片": {
      "main": [
        [
          {
            "node": "上传网格到OSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "上传网格到OSS": {
      "main": [
        [
          {
            "node": "绑定OSS网格URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "绑定OSS网格URL": {
      "main": [
        [
          {
            "node": "汇总OSS网格",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "汇总OSS网格": {
      "main": [
        [
          {
            "node": "读取视频文件",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "读取视频文件": {
      "main": [
        [
          {
            "node": "组装Gemini拆解请求",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "组装Gemini拆解请求": {
      "main": [
        [
          {
            "node": "Gemini爆款拆解",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini爆款拆解": {
      "main": [
        [
          {
            "node": "解析Gemini拆解结果",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "解析Gemini拆解结果": {
      "main": [
        [
          {
            "node": "准备App回调Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "准备App回调Payload": {
      "main": [
        [
          {
            "node": "回调App-爆款拆解完成",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "回调App-爆款拆解完成": {
      "main": [
        [
          {
            "node": "清理临时文件",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "pinData": {},
  "tags": [],
  "active": false,
  "versionId": "miniapp-viral-breakdown-grid-oss-v1",
  "meta": {
    "instanceId": "generated-by-codex"
  }
}
