workflows/视频文案提取-web.json
{
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Webhook').item.json.body.callback_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"transcript\": \"{{ $json.transcript }}\",\n  \"script_id\": \"{{ $json.script_id }}\",\n  \"reference_item_id\": \"{{ $json.reference_item_id }}\"\n}",
        "options": {}
      },
      "id": "a4750bf5-5b67-4467-acf1-6590c00085d3",
      "name": "回调前端",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -448,
        -320
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: $json.success, data: { transcript: $json.transcript, words_estimate: $json.words_estimate, language: $json.language, task_id: $json.task_id } } }}",
        "options": {}
      },
      "id": "b050c1d4-489c-47fe-a605-7187d3a09ce3",
      "name": "Respond-成功",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -448,
        -128
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "d04085f3-52b8-410e-8598-1f190e51ad51",
              "leftValue": "={{ $('Webhook').item.json.body.callback_url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "31354803-fda1-437a-861e-64e5d74d0bcc",
      "name": "判断是否有Callback",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -672,
        -224
      ]
    },
    {
      "parameters": {
        "jsCode": "const incoming = ($json.body && typeof $json.body === 'object') ? $json.body : $json;\nconst pick = (...vals) => {\n  for (const v of vals) {\n    if (v === undefined || v === null) continue;\n    const str = typeof v === 'string' ? v.trim() : v;\n    if (typeof str === 'string' && !str) continue;\n    return str;\n  }\n  return '';\n};\nconst video_url = pick(incoming.video_url, incoming.videoUrl, incoming.url);\nconst audio_url = pick(incoming.audio_url, incoming.audioUrl);\nconst finalUrl = video_url || audio_url;\nconst language = pick(incoming.language, incoming.lang, 'auto');\nconst taskId = pick(incoming.task_id, incoming.taskId, incoming.replication_id, incoming.replicationId);\nreturn [{\n  json: {\n    task_id: taskId || null,\n    video_url: finalUrl,\n    request_language: language.toLowerCase(),\n    raw: incoming\n  }\n}];"
      },
      "id": "c2289d04-6167-4e9f-9742-4d3832152735",
      "name": "标准化输入",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1792,
        -224
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "extract_video_text",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "ce7af90a-07da-48e3-b1e1-31eb9851eb05",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2016,
        -224
      ],
      "webhookId": "7580ef34-fa45-43c9-b618-99e5c3a3e7a5"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.coze.cn/v1/workflow/run",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer pat_VAGZeoOHZBijGIbxpWl3fnqzt7XTug3lEGNPSp7sfMf0IyvkTeiWq5FwduSGN9y9"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"workflow_id\": \"7590316121456607266\",\n  \"parameters\": {\n    \"input\": \"{{ $json.video_url }}\"\n  }\n}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "c295e884-0e01-48c3-8e5e-17fd55baf7e9",
      "name": "调用Coze工作流",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1440,
        -224
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst out = [];\n\n// 尝试获取上游标准化输入的数据（使用 $node 语法跨节点获取数据）\nlet standardInput = {};\ntry {\n    standardInput = $node['标准化输入'].item.json || {};\n} catch(e) {\n    // 容错：如果找不到上游节点，给个空对象\n}\nconst rawInput = standardInput.raw || {};\n\nfor (const item of items) {\n    // 获取 HTTP 节点返回的 JSON\n    let cozeResponse = item.json || {};\n    \n    // 防御性编程：如果 n8n 把整个结果包成了一个数组 [ {code: 0 ...} ]，提取第一项\n    if (Array.isArray(cozeResponse) && cozeResponse.length > 0) {\n        cozeResponse = cozeResponse[0];\n    }\n\n    let transcript = \"\";\n    let success = false;\n\n    try {\n        // 核心解析逻辑：判断状态码为 0，且 data 有内容\n        if (cozeResponse.code === 0 && cozeResponse.data) {\n            \n            // data 是一个被包裹的 JSON 字符串，需要 JSON.parse 解包\n            const parsedData = JSON.parse(cozeResponse.data);\n            \n            // 提取最终的 output 字段\n            if (parsedData.output) {\n               transcript = parsedData.output.trim();\n               success = true;\n            }\n        }\n    } catch (e) {\n        console.error(\"解析 Coze 返回失败:\", e);\n    }\n\n    // 计算字数估算 (简单除以 2 估算英文词数/中文词数)\n    const charCount = transcript.replace(/\\s+/g, '').length;\n    const wordEstimate = charCount ? Math.max(1, Math.round(charCount / 2)) : 0;\n\n    // 组装最终传给后端/前端的数据结构\n    out.push({\n        json: {\n            success: success,\n            transcript: transcript,\n            words_estimate: wordEstimate,\n            language: standardInput.request_language || 'auto',\n            task_id: standardInput.task_id || null,\n            callback_url: rawInput.callback_url || '',\n            script_id: rawInput.script_id || '',\n            reference_item_id: rawInput.reference_item_id || '',\n            raw: cozeResponse // 保留原始数据方便后续排错\n        }\n    });\n}\n\nreturn out;"
      },
      "id": "8f6bc2d0-1a00-4632-9f4d-ec3f8a805d83",
      "name": "格式化输出(适配Coze)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1120,
        -224
      ]
    }
  ],
  "connections": {
    "判断是否有Callback": {
      "main": [
        [
          {
            "node": "回调前端",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond-成功",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "标准化输入": {
      "main": [
        [
          {
            "node": "调用Coze工作流",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "标准化输入",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "调用Coze工作流": {
      "main": [
        [
          {
            "node": "格式化输出(适配Coze)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "格式化输出(适配Coze)": {
      "main": [
        [
          {
            "node": "判断是否有Callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Webhook": [
      {
        "headers": {
          "host": "hooks.atomx.top",
          "x-real-ip": "47.107.158.233",
          "x-forwarded-for": "47.107.158.233",
          "x-forwarded-proto": "https",
          "connection": "close",
          "content-length": "401",
          "content-type": "application/json",
          "accept": "*/*",
          "accept-language": "*",
          "sec-fetch-mode": "cors",
          "user-agent": "node",
          "accept-encoding": "br, gzip, deflate"
        },
        "params": {},
        "query": {},
        "body": {
          "video_url": "https://supabase-api.atomx.top/storage/v1/object/public/uploads/storyboard/videos/1775900279711-ktz8cwnj77o.mp4",
          "script_id": "cmnu57ds9003001pjegi2dv5w",
          "user_id": "db74f72f-9f0e-4d42-8b9d-b34c890f5eea",
          "extract_type": "subtitle",
          "content_hint": "video_subtitle_only",
          "note_description": null,
          "reference_item_id": null,
          "callback_url": "https://atomx.top/api/replication/copy/extract/callback"
        },
        "webhookUrl": "http://localhost:5678/webhook/extract_video_text",
        "executionMode": "production"
      }
    ]
  },
  "meta": {
    "instanceId": "f5de7f2967fea28691928d5cc106b2279dbf4197e0e2c62d616c8450d409e0e7"
  }
}